<template>
  <div class="infos">
    <div>
      <div>
        <h5>账号信息</h5>
      </div>
      <div>
        <div>登录账号： </div>
        <div>
          <input type="text"
                 v-model="data.account_name"
                 maxlength="32"
                 placeholder="请输入账号"
                 :disabled="operate === 'modify'"/>
        </div>
        <message :message="'只允许包含数字、字母和_，长度6-32位，不能为纯数字！'"></message>
      </div>
      <div>
        <div>姓名： </div>
        <div>
          <input type="text"
                 v-model="data.real_name"
                 maxlength="10"
                 placeholder="请输入姓名"/>
        </div>
        <message :message="'只允许包含中文，1-10个字符！'"></message>
      </div>
      <div>
        <div>所属职位： </div>
        <div>
          <select v-model="data.position">
            <option v-for="item in positions" :key="item.id" :value="item.id">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div>
        <div>手机号： </div>
        <div>
          <input type="text"
                 v-model="data.phone"
                 placeholder="请输入手机号"/>
        </div>
        <message :message="'11位数字的有效手机号！'"></message>
      </div>
      <div>
        <div></div>
        <div>
          <a href="javascript: void(0);" @click="accountOperate">保存</a>
        </div>
      </div>
    </div>
    <a href="javascript: void (0);" @click="back">返回</a>
  </div>
</template>
<style lang="less" scoped>
  .infos{
    overflow: hidden;
    background: #F6F6F6 !important;
    position: relative;
    >div{
      background: #fff;
    }
    >div:first-child{
      margin-top: 10px;
      padding: 10px 0 20px 50px;
      >div{
        min-height: 36px;
        padding: 5px 0 10px;
        h5{
          width: 80px;
          font-weight: 600;
          text-align: right;
          font-size: 16px;
          line-height: 36px;
        }
        >div:first-child{
          width: 100px;
          min-height: 36px;
          margin-right: 20px;
          font-size: 17px;
          line-height: 36px;
          text-align: right;
          float: left;
        }
        >div:nth-child(2){
          width: 300px;
          margin-right: 10px;
          float: left;
        }
        >div:nth-child(3){
          width: 18px;
          margin-right: 10px;
          float: left;
        }
        input,select{
          display: block;
          width: 300px;
          height: 36px;
          padding:0 0 0 10px;
          line-height: 34px;
          border: 1px solid #ccc;
        }
        a{
          display: block;
          width: 80px;
          height: 32px;
          border-radius: 5px;
          font-size: 16px;
          line-height: 32px;
          float: left;
          text-align: center;
          background: #02ad9f;
          color: #fff;
        }
      }
      >div:last-child{
        margin-top: 30px;
      }
    }
    >a{
      display: block;
      width: 80px;
      height: 32px;
      border-radius: 5px;
      line-height: 32px;
      text-align: center;
      border: 1px solid #02ad9f;
      color: #02ad9f;
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
</style>
<script>
import message from '../common/message';

export default {
  data() {
    return {
      positions: [],
      data: {
        account_id: '',
        account_name: '',
        real_name: '',
        phone: '',
        position: '',
      },
      operate: 'add',
      operateEnd: false,
    };
  },
  components: { message },
  methods: {
    show(ref) {
      this.$refs[ref].show();
    },
    back() {
      this.$router.back();
    },
    showConfirm(data) {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head">提示</div>
            <div class="modal_body_tips">
              <div>{{text}}</div>
            </div>
            <div class="modal_footer_confirm">
              <a href="javascript:void(0);" @click="submit">确定</a>
            </div>
          </div>
        `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': () => {
          if (this.operateEnd) {
            this.$router.back();
          }
        },
      });
    },
    getPosition() {
      this.$http(this.$api.positions)
        .then((data) => {
          if (data.status === 0) {
            this.positions = data.data;
            this.data.position = this.data.position || this.positions[0].id;
          }
        });
    },
    accountOperate() {
      if (this.data.account_name.length === 0) {
        this.showConfirm('账号不能为空');
        return false;
      }
      const accountReg = /^[a-zA-Z0-9_]{6,32}$/;
      if (!(accountReg.test(this.data.account_name)) || (/^[0-9]{6,32}$/.test(this.data.account_name))) {
        this.showConfirm('账号格式错误');
        return false;
      }
      const nameReg = /^[\u4e00-\u9fa5]{1,10}$/;
      if (this.data.real_name.length === 0) {
        this.showConfirm('姓名不能为空');
        return false;
      }
      if (!nameReg.test(this.data.real_name)) {
        this.showConfirm('姓名格式错误');
        return false;
      }
      if (this.data.phone.length === 0) {
        this.showConfirm('手机号不能为空');
        return false;
      }
      const phoneReg = /^[1][0-9]{10}$/;
      if (!phoneReg.test(this.data.phone)) {
        this.showConfirm('手机号格式不正确');
        return false;
      }
      let api;
      const obj = JSON.parse(JSON.stringify(this.data));
      if (this.data.account_id === '') {
        delete obj.account_id;
        api = this.$api.accountAdd;
      } else {
        api = this.$api.accountUpdate;
      }
      this.$http(api, obj)
        .then((data) => {
          if (data.status === 0) {
            this.operateEnd = true;
            this.showConfirm(data.data);
          } else {
            this.showConfirm(data.msg || data.data);
          }
        });
      return true;
    },
  },
  mounted() {
    this.getPosition();
    const id = (this.$route.params && this.$route.params.id) || '';
    if (id !== 'none') {
      this.operate = 'modify';
      this.data.account_id = id;
      this.$http(this.$api.accountSelectInfo, { account_id: id })
        .then((data) => {
          if (data.status === 0) {
            this.data.account_name = data.data.account_name;
            this.data.real_name = data.data.real_name;
            this.data.phone = data.data.phone;
            this.data.position = data.data.position_id;
          } else {
            this.showConfirm(data.msg || data.data);
          }
        });
    } else {
      this.operate = 'add';
    }
  },
};
</script>
