<template>
  <div class="condition">
    <div class="search_body">
      <div class="clear search_items">
        <label class="search_item"><span>职位名称：</span><input type="text" v-model="position"/></label>
        <label class="search_status">
          <span>状态：</span>
          <select v-model="status">
            <option value="">全部</option>
            <option value="1">启用</option>
            <option value="0">禁用</option>
          </select>
        </label>
      </div>
      <div class="search_btn clear">
        <a href="javascript: void(0);" @click="showAdd">新建</a>
        <a href="javascript: void(0);" @click="changePage(1)">查询</a>
      </div>
    </div>
    <v-table :columns="columns" :data="data" :page="page"></v-table>
  </div>
</template>
<style lang="less" scoped>
  .search_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search_items{
      width: 900px;
      label{
        float: left;
      }
    }
    .search_btn{
      width: 300px;
    }
  }
</style>
<script>
import page from '../common/page';

export default {
  mixins: [page],
  data() {
    return {
      position: '',
      status: '',
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '职位名称', data: 'name' },
      { title: '职位描述', data: 'remark', class: 'large' },
      { title: '状态',
        data: 'status',
        click: 'changeStatus',
        render(val) {
          return `<span class='btn ${val === 0 ? 'forbid' : ''}'>${val === 1 ? '启用' : '禁用'}</span>`;
        },
      },
      { title: '修改日期', data: 'modify_time' },
      { title: '编辑',
        click: 'showEdit',
        class: 'smallest',
        render() {
          return '<span class="edit"></span>';
        },
      },
      { title: '删除',
        class: 'smallest',
        click: 'showDelete',
        render() {
          return '<span class="delete"></span>';
        },
      }],
      data: [],
    };
  },
  components: {},
  methods: {
    showEdit(data) {
      this.$router.push({
        name: '职位信息',
        params: { id: data.id },
      });
    },
    showAdd() {
      this.$router.push({
        name: '职位信息',
        params: { id: 'none' },
      });
    },
    showDelete(data) {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head">提示<span @click="$emit('close')">x</span></div>
            <div class="modal_body_tips">
              <div>{{text}}</div>
            </div>
            <div class="modal_footer_confirm">
              <a href="javascript:void(0);" @click="submit">确定</a>
            </div>
          </div>
        `,
        props: ['text'],
        methods: {
          submit() {
            this.$store.commit('modelOperate/changeOperate', true);
            this.$emit('close');
          },
        },
      }, {
        text: `确定删除职位:${data.name}吗？`,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': () => {
          if (this.$store.state.modelOperate.operate) {
            this.$store.commit('modelOperate/changeOperate', false);
            this.doDelete(data);
          }
        },
      });
    },
    positionSelect(obj) {
      const param = obj || {
        search: this.position,
        status: this.status,
        start: 0,
        length: this.page.prePage,
      };
      this.$http(this.$api.positionSelect, param)
        .then((res) => {
          const data = res.data;
          if (res.status === 0) {
            this.page.total = parseInt(res.recordsTotal, 10);
            this.page.pageCount = Math.ceil(this.page.total / this.page.prePage);
            this.data = [];
            for (let i = 0, len = data.length; i < len; i += 1) {
              data[i].no = i + 1 + ((this.page.curPage - 1) * this.page.prePage);
              this.data.push(data[i]);
            }
          } else {
            this.data = [];
          }
        });
    },
    changeStatus(data) {
      const obj = { id: data.id, status: 0 };
      obj.status = (parseInt(data.status, 10) + 1) % 2;
      this.$http(this.$api.positionStatus, obj)
        .then((res) => {
          if (res.status === 0) {
            this.showConfirm(res.data);
            this.positionSelect({
              search: this.position,
              status: this.status,
              start: (this.page.curPage - 1) * this.page.prePage,
              length: this.page.prePage,
            });
          } else {
            this.showConfirm(res.msg || res.data);
          }
        });
    },
    doDelete(data) {
      this.$http(this.$api.positionDelete, { id: data.id })
        .then((res) => {
          if (res.status === 0) {
            this.showConfirm(res.data);
            this.positionSelect({
              search: this.position,
              status: this.status,
              start: 0,
              length: this.page.prePage,
            });
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    showConfirm(data) {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head">提示</div>
            <div class="modal_body_tips">
              <div>{{text}}</div>
            </div>
            <div class="modal_footer_confirm">
              <a href="javascript:void(0);" @click="submit">确定</a>
            </div>
          </div>
        `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': () => {
          if (this.operateEnd) {
            this.$router.back();
          }
        },
      });
    },
    changePage(val, len) {
      this.page.curPage = val;
      this.page.prePage = len || this.page.prePage;
      const obj = {
        search: this.position,
        status: this.status,
        length: this.page.prePage,
        start: (val - 1) * this.page.prePage,
      };
      this.positionSelect(obj);
    },
  },
  mounted() {
    this.positionSelect();
  },
};
</script>
