<template>
  <div class="condition">
    <div class="search_body clear">
      <label class="search_item search_account"><span>登录账号：</span><input v-model="account_name" /></label>
      <label class="search_item"><span>姓名：</span><input v-model="real_name" /></label>
    </div>
    <div class="search_body itemAndBtns">
      <div class="clear">
        <label class="search_status">
          <span>所属职位：</span>
          <select v-model="position">
            <option v-for="item in positions" :key="item.id" :value="item.id">{{item.name}}</option>
          </select>
        </label>
        <label class="search_status">
          <span>状态：</span>
          <select v-model="status">
            <option value="">全部</option>
            <option value="1">启用</option>
            <option value="0">禁用</option>
          </select>
        </label>
      </div>
      <div class="search_btn">
        <a href="javascript: void(0);" @click="newAccount">新建</a>
        <a href="javascript: void(0);" @click="changePage(1)">查询</a>
      </div>
    </div>
    <v-table :columns="columns" :data="data" :page="page"></v-table>
  </div>
</template>
<style lang="less" scoped>
  .search_account{
    input{
      width: 330px;
    }
  }
  .search_item{
    float: left;
    span{
      text-align: right;
    }
  }
  .itemAndBtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search_status{
      width: 210px;
      float: left;
      span{
        text-align: right;
      }
      select{
        width: 120px;
      }
    }
  }
</style>
<script>
export default {
  data() {
    return {
      account_name: '',
      real_name: '',
      position: '',
      status: '',
      positions: [],
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '登录账号', data: 'account_name', class: 'large' },
      { title: '姓名', data: 'real_name', class: 'large' },
      { title: '所属职位', data: 'position_name', class: 'large' },
      { title: '状态',
        click: 'changeStatus',
        data: 'status',
        render(val) {
          return `<span class='btn ${val === 0 ? 'forbid' : ''}'>${val === 1 ? '启用' : '禁用'}</span>`;
        },
      },
      { title: '编辑',
        class: 'smallest',
        click: 'showEdit',
        render() {
          return '<span class="edit"></span>';
        },
      },
      { title: '删除',
        class: 'smallest',
        click: 'showDelete',
        render() {
          return '<span class="delete"></span>';
        },
      }],
      data: [],
      page: {
        total: 0,
        curPage: 1,
        pageCount: 0,
        prePage: 10,
        pageSelect: [10, 20, 50, 100],
      },
    };
  },
  components: {},
  methods: {
    showConfirm(data) {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head">提示</div>
            <div class="modal_body_tips">
              <div>{{text}}</div>
            </div>
            <div class="modal_footer_confirm">
              <a href="javascript:void(0);" @click="submit">确定</a>
            </div>
          </div>
        `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': () => {
          if (this.operateEnd) {
            this.$router.back();
          }
        },
      });
    },
    showEdit(data) {
      this.$router.push({
        name: '账号信息',
        params: { id: data.account_id },
      });
    },
    showDelete(data) {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head">提示<span @click="$emit('close')">x</span></div>
            <div class="modal_body_tips">
              <div>{{text}}</div>
            </div>
            <div class="modal_footer_confirm">
              <a href="javascript:void(0);" @click="submit">确定</a>
            </div>
          </div>
        `,
        props: ['text'],
        methods: {
          submit() {
            this.$store.commit('modelOperate/changeOperate', true);
            this.$emit('close');
          },
        },
      }, {
        text: `确定删除账号:${data.account_name}吗？`,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': () => {
          if (this.$store.state.modelOperate.operate) {
            this.$store.commit('modelOperate/changeOperate', false);
            this.doDelete(data);
          }
        },
      });
    },
    doDelete(data) {
      this.$http(this.$api.accountDelete, { account_id: data.account_id })
        .then((res) => {
          if (res.status === 0) {
            this.showConfirm(res.data);
            this.accountSelect();
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    changeStatus(data) {
      const obj = { account_id: data.account_id, status: 0 };
      obj.status = (parseInt(data.status, 10) + 1) % 2;
      this.$http(this.$api.accountRestrict, obj)
        .then((res) => {
          if (res.status === 0) {
            this.showConfirm(res.data);
            this.accountSelect({
              account_name: this.account_name,
              real_name: this.real_name,
              position: this.position,
              status: this.status,
              start: (this.page.curPage - 1) * this.page.prePage,
              length: this.page.prePage,
            });
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    newAccount() {
      this.$router.push({
        name: '账号信息',
        params: { id: 'none' },
      });
    },
    accountSelect(obj) {
      const objCopy = obj || {
        account_name: this.account_name,
        real_name: this.real_name,
        position: this.position,
        status: this.status,
        length: this.page.prePage,
        start: 0,
      };
      this.$http(this.$api.accountSelect, objCopy)
        .then((res) => {
          const data = res.data;
          if (res.status === 0) {
            this.page.total = parseInt(res.recordsTotal, 10);
            this.page.pageCount = Math.ceil(this.page.total / this.page.prePage);
            this.data = [];
            for (let i = 0, len = data.length; i < len; i += 1) {
              data[i].no = i + 1 + objCopy.start;
              this.data.push(data[i]);
            }
          } else {
            this.data = [];
          }
        });
    },
    getPosition() {
      this.$http(this.$api.positions)
        .then((data) => {
          if (data.status === 0) {
            this.positions = data.data;
            this.positions.unshift({
              id: '',
              name: '全部',
            });
          }
        });
    },
    changePage(val, len) {
      this.page.curPage = val;
      this.page.prePage = len || this.page.prePage;
      const obj = {
        account_name: this.account_name,
        real_name: this.real_name,
        position: this.position,
        status: this.status,
        length: this.page.prePage,
        start: (val - 1) * this.page.prePage,
      };
      this.accountSelect(obj);
    },
  },
  mounted() {
    const obj = {
      account_name: this.account_name,
      real_name: this.real_name,
      position: this.position,
      status: this.status,
      length: this.page.prePage,
    };
    obj.start = 0;
    if (this.position) {
      obj.position = this.position;
    }
    if (this.status) {
      obj.status = this.status;
    }
    this.accountSelect(obj);
    this.getPosition();
  },
};
</script>
