<template>
  <div>
    <tab :tabs="tabs" @jumpRoute="jumpRoute"></tab>
    <router-view></router-view>
  </div>
</template>
<style lang="less" scoped>
</style>
<script>
import tab from '../navigation/tab';

export default {
  data() {
    return {
      tabs: [{
        index: 0,
        title: '账号管理',
        content: '/account/accountManage',
      }, {
        index: 1,
        title: '职位管理',
        content: '/account/accountWork',
      }],
    };
  },
  components: { tab },
  methods: {
    jumpRoute(ind) {
      this.$router.push(this.tabs[ind].content);
    },
  },
};
</script>
