<template>
  <div class="infos">
    <div>
      <div>
        <h5>职位信息</h5>
      </div>
      <div>
        <div>职位名称： </div>
        <div>
          <input type="text" v-model="data.name" placeholder="必填项"/>
        </div>
      </div>
      <div>
        <div>职位描述： </div>
        <div>
          <textarea rows="4" v-model="data.remark"></textarea>
        </div>
      </div>
      <div>
        <div>店铺权限：</div>
        <div class="shop_permission">
          <div class="left">
            <div class="item">全部店铺</div>
          </div>
          <div class="line"></div>
          <div class="right">
            <div class="item"
                 v-for="(item, index) of data.shops"
                 :key="index"
                 @click="handleShopClick($event, index)"
            >{{item.shop_name}}</div>
          </div>
        </div>
      </div>
      <div>
        <div>权限分配：</div>
        <div class="permission_manger"
             @click="handleItemClick($event)"
        >
          <div class="item_wrapper"
               v-for="(item, index) of data.permission"
               :key="index"
          >
            <div class="item"
                 :class="[{'active': item.show }, 'item']"
            >{{item.name}}</div>
            <div class="item"
                 v-for="(children, index) of item.children"
                 :key="index"
                 :class="{'active': data.setoperate_power[children.key] }"
                 :data-id="children.key"
            >{{children.name}}</div>
          </div>
        </div>
      </div>
      <div>
        <div></div>
        <div>
          <a href="javascript: void(0);" @click="positionOperate">保存</a>
        </div>
      </div>
    </div>
    <a href="javascript: void (0);" @click="back">返回</a>
  </div>
</template>
<style lang="less" scoped>
  .common{
    display: inline-block;
    width: 105px;
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    color: rgba(51,51,51,1);
    border: 1px solid rgba(160,160,160,1);
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }
  .shop_permission{
    .left, .right{
      display: inline-block;
      width: 106px;
      .item{
        .common;
      }
      .active{
        color:rgba(2,173,159,1);
        border:1px solid rgba(2,173,159,1);
      }
    }
    .line{
      display: inline-block;
      margin: 0 12px;
      width: 1px;
      height: 36px;
      background: rgba(125,125,125,1);
      vertical-align: top;
    }
  }
  .permission_manger{
    position: relative;
    .item_wrapper{
      margin-bottom: 25px;
      .item{
        margin-right: 20px;
        .common;
        &:nth-child(2){
          margin-left: 8px;
        }
      }
      .active{
        color:rgba(2,173,159,1);
        border:1px solid rgba(2,173,159,1);
      }
    }
  }
  .infos{
    overflow: hidden;
    background: #F6F6F6 !important;
    position: relative;
    >div{
      background: #fff;
    }
    >div:first-child{
      margin-top: 10px;
      padding: 10px 0 20px 50px;
      >div{
        min-height: 36px;
        padding: 5px 0 10px;
        &:nth-child(3){
          height: 150px;
        }
        h5{
          width: 80px;
          font-weight: 600;
          text-align: right;
          font-size: 16px;
          line-height: 36px;
        }
        >div:first-child{
          width: 100px;
          min-height: 36px;
          margin-right: 20px;
          font-size: 17px;
          line-height: 36px;
          text-align: right;
          float: left;
        }
        >div:nth-child(2){
          min-width: 360px;
          float: left;
          label{
            display: block;
            height: 40px;
            min-width: 90px;
            margin-right: 10px;
            float: left;
            line-height: 40px;
          }
        }
        input[type='text']{
          display: block;
          width: 360px;
          height: 36px;
          padding:0 0 0 10px;
          font-size: 15px;
          line-height: 34px;
          border: 1px solid #ccc;
        }
        input[type='checkbox']{
          display: block;
          width: 15px;
          height: 15px;
          margin: 12px 5px 0 0;
          float: left;
        }
        textarea{
          width: 340px;
          padding: 10px;
          font-size: 15px;
          line-height: 30px;
        }
        a{
          display: block;
          width: 80px;
          height: 32px;
          border-radius: 5px;
          font-size: 16px;
          line-height: 32px;
          float: left;
          text-align: center;
          background: #02ad9f;
          color: #fff;
        }
      }
      >div:last-child{
        margin-top: 30px;
      }
    }
    >a{
      display: block;
      width: 80px;
      height: 32px;
      border-radius: 5px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #02ad9f;
      color: #02ad9f;
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
</style>
<script>
import message from '../common/message';
/* eslint-disable */
export default {
  data() {
    return {
      data: {
        id: '',
        name: '',
        show: 1,
        shops: [], // [{id, shopname}]
        permission: {
          all: {
            name: '全部',
            children: [],
            show: true,
          },
          tactics: {
            name: '商品返利策略',
            show: true,
            children: [{
              key: 'review', name: '晒评价', show: false
            }, {
              key: 'orderInfo', name: '订单信息', show: false
            }, {
              key: 'orderRebate', name: '订单返利', show: false
            }],
          },
          mall: {
            name: '返利商城管理',
            show: true,
            children: [{
              key: 'rebateEvent', name: '活动列表', show: false
            }, {
              key: 'rebateEvent', name: '活动参与信息', show: false
            }, {
              key: 'rebateSet', name: '商城配置', show: false
            }],
          },
          integral: {
            name: '积分商城管理',
            children: [{
              key: 'integralEvent', name: '活动列表', show: false
            }, {
              key: 'integralEvent', name: '活动参与信息', show: false
            }, {
              key: 'integralSet', name: '商城配置', show: false
            }],
          },
          account: {
            name: '账号管理',
            children: [{
              key: 'account', name: '账号管理', show: false
            }, {
              key: 'account', name: '职位管理', show: false
            }],
          },
          user: {
            name: '用户管理',
            children: [{
              key: 'user', name: '用户信息', show: false
            }, {
              key: 'user', name: '用户标签', show: false
            }, {
              key: 'user', name: '积分记录', show: false
            }],
          },
          count: {
            name: '数据统计',
            children: [{
              key: 'reviewStat', name: '晒评价统计', show: false
            }, {
              key: 'rebateStat', name: '订单返利统计', show: false
            }, {
              key: 'signStat', name: '签到统计', show: false
            }, {
              key: 'cashStat', name: '兑换记录统计', show: false
            }, {
              key: 'integralStat', name: '积分记录统计', show: false
            }],
          },
          system: {
            name: '系统管理',
            children: [{
              key: 'vipcn', name: '公众号管理', show: false
            }, {
              key: 'shop', name: '店铺管理', show: false
            }, {
              key: 'sms', name: '短信充值', show: false
            }],
          },
        },
        // setoperate_power: {
        //   account: 0,
        //   sms: 0,
        //   transfer: 0,
        //   user: 0,
        //   vipcn: 0,
        // },
        setoperate_power: {
          review:0,orderInfo:0,orderRebate:0,rebateEvent:0,rebateSet:0,integralEvent:0,
          integralSet:0,account:0,user:0,reviewStat:0,rebateStat:0,signStat:0,cashStat:0,
          integralStat:0,vipcn:0,shop:0,sms:0
        },
        remark: '',
        // setshop_power: { one: 1, two: 1, three: 1, four: 1, five: 1 },
        setshop_power: '', // 1,2,3格式
      },
      operateEnd: false,
      o: [
        {power: 1, children: []},
        {power: 1, children: ['review', 'orderInfo', 'orderRebate']},
        {power: 1, children: ['rebateEvent', 'rebateSet']},
        {power: 1, children: ['integralEvent', 'integralSet']},
        {power: 1, children: ['account']},
        {power: 1, children: ['user']},
        {power: 1, children: ['reviewStat', 'rebateStat', 'cashStat', 'integralStat']},
        {power: 1, children: ['vipcn', 'shop', 'sms']},
      ],
    };
  },
  computed: {
    permissionToal() {
      const obj = {};
      // const permission = data.setoperate_power;
      const o = [
        {power: 1, children: []},
        {power: 1, children: ['review', 'orderInfo', 'orderRebate']},
        {power: 1, children: ['rebateEvent', 'rebateSet']},
        {power: 1, children: ['integralEvent', 'integralSet']},
        {power: 1, children: ['account']},
        {power: 1, children: ['user']},
        {power: 1, children: ['reviewStat', 'rebateStat', 'cashStat', 'integralStat']},
        {power: 1, children: ['vipcn', 'shop', 'sms']},
      ];
      // const index = [];
      // for (var x in o) {
      //   index.push(x);
      // }
      // index.sort(function (a, b) {
      //   return a == b ? 0 : (a > b ? 1 : -1);
      // });

      o.forEach((item) => {
        item.children.forEach((i) => {
          for (const key in this.data.setshop_power) {
            debugger
            if (this.data.setshop_power[i]) {
              console.log(this.data.setshop_power[i]);
              item.power = 0;
            }
          }
        })
      })

      // for (const key in this.data.setoperate_power) {
      //   o.forEach((item) => {
      //     if (this.data.setoperate_power[key]) {
      //       const childrenString = item.children.join(',')
      //       if (childrenString.indexOf(key) >= 0) {
      //         item.power = 1;
      //       } else {
      //         item.power = 0;
      //       }
      //     }
      //   });
      // }
      return o;;
    },
  },
  components: { message },
  methods: {
    handleItemClick($event) {
      const className = $event.srcElement.className;
      if (className.indexOf('item') >= 0 && className.indexOf('active') < 0) {
        $event.srcElement.className += ' active';
        this.data.setoperate_power[$event.srcElement.dataset.id] = 1;
      } else if (className.indexOf('active') >= 0) {
        const index = $event.srcElement.className.indexOf('active');
        $event.srcElement.className = className.substring(index-1, -7);
        this.data.setoperate_power[$event.srcElement.dataset.id] = 0;
      }
    },
    handleShopClick($event, no) {
      const className = $event.srcElement.className;
      // 点亮 熄灭
      if (className.indexOf('item') >= 0 && className.indexOf('active') < 0) {
        $event.srcElement.className += ' active';
        this.data.setshop_power += `${this.data.shops[no].id},`;
      } else if (className.indexOf('active') >= 0) {
        const index = $event.srcElement.className.indexOf('active');
        $event.srcElement.className = className.substring(index-1, -7);
        const i = this.data.setshop_power.indexOf(this.data.shops[no].id);
        this.data.setshop_power = this.data.setshop_power.substring(i, -(this.data.shops[no].id.length));
      }
      const i = this.data.setshop_power.lastIndexOf(',');
      this.data.setshop_power = this.data.setshop_power.substring(i, -1);
    },
    show(ref) {
      this.$refs[ref].show();
    },
    back() {
      this.$router.back();
    },
    showConfirm(data) {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head">提示</div>
            <div class="modal_body_tips">
              <div>{{text}}</div>
            </div>
            <div class="modal_footer_confirm">
              <a href="javascript:void(0);" @click="submit">确定</a>
            </div>
          </div>
        `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': () => {
          if (this.operateEnd) {
            this.$router.back();
          }
        },
      });
    },
    positionOperate() {
      // cyf: 1.0版本， by - yh
     /* let api;
      let obj;
      obj = JSON.parse(JSON.stringify(this.data));
      if (this.data.id !== 'none') {
        api = this.$api.positionUpdate;
      } else {
        delete obj.id;
        api = this.$api.positionAdd;
      }
      if (obj.name === '') {
        this.showConfirm('职位不能为空！');
        return false;
      }
      for (const key in obj.setoperate_power) {
        obj.setoperate_power[key] = obj.setoperate_power[key] ? 1 : 0;
      }
      obj.setoperate_power = JSON.stringify(obj.setoperate_power);
      obj.setshop_power = JSON.stringify(obj.setshop_power);
      this.$http(api, obj)
        .then((data) => {
          if (data.status === 0) {
            this.operateEnd = true;
            this.showConfirm(data.data);
          } else {
            this.showConfirm(data.msg);
          }
        });
      return true;*/
      let api;
      const obj = {
        name: this.data.name,
        remark: this.data.remark,
        setoperate_power: JSON.stringify(this.data.setoperate_power),
        setshop_power: this.data.setshop_power,
      };
      if (this.data.id !== 'none') {
        api = this.$api.positionUpdate;
        obj.id = this.data.id;
      } else {
        api = this.$api.positionAdd;
      }
      this.$http(api, obj)
       .then((res) => {
         if (res.status === 0) {
           this.showConfirm('成功-测试');
         } else {
           this.showConfirm(res.msg);
         }
       });
    },
  },
  created() {
    /**
     * 请求店铺权限信息
     */
    this.$http(this.$api.positionSelectShop, {})
      .then((res) => {
        if (res.status === 0) {
          this.data.shops = res.data;
        } else {
          this.showConfirm(res.msg);
        }
      });
  },
  mounted() {
    const id = this.$route.params.id || '';
    this.data.id = id;
    if (id !== 'none') {
      this.$http(this.$api.positionSelectInfo, { id: id })
        .then((data) => {
          if (data.status === 0) {
            this.data.name = data.data.name;
            this.data.setoperate_power = JSON.parse(data.data.operate_power);
            this.data.remark = data.data.remark;
            this.data.setshop_power = JSON.parse(data.data.shop_power);
          } else {
            this.showConfirm(data.msg || data.data);
          }
        });
    }
  },
};
</script>
