<template>
  <div class="condition">
    <div class="search_body">
      <label class="search_item">
        <select v-model="search_select" name="" id="">
          <option value="event">活动名称</option>
          <option value="order_id">订单号</option>
          <option value="nickname">微信昵称</option>
        </select>
        <input style="width: 310px;" type="text" v-model="search" />
      </label>
      <div class="search_time">
        <span class="fourCode">提交时间：</span>
        <div class="date-time-item">
          <input class="date-time-input"
                 placeholder="开始时间"
                 @click="show('startTime')"
                 v-model="startTime" readonly/>
          <data-time-picker ref="startTime"
                            v-model="startTime"
                            color="#02AD9F"
                            @confirm="selectStart"></data-time-picker>
        </div>
        <span class="time-middle">至</span>
        <div class="date-time-item">
          <input class="date-time-input"
                 placeholder="结束时间"
                 @click="show('endTime')"
                 v-model="endTime" readonly/>
          <data-time-picker ref="endTime"
                            v-model="endTime"
                            color="#02AD9F"
                            @confirm="selectEnd"></data-time-picker>
        </div>
      </div>
    </div>
    <div class="search_body itemAndBtns clear">
      <div class="search_status search_title">
        <span>状态：</span>
        <select v-model="status">
          <option value="">全部</option>
          <option value="1">审核成功 </option>
          <option value="2">自动审核失败</option>
          <option value="3">人工审核失败</option>
          <option value="4">返利中</option>
          <option value="5">已返利</option>
          <option value="6">返利失败</option>
        </select>
      </div>
      <div class="search_status">
        <span>订单状态：</span>
        <select v-model="order_status">
          <option value="">全部</option>
          <option value="等待买家付款">等待买家付款</option>
          <option value="买家已付款">买家已付款</option>
          <option value="交易成功">交易成功</option>
        </select>
      </div>
      <div class="search_time">
        <span class="fourCode">返利时间：</span>
        <div class="date-time-item">
          <input class="date-time-input"
                 placeholder="开始时间"
                 @click="show('RebateStartTime')"
                 v-model="s_time" readonly/>
          <data-time-picker ref="RebateStartTime"
                            v-model="s_time"
                            color="#02AD9F"
                            @confirm="selectRebateStart"></data-time-picker>
        </div>
        <span class="time-middle">至</span>
        <div class="date-time-item">
          <input class="date-time-input"
                 placeholder="结束时间"
                 @click="show('RebateEndTime')"
                 v-model="e_time" readonly/>
          <data-time-picker ref="RebateEndTime"
                            v-model="e_time"
                            color="#02AD9F"
                            @confirm="selectRebateEnd"></data-time-picker>
        </div>
      </div>
      <div class="search_btn clear">
        <a href="javascript: void(0);" @click="handleRebateClick">返利</a>
        <a href="javascript: void(0);" @click="exportDatas">导出</a>
        <a href="javascript: void(0);" @click="handleSearchClick">查询</a>
      </div>
    </div>
    <v-table :show-choose="true" :columns="columns" :data="data" :page="page"></v-table>
  </div>
</template>
<style lang="less" scoped>
  .search_item{
    width: 490px;
    float: left;
    input{
      width: 350px;
    }
  }
  .itemAndBtns{
    >*{
      float: left;
    }
    .search_btn{
      float: right;
      width: 400px;
    }
    .search_status{
      width: 220px;
      select{
        width: 130px;
      }
    }
    .search_time{
      margin-left: 50px;
    }
    .search_title{
      span{
        text-align: right;
      }
    }
  }
</style>
<script>
/* eslint-disable no-param-reassign */
import page from '../../common/page';

export default {
  mixins: [page],
  data() {
    return {
      status: '',
      search_select: 'event',
      search: '',
      startTime: '',
      endTime: '',
      s_time: '', // 返利
      e_time: '', // 返利
      order_status: '',
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '活动名称', data: 'event', class: 'large' },
      { title: '订单号', data: 'tid' },
      { title: '微信头像',
        data: 'headimgurl',
        class: 'small headImg',
        render(val) {
          return `<img src="${val}"/>`;
        },
      },
      { title: '返利昵称', data: 'nickname', class: '' },
      { title: '返利金额(元)', data: 'amount', class: '' },
      { title: '提交时间', data: 'create_time', class: 'large' },
      { title: '返利时间',
        data: 'record_status',
        class: 'large',
        render(val, item) {
          if (val === 5) {
            return `<span>${item.modify_time}</span>`;
          }
          return '<span>--</span>';
        },
      },
      { title: '订单状态', data: 'status' },
      { title: '状态',
        class: 'small',
        data: 'record_status_desc',
        render(val) {
          switch (val) {
            case '审核成功':
              return `<span style="color: #01B01E">${val}</span>`;
            case '自动审核失败':
              return `<span style="color: #DC5F4D">${val}</span>`;
            case '人工审核失败':
              return `<span style="color: #DC5F4D">${val}</span>`;
            case '返利中':
              return `<span style="color: #01B01E">${val}</span>`;
            case '已返利':
              return `<span style="color: #01B01E">${val}</span>`;
            case '返利失败':
              return `<span style="color: #DC5F4D">${val}</span>`;
            default:
              break;
          }
          return null;
        },
      },
      { title: '操作',
        class: 'large',
        data: 'record_status',
        click: 'handleRecheck', // 点击触发的事件
        render(val) { // 状态:1审核成功；2自动审核失败；3人工审核失败；4返利中；5已返利；6返利失败
          if (val === 6) {
            return `<span style="display: flex; justify-content: center; width: 50%;">
                      <span @click="test" style="width: 50%; color: #FD8D0A; cursor: pointer;">重返</span>
                      <span style="width: 50%; color: #02AD9F; cursor: pointer;">查看</span>
                    </span>`;
          }
          return '<span style="color: #02AD9F; cursor: pointer;">查看</span>';
        },
      }],
      data: [{
        no: 1,
        activity_status: 'order_rebate',
        amount: 12,
        buyer_nick: '测试订单',
        buyer_rate: '1',
        comment: null,
        comment_time: null,
        create_time: '2018-11-05 15:54:16',
        end_time: '2018-10-22 18:00:52',
        event: 'test5',
        headimgurl: '',
        id: 1,
        nickname: '/',
        num_iid: '573783489446',
        pay_time: '2018-10-15 00:16:19',
        price: 69,
        reason: '商品id不符合活动要求',
        receiver_mobile: '17859766579',
        record_status: 2,
        result: null,
        seller_nick: '壹站通数码专营店',
        status: '交易成功',
        tid: '226875524861944888',
      }],
    };
  },
  components: {},
  methods: {
    handleRecheck(data) {
      if (data.record_status === 1) {
        this.$modal.show({
          template: `
        <div>
          <div class="modal_head_back">
          <i class="iconfont icon-delete" @click="back"></i>
</div>
          <div class="modal_body_order">
            <div class="modal_body_container">
            <div class="container_left">
            <span>状态：</span>
            <span>活动名称：</span>
            <span>提交时间：</span>
            <span>商品名称：</span>
            <span>预计返利金额：</span>
            <span>订单状态：</span>
            <span>收货手机号：</span>
          </div>
            <div class="container_right">
              <span style="font-weight: bold;">${data.record_status_desc}</span>
              <span>${data.event}</span>
              <span>${data.create_time}</span>
              <span>${data.title}</span>
              <span>${data.amount}元</span>
              <span>${data.status}<span style="display: inline-block;"></span></span>
              <span>${data.receiver_mobile}<span style="display: inline-block;"></span></span>
            </div>
          </div>
          </div>
        </div>
      `,
          props: ['text'],
          methods: {
            back() {
              this.$emit('close');
            },
          },
        }, {
          text: data,
        }, {
          width: '600px',
          height: '360px',
          pivotX: 0.6,
          pivotY: 0.3,
          // classes: 'v-modal-order',
        });
      } else if (data.record_status === 2) {
        this.$modal.show({
          template: `
        <div>
          <div class="modal_head"></div>
          <div class="modal_body_order">
            <div class="modal_body_container">
            <div class="container_left">
            <span>状态：</span>
            <span>活动名称：</span>
            <span>提交时间：</span>
            <span>商品名称：</span>
            <span>预计返利金额：</span>
            <span>订单状态：</span>
            <span>收货手机号：</span>
          </div>
            <div class="container_right">
              <span style="font-weight: bold;">${data.record_status_desc}</span>
              <span>${data.event}</span>
              <span>${data.create_time}</span>
              <span>缺商品名称</span>
              <span>${data.amount}元</span>
              <span>${data.status}<span style="display: inline-block; vertical-align: top; color: #DC5F4D"">（不通过验证）</span></span>
              <span>${data.receiver_mobile}<span style="display: inline-block;vertical-align: top; color: #DC5F4D">（不通过验证）</span></span>
            </div>
          </div>
          </div>
          <div class="modal_footer_order">
            <a class="noConfirm" href="javascript:void(0);" @click="cancel">确定失败</a>
            <a class="confirm" href="javascript:void(0);" @click="submit">审核通过</a>
          </div>
        </div>
      `,
          props: ['text'],
          methods: {
            submit() {
              this.$http(this.$api.rebateApprove, {
                id: data.id,
                event_id: data.event_id,
              })
                .then((res) => {
                  if (res.status === 0) {
                    this.showConfirm('审核成功');
                    // this.$parent.getList();
                  } else {
                    this.showConfirm(res.msg);
                  }
                });
              this.$emit('close');
            },
            cancel() {
              this.$http(this.$api.rebateUnapprove, {
                id: data.id,
              })
                .then((res) => {
                  if (res.status === 0) {
                    this.showConfirm('审核不通过');
                  } else {
                    this.showConfirm(res.msg);
                  }
                });
            },
          },
        }, {
          text: data,
        }, {
          width: '600px',
          height: '420px',
          pivotX: 0.6,
          pivotY: 0.3,
          // classes: 'v-modal-order',
        });
      } else if (data.record_status === 3) {
        this.$modal.show({
          template: `
        <div>
          <div class="modal_head_back">
          <i class="iconfont icon-delete" @click="back"></i>
</div>
          <div class="modal_body_order">
            <div class="modal_body_container">
            <div class="container_left">
            <span>状态：</span>
            <span>活动名称：</span>
            <span>提交时间：</span>
            <span>商品名称：</span>
            <span>预计返利金额：</span>
            <span>订单状态：</span>
            <span>收货手机号：</span>
          </div>
            <div class="container_right">
              <span style="font-weight: bold;">${data.record_status_desc}</span>
              <span>${data.event}</span>
              <span>${data.create_time}</span>
              <span>${data.title}</span>
              <span>${data.amount}元</span>
              <span>${data.status}<span style="display: inline-block; vertical-align: top; margin-left: 10px; color: #DC5F4D">(错误)</span></span>
              <span>${data.receiver_mobile}<span style="display: inline-block;vertical-align: top; margin-left: 10px; color: #DC5F4D">(错误)</span></span>
            </div>
          </div>
          </div>
        </div>
      `,
          props: ['text'],
          methods: {
            back() {
              this.$emit('close');
            },
          },
        }, {
          text: data,
        }, {
          width: '600px',
          height: '360px',
          pivotX: 0.6,
          pivotY: 0.3,
          // classes: 'v-modal-order',
        });
      } else if (data.record_status === 4) {
        this.$modal.show({
          template: `
        <div>
          <div class="modal_head_back">
          <i class="iconfont icon-delete" @click="back"></i>
</div>
          <div class="modal_body_order">
            <div class="modal_body_container">
            <div class="container_left">
            <span>状态：</span>
            <span>活动名称：</span>
            <span>提交时间：</span>
            <span>商品名称：</span>
            <span>预计返利金额：</span>
            <span>订单状态：</span>
            <span>收货手机号：</span>
          </div>
            <div class="container_right">
              <span style="font-weight: bold;">${data.record_status_desc}</span>
              <span>${data.event}</span>
              <span>${data.create_time}</span>
              <span>${data.title}</span>
              <span>${data.amount}元</span>
              <span>${data.status}</span>
              <span>${data.receiver_mobile}</span>
            </div>
          </div>
          </div>
        </div>
      `,
          props: ['text'],
          methods: {
            back() {
              this.$emit('close');
            },
          },
        }, {
          text: data,
        }, {
          width: '600px',
          height: '360px',
          pivotX: 0.6,
          pivotY: 0.3,
          // classes: 'v-modal-order',
        });
      } else if (data.record_status === 5) {
        this.$modal.show({
          template: `
        <div>
          <div class="modal_head_back">
          <i class="iconfont icon-delete" @click="back"></i>
</div>
          <div class="modal_body_order">
            <div class="modal_body_container">
            <div class="container_left">
            <span>状态：</span>
            <span>活动名称：</span>
            <span>提交时间：</span>
            <span>商品名称：</span>
            <span>预计返利金额：</span>
            <span>订单状态：</span>
            <span>收货手机号：</span>
          </div>
            <div class="container_right">
              <span style="font-weight: bold;">${data.record_status_desc}</span>
              <span>${data.event}</span>
              <span>${data.create_time}</span>
              <span>${data.title}</span>
              <span>${data.amount}元</span>
              <span>${data.status}</span>
              <span>${data.receiver_mobile}</span>
            </div>
          </div>
          </div>
        </div>
      `,
          props: ['text'],
          methods: {
            back() {
              this.$emit('close');
            },
          },
        }, {
          text: data,
        }, {
          width: '600px',
          height: '360px',
          pivotX: 0.6,
          pivotY: 0.3,
          // classes: 'v-modal-order',
        });
      } else if (data.record_status === 6) {
        this.$http(this.$api.rebateRebate, {
          id: data.id,
        })
          .then((res) => {
            if (res.status === 0) {
              this.showConfirm('返利成功');
              this.getList();
            } else {
              this.showConfirm(res.msg);
            }
          });
      }
    },
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.endTime = val;
    },
    selectStart(val) {
      this.startTime = val;
    },
    selectRebateStart(val) {
      this.s_time = val;
    },
    selectRebateEnd(val) {
      this.e_time = val;
    },
    handleSearchClick() {
      this.getList();
    },
    handleRebateClick() {
      const ids = [];
      this.$children[4].checkList.forEach((item) => {
        ids.push(this.data[this.$children[4].checkList[item]].id);
      });
      if (ids.length === 0) {
        this.showConfirm('请勾选订单');
        return;
      }
      this.$http(this.$api.rebateBatchRebate, {
        ids: `${ids.join()}`,
      })
        .then((res) => {
          if (res.status === 0) {
            this.getList();
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    test() {
      alert('hehe');
    },
    getList() {
      const obj = {
        event: '',
        order_id: '',
        nickname: '',
        status: this.status,
        order_status: this.order_status,
        start_time: this.startTime,
        end_time: this.endTime,
        s_time: this.s_time,
        e_time: this.e_time,
        start: (this.page.curPage - 1) * this.page.prePage,
        length: this.page.prePage,
      };
      switch (this.search_select) {
        case 'event':
          obj.event = this.search;
          break;
        case 'order_id':
          obj.order_id = this.search;
          break;
        case 'nickname':
          obj.nickname = this.search;
          break;
        default:
          break;
      }
      // 状态:1审核成功；2自动审核失败；3人工审核失败；4返利中；5已返利；6返利失败
      const succCallback = (data) => {
        data.forEach((item) => {
          switch (item.record_status) {
            case 1:
              item.record_status_desc = '审核成功';
              break;
            case 2:
              item.record_status_desc = '自动审核失败';
              break;
            case 3:
              item.record_status_desc = '人工审核失败';
              break;
            case 4:
              item.record_status_desc = '返利中';
              break;
            case 5:
              item.record_status_desc = '已返利';
              break;
            case 6:
              item.record_status_desc = '返利失败';
              break;
            default:
              break;
          }
        });
      };
      this.getListData(this.$api.rebateSelectRecord, obj, succCallback);
      console.log(this.data);
    },
    exportDatas() {
      const obj = {
        event: '',
        order_id: '',
        nickname: '',
        status: this.status,
        order_status: this.order_status,
        start_time: this.startTime,
        end_time: this.endTime,
        s_time: this.s_time,
        e_time: this.e_time,
        start: 0,
        length: 9999,
      };
      const title = '活动名称,订单号,微信头像,返利昵称,返利金额(元),提交时间,返利时间,订单状态,状态\n';
      const arr = ['event', 'tid', 'headimgurl', 'nickname', 'amount', 'create_time', 'modify_time', 'status', 'status', 'record_status'];
      this.$http(this.$api.rebateSelectRecord, obj).then((res) => {
        if (res.status === 0) {
          const data = [];
          for (let i = 0, len = res.data.length; i < len; i += 1) {
            const obj = {};
            for (let j = 0, itemLen = arr.length; j < itemLen; j += 1) {
              if (arr[j] === 'record_status') {
                obj[arr[j]] = this.recordStatusDesc(res.data[i][arr[j]]);
              } else {
                obj[arr[j]] = res.data[i][arr[j]];
              }
            }
            data.push(obj);
          }
          this.tableToExcel(title, data);
        }
      });
    },
    recordStatusDesc(data) {
      switch (data) {
        case 1:
          return '审核成功';
        case 2:
          return '自动审核失败';
        case 3:
          return '人工审核失败';
        case 4:
          return '返利中';
        case 5:
          return '已返利';
        case 6:
          return '返利失败';
        default:
          return '';
      }
    },
  },
  created() {
    if (this.$route.query.type === 'show') {
      const id = this.$route.query.event_id;
      const obj = {
        event_id: id,
        start: (this.page.curPage - 1) * this.page.prePage,
        length: this.page.prePage,
      };
      this.getListData(this.$api.rebateEventRecord, obj);
    } else {
      this.getList();
    }
  },
};
</script>
