<template>
  <div class="condition">
    <div class="search_body search_items clear">
      <label class="search_item clear">
        <span>促销活动：</span>
        <input style="width: 350px;" v-model="event" type="text">
      </label>
      <label style="margin-left: 50px" class="search_status clear">
        <span>活动状态：</span>
        <select v-model="status">
          <option value="">全部</option>
          <option value="未上线">未上线</option>
          <option value="已上线">已上线</option>
          <option value="已下线">已下线</option>
        </select>
      </label>
    </div>
    <div class="search_body itemAndBtns">
      <div class="search_time">
        <span class="fourCode">有效时间：</span>
        <div class="date-time-item">
          <input class="date-time-input"
                 placeholder="开始时间"
                 @click="show('startTime')"
                 v-model="start_time" readonly/>
          <data-time-picker ref="startTime"
                            v-model="start_time"
                            color="#02AD9F"
                            @confirm="selectStart"></data-time-picker>
        </div>
        <span class="time-middle">至</span>
        <div class="date-time-item">
          <input class="date-time-input"
                 placeholder="结束时间"
                 @click="show('endTime')"
                 v-model="end_time" readonly/>
          <data-time-picker ref="endTime"
                            v-model="end_time"
                            color="#02AD9F"
                            @confirm="selectEnd"></data-time-picker>
        </div>
      </div>
      <div class="search_btn clear">
        <a href="javascript: void(0);" @click="handleNewClick">新建</a>
        <a href="javascript: void(0);" @click="handleSearchClick">查询</a>
      </div>
    </div>
    <v-table :columns="columns" :data="data" :page="page"></v-table>
  </div>
</template>
<style lang="less" scoped>
  .search_items{
    >*{
      float: left;
    }
    .search_item{
      width: 490px;
    }
  }
  .itemAndBtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    .search_btn{
      width: 400px;
    }
  }
</style>
<script>
/* eslint-disable camelcase,import/extensions */

import page from '../../common/page';
import { timeNormalFormat } from '../../common/filter.js';

export default {
  mixins: [page],
  data() {
    return {
      event: '',
      start_time: '',
      end_time: '',
      status: '',
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '活动名称', data: 'event', class: 'largest noTooLong' },
      { title: '开始时间', data: 'start_time', class: 'large' },
      { title: '结束时间', data: 'end_time', class: 'large' },
      { title: '活动次数', data: 'number' },
      { title: '已参与次数', data: 'used_number' },
      { title: '累计返利金额(元)', data: 'used_amount', class: 'large' },
      { title: '活动状态',
        data: 'event_status_desc',
        render(val) {
          if (val === '已上线') {
            return `<span style="color: #01B01E;">${val}</span>`;
          }
          return `<span style="color: #999999;">${val}</span>`;
        },
      },
      { title: '详情',
        class: 'smallest',
        click: 'handleShowInfoClick', // 点击触发的事件
        render() {
          return '<span class="link">详情</span>';
        },
      },
      { title: '推广',
        class: 'smallest',
        click: 'handlePromoteClick', // 点击触发的事件
        render(val, item) {
          if (item.event_status_desc === '已上线') {
            return '<span class="promote"></span>';
          }
          return '<span class="noPromote"></span>';
        },
      },
      { title: '编辑',
        class: 'smallest',
        click: 'handleEditClick', // 点击触发的事件
        render() {
          return '<span class="edit"></span>';
        },
      },
      { title: '删除',
        class: 'smallest',
        click: 'handleDeleteClick', // 点击触发的事件
        render(val, item) {
          if (item.event_status_desc === '已上线' && item.used_number !== 0) {
            return '<span class="noDelete"></span>';
          }
          return '<span class="delete"></span>';
        },
      }],
      data: [],
    };
  },
  components: {},
  methods: {
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.end_time = timeNormalFormat(val);
    },
    selectStart(val) {
      this.start_time = timeNormalFormat(val);
    },
    handleNewClick() {
      this.$router.push('/rebate/detail');
    },
    // 点击推广按钮
    handlePromoteClick(item) {
      this.$router.push({
        path: '/rebate/promote',
        query: {
          from: 'rebateList',
          link: item.url,
        },
      });
    },
    // 点击编辑按钮
    handleEditClick(val) {
      let type;
      if (val.event_status_desc === '已上线' && val.used_number !== 0) {
        type = 'editOnline';
      } else if (val.event_status_desc === '已下线') {
        type = 'editOffline';
      } else {
        type = 'edit';
      }
      this.$router.push({
        path: '/rebate/detail',
        query: {
          type,
          detailData: JSON.stringify(val),
        },
      });
    },
    /**
     * 是否有编辑权限，已弃用
     * @param item
     * @returns {boolean}
     */
    hasPower(item) {
      let hasEditPower = true;
      const shop_power = this.getCookie('shop_power');
      const shop_id_arr = shop_id.split(',');
      shop_id_arr.forEach((item) => {
        if (shop_power.indexOf(item) < 0) {
          hasEditPower = false;
        }
      });
      return hasEditPower;
    },
    // 查询
    handleSearchClick() {
      this.getList();
    },
    handleDeleteClick(item) {
      if (item.event_status_desc === '未上线' || (item.event_status_desc === '已上线' && item.used_number === 0)) {
        const submitFn = (data) => {
          this.$http(this.$api.rebateDeleteEvent, {
            event_id: data.event_id,
          })
            .then((res) => {
              if (res.status === 0) {
                this.getList();
              } else {
                this.showConfirm(res.msg);
              }
            });
        };
        this.showConfirm('若删除该活动，已参与的用户记录仍保存，是否继续？', {
          width: '480px',
          height: '260px',
          item,
          submitFn,
        });
      }
    },
    handleShowInfoClick(item) {
      const query = {
        type: 'show',
        event_id: item.event_id,
      };
      this.$parent.$children[0].changeInd(1, query);
    },
    getList() {
      const obj = {
        event: this.event,
        status: this.status,
        start_time: this.start_time,
        end_time: this.end_time,
        start: (this.page.curPage - 1) * this.page.prePage,
        length: this.page.prePage,
      };
      const succCallback = (data) => {
        data.forEach((item) => {
          const startTime = new Date(item.start_time).getTime();
          const endTime = new Date(item.end_time).getTime();
          const nowTime = new Date().getTime();
          const listData = [];
          const listDataObj = {};
          if (item.commodity) {
            const itemIdArr = item.commodity.split(',');
            const itemImgArr = item.img.split(',');
            for (let i = 0; i < itemIdArr.length; i += 1) {
              listDataObj.id = itemIdArr[i];
              listDataObj.img = itemImgArr[i];
              listData.push(listDataObj);
            }
          }
          // eslint-disable-next-line no-param-reassign
          item.listData = listData;
          if (nowTime < startTime) {
            // eslint-disable-next-line no-param-reassign
            item.event_status_desc = '未上线';
          } else if (nowTime >= startTime && nowTime <= endTime) {
            // eslint-disable-next-line no-param-reassign
            item.event_status_desc = '已上线';
          } else {
            // eslint-disable-next-line no-param-reassign
            item.event_status_desc = '已下线';
          }
        });
      };
      this.getListData(this.$api.rebateSelectEvent, obj, succCallback);
    },
  },
  created() {
    this.getList();
  },
};
</script>
