<template>
  <div class="infos">
    <div>
      <div>
        <h5>活动信息</h5>
      </div>
      <div>
        <div>活动名称： </div>
        <div>
          <input type="text" :readonly="readonly" v-model="info.event" />
        </div>
      </div>
      <div>
        <div>活动时间：</div>
        <div class="times">
          <div class="date-time-item">
            <input class="date-time-input"
                   v-model="info.start_time"
                   v-if="readonly"
                   readonly
                   placeholder="起始时间"
            />
            <input class="date-time-input"
                   @click="show('startTime')"
                   v-model="info.start_time"
                   v-else
                   readonly
                   placeholder="起始时间"
            />
            <data-time-picker ref="startTime"
                              v-model="info.start_time"
                              color="#02AD9F"
                              @confirm="selectStart"></data-time-picker>
          </div>
          <span>至</span>
          <div class="date-time-item">
            <input class="date-time-input"
                   @click="show('endTime')"
                   v-model="info.end_time"
                   readonly
                   placeholder="结束时间"
            />
            <data-time-picker ref="endTime"
                              v-model="info.end_time"
                              color="#02AD9F"
                              @confirm="selectEnd"></data-time-picker>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>返利金额：</div>
        <div class="type">
          <label>
            <input :disabled="readonly" v-model="radio" type="radio" value="百分比">
            <span>返利</span>
            <input type="number" :readonly="readonly" v-model="info.percentage" />
            <span>%</span>
          </label>
        </div>
        <div class="type">
          <label>
            <input v-model="radio" :disabled="readonly" type="radio" value="数值">
            <span>返利</span>
            <input type="number" :readonly="readonly" v-model="info.amount" />
            <span>元</span>
          </label>
        </div>
        <div class="showMsg">
          <span>说明</span>
          <message :message="message">?</message>
        </div>
      </div>
      <div>
        <div>返利标准：</div>
        <div class="standard">
          <select :disabled="readonly" v-model="info.rebate_status">
            <option value="已支付">已支付</option>
            <option value="确认收货">确认收货</option>
          </select>
          <span>后</span>
          <input type="number" :readonly="readonly" v-model="info.days">
          <span>天返利</span>
        </div>
      </div>
      <div>
        <div>积分：</div>
        <div>
          <span>赠送</span>
          <input type="number" :readonly="readonly" v-model="info.integral">
          <span>积分</span>
        </div>
      </div>
      <div>
        <div>活动限制：</div>
        <div class="limit">
          <label>
            <!--<div>-->
              <!--&lt;!&ndash;<span @click="handleCheckboxClick($event)"></span>&ndash;&gt;-->
              <!--<input class="hidden" :readonly="readonly" v-model="info.newuser" value="1" type="radio" />-->
            <!--</div>-->
            <input type="radio" :disabled="readonly" v-model="info.newuser" id="1" value="1">
            <span>新用户专享</span>
          </label>
        </div>
        <div class="limit">
          <label>
            <input type="radio" :disabled="readonly" v-model="info.newuser" id="0" value="0">
            <span>积分参与</span>
          </label>
          <div v-if="info.newuser === '0'" style="display: inline-block; margin-left: 20px;">
            <span>参与需</span>
            <input v-model="info.integral_num" :readonly="readonly" type="number">
            <span>积分</span>
          </div>
        </div>
      </div>
      <div>
        <div></div>
        <div class="limit_choose">
          <!--<label>-->
            <!--<input v-model="info.participation[2].status" type="checkbox">-->
            <!--<span>一个订单仅能购买一件</span>-->
          <!--</label>-->
          <span>一个微信号可参与</span>
          <input v-model="info.num" :readonly="readonly" type="number">
          <span>次</span>
        </div>
      </div>
      <div>
        <div></div>
        <div>
          <span>活动限</span>
          <input v-model="info.number" type="number">
          <span>次</span>
        </div>
      </div>
      <div class="select-good">
        <div>商品选择：</div>
        <select v-model="shop_select" :disabled="readonly" name="" id="">
          <option value="-1">请选择</option>
          <option v-for="(item, index) of shops"
                  :value="index"
                  :key="index"
          >{{item.shop_name}}</option>
        </select>
        <input :readonly="readonly" v-model="good_link" placeholder="请输入正确的商品链接" type="text">
        <!--info.commodity-->
        <div class="add-goods" v-if="readonly" style="cursor: not-allowed;">添加</div>
        <div class="add-goods" v-else @click="handleAddGood">添加</div>
        <div v-if="list_data.length" class="scroll-wrapper">
          <scroll :readonly="readonly" :data="list_data"></scroll>
        </div>
      </div>
      <a class="btn save" @click="handleSaveClick">保存</a>
      <a class="btn back" @click="handleBackClick">取消</a>
    </div>
  </div>
</template>
<style lang="less" scoped>
  @import "../../common/mixin";
  .btn{
    display: inline-block;
    width:100px;
    height:32px;
    margin-top: 30px;
    border-radius:6px;
    cursor: pointer;
    .text-center(32px);
  }
  .save{
    color: white;
    margin-left: 200px;
    background:rgba(2,173,159,1);
  }
  .back{
    margin-left: 30px;
    color:rgba(153,153,153,1);
    background:rgba(238,238,238,1);
  }
  .select-good{
    select{
      width: 150px;
      height: 36px;
      border: 1px solid #ddd;
    }
    input{
      width: 300px !important;
    }
    .add-goods{
      display: inline-block;
      width: 50px;
      height: 20px;
      margin-left: 10px;
      border: 1px solid #cccccc;
      border-radius: 5px;
      .text-center(20px);
      cursor: pointer;
    }
    .scroll-wrapper{
      /*overflow: hidden;*/
      width: 400px;
      margin-top: 20px;
      margin-left: 190px;
    }
  }
  .infos{
    overflow: hidden;
    background: #F6F6F6 !important;
    position: relative;
    >div{
      background: #fff;
    }
    >div:first-child{
      margin-top: 10px;
      padding: 10px 0 20px 50px;
      >div{
        min-height: 36px;
        padding: 5px 0 10px;
        h5{
          width: 160px;
          font-weight: 600;
          text-align: right;
          font-size: 16px;
          line-height: 36px;
        }
        >div:first-child{
          width: 180px;
          font-size: 17px;
          line-height: 36px;
          text-align: right;
          float: left;
        }
        >div:nth-child(2){
          float: left;
          width: 375px;
          min-height: 36px;
          padding-left: 10px;
          *{
            display: block;
            float: left;
          }
          input{
            /*width: 360px;*/
            height: 36px;
            line-height: 34px;
            border: 1px solid #ddd;
          }
          img{
            width: 60px;
            height: 60px;
            border: 1px solid #ddd;
            margin-right: 10px;
          }
          span{
            width: 30px;
            line-height: 36px;
            text-align: center;
          }
        }
        a{
          display: block;
          width: 100px;
          height: 36px;
          border-radius: 18px;
          background: #02AD9F;
          color: #fff;
          float: left;
          text-align: center;
          line-height: 36px;
        }
      }
      .tips{
        min-height: 15px;
        line-height: 15px;
        padding: 0 0 15px;
        p{
          width: 100%;
          padding-left: 190px;
          font-size: 15px;
          color: #FD8D0A;
        }
      }
      .imgs{
        min-height: 62px;
        >div:first-child{
          line-height: 62px;
        }
      }
      .price{
        input{
          width: 90px !important;
        }
      }
    }
    >div:nth-child(2){
      margin-top: 10px;
      padding: 10px 0 20px 50px;
      input{
        width: 80px;
        height: 36px;
        padding: 0 5px;
        line-height: 34px;
        border: 1px solid #ddd;
      }
      >div{
        min-height: 36px;
        padding: 5px 0 10px;
        >div:first-child{
          width: 180px;
          min-height: 36px;
          font-size: 17px;
          line-height: 36px;
          text-align: right;
          float: left;
          margin-right: 10px;
        }
        .showMsg{
          width: 60px;
          position: relative;
          min-height: 36px;
          text-align: left;
          font-size: 14px;
          line-height: 36px;
          color: #02ad9f;
          float: left;
          >*{
            float: left;
          }
          >div{
            position: absolute;
            top: 50%;
            left: 40px;
            transform: translateY(-50%);
          }
        }
        .type{
          min-height: 36px;
          min-width: 200px;
          float: left;
          label{
            display: flex;
            height: 36px;
            align-items: center;
            justify-content: space-between;
            float: left;
          }
          label:first-child{
            /*width: 70px;*/
            >div{
              width: 10px;
              height: 10px;
              padding: 3px;
              border: 1px solid #666;
              border-radius: 50%;
              span{
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #02AD9F ;
              }
            }
            input[type='radio']{
              width: 18px !important;
              height: 18px;
              border:1px solid rgba(102,102,102,1);
              border-radius: 50%;
              outline: none;
              -webkit-appearance:none;
            }
            input[type=radio]:checked{
              background-size: 90% 90%;
              background: url("../../../assets/input_radio_select.png") no-repeat center;
            }
            >span{
              display: block;
              margin: 0 10px;
              text-align: center;
            }
          }
          label:nth-child(2){
            width: 110px;
            span{
              display: block;
              width: 30px;
              line-height: 36px;
              text-align: center;
            }
          }
          label:nth-child(3){
            padding-left: 10px;
            width: 170px;
            margin-right: 20px;
            input{
              width: 80px;
              height: 36px;
              padding: 0 5px;
              line-height: 34px;
              border: 1px solid #ddd;
            }
          }
        }
        .standard{
          select{
            display: block;
            width: 100px;
            height: 36px;
            margin-right: 10px;
            padding: 0 5px;
            border: 1px solid #ddd;
            float: left;
          }
          input{
            margin: 0 10px;
          }
        }
        .times{
          >*{
            float: left;
          }
          input{
            width: 180px;
          }
          >div:first-child{
            input{
              margin: 0 10px 0 0;
            }
          }
          span{
            line-height: 36px;
          }
        }
        .limit{
          min-height: 36px;
          min-width: 110px;
          float: left;
          margin-right: 20px;
          label{
            display: flex;
            height: 36px;
            align-items: center;
            justify-content: space-between;
            float: left;
          }
          label{
            width: 110px;
            >div{
              position: relative;
              width: 10px;
              height: 10px;
              padding: 3px;
              border: 1px solid #666;
              border-radius: 50%;
              span{
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #02AD9F ;
                cursor: pointer;
              }
              .hidden{
                z-index: 10;
                position: absolute;
                top: 0;
                left: 0;
                width: 18px;
                height: 18px;
                visibility: hidden;
              }
            }
            input[type='radio']{
              /*display: none;*/
              width: 18px;
              height: 18px;
            }
            >span{
              display: block;
              width: 80px;
              text-align: left;
            }
          }
        }
        .limit_choose{
          line-height: 36px;
          *{
            display: block;
            float: left;
          }
          label{
            margin-right: 30px;
          }
          input{
            margin: 0 10px;
          }
          input[type='checkbox']{
            width: 20px;
            height: 20px;
            margin: 8px 10px 0 0;
          }
        }
      }
    }
    >div:nth-child(3){
      margin-top: 10px;
      padding: 10px 0 20px 50px;
      >div {
        min-height: 36px;
        padding: 5px 0 10px;
        > div:first-child {
          width: 180px;
          min-height: 36px;
          font-size: 17px;
          line-height: 36px;
          text-align: right;
          float: left;
          margin-right: 10px;
        }
        >div:nth-child(2){
          position: relative;
          p{
            position: absolute;
            bottom: 5px;
            left: 193px;
            color: #999;
            font-size: 12px;
            line-height: 20px;
          }
        }
        >a{
          display: block;
          width: 80px;
          height: 32px;
          border-radius: 5px;
          font-size: 16px;
          line-height: 32px;
          float: left;
          text-align: center;
          background: #02ad9f;
          color: #fff;
        }
        textarea{
          font-size: 12px;
          line-height: 24px;
          padding-bottom: 28px;
        }
      }
    }
    >a{
      display: block;
      width: 80px;
      height: 32px;
      border-radius: 5px;
      line-height: 32px;
      text-align: center;
      background: #02ad9f;
      color: #fff;
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
</style>
<script>
/* eslint-disable camelcase */

import message from '../../common/message';
import scroll from './scroll';

export default {
  components: { message, scroll },
  data() {
    return {
      message: '返利金额百分比限制为1%至100%，返利金额限制为0.30至20000.00，保留两位小数',
      readonly: false,
      type: '', // 区分新建和修改
      endTime: '',
      radio: '百分比',
      startTime: '',
      shops: [], // 店铺
      shop_select: '-1',
      good_link: '',
      list_data: [], // 添加商品数据
      used_number_copy: null, // 已下线限制次数不能小于以前
      info: {
        event: '', // 活动名,
        start_time: '', // 开始时间,
        end_time: '', // 结束,
        amount: null, // 返利固定金额  默认0
        percentage: null, // 返利百分比  默认0
        rebate_status: '确认收货', // 返现限制状态, 默认0
        days: 0, // 多少天,默认0
        integral: null, //
        newuser: '', // 是否是新用户专享默认0
        integral_num: null, // 限制多少积分参与,默认0
        num: 1, // 一个号参与几次,默认1
        number: 99999, // 活动总次数99999
        commodity: null, //  商品id   如['1000','1001','1002'] 字符串数组
        used_number: null,
      }, // 存放编辑的数据
    };
  },
  methods: {
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      const start_time = new Date(this.info.start_time).getTime();
      const end_time = new Date(val).getTime();
      if (end_time < start_time) {
        this.showConfirm('结束时间应大于起始时间');
        return;
      }
      if (this.type === 'editOnline') {
        const old_end_time = new Date(this.info.end_time);
        if (old_end_time > end_time) {
          this.showConfirm('结束时间应大于当前结束时间');
          return;
        }
      }
      this.info.end_time = val;
    },
    selectStart(val) {
      const start_time = new Date(val).getTime();
      const end_time = new Date(this.info.end_time).getTime();
      const now_time = new Date().getTime() - 80000;
      if (start_time < now_time) {
        this.showConfirm('起始时间应大于当前时间');
        return;
      }
      if (end_time < start_time) {
        this.showConfirm('结束时间应大于起始时间');
        return;
      }
      this.info.start_time = val;
    },
    back() {
      this.$parent.changeOperate('');
    },
    save() {

    },
    init() {
      this.type = this.$route.query.type;
      if (this.type === 'edit') {
        this.info = JSON.parse(this.$route.query.detailData);
        this.list_data = this.info.listData;
        const shopIdArr = this.info.shop_id.split(',');
        for (let i = 0; i < shopIdArr.length; i += 1) {
          this.$set(this.list_data[i], 'shop_id', shopIdArr[i]);
        }
      } else if (this.type === 'editOnline') {
        this.info = JSON.parse(this.$route.query.detailData);
        this.list_data = this.info.listData;
        const shopIdArr = this.info.shop_id.split(',');
        for (let i = 0; i < shopIdArr.length; i += 1) {
          this.$set(this.list_data[i], 'shop_id', shopIdArr[i]);
        }
        this.readonly = true;
        this.used_number_copy = this.info.used_number;
      } else if (this.type === 'editOffline') {
        this.info = JSON.parse(this.$route.query.detailData);
        this.list_data = this.info.listData;
        const shopIdArr = this.info.shop_id.split(',');
        for (let i = 0; i < shopIdArr.length; i += 1) {
          this.$set(this.list_data[i], 'shop_id', shopIdArr[i]);
        }
        this.readonly = true; // 次数比已知大
        this.used_number_copy = this.info.used_number;
      }
      this.$http(this.$api.evaluateSelectShop)
        .then((res) => {
          if (res.status === 0) {
            this.shops = res.data;
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    handleSaveClick() {
      const listData = this.list_data;
      const arr = [];
      const arr1 = [];
      const arr2 = [];
      listData.forEach((item) => {
        arr.push(item.id);
        arr1.push(item.img);
        arr2.push(item.shop_id);
      });
      const commodity = arr.join(',');
      const img = arr1.join(',');
      const shop_id = arr2.join(',');
      const obj = {
        event: this.info.event, // 活动名,
        start_time: this.info.start_time, // 开始时间,
        end_time: this.info.end_time, // 结束,
        amount: this.info.amount, // 返利固定金额  默认0
        percentage: this.info.percentage, // 返利百分比  默认0
        rebate_status: this.info.rebate_status, // 返现限制状态, 默认0
        days: this.info.days, // 多少天,默认0
        integral: this.info.integral, //
        newuser: this.info.newuser, // 是否是新用户专享默认0
        integral_num: this.info.integral_num, // 限制多少积分参与,默认0
        num: this.info.num, // 一个号参与几次,默认99999
        number: this.info.number, // 活动总次数99999
        commodity, //  商品id   如'1000','1001','1002' 字符串数组
        img,
        shop_id,
      };
      if (!this.info.num) {
        obj.num = 99999;
      }
      if (!this.info.number) {
        obj.number = 99999;
      }
      if (this.radio === '百分比') {
        obj.amount = 0;
      } else {
        obj.percentage = 0;
      }
      if (!this.info.integral) {
        obj.integral = 0;
      }
      const check = () => {
        if (!obj.event) {
          this.showConfirm('请输入活动名称');
          return false;
        } else if (!/.{1,99}/.test(obj.event)) {
          this.showConfirm('活动名称1-99个字符');
          return false;
        }
        if (!obj.start_time) {
          this.showConfirm('请选择活动开始时间');
          return false;
        }
        if (!obj.end_time) {
          this.showConfirm('请选择活动结束时间');
          return false;
        }
        if (this.radio === '百分比') {
          if (!obj.percentage && obj.percentage !== 0) {
            this.showConfirm('请输入返利百分比');
            return false;
          }
          if (!/^([1-9]{1}[0-9]{0,1}|1|100)(\.\d{1,2}){0,1}$/.test(obj.percentage)) {
            this.showConfirm('返利百分比限制为1%-100%');
            return false;
          }
        } else {
          // eslint-disable-next-line no-lonely-if
          if (!obj.amount && obj.amount !== 0) {
            this.showConfirm('请选输入返利金额');
            return false;
          }
          if (!(obj.amount >= 0.3 && obj.amount <= 20000) && !/\d{1,5}(.\d{2})?/.test(obj.amount) && !/\d{1,4}(\.\d{1,2})?/.test(obj.amount)) {
            this.showConfirm('返利金额限制为0.30至20000.00元');
            return false;
          }
        }
        if (!obj.rebate_status) {
          this.showConfirm('请选择返利标准类型');
          return false;
        }
        if (obj.days === '') {
          this.showConfirm('请输入返利标准天数');
          return false;
        } else if (obj.days > 99) {
          this.showConfirm('返利标准天数限制为0-99天');
          return false;
        }
        // 非必填
        // if (!obj.integral) {
        //   this.showConfirm('请输入赠送积分');
        //   return false;
        // }
        if (!this.info.num) {
          this.showConfirm('请输入微信号限制参与次数');
          return false;
        } else if (!/^[1-9]\d{0,4}$/.test(obj.num)) {
          this.showConfirm('微信号参与次数限制1-99999次');
          return false;
        }
        if (!this.info.number) {
          this.showConfirm('请输入活动限制参与次数');
          return false;
        } else if (!/^[1-9]\d{0,4}$/.test(obj.number)) {
          this.showConfirm('活动参与次数限制1-99999次');
          return false;
        }
        if (this.type === 'editOnline') {
          if (obj.number < this.used_number_copy) {
            this.showConfirm('活动参与次数限制大于已参与次数');
            return false;
          }
        }
        if (obj.newuser === '0') {
          if (!obj.integral_num) {
            this.showConfirm('请输入参与所需积分');
            return false;
          } else if (!/\d{1,5}/.test(obj.integral_num)) {
            this.showConfirm('所需积分限制1-99999积分');
            return false;
          }
        }
        if (!obj.commodity) {
          this.showConfirm('请选择商品');
          return false;
        }
        return true;
      };
      if (check()) {
        if (this.type === 'edit') {
          this.$http(this.$api.rebateUpdateEvent, obj)
            .then((res) => {
              if (res.status === 0) {
                this.$router.go(-1);
              } else {
                this.showConfirm(res.msg);
              }
            });
        } else if (this.type === 'editOnline') {
          const submitFn = () => {
            this.$router.go(-1);
          };
          this.$http(this.$api.rebateUpdateEventTime, {
            event_id: this.info.event_id,
            end_time: this.info.end_time,
            number: this.info.number,
          })
            .then((res) => {
              if (res.status === 0) {
                this.showConfirm('保存成功', { submitFn });
              } else {
                this.showConfirm(res.msg);
              }
            });
        } else {
          this.$http(this.$api.rebateAddEvent, obj)
            .then((res) => {
              if (res.status === 0) {
                console.log(res);
              } else {
                this.showConfirm(res.msg);
              }
            });
        }
      }
    },
    handleBackClick() {
      this.$router.go(-1);
    },
    handleAddGood() {
      if (this.shop_select === '-1') {
        this.showConfirm('请选择店铺');
        return;
      }
      if (!this.good_link) {
        this.showConfirm('请输入商品链接');
        return;
      }
      this.$http(this.$api.rebateGetImage, {
        good_url: this.good_link,
        shop_name: `${this.shops[this.shop_select].shop_name}`,
      })
        .then((res) => {
          if (res.status === 0) {
            // eslint-disable-next-line no-param-reassign
            res.data.shop_id = this.shops[this.shop_select].id;
            let tag = true;
            this.list_data.forEach((item) => {
              if (res.data.id === item.id) {
                tag = false;
                this.showConfirm('商品重复添加');
              }
            });
            if (tag) {
              this.list_data.push(res.data);
            }
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    // 活动限制checkbox点击
    handleCheckboxClick($event) {
      const compStyles = window.getComputedStyle($event.srcElement);
      const background = compStyles.getPropertyValue('background-color');
      if (background === 'rgb(2, 173, 159)') {
        // eslint-disable-next-line no-param-reassign
        $event.srcElement.style.background = '#ffffff';
      } else {
        // eslint-disable-next-line no-param-reassign
        $event.srcElement.style.background = 'rgb(2, 173, 159)';
      }
    },
  },
  created() {
    this.init();
  },
};
</script>

