<template>
  <div class="list-scroll">
    <vue-better-scroll
      :style="styleObj"
      class="wrapper"
      ref="scroll"
      :scrollbar="scrollbarObj">
      <div ref="list" class="list-content">
        <div class="title tr">
          <div class="td">商品id</div>
          <div class="td">商品图片</div>
          <div class="td">操作</div>
        </div>
        <div class="item-wrapper tr"
             v-for="(item, index) of data"
             :key="index"
        >
          <div class="td">{{item.id}}</div>
          <div class="td good-img">
            <img :src="item.img" alt="">
          </div>
          <div class="td">
            <span class="delete" v-if="readonly" style="cursor: not-allowed;">删除</span>
            <span class="delete" v-else @click="handleDeleteClick($event, index)">删除</span>
          </div>
        </div>
      </div>
    </vue-better-scroll>
  </div>
</template>

<style lang="less" scoped>
  @import "../../common/mixin";
  .list-scroll{
    position: relative;
    overflow: hidden;
    .list-content{
      display: flex;
      flex-direction: column;
      .title{
        background: #cccccc;
        color: #333333;
      }
      .tr{
        height: 32px;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        .td{
          display: inline-block;
          width: 120px;
          height: 32px;
          .text-center(32px);
          .delete{
            display: inline-block;
            color:rgba(253,141,10,1);
            cursor: pointer;
            text-align: center;
          }
        }
      }
      .item-wrapper{
        line-height: 20px;
        .good-img{
          img{
            width: 40px;
            height: 32px;
          }
        }
        input{
          display: inline-block;
        }
        li{
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
  }
</style>

<script>
export default {
  name: 'Scroll',
  props: {
    data: {
      type: Array,
      default() {
        return [{
          id: '001',
          img: 'http:///',
        }];
      },
    },
    readonly: {
      type: Boolean,
      default() {
        return false;
      },
    },
  },
  data() {
    return {
      // listData: this.data,
      scrollbarObj: {
        fade: false,
      },
    };
  },
  computed: {
    styleObj() {
      if (this.data.length >= 5) {
        return { height: '192px' };
      }
      return {
        height: `${(this.data.length + 1) * 32}px`,
      };
    },
    checkList() {
      const data = this.listData;
      const checkList = [];
      data.forEach((item) => {
        if (item.check) {
          checkList.push(item);
        }
      });
      return checkList;
    },
  },
  methods: {
    checkAll() {
      this.data.forEach((item) => {
        // eslint-disable-next-line no-param-reassign
        item.check = true;
      });
    },
    handleDeleteClick($event, index) {
      this.$parent.list_data.splice(index, 1);
    },
  },
  // created() {
  //   this.$nextTick(() => {
  //     console.log(this.data);
  //   });
  // },
  mounted() {
    this.checkAll();
  },
};
</script>
