<template>
  <div class="count-item">
    <div class="title">
      {{itemData.title}}
    </div>
    <div class="column-title">
      <span v-for="(item, index) of itemData.columnTitle"
            :key="index"
      >{{item}}</span>
    </div>
    <div class="data">
      <div class="data-item"></div>
      <div class="data-item"
           v-for="(item, index) of itemData.data"
           :key="index"
      >
        <span>{{item.no}}</span>
        <span>{{item.number}}</span>
        <span>{{item.company_name}}</span>
      </div>
      <div class="data-item"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CountItem',
  props: ['itemData'],
  data() {
    return {
      // itemData: {
      //   title: '昨日新增粉丝数',
      //   columnTitle: ['序号', '粉丝数', '公司名称'],
      //   data: [
      //     [1, 1897, '深圳天贝物联'],
      //     [1, 1897, '深圳天贝物联'],
      //     [1, 1897, '深圳天贝物联'],
      //     [1, 1897, '深圳天贝物联'],
      //     [1, 1897, '深圳天贝物联'],
      //   ],
      // },
    };
  },
};
</script>

<style lang="less" scoped>
  @import "../../components/common/mixin";
  .count-item{
    overflow: hidden;
    display: inline-block;
    width: 420px;
    height: 330px;
    /*width: 360px;*/
    /*height: 270px;*/
    margin-right: 20px;
    margin-bottom: 20px;
    background: rgba(235, 249, 247);
    .title{
      height: 40px;
      font-size: 18px;
      font-weight: bold;
      color: #333333;
      .text-center(40px);
    }
    .column-title{
      display: flex;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      background: #02AD9F;
      span{
        &:nth-child(1){
          width: 100px;
          text-align: center;
        }
        &:nth-child(2){
          width: 100px;
        }
        &:nth-child(3){
          flex: 1;
        }
      }
    }
    .data{
      display: flex;
      height: 260px;
      flex-direction: column;
      justify-content: start;
      .data-item{
        .column-title;
        height: 37px;
        line-height: 37px;
        background: rgba(235, 249, 247);
      }
    }
  }
</style>
