<template>
  <div class="home">
    <div class="home-header">
      <h5>资源监控</h5>
      <div class="circle-wrapper">
        <el-progress type="circle" :percentage="80" status="text" color="#02AD6B">{{cpu}}fdsa</el-progress>
        <el-progress type="circle" :percentage="80" status="text">{{ram}}</el-progress>
      </div>
      <div class="echart">
        <ve-line :series="series"
                 :yAxis="yAxis"
                 :grid="grid"
                 :xAxis="xAxis"></ve-line>
      </div>
    </div>
    <div class="home-main">
      <count-item :itemData="itemYesterdayUser"></count-item>
      <count-item :itemData="itemYesterdayTransferNumber"></count-item>
      <count-item :itemData="itemYesterdaySales"></count-item>
      <count-item :itemData="itemUser"></count-item>
      <count-item :itemData="itemTransferNumber"></count-item>
      <count-item :itemData="itemSales"></count-item>
    </div>
  </div>
</template>

<script>
import CountItem from './CountItem';
import VeLine from 'v-charts/lib/line.common';

export default {
  name: 'home',
  components: { CountItem, VeLine },
  data() {
    return {
      cpu: '',
      ram: '',
      chartSettings: {
        metrics: ['读取速度', '写入速度'],
        dimension: ['日期'],
      },
      grid: {
        top: 30,
        right: 30,
        left: 30,
        bottom: 30,
      },
      yAxis: [{
        name: '人数',
        type: 'value',
        position: 'left',
        scale: true,
        axisLine: {
          show: true,
        },
      }],
      xAxis: {
        data: ['1', '2', '3'],
        // max: 'dataMax',
      },
      series: [{
        name: '产生的积分值',
        type: 'line',
        data: ['2', '3'],
        smooth: false,
      }, {
        name: '消耗的积分值',
        type: 'line',
        data: ['2', '4'],
        smooth: false,
      }],
      chartData: {
        columns: ['日期', '读取速度', '写入速度'],
        rows: [
          { 日期: 1393, 读取速度: 1093, 写入速度: 0.32 },
          { 日期: 3530, 读取速度: 3230, 写入速度: 0.26 },
          { 日期: 2923, 读取速度: 2623, 写入速度: 0.76 },
        ],
      },
      itemTransferNumber: {
        title: '转账数',
        columnTitle: ['序号', '转账数', '公司名称'],
        data: [],
      },
      itemSales: {
        title: '月销量总数',
        columnTitle: ['序号', '昨日销量', '公司名称'],
        data: [],
      },
      itemUser: {
        title: '粉丝数',
        columnTitle: ['序号', '粉丝数', '公司名称'],
        data: [],
      },
      itemYesterdayTransferNumber: {
        title: '昨日转账数',
        columnTitle: ['序号', '昨日转账数', '公司名称'],
        data: [],
      },
      itemYesterdaySales: {
        title: '昨日销量数',
        columnTitle: ['序号', '昨日销量', '公司名称'],
        data: [],
      },
      itemYesterdayUser: {
        title: '昨日新增粉丝数',
        columnTitle: ['序号', '粉丝数', '公司名称'],
        data: [],
      },
    };
  },
  methods: {
    getList() {
      this.$http(this.$api.platformDataStatistics, {}).then((res) => {
        if (res.status === 0) {
          this.itemSales.data = res.data.sales;
          this.itemTransferNumber.data = res.data.transfer_number;
          this.itemUser.data = res.data.user;
          this.itemYesterdaySales.data = res.data.yesterday_sales;
          this.itemYesterdayTransferNumber.data = res.data.yesterday_transfer;
          this.itemYesterdayUser.data = res.data.yesterday_users;
        } else {
          this.showConfirm(res.msg);
        }
      });
    },
    createSocket() {
      // 暂时写死
      const ws = new WebSocket('ws://cloud3.3.trylong.cn:8081');
      ws.onmessage = function (evt) {
        const data = JSON.parse(evt.data);
        this.cpu = (100 - Number.parseFloat(data.cpu.idle)).toFixed(2);
        console.log(this.cpu);
        this.ram = ((data.mem.total - data.mem.free) / data.mem.total).toFixed(2) * 100;
        console.log('ra', this.ram);
      };
      ws.close();
    },
  },
  created() {
    this.getList();
    this.createSocket();
  },
};
</script>

<style lang="less" scoped>
  .home /deep/ .el-progress--circle{
    display: inline-block;
    float: left;
  }
  .home{
    background: #eeeeee;
    height: 100%;
    .home-header{
      width: 100%;
      height: 240px;
      background: #ffffff;
      padding-left: 40px;
      h5{
        font-size:18px;
        font-weight: bold;
        color: #333333;
      }
      .circle-wrapper{}
      .echart{
        position: relative;
        display: inline-block;
        width: 330px;
        height: 200px;
      }
    }
    .home-main{
      width: 100%;
      padding-left: 57px;
      padding-top: 33px;
      margin-top: 10px;
      background: #ffffff;
    }
  }
</style>
