<template>
    <div class="bind-tel">
        <div class="content">
          <div class="phone-wrapper border-bottom">
            <input type="number"
                   class="phone"
                   placeholder="请输入手机号"
                   v-model="phone"
            >
          </div>
          <div class="verCode-wrapper">
            <div class="input-wrapper border-bottom">
              <input type="text"
                     placeholder="请输入验证码"
                     class="verCode border-bottom"
                     v-model="code"
              >
            </div>
            <button class="getVerCode" @click="handleVerBtnClick($event)">获取验证码</button>
          </div>
          <button class="bindTel-button" @click="handleSumbitClick">确定</button>
        </div>

    </div>
</template>

<script>
import {utils} from '@/lib/utils.js';
import {layer} from '../../lib/utils';

export default {
  name: 'Bindtel',
  data () {
    return {
      code: '',
      phone: '',
      type: '' // 根据type类型做跳转
    }
  },
  methods: {
    handleVerBtnClick (event) {
      if (!this.phone) {
        layer.msg('请输入手机号');
        return;
      } else {
        if (!/^1\d{10}$/.test(this.phone)) {
          layer.msg('请输入正确的手机号');
          return;
        }
      }
      utils.countDown(event.currentTarget, 60);
      this.$http.sendCheckCode({
        phone: this.phone
      })
        .then((res) => {
          if (res.data.status === 0) {
            layer.msg('发送成功');
          } else {
            layer.msg(res.data.msg);
          }
        });
    },
    handleSumbitClick () {
      if (!this.phone) {
        layer.msg('请输入手机号');
        return;
      } else {
        if (!/^1\d{10}$/.test(this.phone)) {
          layer.msg('请输入正确的手机号');
          return;
        }
      }
      if (!this.code) {
        layer.msg('请输入验证码');
        return;
      }
      const p = new Promise((resolve) => {
        this.$http.savePhone({
          phone: this.phone,
          code: this.code
        })
          .then((res) => {
            if (res.data.status === 0) {
              layer.msg('绑定成功');
              resolve();
            } else {
              layer.msg(res.data.msg);
            }
          });
      });
      p.then(() => {
        switch (this.type) {
          case 'comment':
            this.$router.push('/evaluation');
            break;
          case 'order':
            this.$router.push('/orderrebate');
            break;
          default:
            this.$router.push('/personal');
            break;
        }
      });
    }
  },
  created () {
    if (this.$route.query.type) {
      this.type = this.$route.query.type;
    }
  },
  mounted () {

  }
}
</script>

<style lang="less" scoped>
  @import "../../assets/stylesheets/mixin";
  .bind-tel{
    overflow: hidden;
    .content{
      overflow: hidden;
      width: 7.18rem;
      height: 5.08rem;
      margin: .19rem .16rem 0 .16rem;
      .phone-wrapper{
        width: 6.4rem;
        height: .6rem;
        margin-top: .34rem;
        .margin-auto;
        .phone{
          width: 100%;
          height: 100%;
        }
      }
      .verCode-wrapper{
        overflow: hidden;
        width: 6.4rem;
        height: .8rem;
        margin-top: .4rem;
        .margin-auto;
        .input-wrapper{
          float: left;
          overflow: hidden;
          .verCode{
            position: relative;
            top: 0;
            bottom: 0;
            display: block;
            width: 4.3rem;
            height: .6rem;
            margin-top: .2rem;
            font-size: .32rem;
          }
        }
        .getVerCode{
          float: left;
          width: 2.1rem;
          height: .8rem;
          line-height: .8rem;
          /*margin-top: .2rem;*/
          border-radius: .4rem;
          font-size: .32rem;
          text-align: center;
          vertical-align: middle;
          color: #ffffff;
          background: #FF5000;
        }
      }
      .bindTel-button{
        display: block;
        width: 6.2rem;
        height: .9rem;
        line-height: .9rem;
        font-size: .36rem;
        color: #ffffff;
        background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
        border-radius: .6rem;
        margin-top: .63rem;
        text-align: center;
        vertical-align: middle;
        .margin-auto;
      }
    }
  }
</style>
