<template>
    <div class="detail">
      <swiper :swiperDatas="swiperDatas"></swiper>
      <detail-info :detailDatas="detailDatas"></detail-info>
      <detail-desc :detailDatas="detailDatas"></detail-desc>
      <detail-footer :detailDatas="detailDatas"></detail-footer>
      <detail-mask></detail-mask>
      <Dialog :detailDatas="detailDatas"></Dialog>
    </div>
</template>

<script>
import Swiper from '../common/Swiper'
import DetailInfo from '../DetailInfo'
import DetailDesc from '../DetailDesc'
import DetailFooter from '../DetailFooter'
import DetailMask from '../DetailMask'
import {layer} from '../../lib/utils';
import Dialog from '../common/Dialog';

export default {
  name: 'Detail',
  components: {
    Swiper,
    DetailInfo,
    DetailDesc,
    DetailFooter,
    DetailMask,
    Dialog
  },
  data () {
    return {
      swiperDatas: {
        from: 'detail',
        swiperImgs: [
          {
            id: '0001',
            img: '//jdc.jd.com/img/750x540?color=f5d328&text=1&textColor=ffffff'
          }
        ]
      },
      detailDatas: {}
    }
  },
  created () {
    if (this.$route.query.listInfo) {
      this.detailDatas = JSON.parse(this.$route.query.listInfo);
      this.swiperDatas.swiperImgs = [];
      this.detailDatas.goods_img.forEach((item) => {
        const obj = {};
        obj.img = item;
        this.swiperDatas.swiperImgs.push(obj);
      })
    } else if (this.$route.query.id) {
      const id = this.$route.query.id;
      this.$http.mallSingleDetails({ id })
        .then((res) => {
          if (res.data.status === 0) {
            this.detailDatas = res.data.data;
            // this.swiperDatas.swiperImgs = res.data.data.goods_img;
          } else {
            layer.msg(res.data.msg);
          }
        });
    }
  }
}
</script>

<style lang="less" scoped>
  @import "../../assets/stylesheets/mixin";
  .detail /deep/ .swiper-pagination{
    display: inline-block;
    width: .8rem;
    height: .4rem;
    right: 0;
    left: calc(100vw - 1.1rem);
    bottom: .3rem;
    line-height: .4rem;
    background: rgba(153,153,153,0.6);
    border-radius: .2rem;
    color: #ffffff;
    .textCenter;
    .swiper-pagination-current{
      font-size: 0.32rem;;
    }
  }
  .detail /deep/  .process-bar{
    margin-top: .12rem;
  }
  .detail{
  }
</style>
