<template>
    <div class="error"></div>
</template>

<script>
export default {
  name: 'error',
  methods: {
    init () {
      layer.open({
        content: '您已被加入黑名单'
        // ,btn: ['确定']
        ,shadeClose: false
        ,yes: function(index){
          window.location.href="about:blank";
          window.close();
        }
      });
    }
  },
  mounted () {
    this.init();
  }
}
</script>

<style lang="less" scoped>
  .error{
    width: 100vw;
    height: 100vh;
  }
</style>
