<template>
  <div class="evaluation-bg">
    <div class="evaluation">
      <div class="fist-step">
        <div class="wrapper">
          <i class="first">第1步</i>
          <div class="desc">到购物平台点亮满星+10字以上正面评价</div>
        </div>
        <div class="imgs-content">
          <swiper :options="swiperOption" ref="mySwiper">
            <swiper-slide v-for="(item, index) of imgs"
                          :key="index">
              <div class="wrapper">
                <div v-if="showExample" class="img-wrapper first-item">
                  <div class="placeholder-example">示例评价</div>
                  <img :src="example_url"
                       style="width: 100%" alt=""
                       v-gallery="'groupName'"
                  >
                </div>
                <div v-for="(img, index) of item"
                     class="img-wrapper border"
                     :key="index"
                     :class="{clearThirdMargin: index == 2}">
                  <img v-if="img != '1'"
                       :src="img" alt=""
                       v-gallery="'groupName'"
                       class="image"
                  >
                  <div class="select-img">
                    <file-upload
                      ref="upload"
                      v-model="files"
                      v-if="img == 1"
                      class="upload border"
                      post-action="/post.method"
                      put-action="/put.method"
                      :multiple="true"
                      @input-file="inputFile"
                      @input-filter="inputFilter"
                    >
                    </file-upload>
                    <div class="select-placeholder"
                         v-if="img == 1"
                    >
                      <i class="iconfont icon-05"></i>
                      <span>上传图片</span>
                    </div>
                  </div>
                </div>
              </div>
            </swiper-slide>
            <!--<swiper-slide class="test" v-for="(item, index) of imgs">{{item}} &#45;&#45; {{index}}</swiper-slide>-->
            <div class="swiper-pagination"  slot="pagination"></div>
          </swiper>
        </div>
      </div>
      <div class="second-step">
        <div class="wrapper">
          <i class="first">第2步</i>
          <div class="desc">填写订单编号(可在购物平台订单内复制)</div>
        </div>
        <div class="orderInput-wrapper">
          <input type="text" class="order border"
                 placeholder="填写订单号(请勿填写物流号)"
                 v-model="order_id"
          >
        </div>
      </div>
      <!--<button @click="handleTestClick">测试toast</button>-->
      <button class="commit-btn" @click="handleSubmitClick">马上提交</button>
      <p class="protocol">参与本活动代表您默认同意<span>《会员绑定协议》</span></p>
      <!--<div class="imgShown" v-if="isShowImg"></div>-->
      <!--<div class="images">-->
      <!--<img v-for="(item, index) of images" v-gallery="'groupName'" :src="item" :key="index">-->
      <!--</div>-->
      <!--<button type="button" @click="show">Show</button>-->
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import FileUpload from 'vue-upload-component';
import { layer } from '../../lib/utils';
import axios from 'axios';

export default {
  name: 'Evaluation',
  components: {
    FileUpload
  },
  data () {
    return {
      files: [],
      order_id: '', // 订单号
      example_url: '../../assets/images/example.jpg',
      image_url: '', // 上传的图片url
      imgs: [['1']], // 设置初始值1，为上传图片div占位
      swiperOption: {
        pagination: '.swiper-pagination'
      },
      company_id: '', // 路由参数
      event_id: '', // 路由参数
      showExample: true, // 显示示例图片标志位
      isShowImg: true,
      images: [''] // 图片展示数据
    }
  },
  methods: {
    showImg (event) {
      if (event.srcElement.children[0].src) {
        // 打开浏览图像
      }
    },
    handleTestClick () {
      this.$toasts.confirm({
        msg: '提交成功，待审核成功后将发红包给您',
        success: function () {
        }
      });
    },
    /**
     * Has changed
     * @param  Object|undefined   newFile   只读
     * @param  Object|undefined   oldFile   只读
     * @return undefined
     */
    inputFilter (newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        // 过滤不是图片后缀的文件
        if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
          layer.msg('不支持的图片格式');
          return prevent()
        }
      }
    },
    /**
     * Pretreatment
     * @param  Object|undefined   newFile   读写
     * @param  Object|undefined   oldFile   只读
     * @param  Function           prevent   阻止回调
     * @return undefined
     */
    inputFile (newFile, oldFile) {
      if (newFile && !oldFile) {
        let formData = new FormData();
        formData.append('file', newFile.file);
        const config = {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        };
        axios.post('/wechat/comment/image_upload', formData, config)
          .then((res) => {
            if (res.data.status === 0) {
              layer.msg('上传成功');
              this.image_url = `http://${window.location.host}${res.data.data}`;
            } else {
              layer.msg(res.data.msg)
            }
          });
        // 取消base64上传
        var reader = new FileReader();
        reader.readAsDataURL(newFile.file);
        reader.addEventListener('load', () => {
          this.$nextTick(() => {
            this.pushImgs(reader.result);
          })
        }, false);
      }
      if (newFile && oldFile) {
      }
      if (!newFile && oldFile) {
      }
    },
    pushImgs (img) {
      if (this.imgs.length === 0) {
        // this.imgs[0] = [];
        Vue.set(this.imgs, 0, []);
        this.imgs[0].push(img);
      } else {
        const firstLen = this.imgs.length - 1;
        const secondlen = this.imgs[firstLen].length;
        if (secondlen === 3) {
          Vue.set(this.imgs, firstLen + 1, [])
          // this.imgs[firstLen + 1] = [];
          this.imgs[firstLen].pop();
          this.imgs[firstLen].push(img);
          this.imgs[firstLen + 1].push(1)
        } else {
          this.imgs[firstLen].pop();
          this.showExample = true;
          this.imgs[firstLen].push(img, 1);
        }
      }
    },
    handleSubmitClick () {
      if (this.imgs[0].length !== 2) {
        layer.msg('请上传评价图片');
        return;
      }
      if (!this.order_id) {
        layer.msg('请填写订单号');
        return;
      }
      if (!/^\d{18}$/.test(this.order_id)) {
        layer.msg('请填写正确的订单号，并检查是否有空格');
        return;
      }
      this.$http.evaluationSubmit({
        event_id: this.event_id,
        order_id: this.order_id,
        image_url: this.image_url
      })
        .then((res) => {
          if (res.data.status === 0) {
            this.$toasts.confirm({
              msg: '提交成功，待审核成功后将发红包给您'
            });
          } else {
            if (res.data.msg === 'order_id错误') {
              layer.msg('订单号错误');
              return;
            }
            layer.msg(res.data.msg);
          }
        });
    }
  },
  created () {
    if (this.$route.query.company_id) {
      this.company_id = this.$route.query.company_id;
    }
    if (this.$route.query.event_id) {
      this.event_id = this.$route.query.event_id;
    }
    this.$http.evaluationGetEvent({
      company_id: this.company_id,
      event_id: this.event_id
    })
      .then((res) => {
        if (res.data.status === 0) {
          if (res.data.data.sample_graph) {
            this.example_url = res.data.data.sample_graph;
          }
        } else {
          let type = '';
          let startTime = null;
          if (res.data.msg === '未找到该活动') {
            type = 'none1';
          } else if (res.data.msg.indexOf('starttime') >= 0) {
            type = 'start1';
            startTime = res.data.msg.replace(/(starttime:)/, '');
          } else if (res.data.msg === '该活动已结束') {
            type = 'end1';
          }
          if (type) {
            this.$router.push({
              path: '/evaluation/error',
              query: {
                type,
                startTime
              }
            })
          }
        }
      });
  },
}
</script>

<style lang="less" scoped>
  @import "../../assets/stylesheets/mixin";
  .evaluation /deep/ .swiper-pagination-bullets{
    margin-bottom: -.46rem;
  }
  .evaluation /deep/ .cropper-box{
    background-image: none;
    background: #cccccc;
  }
  .evaluation /deep/ .border::before{
    border: 1px dotted #eaeaea;
  }
  .wrapper{ //为清除浮动加一层div
    overflow: hidden;
  }
  .clearThirdMargin{ //为第三张图清除右边距
    margin-right: 0 !important;
  }
  .evaluation-bg{
    /*position: fixed;*/
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .bg-image('shaipingjia');
    .evaluation{
      overflow: hidden;
      width: 6.9rem;
      height: 10.6rem;
      padding-top: .51rem;
      padding-left: .3rem;
      margin-top: 2.3rem;
      margin-bottom: 1rem;
      box-sizing: border-box;
      border-radius: .2rem;
      background: rgba(255, 255, 255, .95);
      .margin-auto;
      .fist-step{
        overflow: hidden;
        width: 6.9rem;
        height: 3.24rem;
        .margin-auto;
        .first{
          float: left;
          .arrow-right;
        }
        .desc{
          float: left;
          width: 5.65rem;
          height: .45rem;
          line-height: .45rem;
          margin-left: .22rem;
          font-size: .24rem;
          color: rgba(51,51,51,1);
        }
        .imgs-content{
          width: 6.3rem;
          height: 2.5rem;
          margin-top: .3rem;
          .margin-auto;
          .img-wrapper{
            float: left;
            width: 2rem;
            height: 2.5rem;
            line-height: 2.5rem;
            font-size: .24rem;
            color:rgba(153,153,153,1);
            background: white;
            .select-img{
              .upload{
                width: 100%;
                height: 2.5rem;
              }
              .select-placeholder{
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                i, span{
                  display: inline-block;
                  line-height: .4rem;
                  align-self: center;
                }
              }
            }
          }
          .img-wrapper{
            overflow: hidden;
            width: 2rem;
            height: 2.5rem;
            margin-right: .14rem;
            .image{
              height: 100%;
              max-width: 100%;
            }
          }
          .first-item{
            /*width: 100%;*/
            /*height: 100%;*/
            overflow: hidden;
            border-radius: .1rem;
            .placeholder-example{
              position: absolute;
              bottom: 0;
              left: 0;
              width: 2rem;
              height: .46rem;
              line-height: .46rem;
              font-size: .24rem;
              color: #ffffff;
              background:rgba(153,153,153,.9);
              border-radius: 0 0 .1rem .1rem;
              .textCenter;
            }
          }
        }
      }
      .second-step{
        overflow: hidden;
        width: 6.9rem;
        height: 2.68rem;
        .margin-auto;
        .wrapper{
          overflow: hidden;
          margin-top: .87rem;
          .first{
            float: left;
            .arrow-right;
          }
          .desc{
            float: left;
            width: 5.65rem;
            height: .45rem;
            line-height: .45rem;
            margin-left: .22rem;
            font-size: .24rem;
            font-family:PingFang-SC-Regular;
            font-weight:400;
            color:rgba(51,51,51,1);
          }
        }
        .orderInput-wrapper{
          width: 6.3rem;
          height: 1rem;
          margin-top: 0.3rem;
          .order{
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding: .28rem .53rem;
            border: 1px solid #cccccc;
          }
        }
      }
      .commit-btn{
        display: block;
        width: 6.3rem;
        height: 1rem;
        margin-top: .6rem;
        border-radius: .5rem;
        /*margin-top: calc(100vh - 9.81rem); // 2.26rem*/
        font-size: .32rem;
        color: #ffffff;
        background:linear-gradient(90deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);

      }
      .protocol{
        display: inline-block;
        width: 100%;
        height: .33rem;
        line-height: .33rem;
        text-align: center;
        margin-top: .2rem;
        font-size: .24rem;
        font-family:PingFang-SC-Regular;
        font-weight:400;
        color:rgba(153,153,153,1);
        span{
          color:rgba(255,80,0,1);
        }
      }
      .bottom{
        display: flex;
        justify-content: center;
        width: 6.3rem;
        height: 1rem;
        font-size: .36rem;
        font-weight: 500;
        color: rgba(255,80,0,1);
        line-height: 1rem;
        margin-top: .87rem;
        i{
          font-size: .36rem;
          margin-right: .1rem;
        }
      }
      .images{
        z-index: 100;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .image{
          width: 100%;
        }
      }
    }
  }
</style>
