<template>
  <div class="home">
    <vue-better-scroll
      style="height: calc(100vh - .98rem); overflow: hidden"
      class="wrapper"
      ref="scroll"
      :scrollbar="scrollbarObj"
      :pullDownRefresh="pullDownRefreshObj"
      :pullUpLoad="pullUpLoadObj"
      :startY="parseInt(startY)"
      @pullingDown="onPullingDown"
      @pullingUp="onPullingUp">
      <div class="home" ref="home">
        <!--<div class="wrapper">-->
        <home-swiper :swiperDatas="swiperDatas">
          <router-link tag="div" to="/myrebate" class="myRebate" slot="myRebate">
            <i class="group"></i>
            <div class="text">我的返利</div>
          </router-link>
        </home-swiper>
        <home-goods :homeGoodsData="homeGoodsData"></home-goods>
        <home-dialog></home-dialog>
        <!--</div>-->
      </div>
    </vue-better-scroll>
    <ul class="home-bottom border-top">
      <li class="bottom-function">
        <div class="icon-wrapper"></div>
      </li>
      <router-link tag="li" to="points" class="bottom-function">
        <div class="icon-wrapper"></div>
        <span>积分商城</span>
      </router-link>
      <router-link tag="li" to="/personal" class="bottom-function">
        <div class="icon-wrapper"></div>
        <span>我的</span>
      </router-link>
    </ul>
  </div>
</template>

<script>
import HomeSwiper from '../common/Swiper'
import HomeGoods from '../Goods'
import HomeDialog from '../common/Dialog'
import VueBetterScroll from 'vue2-better-scroll'
import {layer} from '../../lib/utils';
// import BScroll from 'better-scroll'
export default {
  name: 'Home',
  components: {
    HomeSwiper,
    HomeGoods,
    HomeDialog,
    VueBetterScroll
  },
  data () {
    return {
      swiperDatas: {
        from: 'home',
        swiperImgs: []
      },
      homeGoodsData: [],
      // 这个配置可以开启滚动条，默认为 false。当设置为 true 或者是一个 Object 的时候，都会开启滚动条，默认是会 fade 的
      scrollbarObj: {
        fade: true
      },
      // 这个配置用于做下拉刷新功能，默认为 false。当设置为 true 或者是一个 Object 的时候，可以开启下拉刷新，可以配置顶部下拉的距离（threshold） 来决定刷新时机以及回弹停留的距离（stop）
      pullDownRefreshObj: {
        threshold: 90,
        stop: 40
      },
      // 这个配置用于做上拉加载功能，默认为 false。当设置为 true 或者是一个 Object 的时候，可以开启上拉加载，可以配置离底部距离阈值（threshold）来决定开始加载的时机
      pullUpLoadObj: {
        threshold: 0,
        txt: {
          more: '加载更多',
          noMore: '没有多余商品'
        }
      },
      startY: 0,
      scrollToX: 0,
      scrollToY: 0,
      scrollToTime: 700,
      items: [],
      count: 0, // 请求次数
      tag: false // true为刷新，清空数据
    }
  },
  methods: {
    init () {
      this.$http.mallGetCarousel()
        .then((res) => {
          if (res.data.status === 0) {
            const data = res.data.data;
            this.swiperDatas.swiperImgs = data.pic;
            this.swiperDatas.time = data.time;
          } else {
            layer.msg(res.data.msg);
          }
        });
      this.getList();
    },
    getList (postObj) {
      const post = postObj || {start: 0, length: 5};
      return new Promise((resolve, reject) => {
        this.$http.mallSelect(post)
          .then((res) => {
            if (res.data.status === 0) {
              if (res.data.data.length !== 0) {
                if (this.tag) {
                  this.homeGoodsData = [];
                }
                const data = res.data.data;
                data.forEach((item) => {
                  item.remain = item.total - item.Participate_number;
                  this.homeGoodsData.push(item);
                });
                resolve(res);
              } else if (res.data.data.length === 0) {
                reject(new Error());
              }
            } else {
              layer.msg(res.data.msg);
            }
          });
      })
    },
    // 滚动到页面顶部
    scrollTo () {
      this.$refs.scroll.scrollTo(this.scrollToX, this.scrollToY, this.scrollToTime)
    },
    // 模拟数据请求
    onPullingDown () {
      this.tag = true;
      this.count = 0;
      this.getList().then(() => {
        this.$refs.scroll.forceUpdate(true);
      })
    },
    onPullingUp () {
      this.tag = false;
      this.count += 1;
      const post = {
        start: 5 * (this.count),
        length: 5
      }
      this.getList(post).then(()=> {
        this.$refs.scroll.forceUpdate(true)
      }).catch(() => {
        this.$refs.scroll.forceUpdate(false);
      })
    }
  },
  created () {
    this.init();
  },
  mounted () {
    this.onPullingDown();
  }
}
</script>

<style lang="less" scoped>
  @import "../../assets/stylesheets/mixin";
  .home /deep/ .swiper-container{
    width: 7.5rem;
    height: 3.05rem;
  }
  .home{
    overflow: hidden;
    min-height: calc(100vh - .98rem);
  }
  .wrapper{
     width: 100%;
     .myRebate{
       z-index: 200;
       position: absolute;
       right: 0;
       bottom: .29rem;
       width: 1.79rem;
       height: .66rem;
       /*line-height: .66rem;*/
       vertical-align: middle;
       background:linear-gradient(84deg,rgba(253,234,98,1) 0%,rgba(250,209,51,1) 100%);
       box-shadow:0 .02rem .04rem 0px rgba(179,179,179,0.5);
       border-radius:1rem 0 0 1rem;
       .group{
         display: block;
         width: .28rem;
         height: .25rem;
         margin: .23rem 0 .18rem .22rem;
         .bg-image('Group3');
       }
       .text{
         position: absolute;
         top: .19rem;
         left: .61rem;
         height: .33rem;
         font-size: .24rem;
         font-family:PingFang-SC-Regular;
         font-weight:400;
         color:rgba(154,105,1,1);
       }
     }
   }
  .home-bottom{
    z-index: 999;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .98rem;
    line-height: .4rem;
    background: #ffffff;
    .bottom-function{
      width: 33.33%;
      height: .98rem;
      color: rgba(153,153,153,1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:nth-child(1){
        .icon-wrapper{
          .bg-image('fanli');
          width: .7rem;
          height: .7rem;
        }
      }
      &:nth-child(2){
        .icon-wrapper{
          .bg-image('jifen1');
        }
      }
      &:nth-child(3){
        .icon-wrapper{
          .bg-image('wod1');
        }
      }
      .icon-wrapper{
        width: .4rem;
        height: .4rem;
      }
    }
  }
</style>
