<template>
  <div class="myrebate">
    <!--<header  class="Header">-->
      <!--<div class="nav">-->
        <!--<div :class="{active: isActivited}" @click="handleTurnoverClick" class="header-left tap">返利流水</div>-->
        <!--<div :class="{active: !isActivited}" @click="handleStateClick" class="header-right tap">返利状态</div>-->
      <!--</div>-->
      <!--<div v-if="!isShowStream" class="tap-wrapper">-->
        <!--<ul class="tap-items">-->
          <!--<div class="tap-item"-->
               <!--v-for="(item, index) of tapDatas"-->
               <!--:key="item.index"-->
               <!--:class="{active:tapIndexActivited == item.index}"-->
               <!--@click="handleTapChangeClick(index)">{{item.text}}</div>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</header>-->
    <!--<order></order>-->
    <div class="tap-wrapper">
      <ul class="tap-items">
        <div class="tap-item"
             v-for="(item, index) of tapDatas"
             :key="item.index"
             :class="{active:tapIndexActivited == item.index}"
             @click="handleTapChangeClick(index)">{{item.text}}
        </div>
      </ul>
    </div>
    <rebate-condition v-if="tapIndexActivited === 0"></rebate-condition>
    <rebate-stream v-else-if="tapIndexActivited === 1"></rebate-stream>
    <rebate-evaluate v-else-if="tapIndexActivited === 2">></rebate-evaluate>
  </div>
</template>

<script>
import RebateStream from '../RebateStream'
import RebateCondition from '../RebateCondition'
import RebateEvaluate from '../RebateEvaluate'
import OrderList from '../common/OrderList'
import {layer} from '../../lib/utils';

export default {
  name: 'Myrebate',
  components: {
    RebateStream,
    OrderList,
    RebateCondition,
    RebateEvaluate
  },
  data () {
    return {
      isShowStream: false, // 返利流水和返利状态dom切换
      isActivited: true, // 返利流水和返利状态点击状态切换
      tapIndexActivited: 0, // 3中状态切换
      tapDatas: [
        {index: 0, text: '返利商城'},
        {index: 1, text: '订单返利'},
        {index: 2, text: '晒评价'}
      ]
    }
  },
  methods: {
    // 返利流水选项点击
    // handleTurnoverClick () {
    //   this.isActivited = true;
    //   this.isShowStream = true;
    // },
    // handleStateClick () {
    //   this.isActivited = false;
    //   this.isShowStream = false;
    // },
    handleTapChangeClick (index) {
      this.tapIndexActivited = index;
      // let status;
      // switch (index) {
      //   case 0:
      //     status = '';
      //     break;
      //   case 1:
      //     status = 1;
      //     break;
      //   case 2:
      //     status = 4;
      //     break;
      //   case 3:
      //     status = 3;
      //     break;
      //   default:
      //     break;
      // }
      // const obj = {
      //   start: 0,
      //   length: 5,
      //   status
      // }
      // this.getList(obj);
    }
  },
  created () {
    // this.getList();
  },
  mounted () {
    if (this.$route.query.from) {
      if (this.$route.query.from === 'detail') {
        this.isShowStream = false;
      }
    }
  }
}
</script>

<style lang="less" scoped>
  .myrebate{
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    .tap-wrapper{
      height: 1rem;
      background: #ffffff;
      .tap-items{
        height: 1rem;
        .tap-item{
          float: left;
          width: 33.33%;
          height: 1rem;
          line-height: 1rem;
          font-size: .32rem;
          font-weight:500;
          color: #999999;
          text-align: center;
          vertical-align: middle;
        }
        .active{
          position: relative;
          color: #FE1E1E;
          &:after{
            content: '';
            display: block;
            position: absolute;
            height: .08rem;
            width: .6rem;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            border-radius: .04rem;
            background: #FE1E1E;
          }
        }
      }
    }
    .nav{
      height: 1rem;
      .tap{
        float: left;
        width: 50%;
        height: 100%;
        line-height: 1rem;
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;
        font-size: .32rem;
      }
      .active{
        color: #FE1E1E;
        transition: all 2s;
        &:after{
          position: relative;
          content: '';
          display: block;
          width: .8rem;
          height: .08rem;
          background: #FE1E1E;
          left: 50%;
          top: -.08rem;
          margin-left: -.4rem;
        }
      }
    }
  }
</style>
