<template>
    <div class="order-rebate">
      <swiper :swiperDatas="swiperDatas"></swiper>
      <div class="content">
        <div class="order-wrapper border">
          <input v-model="order_id" type="text" placeholder="请输入订单购物编号" class="order-number">
        </div>
        <button class="commit" @click="handleSubmitClick">马上提交</button>
        <p class="protocol">参与本活动代表您默认同意<span>《会员绑定协议》</span></p>
        <router-link tag="li" to="/myrebate" class="bottom">
            <i class="icon-fanli"></i>
            <span>我的返利</span>
        </router-link>
      </div>
    </div>
</template>

<script>
import {layer} from '../../lib/utils';
import swiper from '../common/Swiper';

export default {
  name: 'OrderRebate',
  components: { swiper },
  data () {
    return {
      company_id: '',
      event_id: '',
      order_id: '',
      swiperDatas: {
        from: 'orderrebate',
        time: 3,
        swiperImgs: [
          { img: '' }
        ]
      }
    }
  },
  methods: {
    handleSubmitClick () {
      if (!this.order_id) {
        layer.msg('请输入订单购物编号');
        return;
      }
      if (!/^\d{18}$/.test(this.order_id)) {
        layer.msg('请输入18位订单购物编号');
        return;
      }
      this.$http.orderSubmit({
        event_id: this.event_id,
        order_id: this.order_id
      })
        .then((res) => {
          if (res.data.status === 0) {
            this.$toasts.confirm({
              msg: '提交成功，待审核成功后将发红包给您',
              success: function () {
              }
            });
          } else {
            layer.msg(res.data.msg);
          }
        });
    }
  },
  created () {
    if (this.$route.query.company_id) {
      this.company_id = this.$route.query.company_id;
    }
    if (this.$route.query.event_id) {
      this.event_id = this.$route.query.event_id;
    }
    this.$http.orderGetEvent({
      company_id: this.company_id,
      event_id: this.event_id
    })
      .then((res) => {
        if (res.data.status === 0) {
          const swiperImgs = res.data.data.img.split(',');
          this.swiperDatas.swiperImgs = [];
          swiperImgs.forEach((item) => {
            const obj = {};
            obj.img = item;
            this.swiperDatas.swiperImgs.push(obj);
          })
        } else {
          let type = '';
          let startTime = null;
          if (res.data.msg === '未找到该活动') {
            type = 'none2';
          } else if (res.data.msg.indexOf('starttime') >= 0) {
            type = 'start2';
            startTime = res.data.msg.replace(/(starttime:)/, '');
          } else if (res.data.msg === '该活动已结束') {
            type = 'end2';
          } else if (res.data.msg === '该活动参与次数已满') {
            type = 'end2';
          }
          if (type) {
            this.$router.push({
              path: '/evaluation/error',
              query: {
                type,
                startTime
              }
            })
          }
        }
      });
  }
}
</script>

<style lang="less" scoped>
  @import "../../assets/stylesheets/mixin";
  .order-rebate /deep/ .swiper{
    overflow: hidden;
    width: 6.9rem;
    height: 2.6rem;
    margin-top: .5rem;
    border-radius: .1rem;
    .margin-auto;
  }
  .order-rebate /deep/ img{
    width: 100%;
    height: auto;
    margin-top: .5rem;
    border-radius: .1rem;
    .margin-auto;
  }
  .order-rebate /deep/ .swiper-img{
    border-radius: .1rem;
  }
  .order-rebate /deep/ .swiper-pagination{
    z-index: 100;
    position: absolute;
    top: 3rem;
    left: 0;
  }
  .order-rebate{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    .bg-image('dingdanfanli');
    .content{
      position: absolute;
      left: .3rem;
      bottom: .6rem;
      width: 6.9rem;
      height: 7.5rem;
      padding: 1rem .3rem;
      box-sizing: border-box;
      border-radius: .1rem;
      background: rgba(255, 255, 255, .85);
      .order-wrapper{
        width: 100%;
        height: 1rem;
        .order-number{
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding: .27rem .3rem;
          font-size: .32rem;
        }
      }
      .commit{
        display: block;
        width: 6.3rem;
        height: .9rem;
        line-height: .9rem;
        background:linear-gradient(90deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
        border-radius: .5rem;
        margin-top: .6rem;
        margin-right: auto;
        margin-left: auto;
        font-family:PingFang-SC-Regular;
        font-size: .32rem;
        color: #ffffff;
        text-align: center;
        vertical-align: middle;
      }
      .protocol{
        display: inline-block;
        width: 100%;
        height: .33rem;
        line-height: .33rem;
        text-align: center;
        margin-top: .2rem;
        font-size: .24rem;
        font-family:PingFang-SC-Regular;
        font-weight:400;
        color:rgba(153,153,153,1);
        span{
          color:rgba(255,80,0,1);
        }
      }
      .bottom{
        display: flex;
        justify-content: center;
        margin-top: 2.6rem;
        .icon-fanli{
          width: .4rem;
          height: .4rem;
          .bg-image('wodfanli1');
          margin-right: .1rem;
        }
        span{
          font-size: .36rem;
          line-height: .4rem;
          font-weight: 500;
          color:rgba(255,80,0,1);
        }
      }
    }
  }
  .border{
    &:before, &:after{
      pointer-events: none;
      border-color: rgba(153,153,153,1);
    }
  }
</style>
