<template>
    <div class="personal">
      <personal-home v-if="isShowHome"></personal-home>
      <personal-integral v-else></personal-integral>
    </div>
</template>

<script>
import PersonalHome from '../PersonalHome'
import PersonalIntegral from '../PersonalIntegral'
export default {
  name: 'Personal',
  components: {
    PersonalHome,
    PersonalIntegral
  },
  data () {
    return {
      isShowHome: true
    }
  },
  methods: {
    changeOpera (tag) {
      if (tag) {
        this.isShowHome = true;
        return;
      }
      this.isShowHome = false;
    }
  }
}
</script>

<style lang="less" scoped>

</style>
