<template>
  <div class="wrapper">
    <ul @mousewheel="scroll">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</template>

<script>
export default {
  methods: {
    scroll ($event) {
    }
  }
}
</script>

<style lang="less" scoped>
  @import "../../assets/stylesheets/mixin";
  .wrapper{
    height: 450px;
    width: 250px;
    overflow: auto;
    ul{
      background: #c2c2c2;
      li{
        height: 40px;
      }
    }
  }
</style>
