.textCenter{
  text-align: center;
  vertical-align: middle;
}

.centerBox{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.margin-auto{
  margin-left: auto;
  margin-right: auto;
}
.arrow-right{
  display: block;
  position: relative;
  width: .88rem;
  height: .46rem;
  line-height:.46rem;
  text-align: center;
  vertical-align: middle;
  background:linear-gradient(270deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
  font-size:.24rem;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
  &:after{
    content: '';
    position: absolute;
    float: right;
    width: 0;
    height: 0;
    right: -.12rem;
    /*background: black;*/
    border-left: .12rem solid rgba(255, 135, 0, 1);
    border-top: .23rem solid transparent;
    border-bottom: .23rem solid transparent;
  }
}
.bg-image(@url) {
  @media (-webkit-min-device-pixel-ratio: 1),(min-device-pixel-ratio: 1){
    background-image: url('../images/@{url}.png');
    background-size: 100% 100%;
  }
  @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
    background-image: url('../images/@{url}@2x.png');
    background-size: 100% 100%;
  }
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    background-image: url('../images/@{url}@3x.png');
    background-size: 100% 100%;
  }
}
// 暂无数据显示样式
.no_datas{
  background: #ffffff;
  line-height: 1rem;
  text-align: center;
  color: #999999;
}
