<template>
    <div class="help">
      <div class="title">产品帮助中心</div>
      <div class="main">
        <div class="header">
          <!--<span @click="handleSuggestionClick" :class="{'active': checkType === 'suggestion'}" class="suggestion btn">意见反馈</span>-->
          <span @click="handleQuestionClick"
                :class="{'active': checkType === 'question'}"
                class="question btn"
          >
            产品问答
          </span>
          <i class="iconfont icon-delete" @click="handleBackClick"></i>
        </div>
        <textarea v-if="checkType === 'suggestion'" class="text"></textarea>
        <div v-if="checkType === 'suggestion'" class="commit-btn">提交</div>
        <div v-if="checkType === 'question'" class="question-wrapper">
          <!--<input type="text" class="search" placeholder="请输入你要查询的关键词">-->
          <!--<div class="search-btn"-->
               <!--@click="handleSearchClick"-->
          <!--&gt;-->
            <!--查询-->
          <!--</div>-->
          <ul>
            <li v-for="(item, index) of helpMessage"
                :key="index"
            >
              <span class="que-letter">问</span>：{{item.question}}<br>
              <span class="ans-letter">答</span>：{{item.answer}}
            </li>
          </ul>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'help',
  data() {
    return {
      checkType: 'question',
      helpMessage: [{
        question: '返利操作需要先开通“企业付款到用户”的功能吗？',
        answer: '亲，是的，目前艾客调用还是微信支付的接口进行转账的，这一块将需微信支付有“企业付款到用户”功能，才能实现微信操作返现，若你的微信支付是刚开通的话，则根据央行的新规定：新接入的商户，接入时间不足90日，支付机构不可以开通T+0相关的业务功能，企业红包和企业付款都是T+0的，所以接入不足90日的话，则无法使用。',
      }, {
        question: '关于微信支付红包是否需要扣除0.6%的手续费？',
        answer: '亲，在电商平台发红包是暂时不需要扣去手续费的，手续费是建立在微信上有交易关系发生的时候，才需要扣除相关的费用，发红包是商户的单方面行为，不属于交易关系。',
      }, {
        question: '出现返利失败提示原因为“发放失败，此请求可能存在风险，已被微信拦截该如何解决？',
        answer: '亲，出现这种问题的解决方案是：1.粉丝存在没绑定银行卡的情况，先让粉丝绑定银行卡，商家这边再点击重返按钮；2.微信支付商户平台的防刷等级设置太高了，建议将微信支付商户平台的防刷等级设置为0级，操作路径为微信支付商户平台——账户中心——API安全——防刷等级。',
      }, {
        question: '晒评价的链接如何获取？',
        answer: '亲，晒评价的链接可以在电商平台——返利策略——晒评价——活动列表，查找到该链接。',
      }, {
        question: '订单返利的链接如何获取？',
        answer: '亲，订单返利的链接可以在电商平台——返利策略——订单返利——活动列表，查找到该链接。',
      }, {
        question: '返利商城的链接如何获取？',
        answer: '亲，返利商城的链接可以在电商平台——返利商城——活动列表，查找到该链接。',
      }, {
        question: '返利活动自动下线后，会不会影响粉丝返利？',
        answer: '亲，返利活动下线之后，粉丝的返利不会受影响。',
      }, {
        question: '为什么已上线的活动不能删除了？',
        answer: '亲，已上线的活动如果还没有用户参与，是可以编辑和删除的；如果已经有用户参与，该活动将只能延长结束时间和修改活动次数（活动次数大于已参与用户数），不能进行删除操作。',
      }],
    };
  },
  methods: {
    handleSuggestionClick() {
      this.checkType = 'suggestion';
    },
    handleQuestionClick() {
      this.checkType = 'question';
    },
    handleBackClick() {
      this.$router.go(-1);
    },
    handleSearchClick() {},
  },
};
</script>

<style lang="less" scoped>
  .icon-delete{
    position: absolute;
    right: 30px;
    font-size: 24px;
    cursor: pointer;
  }
  .que-letter{
    color: #DC5F4D;
  }
  .ans-letter{
    color: #02AD9F;
  }
  .help{
    padding-left: 56px;
    padding-right: 60px;
    .title{
      height: 57px;
      margin-top: 5px;
      font-size:18px;
      font-family:MicrosoftYaHei-Bold;
      font-weight:bold;
      color:rgba(51,51,51,1);
    }
    .main{
      position: relative;
      padding-left: 40px;
      background:rgba(255,255,255,1);
      padding-bottom: 40px;
      border:1px solid rgba(221,221,221,1);
      .header{
        height: 96px;
        line-height: 96px;
        vertical-align: middle;
        .btn{
          display: inline-block;
          width: 120px;
          height: 36px;
          line-height: 36px;
          font-size:16px;
          font-family:MicrosoftYaHei-Bold;
          font-weight:bold;
          border:1px solid rgba(153,153,153,1);
          border-radius:18px;
          text-align: center;
          cursor: pointer;
        }
        .question{
          margin-left: 20px;
        }
        .active{
          background:rgba(2,173,159,1);
          color: #ffffff;
        }
      }
      .text{
        height: 422px;
        margin-right: 226px;
        border:1px solid rgba(221,221,221,1);
      }
      .commit-btn{
        width:100px;
        height:36px;
        line-height: 36px;
        margin-top: 47px;
        font-size:14px;
        font-family:MicrosoftYaHei-Bold;
        font-weight:bold;
        color: #ffffff;
        background:rgba(2,173,159,1);
        border-radius:6px;
        text-align: center;
        vertical-align: middle;
      }
      .question-wrapper{
        .search{
          float: left;
          width: 413px;
          height: 36px;
          border: 1px solid #dddddd;
          padding-left: 10px;
        }
        .search-btn{
          display: inline-block;
          width:100px;
          height:36px;
          line-height: 36px;
          margin-left: 13px;
          background:rgba(2,173,159,1);
          border-radius:6px;
          font-size:16px;
          font-family:MicrosoftYaHei-Bold;
          font-weight:bold;
          color:rgba(255,255,255,1);
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
        }
        ul{
          width: 800px;
          li{
            margin-top: 35px;
            font-size:16px;
            font-family:MicrosoftYaHei;
            font-weight:400;
            line-height:26px;
          }
        }
      }
    }
  }
</style>
