<template>
  <modal name="notice-modal"
         :width="700"
         :height="420">
    <div class="header">
      <span>服务消息</span>
      <i class="iconfont icon-delete" @click="close"></i>
    </div>
    <div class="modal-content">
      <div class="main-left">
        <ul>
          <li v-for="(item, i) of messageData"
              :key="i"
              :class="{'active': index === i }"
              @click="handleItemClick($event, i)"
          >{{item.type}}</li>
        </ul>
      </div>
      <div class="main-right">
        <div class="title">{{message.type}}</div>
        <div class="message">
          {{message.msg}}
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
export default {
  name: 'noticeModal',
  data() {
    return {
      message: [],
      index: 0,
      messageData: [],
    };
  },
  methods: {
    show(data, index) {
      const dataCopy = data || [{ type: '', msg: '' }];
      const indexCopy = index || 0;
      this.messageData = dataCopy;
      this.index = indexCopy;
      this.message = dataCopy[indexCopy];
      this.$modal.show('notice-modal');
    },
    close() {
      this.$modal.hide('notice-modal');
    },
    // 点击消息列表
    handleItemClick($event, index) {
      this.message = this.messageData[index];
      this.index = index;
    },
  },
};
</script>

<style lang="less" scoped>
  .header{
    padding-left: 10px;
    height:50px;
    background:rgba(211,211,211,1);
    span{
      font-size:18px;
      font-weight:bold;
      color:rgba(51,51,51,1);
    }
    .icon-delete{
      position: absolute;
      right: 30px;
      font-size: 24px;
      cursor: pointer;
    }
  }
  .modal-content{
    display: flex;
    width: 100%;
    height: 455px;
    .main-left{
      overflow: auto;
      width: 150px;
      height: 100%;
      background:rgba(246,246,246,1);
      ul{
        li{
          width: 100%;
          height: 32px;
          line-height: 22px;
          box-sizing: border-box;
          padding: 5px;
          text-align: center;
          cursor: pointer;
          /*&:hover{*/
            /*color: #ffffff;*/
            /*background: #02AD9F;*/
          /*}*/
        }
        .active{
          color: #ffffff;
          background: #02AD9F;
        }
      }
    }
    .main-right{
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0 18px;
      .title{
        border-bottom: 1px solid #DDDDDD;
      }
      .message{
        flex: 1;
      }
    }
  }
</style>
