<template>
  <div>
    <transition
      name="fade"
      enter-active-class="animated fadeInDown"
      leave-active-class="animated fadeOutUp"
    >
      <div class="notice">
        <ul>
          <li v-for="(item, index) of messageData"
              @click.prevent="showDialog($event, index)"
              :key="index"
          >{{item.type}}</li>
        </ul>
      </div>
    </transition>
    <notice-modal></notice-modal>
  </div>
</template>

<script>
import NoticeModal from './noticeModal';

export default {
  name: 'notice',
  components: { NoticeModal },
  props: ['messageData'],
  data() {
    return {};
  },
  methods: {
    init() {
      const power = this.getCookie('power');
      if (power  === 'company') {
        this.$http(this.$api.messageGetMessage, {})
          .then((res) => {
            if (res.status === 0) {
              this.messageData = res.data;
            } else {
              this.showConfirm(res.msg);
            }
          });
      }
    },
    showDialog($event, index) {
      this.$children[0].show(this.messageData, index);
    },
  },
  created() {
    // this.init();
  },
};
</script>

<style lang="less" scoped>
  .notice{
    overflow: auto;
    position: absolute;
    top: 50px;
    left: 40%;
    width: 155px;
    height: 180px;
    transform: translateX(-50%);
    color: #333333;
    background: #EBF9F7;
    border-bottom: 1px solid #dddddd;
    li{
      width: 100%;
      height: 32px;
      line-height: 22px;
      box-sizing: border-box;
      padding: 5px;
      text-align: center;
      cursor: pointer;
      &:hover{
        color: #ffffff;
        background: #02AD9F;
      }
    }
  }
</style>
