<template>
  <div class="config">
    <div class="config-info">
      <div class="title">商城配置</div>
      <div class="uploadImg-wrapper">商城首页顶部图片
        <file-upload
          class="img-btn"
          ref="upload"
          v-model="files"
          :multiple="true"
          @input-file="inputFile"
          @input-filter="inputFilter"
        >
          上传图片
        </file-upload>
      </div>
      <div class="activity-item"
        v-for="(item, index) in config.pic"
        :key="index"
      >
      <div class="img-wrapper"><img :src="item.img" alt=""></div>
      <input v-model="item.url" placeholder="请复制活动链接到此处" type="text">
      <div class="del-btn" @click="handleDelectClick($event, index)"></div>
      </div>
      <div class="save-btn" @click="handleSaveClick">保存</div>
    </div>
  </div>
</template>
<style lang="less" scoped>
  @import "../common/mixin";
  .config{
    overflow: hidden;
    background: rgb(246, 246, 246);
    height: 100%;
    .config-info{
      margin-top: 10px;
      padding-top: 40px;
      padding-left: 70px;
      background: #ffffff;
      .title{
        margin-bottom: 30px;
        font-size:16px;
        font-family:MicrosoftYaHei-Bold;
        font-weight: bold;
        color:rgba(51,51,51,1);
      }
      .uploadImg-wrapper{
        .img-btn{
          display: inline-block;
          width: 100px;
          height: 36px;
          margin-left: 20px;
          border: 1px solid rgba(2,173,159,1);
          border-radius: 6px;
          font-size: 16px;
          color:rgba(2,173,159,1);
          .text-center(36px);
        }
      }
      .activity-item{
        width:460px;
        height:100px;
        box-sizing: border-box;
        margin-top: 16px;
        padding: 15px 19px;
        background:rgba(246,246,246,1);
        .img-wrapper{
          float: left;
          display: inline-block;
          width: 87px;
          height: 70px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        input{
          width:280px;
          height:32px;
          margin: 19px 0 19px 17px;
          padding-left: 12px;
          border:1px solid rgba(221,221,221,1);
        }
        .del-btn{
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-left: 10px;
          margin-top: 5px;
          background: url("../../assets/delete.png");
        }
      }
      .save-btn{
        width:100px;
        height:36px;
        margin-top: 70px;
        line-height:36px;
        background:rgba(2,173,159,1);
        border-radius:6px;
        font-size:16px;
        color: #ffffff;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }
</style>
<script>
import tips from '../common/tips';
import axios from 'axios';

export default {
  mixins: [tips],
  data() {
    return {
      imgUrlList: [], // 存放图片url
      formData: new FormData(), // 存放图片
      files: [],
      config: {
        credits: 0,
        time: 3,
        pic: [{
          url: '',
        }],
      },
    };
  },
  components: {},
  methods: {
    /**
     * 请求商城配置数据，初始化
     * @private
     */
    init() {
      this.$http(this.$api.mallGetCarousel, {})
        .then((res) => {
          if (res.status === 0) {
            this.config.time = res.data.time;
            this.config.pic = [];
            res.data.pic.forEach((item) => {
              this.config.pic.push(item);
              this.imgUrlList.push(item.img);
            });
            console.log(this.imgUrlList);
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    inputFile(newFile, oldFile) {
      if (newFile && !oldFile) {
        // const config = {
        //   headers: {
        //     'Content-Type': 'multipart/form-data',
        //   },
        // };
        // this.formData.append(newFile.file.name, newFile.file);
        console.log(newFile);
        this.formData.append('file', newFile.file);
        // axios.post('pc/creditsManage/image_upload', this.formData, config)
        //   .then((res) => {
        //     if (res.data.status === 0) {
        //       const img = `http://cloud3.3.trylong.cn${res.data.data}`;
        //       this.imgUrlList.push(img);
        //       const reader = new FileReader();
        //       reader.readAsDataURL(newFile.file);
        //       reader.addEventListener('load', () => {
        //         this.$nextTick(() => {
        //           this.config.pic.push({ img: reader.result, url: '' });
        //         });
        //       }, false);
        //     } else {
        //       this.showConfirm(res.msg);
        //     }
        //   });
        // this.formData = new FormData();
        // let num = 0;
        // this.formData.append(num += 1, newFile.file);
      }
    },
    inputFilter(newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        // 过滤不是图片后缀的文件
        if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
          return prevent();
        }
      }
      return null;
    },
    /**
     * 保存配置信息
     */
    handleSaveClick() {
      // let pic = [];
      // this.config.pic.forEach((item, index) => {
      //   pic.push(JSON.stringify({ img: this.imgUrlList[index], url: item.url }));
      // });
      // pic = `[${pic.join(',')}]`;
      // const obj = {
      //   time: 3,
      //   pic,
      // };
      // // 暂做简单检查
      // const check = () => {
      //   if (this.config.pic.length === 0) {
      //     this.showConfirm('请上传图片');
      //     return false;
      //   }
      //   return true;
      // };
      // if (check()) {
      //   this.$http(this.$api.mallSetCarousel, obj)
      //     .then((res) => {
      //       if (res.status === 0) {
      //         this.showConfirm('保存成功');
      //       } else {
      //         this.showConfirm(res.msg);
      //       }
      //     });
      // }
      const config = {
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      };
      axios.post('pc/rebate_mall/batch_upload_img', this.formData, config)
        .then((res) => {
          if (res.data.status === 0) {
            console.log(res.data);
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    // 添加礼品
    handleAddClick() {
    },
    handleDelectClick($event, index) {
      this.config.pic.splice(index, 1);
      this.formData.delete(`${index + 1}`);
    },
  },
  created() {
    this.init();
  },
};
</script>
