<template>
  <div class = "infos">
    <div>
      <div>
        <h5>活动信息</h5>
      </div>
      <div>
        <div>活动名称：</div>
        <div>
          <input
            :class = "{'disabled':disabled==true }"
            required
            :disabled = "disabled"
            type = "text" v-model = "info.activity_name"/>
        </div>
      </div>
      <div>
        <div>店铺名称：</div>
        <select
          :disabled = "disabled"
          :class = "{'disabled':disabled==true }"
          class = "select ml-10 w-150"
          v-model = "shop_id"
          @change = "handleSelect(shop_id)"
        >
          <option
            :id = "`selected_${index}`"
            v-for = "(item,index) in options"
            :value = "item.id">{{ item.shop_name }}
          </option>
        </select>
      </div>
      
      <div>
        <div>宝贝链接：</div>
        <div>
          <input
            :class = "{'disabled':disabled==true }"
            :disabled = "disabled"
            type = "text" v-model = "info.goods_url"/>
        </div>
        <a
          :disabled = "disabled"
          :class = "{'disabled':disabled==true }"
          @click = "handleGetLink"
          href = "javascript:void (0);">获取</a>
      </div>
      <div class = "tips">
        <div></div>
        <p>（输入宝贝链接，系统自动帮你获取商品ID、商品标题、商品主图、其他图片、商品价格）</p>
      </div>
      <div>
        <div>商品ID：</div>
        <div>
          <input
            required
            :class = "{'disabled':disabled==true }"
            :disabled = "disabled"
            type = "text" v-model = "info.goods_id"/>
        </div>
      </div>
      <div class = "tips">
        <div></div>
        <p>（商品ID用于核对订单，不对外显示）</p>
      </div>
      <!--主图上传-->
      <div class = "imgs">
        <div>商品主图：</div>
        <el-upload
          :class = "{'disabled':disabled==true }"
          :disabled = "disabled"
          class = "upload-wrapper"
          ref = "uploadMain"
          id = "upload01"
          :show-file-list = "true"
          :limit = "1"
          action = "/api/pc/rebate_mall/batch_upload_img"
          :before-upload = "(row)=>handleBeforeUpload(row) "
          :on-preview = "handlePreview"
          :on-remove = "handleRemove"
          :on-success = "handleOnSuccess"
          :on-error = "handleOnError"
          :on-progress = "handleOnProgress"
          :on-change = "(res,file,val)=>handleOnChange(res,file, 'main')"
          :on-exceed = "(res,type)=>handleExceed(res,'main')"
          :file-list = "fileList"
          name = "file"
          list-type = "picture-card">
          <i class = "el-icon-plus"></i>
          <span style="width: 500px;display: block;position: relative;left: 0px;height: 50px;font-size: 14px;">所有图片限制为jpg/jpeg/png，大小不超过5M</span>
          
        </el-upload>
      
      </div>
      <!--多图上传-->
      <div class = "imgs">
        <div>其它图片（可多图）：</div>
        <el-upload
          :disabled = "disabled"
          :limit = "4"
          ref = "uploadSub"
          multiple
          :http-request = "(res,type)=>uploadFile(res, 'sub')"
          class = "upload-wrapper"
          :auto-upload = "false"
          action = "/api/pc/rebate_mall/batch_upload_img"
          :before-upload = "(row)=>handleBeforeUpload(row) "
          :on-preview = "handlePreview"
          :on-remove = "handleRemove"
          :on-success = "handleOnSuccess"
          :on-error = "handleOnError"
          :on-progress = "handleOnProgress"
          :on-change = "(res,file,val)=>handleOnChange(res,file, 'sub')"
          :on-exceed = "(res,type)=>handleExceed(res,'sub')"
          :file-list = "fileList1"
          name = "file"
          list-type = "picture-card">
          <i class = "el-icon-plus"></i>
        </el-upload>
        <el-dialog :visible.sync = "dialogVisible">
          <img width = "100%" :src = "dialogImageUrl" alt = "">
        </el-dialog>
      </div>
      <div>
        <div>淘口令：</div>
        <div>
          <input
            required
            :class = "{'disabled':disabled==true }"
            :disabled = "disabled"
            type = "text" v-model = "info.short_link"/>
        </div>
      </div>
      <div class = "price">
        <div>商品价格：</div>
        <div>
          <input
            pattern="^(\d+)|([\d]+[-]{0,1}[\d]+)$"
            required
            :class = "{'disabled':disabled==true }"
            :disabled = "disabled"
            type = "text" v-model = "info.goods_price"/>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>返利金额：</div>
        <div class = "type">
          <label>
         <span>   支付价格+额外返</span>
            <input
              required
              :class = "{'disabled':disabled==true }"
              :disabled = "disabled"
              type = "text" v-model = "info.expenditure"/>
            <span>元</span>
          </label>
        </div>
        <div class = "showMsg">
          <span>说明</span>
          <message :message = "message">?</message>
        </div>
      </div>
      <div>
        <div>返利标准：</div>
        <div class = "standard">
          <select
            :class = "{'disabled':disabled==true }"
            :disabled = "disabled"
            v-model = "info.after_event.event">
            <option value = "pay">已支付</option>
            <option value = "signed">确认收货</option>
          </select>
          <span>后</span>
          <input
            type = "text"
            required
            :class = "{'disabled':disabled==true }"
            :disabled = "disabled"
            v-model = "info.after_event.hour">
          <span>小时内返利</span>
        </div>
      </div>
      <div>
        <div>活动时间：</div>
        <div class = "times">
          <!--<label-->
          <!--class = "vc"-->
          <!--for = "">起始时间:</label>-->
          <div class = "date-time-item">
            <input
              placeholder = "开始时间"
              :class = "{'disabled':disabled==true }"
              :disabled = "disabled"
              class = "date-time-input" @click = "show('startTime')" v-model = "info.start_time" readonly/>
            <data-time-picker
              
              ref = "startTime"
              v-model = "info.start_time"
              color = "#02AD9F"
              @confirm = "selectStart"></data-time-picker>
          </div>
          <span>至</span>
          <div class = "date-time-item ">
            <input class = "date-time-input"
                   placeholder = "结束时间"
                   @click = "show('endTime')" v-model = "info.end_time" readonly/>
            <data-time-picker
              
              ref = "endTime"
              v-model = "info.end_time"
              color = "#02AD9F"
              @confirm = "selectEnd"></data-time-picker>
          </div>
        </div>
      </div>
      <div>
        <div>积分：</div>
        <div>
          <span>赠送</span>
          <input
            required
            :class = "{'disabled':disabled==true }"
            :disabled = "disabled"
            type = "text" v-model.number = "info.credits">
          <span>积分</span>
        </div>
      </div>
      <div class = "radio">
        <div>活动限制：</div>
        <el-radio v-model = "status" label = 1>新用户专享</el-radio>
        <el-radio v-model = "status" label = 0>积分参与</el-radio>
      </div>
      <div>
        <div></div>
        <div class = "limit_choose">
          <label>
            <input
              required
              disabled = "true"
              v-model = "info.participation[2].status" type = "checkbox">
            <span>一个订单仅能购买一件</span>
          </label>
          <span>一个微信号可参与</span>
          <input
            required
            :class = "{'disabled':disabled==true }"
            :disabled = "disabled"
            v-model.number = "info.participation[2].data" type = "text">
          <span>次</span>
        </div>
      </div>
      <div>
        <div></div>
        <div>
          <span>活动限</span>
          <input
            required
            v-model.number = "info.total" type = "text">
          <span>次</span>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>活动流程：</div>
        <div
          :class = "{'disabled':disabled==true }"
          :disabled = "disabled"
          :contenteditable = "!disabled"
          class = "text-editor"
          v-show = "!called"
          @focus = "called=true;selected=2"
          v-html = "info.flow"
        >
        </div>
      </div>
      <div
      >
        <div>注意事项：</div>
        <div
          :class = "{'disabled':disabled==true }"
          :disabled = "disabled"
          :contenteditable = "!disabled"
          class = "text-editor"
          v-show = "!called2"
          @focus = "called2=true;selected=2"
          v-html = "info.notes"
        >
        </div>
      </div>
      <!--富文本编辑器-->
      <el-dialog
        :visible.sync = "called"
        title = "编辑流程"
      >
        <tinymce
          :id = "tinymce_editor_1"
          :height = '300'
          ref = "editor"
          v-model = "info.flow">
        </tinymce>
      </el-dialog>
      <el-dialog
        :visible.sync = "called2"
        title = "编辑注意事项"
      >
        <tinymce
          :id = "tinymceId"
          :height = '300'
          ref = "editor2"
          v-model = "info.notes">
        </tinymce>
      </el-dialog>
      <div>
        <a
          :class = "{'disabled':disabled==true }"
          :disabled = "true"
          style = "margin-left: 190px;"
          @click = "handleSaveClick">保存</a>
           <a
          :class = "{'disabled':disabled==true }"
          :disabled = "disabled"
          style = "margin-left: 30px;"
          @click = "handleCancel">取消</a>
        
      </div>
    </div>
    
    <a href = "javascript: void (0);" @click = "back">返回</a>
  </div>
</template>

<script>
  import message from '../common/message';
  import axios from 'axios';
  import qs from 'qs';
  import tinymce from '../../../src/components/Tinymce';
  import Mdialog from '@/components/moon-dialog/m-dialog';
  
  export default {
    data() {
      return {
        status:'0',
        codeMsg:{
            'activity_name': '活动名称',
            'goods_id'     : '商品id',
            'short_link'   : '淘口令',
            'goods_url':'宝贝链接',
            'goods_price'  : '商品价格',
            'expenditure'  : '返利金额',
            'credits'      : '积分',
            'flow'         : '活动流程',
            'notes'        : '注意事项'
        },
        show_           : true,
        base_url        : 'http://112.74.18.25',
        tinymce_editor_1: 'tinymce_editor_1',
        tinymceId       : 'test1',
        selected        : '',
        called          : false,
        called2         : false,
        message         : '书房',
        endTime         : '',
        startTime       : '',
        index           : 0,
        fileList        : [],
        fileList1       : [],
        dialogImageUrl  : '',
        dialogVisible   : false,
        options         : [],
        shop_id         : 4,//店铺id
        files           : [],
        info            : {
          activity_name     : '', // 促销标题
          goods_url         : '', // 宝贝链接
          goods_id          : '', // 商品id
          goods_img         : [],
          goods_price       : '', // 商品价格
          short_link        : '', // 淘口令
          expenditure       : '', // 返利金额
          after_event       : {
            event: 'signed',
            time : undefined,
          },
          start_time        : '',
          end_time          : '',
          participation     : [
            {
              type  : 'new_user',
              status: 1,
              data  : undefined,
            }, // 三种
            {
              type  : 'limit_credits',
              status: 1,
              data  : undefined,
            }, {
              type  : 'limit_time',
              status: 1,
              data  : undefined,
            },
          ],
          total             : undefined,
          flow              : null,
          notes             : null,
          created           : '',
          modified          : '',
          Participate_number: undefined,
          rebate_total      : undefined,
          status            : '已上线',
        }, // 存放编辑的数据
        formDataMain    : null,
        formDataSub     : null
      };
    },
    components: { message, tinymce, Mdialog },
    computed  : {
      disabled() {
        return this.info.Participate_number > 0;
      },
      reverseVal() {
        return !Boolean(this.info.participation[0].status);
      }
    },
    methods   : {
      handleSlideDown() {
      
      },
      //编辑器失去焦点
      handleBlur(v) {
      },
      handleChange(v) {
        console.log(22);
      },
      //编辑器获得焦点
      handleFocus(v) {
        if ( v == 'editor1' ) {
          this.called = true;
        } else {
          this.called2 = true;
        }
      },
      handleBeforeUpload(file) {
        let _this = this;
        console.log(file, 2222);
        // if ( file.row.type.indexOf('zip') < 0 ) {
        //   this.$alert({ message: '图片格式不正确', btn: false })
        //   return false
        // }
        // const isLt5M = file.size / 1024 / 1024 < 5;
        // const isSize = new Promise(function (resolve, reject) {
        //   let width = 141;
        //   let height = 54;
        //   let _URL = window.URL || window.webkitURL;
        //   let img = new Image();
        //   img.onload = function () {
        //     let valid = img.width == width && img.height == height;
        //     valid ? resolve() : reject();
        //   }
        //   img.src = _URL.createObjectURL(file);
        // }).then(() => {
        //   return file;
        // }, () => {
        //   _this.$alert({ message: '上传的icon必须是等于141*54!', btn: false })
        //   return Promise.reject();
        // });
        // return isSize
        
        
        
      const reg = /\.(jpg|jpeg|png)$/;
        if( !file.name.match(reg))return false;
        if ( file.name.match(reg) ) {
          if ( (file.size / 1024 / 1024) < 5 ) {
            // this.showMessage('图片上传成功');
            return ;
          }
          this.showMessage('图片尺寸不能大于5m');
          return false
        }
        
      },
      handleOnSuccess(res, file, fileList) {
        const reg = /\.(jpg|jpeg|png)$/;
        console.log(file, 'handleOnSuccess');
        if ( !file.name.match(reg) ) {
          this.showMessage('图片文件格式不匹配,请上传符合要求的文件类型');
          return;
        }
        this.info.goods_img = [];
        this.info.goods_img = res.data;
        this.showMessage('图片上传成功')
      },
      handleOnChange(file, fileLists, type) {
        this.show_ = false;
        // this.handleBeforeUpload(file)
        
        if ( type == 'main' ) {
          const reg = /\.(jpg|jpeg|png)$/;
          if ( !file.name.match(reg) ) {
            this.showMessage('图片文件格式不匹配');
            return;
          }
          this.fileList[0] = file.url;
        }
        if ( type == 'sub' && fileLists && this.fileList1.length != 4 ) {
          fileLists.forEach((item, index) => {
            this.fileList1[index] = item.url;
          });
        }
        if ( type == 'sub' && fileLists.length == 4 ) {
          console.log(fileLists);
          fileLists.forEach((item, index) => {
            this.fileList1[index] = item.url;
          });
        }
        
      },
      handleOnProgress(event, file, fileList) {
        console.log(event, file, fileList, 'handleOnProgress');
      },
      handleOnError(response, file, fileList) {
      
      },
      handleRemove(file, fileList) {
        console.log(file, fileList);
        // this.fileList.pop()
      },
      handlePreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      },
      handleExceed(files, type) {
        if ( type == 'main' ) {
         this.showMessage('主图至多上传一张图片');
          return;
        }
        this.showMessage('至多上传四张图片');
      },
      //获取宝贝链接
      handleGetLink() {
        if ( this.disabled ) {
          return;
        }
        var _this = this;
        this.info.goods_url = 'https://item.taobao.com/item.htm?ft=t&spm=a1z10.10426-c-s.243.3.1bf0492fiPJwhm&id=576894534589';
        const params = {
          goods_url: _this.info.goods_url,
          shop_id  : 4
        };
        axios.post('/pc/rebate_mall/goods', qs.stringify(params))
          .then(res => {
            var data = res.data.data;
            _this.info.goods_id = data.goods_id;
            // _this.info.goods_img=data.goods_img
            // _this.info.goods_img=data.goods_img
            // _this.fileList=[ _this.base_url+ data.goods_img[0]]
            _this.info.goods_price = data.goods_price;
          });
      },
      //店铺选择
      handleSelect(v) {
        this.getShopInfo();
      },
      //表单元素正则校验
      validate(rule, val, cb, msg) {
        console.log(rule.test(val));
        if ( rule.test(val) ) {
          console.log('这个是验证匹配回调');
        }else
        msg ? cb(msg) : cb();
          return false;
      },
      //获取店铺信息
      getShopInfo() {
        axios.post('/pc/rebate_mall/shops')
          .then(res => {
            this.options = res.data.data;
          });
      },
      show(ref) {
        this.$refs[ref].show();
      },
      selectEnd(val) {
        this.info.end_time = val;
      },
      selectStart(val) {
        this.info.start_time = val;
      },
      showMessage(msg) {
        this.$modal.show({
          template: `  <div>
                              <div class="modal_head"><span @click="$emit('close')">x</span></div>
                              <div class="modal_body_confirm">
                                   ${msg}
                              <slot></slot>
                              </div>
                              <div class="modal_footer_confirm" @click="submit">
                                <a href="javascript:void(0);">确定</a>
                              </div>
                            </div>`,
          props  : ['text'],
          methods: {
            submit() {
              this.$emit('close');
            },
            show() {
            
            }
          },
        });
      },
      back() {
        this.$parent.changeOperate('');
      },
      init() {
        this.getShopInfo();
        const type = this.$route.query.type;
        this.type = type;
        /*编辑页面*/
        if ( type === 'edit' ) {
          const datas = JSON.parse(this.$route.query.data);
          datas.start_time = datas.start_time.replace(/^(\d*)-(\d*)-(.*)(:\d{2})$/, '$1/$2/$3');
          datas.end_time = datas.end_time.replace(/^(\d*)-(\d*)-(.*)(:\d{2})$/, '$1/$2/$3');
          this.info = datas;
          this.info.goods_url = 'https://item.taobao.com/item.htm?ft=t&spm=a1z10.10426-c-s.243.3.1bf0492fiPJwhm&id=564799503269';
        }
        
      },
      /**
       * 返回新增和修改的post数据
       * @param type
       * @returns {info|{activity_name, goods_url, goods_id, goods_img, goods_price, short_link, rebate, after_event, start_time, end_time, participation, total, flow, notes, created, modified, Participate_number, rebate_total, status}}
       * @private
       */
      _getPostData(type) {
        // function copyArr(arr) {
        //   return arr.map((e) => {
        //     if (typeof e === 'object') {
        //       return Object.assign({}, e);
        //     }
        //     return e;
        //   });
        // }
        const data = JSON.parse(JSON.stringify(this.info));
/*        data.participation.forEach((item) => {
          if ( item.status ) {
            // eslint-disable-next-line no-param-reassign
            item.status = 1;
          } else {
            // eslint-disable-next-line no-param-reassign
            item.status = 0;
          }
        });*/
       if( this.status==1){
         data.participation[0].status=1
         data.participation[1].status=0
       }else{
         data.participation[1].status = 1
         data.participation[0].status = 0
       }
        data.participation = JSON.stringify(data.participation);
        data.goods_img = JSON.stringify(data.goods_img);
        data.after_event = JSON.stringify(data.after_event)
          .replace(/\[(.*)\]/, '$1');
        delete data.modified;
        delete data.created;
        
        
        if ( type === 'new' ) {
          
          
          delete data.id;
        } else if ( type === 'save' ) {
          // do
        }
        return data;
      },
      uploadFile(file, type) {
        var _this = this;
        var config = {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        };
        _this.formDataSub.append('file', file.file);
      },
//更新数据
      handleSaveClick() {
        if ( this.disabled ) return;
        let _this = this;
        let reg = /^(\d+)|([\d]+[-]{0,1}[\d]+)$/;//商品价格
        let reg1 = /^\s*$/; //匹配空字符串
        let reg2 = /(^[\S]+)|(\0)$/; //匹配非空字符串
        //   Object.keys(this.codeMsg).forEach((item,index)=>{
        //   this.validate(reg2, _this.info[item], (msg) => {
        //     this.showMessage(this.codeMsg[item]+msg);
        //     return false
        //   }, '不能为空字符串');;
        //
        //
        // })
        /*        this.validate(reg, _this.info.goods_price, () => {
                  this.showMessage('活动名不能为空');
                });
                
                this.validate(reg, parseFloat(_this.info.goods_price), () => {
                  this.showMessage('格式不正确，应为数字或数字区间0-9999999999');
         
                });*/
    
    
        /*
        *
        *Participate_number:undefined
          activity_name:""
          after_event:Object
          created:""
          end_time:""
          expenditure:""
          flow:null
          goods_id:""
          goods_img:Array[0]
          goods_price:""
          goods_url:""
          modified:""
          notes:null
          participation:Array[3]
          rebate_total:undefined
          short_link:""
          start_time:""
          status:"已上线"
          total:undefined

        * */
        if ( reg1.test(this.info.activity_name) ) {
          this.showMessage('活动名不能为空');
          return false;
        }
        if ( reg1.test(this.info.goods_id) ) {
          this.showMessage('商品ID不能为空');
          return false;
        }
        if (this.fileList&&!this.fileList.length) {
          this.showMessage('请上传主图');
          return false;
        }
        if ( reg1.test(this.info.short_link) ) {
          this.showMessage('请输入淘口令');
          return false;
        }
        if ( reg1.test(this.info.goods_price) ) {
          this.showMessage('请输入商品价格');
          return false;
        }
        if ( reg1.test(this.info.expenditure) ) {
          this.showMessage('请输入返利价格');
          return false;
        }
        if ( reg1.test(this.info.after_event.hour) ) {
          this.showMessage('请输入返利时间');
          return false;
        }
        if ( reg1.test(this.info.start_time) ) {
          this.showMessage('请输入活动开始时间');
          return false;
        }
        if ( reg1.test(this.info.end_time) ) {
          this.showMessage('请输入活动结束时间');
          return false;
        }
        if ( reg1.test(this.info.credits) ) {
          this.showMessage('请输入活动积分');
          return false;
        }
        if ( reg1.test(this.info.total) ) {
          this.showMessage('请输入活动次数');
          return false;
        }
        if ( reg1.test(this.info.flow) ) {
          this.showMessage('请输入活动流程');
          return false;
        }
        if ( reg1.test(this.info.notes) ) {
          this.showMessage('请输入活动注意事项');
          return false;
        }
        // return true
        var config = {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        };
        _this.formDataSub = new FormData();
        _this.$refs.uploadSub.submit();
        const check = () => {
          const msg = {
            activity_name: {
              none: '请输入活动名称',
              err : '',
            },
            goods_url    : {
              none: '请输入宝贝链接',
              err : '',
            },
            goods_id     : {
              none: '请输入商品ID',
              err : '',
            },
            goods_img    : {
              main : {
                none: '请上传商品主图',
              },
              other: {
                none: '请上传其他图片',
              },
            },
            short_link   : {
              none: '请输入淘口令',
            },
            goods_price  : {
              none: '请输入商品价格',
            },
            expenditure  : {
              none: '请输入返利金额',
            },
            after_event  : {
              event: {
                none: '请选择返利标准',
              },
              hour : {
                none: '请输入返利标准时间',
              },
            },
            start_time   : {
              none: '请选择活动起始时间',
            },
            end_time     : {
              none: '请选择活动结束时间',
            },
            credits      : {
              none: '请输入活动赠送积分',
            },
          };
          // eslint-disable-next-line no-restricted-syntax
          for ( const key in msg ) {
            // eslint-disable-next-line no-prototype-builtins
            if ( msg.hasOwnProperty(key) ) {
              if ( key === 'goods_img' ) {
                if ( !this.info.goods_img[0] ) {
                  this.showConfirm(msg[key].main.none);
                  return false;
                } else if ( !this.info.goods_img[1] ) {
                  this.showConfirm(msg[key].other.none);
                }
              } else if ( key === 'after_event' ) {
                if ( !this.info[key].event ) {
                  this.showConfirm(msg[key].event.none);
                } else if ( !this.info[key].hour ) {
                  this.showConfirm(msg[key].hour.none);
                }
              } else if ( !this.info[key] ) {
                this.showConfirm(msg[key].none);
                return false;
              }
            }
          }
          return true;
        };
        if ( _this.type === 'edit' ) {
          alert('edit');
          // eslint-disable-next-line no-underscore-dangle
          const data = _this._getPostData('edit');
          axios.post('/api/pc/rebate_mall/batch_upload_img', _this.formDataSub, config)
            .then(res => {
              if ( res.data.data ) {
                _this.info.goods_img.push(...res.data.data);
                data.goods_img = JSON.stringify(_this.info.goods_img);
                JSON.parse(data.goods_img)
                  .push(...res.data.data);
                _this.$http(_this.$api.mallUpdate, data)
                  .then((res) => {
                    if ( res.status === 0 ) {
                      console.log(res, 'res');
                    } else {
                      this.showMessage(res.msg);
                    }
                  });
              }
            });
        } else {
          // alert('save')
          // eslint-disable-next-line no-underscore-dangle
          const data = this._getPostData('save');
          axios.post('/api/pc/rebate_mall/batch_upload_img', _this.formDataSub, config)
            .then(res => {
              if ( res.data.data ) {
                _this.info.goods_img.push(...res.data.data);
                // if ( _this.info.goods_img && (_this.info.goods_img != 5) ) {
                //   this.showMessage('请确保图片按照要求上传');
                //   return;
                // }
                data.goods_img = JSON.stringify(_this.info.goods_img);
                // JSON.parse(data.goods_img)
                //   .push(...res.data.data);
            
                this.$http(this.$api.mallInsert, data)
                  .then((res) => {
                    if ( res.status === 0 ) {
                      _this.showMessage('更新成功');
                    } else {
                      _this.showMessage(res.msg);
                    }
                  });
              }
            });
      
          if ( true ) {
            this.$http(this.$api.mallInsert, data)
              .then((res) => {
                if ( res.status === 0 ) {
                  console.log(res);
                } else {
                  console.log(res);
                }
              });
          }
        }
      },
      /*清空数据*/
      handleCancel() {
            Object.keys(this.codeMsg).forEach((item,index)=>{
              this.info[item]=''
            })
      },
      // 活动限制checkbox点击
      handleCheckboxClick($event, type) {
        if ( this.radioValue ) {
          const compStyles = window.getComputedStyle($event.srcElement);
          const background = compStyles.getPropertyValue('background-color');
          $event.srcElement.style.background = 'rgb(2, 173, 159)';
          // if ( background === 'rgb(2, 173, 159)' ) {
          //   // eslint-disable-next-line no-param-reassign
          //   $event.srcElement.style.background = '#ffffff';
          // } else {
          //   // eslint-disable-next-line no-param-reassign
          //   $event.srcElement.style.background = 'rgb(2, 173, 159)';
          // }
        }
      },
    },
    watch     : {
      'info.total'(v) {
        if ( v <= this.info.Participate_number ) {
          alert(`参与活动次数不低于${this.info.Participate_number}次,请重新输入`);
          this.info.total = null;
        }
      },
    },
    created() {
      this.init();
  
      console.log(this.$parent[2]);
    },
    mounted() {
      
      
      const { type } = this.$route.query;
      if ( type ) {
        this.fileList = [{ url: this.base_url + this.info.goods_img[0] }];
        var cpArr = this.info.goods_img.slice(1);
        console.log(cpArr);
        cpArr.forEach((item, index, arr) => {
          this.fileList1[index] = {
            url: this.base_url + item
          };
        });
        this.fileList1 = [
          { url: this.info.goods_img[1] },
          { url: this.info.goods_img[2] },
          { url: this.info.goods_img[3] },
          { url: this.info.goods_img[4] },
        ];
      }
    },
    updated() {
    
    
    }
  };
</script>
<style lang = "less" scoped>
  @import "../common/mixin";
  
  .infos {
    overflow: hidden;
    background: #F6F6F6 !important;
    position: relative;
    > div {
      background: #fff;
    }
    > div:first-child {
      margin-top: 10px;
      padding: 10px 0 20px 50px;
      > div {
        min-height: 36px;
        padding: 5px 0 10px;
        h5 {
          width: 160px;
          font-weight: 600;
          text-align: right;
          font-size: 16px;
          line-height: 36px;
        }
        > div:first-child {
          width: 180px;
          font-size: 17px;
          line-height: 36px;
          text-align: right;
          float: left;
        }
        > div:nth-child(2) {
          float: left;
          width: 375px;
          min-height: 36px;
          padding-left: 10px;
          * {
            display: block;
            float: left;
          }
          input {
            width: 360px;
            height: 36px;
            line-height: 34px;
            border: 1px solid #ddd;
          }
          img {
            width: 60px;
            height: 60px;
            border: 1px solid #ddd;
            margin-right: 10px;
          }
          span {
            width: 30px;
            line-height: 36px;
            text-align: center;
          }
        }
        a {
          display: block;
          width: 100px;
          height: 36px;
          border-radius: 18px;
          background: #02AD9F;
          color: #fff;
          float: left;
          text-align: center;
          line-height: 36px;
        }
      }
      .tips {
        min-height: 15px;
        line-height: 15px;
        padding: 0 0 15px;
        p {
          width: 100%;
          padding-left: 190px;
          font-size: 15px;
          color: #FD8D0A;
        }
      }
      .imgs {
        min-height: 62px;
        > div:first-child {
          line-height: 62px;
        }
      }
      .price {
        input {
          width: 90px !important;
        }
      }
    }
    > div:nth-child(2) {
      margin-top: 10px;
      padding: 10px 0 20px 50px;
      input {
        width: 80px;
        height: 36px;
        padding: 0 5px;
        line-height: 34px;
        border: 1px solid #ddd;
      }
      > div {
        min-height: 36px;
        padding: 5px 0 10px;
        > div:first-child {
          width: 180px;
          min-height: 36px;
          font-size: 17px;
          line-height: 36px;
          text-align: right;
          float: left;
          margin-right: 10px;
        }
        .showMsg {
          width: 60px;
          position: relative;
          min-height: 36px;
          text-align: left;
          font-size: 14px;
          line-height: 36px;
          color: #02ad9f;
          float: left;
          > * {
            float: left;
          }
          > div {
            position: absolute;
            top: 50%;
            left: 40px;
            transform: translateY(-50%);
          }
        }
        .type {
          min-height: 36px;
          min-width: 200px;
          float: left;
          label {
            display: flex;
            height: 36px;
            align-items: center;
            justify-content: space-between;
            float: left;
          }
          label:first-child {
            /*width: 70px;*/
            > div {
              width: 10px;
              height: 10px;
              padding: 3px;
              border: 1px solid #666;
              border-radius: 50%;
              span {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #02AD9F;
              }
            }
            input[type='radio'] {
              display: none;
            }
            > span {
              display: block;
              text-align: center;
            }
          }
          label:nth-child(2) {
            width: 110px;
            span {
              display: block;
              width: 30px;
              line-height: 36px;
              text-align: center;
            }
          }
          label:nth-child(3) {
            padding-left: 10px;
            width: 170px;
            margin-right: 20px;
            input {
              width: 80px;
              height: 36px;
              padding: 0 5px;
              line-height: 34px;
              border: 1px solid #ddd;
            }
          }
        }
        .standard {
          select {
            display: block;
            width: 100px;
            height: 36px;
            margin-right: 10px;
            padding: 0 5px;
            border: 1px solid #ddd;
            float: left;
          }
          input {
            margin: 0 10px;
          }
        }
        .times {
          > * {
            float: left;
          }
          input {
            width: 180px;
          }
          > div:first-child {
            input {
              margin: 0 10px 0 0;
            }
          }
          span {
            line-height: 36px;
          }
        }
        .limit {
          min-height: 36px;
          min-width: 110px;
          float: left;
          margin-right: 20px;
          label {
            display: flex;
            height: 36px;
            align-items: center;
            justify-content: space-between;
            float: left;
          }
          label {
            width: 110px;
            > div {
              position: relative;
              width: 10px;
              height: 10px;
              padding: 3px;
              border: 1px solid #666;
              border-radius: 50%;
              span {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #02AD9F;
                cursor: pointer;
              }
              .hidden {
                z-index: 10;
                position: absolute;
                top: 0;
                left: 0;
                width: 18px;
                height: 18px;
                visibility: hidden;
              }
            }
            input[type='radio'] {
              display: none;
            }
            > span {
              display: block;
              width: 80px;
              text-align: left;
            }
          }
        }
        .limit_choose {
          line-height: 36px;
          * {
            display: block;
            float: left;
          }
          label {
            margin-right: 30px;
          }
          input {
            margin: 0 10px;
          }
          input[type='checkbox'] {
            width: 20px;
            height: 20px;
            margin: 8px 10px 0 0;
          }
        }
      }
    }
    > div:nth-child(3) {
      margin-top: 10px;
      padding: 10px 0 20px 50px;
      > div {
        min-height: 36px;
        padding: 5px 0 10px;
        > div:first-child {
          width: 180px;
          min-height: 36px;
          font-size: 17px;
          line-height: 36px;
          text-align: right;
          float: left;
          margin-right: 10px;
        }
        > div:nth-child(2) {
          position: relative;
          p {
            position: absolute;
            bottom: 5px;
            left: 193px;
            color: #999;
            font-size: 12px;
            line-height: 20px;
          }
        }
        > a {
          display: block;
          width: 80px;
          height: 32px;
          border-radius: 5px;
          font-size: 16px;
          line-height: 32px;
          float: left;
          text-align: center;
          background: #02ad9f;
          color: #fff;
        }
        textarea {
          font-size: 12px;
          line-height: 24px;
          padding-bottom: 28px;
        }
      }
    }
    > a {
      display: block;
      width: 80px;
      height: 32px;
      border-radius: 5px;
      line-height: 32px;
      text-align: center;
      background: #02ad9f;
      color: #fff;
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
  
  .img-wrapper {
    position: relative;
    width: 60px !important;
    .delect-img {
      position: absolute;
      width: 18px !important;
      height: 18px;
      margin-top: -9px;
      margin-right: -9px;
      top: 0;
      right: 0;
      background: url('../../assets/delect.png') no-repeat;
      background-size: 100% 100%;
      cursor: pointer;
    }
  }
</style>
<style lang = "scss">
  .upload-wrapper {
    width: 500px;
    .el-upload--picture-card {
      width: 60px;
      height: 60px;
      .el-icon-plus {
        position: relative;
        top: 15px;
        left: 15px;
      }
    }
  }
  
  .el-upload-list--picture-card .el-upload-list__item {
    width: 60px;
    height: 60px;
  }
  
  .el-upload-list--picture-card .el-upload-list__item-thumbnail {
    width: 100%;
    height: 100%;
  }
  
  .el-upload-list__item {
    width: 60px;
    height: 60px;
    display: block;
  }
  
  .select {
    height: 36px;
  }
</style>

<style scoped>
  textarea {
    display: inline-block;
  }
  
  /*.editor-container{*/
  /*width: 600px;*/
  /*height: 300px;*/
  /*}*/
  .tinymce-1 {
    position: absolute;
    top: 10px;
    left: 200px;
  }
  
  .tinymce-2 {
    width: 600px;
    position: absolute;
    top: 10px;
  }
  
  .text-editor {
    border: 1px solid #cccccc;
    max-width: 1200px;
    width: 1000px;
    min-height: 100px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;
  }
  
  .infos >>> .el-dialog__body {
    padding-bottom: 20px;
  }
  
  .infos >>> .el-radio__inner:hover {
    border-color: #666666;
  }
  
  >>> .el-radio__inner {
    width: 20px;
    height: 20px;
    border: 1px solid #666666;
    background-color: #fff;
  }
  
  >>> .el-radio__input.is-checked .el-radio__inner {
    background-color: #fff;
    border-color: #666666;
  }
  
  >>> .el-radio__inner:after {
    width: 10px;
    height: 10px;
    background-color: rgb(2, 173, 159);
  }
  
  >>> .el-radio__input.is-checked + .el-radio__label {
    color: #000;
  }
  
  .vc {
    height: 100%;
    display: inline-block;
    line-height: 36px;
    vertical-align: middle;
  }
  
  .w-150 {
    width: 150px;
  }
  
  .ml-30 {
    margin-left: 30px;
  }
  
  .disabled {
    cursor: no-drop;
    background-color: #fff;
  }
</style>
<!--重置样式-->
<style lang = "scss">
  .infos {
    input {
      background-color: #fff;
    }
  
    input:invalid {
      /*box-shadow: 0 0 5px 1px red;*/
    }
    input:focus:invalid {
      outline: none;
    }
  
  }
</style>

