<template>
  <div>
    <div>
      <div class="search_body search_items clear">
        <label class="search_item">
          <span>活动名称：</span>
          <input v-model="activity_name"/>
        </label>
        <label class="search_status">
          <span>活动状态：</span>
          <select v-model="status">
            <option value="">全部</option>
            <option value="未上线">未上线</option>
            <option value="已上线">已上线</option>
            <option value="已下线">已下线</option>
          </select>
        </label>
      </div>
      <div class="search_body itemAndBtn clear">
        <div class="search_time">
          <span>有效时间：</span>
          <div class="date-time-item">
            <input type="text"
                   placeholder="开始时间"
                   class="date-time-input"
                   @click="show('startTime')"
                   v-model="start_time"
                   readonly/>
            <data-time-picker ref="startTime"
                              v-model="start_time"
                              color="#02AD9F"
                              @confirm="selectStart"></data-time-picker>
          </div>
          <span class="time-middle">至</span>
          <div class="date-time-item">
            <input type="text"
                   placeholder="结束时间"
                   class="date-time-input"
                   @click="show('endTime')"
                   v-model="end_time" readonly/>
            <data-time-picker ref="endTime"
                              v-model="end_time"
                              color="#02AD9F"
                              @confirm="selectEnd"></data-time-picker>
          </div>
        </div>
        <div class="search_btn">
          <router-link to="/mall/listInfo">新建</router-link>
          <a @click="handleSearchClick">查询</a>
        </div>
      </div>
      <v-table :columns="columns" :data="data" :page="page"></v-table>
    </div>
    <router-view></router-view>
  </div>
</template>
<style lang="less" scoped>
  .search_items{
    label{
      float: left;
      input{
        width: 350px;
      }
    }
  }
  .itemAndBtn{
    .search_time{
      float: left;
    }
  }
</style>
<script>
import page from '../common/page';

export default {
  mixins: [page],
  data() {
    return {
      activity_name: '',
      status: '',
      base_url:'http://112.74.18.25',
      start_time: '',
      end_time: '',
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '活动名称', data: 'activity_name', class: 'large' },
      { title: '商品图片',
        data: 'goods_img',
        class: 'small headImg',
        render(val, item) {
          if (item.goods_img[0]) {
            const baseUrl=this.base_url
            // return `<img src="${window.location.host}${item.goods_img[0]}"/>`;
            return `<img src="${item.goods_img[0]}"/>`;
          }
          return null;
        },
      },
      { title: '开始时间', data: 'start_time', class: 'large' },
      { title: '结束时间', data: 'end_time', class: 'large' },
      { title: '活动次数', data: 'total', class: 'small' },
      { title: '已参与活动次数',
        data: 'Participate_number',
      },
      { title: '已返利金额(元)',
        data: 'rebate_total',
      },
      { title: '活动状态',
        data: 'status',
        render(val) {
          if (val === '已上线') {
            return `<span style="color: #01B01E;">${val}</span>`;
          }
          return `<span style="color: #999999;">${val}</span>`;
        },
      },
      { title: '详情',
        class: 'operate smallest',
        click: 'changeOpe', // 点击触发的事件
        render() {
          return '<span>查看</span>';
        },
      },
      { title: '推广',
        class: 'smallest',
        click: 'goPromote',
        render(val, item) {
          if (item.status === '已上线') {
            return '<span class="promote"></span>';
          }
          return '<span class="promote noClick"></span>';
        },
      },
      { title: '编辑',
        class: 'smallest',
        data: 'status',
        click: 'handleEditClick',
        render(val) {
          if (val === '发布') {
            return '<span class="edit noClick"></span>';
          }
          return '<span class="edit"></span>';
        },
      },
      { title: '删除',
        data: 'status',
        class: 'smallest',
        click: 'handleDeleteClick',
        render(val) {
          if (val === '已上线') {
            return '<span class="delete noClick"></span>';
          }
          return '<span class="delete"></span>';
        },
      }],
      data: [{
        no: 1,
        activity: '',
        user_count: undefined,
        reward_type: '',
        reward_single: '',
        start_time: '',
        end_time: '',
        no_click: true,
        status: '',
        goods_img: [],
      }],
    };
  },
  props: ['operate'],
  components: {},
  methods: {
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.end_time = val;
    },
    selectStart(val) {
      this.start_time = val;
    },
    changeOpe(item) {
      // this.$router.push({
      //   name: '返利商城管理4',
      //   params: {
      //     id: 1,
      //   },
      // });
      const query = { activity_name: JSON.stringify(item.activity_name) };
      this.$parent.$children[0].changeInd(1, query);
    },
    goPromote(item) {
      // this.$router.push({
      //   name: '返利商城管理5',
      //   params: {
      //     id: 2,
      //   },
      // });
      if (item.status === '已上线') {
        this.$router.push({
          path: '/mall/detail',
          query: {
            from: 'mall',
            id: item.id,
          },
        });
      }
    },
    getList() {
      const obj = {
        start: this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
        activity_name: this.activity_name,
        status: this.status,
        start_time: this.start_time,
        end_time: this.end_time,
      };
      this.getListData(this.$api.mallSelect, obj);
    },
    // 列表数据编辑按钮点击
    handleEditClick(item) {
      const data = JSON.stringify(item);
      this.$router.push({
        path: '/mall/listInfo?type=edit',
        query: {
          data,
        },
      });
    },
    // 删除活动
    handleDeleteClick(item) {
      this.$http(this.$api.mallDel, {
        id: item.id,
      })
        .then((res) => {
          if (res.status === 0) {
            this.changePage(this.page.curPage, this.page.prePage);
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    // 点击搜索按钮
    handleSearchClick() {
      this.getList();
    },
  },
  created() {
    this.getList();
  },
};
</script>
