<template>
  <div>
    <div>
      <div>
        <div class="search_body clear">
          <div class="search_item">
            <select v-model="search_select">
              <option value="tid">订单号</option>
              <option value="receiver_mobile">手机号</option>
              <option value="activity_name">活动名称</option>
            </select>
            <input v-model="search" type="text">
          </div>
          <div class="search_time">
            <span>提交时间：</span>
            <div class="date-time-item">
              <input class="date-time-input"
                     placeholder="开始时间"
                     type="text"
                     @click="show('startTimeSubmit')"
                     v-model="startTime_submit"
                     readonly/>
              <data-time-picker ref="startTimeSubmit"
                                v-model="startTime_submit"
                                color="#02AD9F"
                                @confirm="selectStartSubmit"></data-time-picker>
            </div>
            <span class="time-middle">至</span>
            <div class="date-time-item">
              <input class="date-time-input"
                     placeholder="结束时间"
                     type="text"
                     @click="show('endTimeSubmit')"
                     v-model="endTime_submit"
                     readonly/>
              <data-time-picker ref="endTimeSubmit"
                                v-model="endTime_submit"
                                color="#02AD9F"
                                @confirm="selectEndSubmit"></data-time-picker>
            </div>
          </div>
        </div>
        <div class="search_body clear" style="min-width: 1300px;">
          <label class="search_status">
            <span>订单状态：</span>
            <select v-model="order_status">
              <option value="">全部</option>
              <option v-for="(item, index) of order_query"
                      :value="index"
                      :key="index"
              >
                {{item}}
              </option>
            </select>
          </label>
          <label class="search_status">
            <span>活动状态：</span>
            <select v-model="status">
              <option value="">全部</option>
              <option value="1">待下单</option>
              <option value="2">返利中</option>
              <option value="3">返利失败</option>
              <option value="4">返利成功</option>
            </select>
          </label>
          <div class="search_time">
            <span>返利时间：</span>
            <div class="date-time-item">
              <input class="date-time-input"
                     placeholder="开始时间"
                     type="text"
                     @click="show('startTime')"
                     v-model="startTime"
                     readonly/>
              <data-time-picker ref="startTime"
                                v-model="startTime"
                                color="#02AD9F"
                                @confirm="selectStart"></data-time-picker>
            </div>
            <span class="time-middle">至</span>
            <div class="date-time-item">
              <input class="date-time-input"
                     placeholder="结束时间"
                     type="text"
                     @click="show('endTime')"
                     v-model="endTime"
                     readonly/>
              <data-time-picker ref="endTime"
                                v-model="endTime"
                                color="#02AD9F"
                                @confirm="selectEnd"></data-time-picker>
            </div>
          </div>
          <div class="search_btn">
            <a @click="handleSearchClick">查询</a>
            <a href="javascript: void(0);">导出</a>
            <a href="javascript: void(0);">返利</a>
          </div>
        </div>
      </div>
      <v-table :showChoose="true" :columns="columns" :data="data" :page="page"></v-table>
    </div>
    <router-view></router-view>
  </div>
</template>
<style lang="less" scoped>
  .search_item,
  .search_status,
  .search_time{
    float: left;
  }
  .search_status{
    width: 220px;
    select{
      width: 130px;
    }
  }
</style>
<script>
/* eslint-disable */
import page from '../common/page';

export default {
  mixins: [page],
  data() {
    return {
      search_select: 'tid',
      search: '',
      tid: '',
      nickname: '',
      receiver_mobile: '',
      order_status: "",
      status: '', // 活动状态
      startTime_submit: '',
      endTime_submit: '',
      startTime: '',
      endTime: '',
      order_query:{
        WAIT_BUYER_PAY: '等待买家付款',
        WAIT_SELLER_SEND_GOODS: '买家已付款',
        TRADE_FINISHED: '交易成功',
      },
      order_statusOptions: {
        TRADE_NO_CREATE_PAY: '没有创建支付宝交易',
        WAIT_BUYER_PAY: '等待买家付款',
        SELLER_CONSIGNED_PART: '卖家部分发货',
        WAIT_SELLER_SEND_GOODS: '买家已付款',
        WAIT_BUYER_CONFIRM_GOODS: '卖家已发货',
        TRADE_BUYER_SIGNED: '买家已签收,货到付款专用',
        TRADE_FINISHED: '交易成功',
        TRADE_CLOSED: '交易自动关闭',
        TRADE_CLOSED_BY_TAOBAO: '主动关闭交易',
        PAY_PENDING: '国际信用卡支付付款确认中',
        WAIT_PRE_AUTH_CONFIRM: '0元购合约中',
        PAID_FORBID_CONSIGN: '已付款但禁止发货',
      },
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '活动名称', data: 'activity_name', class: 'large' },
      { title: '微信昵称', data: 'nickname', class: 'large' },
      { title: '订单号', data: 'tid', class: 'large' },
      { title: '手机号', data: 'receiver_mobile', class: 'large' },
      { title: '返利金额(元)', data: 'rebate' },
      { title: '提交时间', data: 'created', class: 'large' },
      { title: '返利时间',
        data: 'rebate_time',
        class: 'large',
      },
      { title: '订单状态',
        data: 'order_status',
        class: 'large',
        render(val) {
        switch (val) {
          case 'TRADE_NO_CREATE_PAY':
            return `<span>没有创建支付宝交易</span>`
          case 'WAIT_BUYER_PAY':
            return `<span>等待买家付款</span>`
          case 'SELLER_CONSIGNED_PART':
            return `<span>卖家部分发货</span>`
          case 'WAIT_SELLER_SEND_GOODS':
            return `<span>买家已付款</span>`
          case 'WAIT_BUYER_CONFIRM_GOODS':
            return `<span>卖家已发货</span>`
          case 'TRADE_BUYER_SIGNED':
            return `<span>买家已签收,货到付款专用</span>`
          case 'TRADE_FINISHED':
            return `<span>交易成功</span>`
          case 'TRADE_CLOSED':
            return `<span>交易自动关闭</span>`
          case 'TRADE_CLOSED_BY_TAOBAO':
            return `<span>主动关闭交易</span>`
          case 'PAY_PENDING':
            return `<span>国际信用卡支付付款确认中</span>`
          case 'WAIT_PRE_AUTH_CONFIRM':
            return `<span>0元购合约中</span>`
          case 'PAID_FORBID_CONSIGN':
            return `<span>已付款但禁止发货</span>`
          default:
            break;
        }
        }
      },
      { title: '活动状态',
        data: 'status',
        class: 'small',
        render(val, item) {
          switch (item.status) {
            case 1: // 待下单
              return '<span>待下单</span>';
              break;
            case 2: // 返利中
              return '<span>返利中</span>';
              break;
            case 3: // 返利失败
              return `<span>返利失败</span>`;
              break;
            case 4: // 返利成功
              return `<span>返利成功</span>`;
              break;
            default:
              break
          }
        },
      },
      { title: '操作',
        class: 'large operate',
        click: 'showAudit',
        render(val, item) {
          switch (item.status) {
            case 1: // 待下单
              return '<span style="color: #FD8D0A;">删除资格</span>';
              break;
            case 2: // 返利中 返利成功
              return '<span style="color: #01A993;">查看</span>';
              break;
            case 3: // 返利失败
              return `<div style="display: flex">
                        <span style="color: #FD8D0A; margin: 3px;">重返</span>
                        <span style="color: #01A993; margin: 3px;">查看</span>
                      </div>`;
              break;
            case 4: // 返利中 返利成功
              return '<span style="color: #01A993;">查看</span>';
              break;
            default:
              break
          }
        },
      }],
      data: [{
        no: 1,
        activity: '',
        user_count: '',
        reward_type: '',
        reward_single: '',
        start_time: '',
        end_time: '',
        no_click: true,
        status: '',
      }],
    };
  },
  props: ['operate'],
  components: {},
  methods: {
    init() {
      if (this.$route.query.activity_name) {
        this.search = JSON.parse(this.$route.query.activity_name);
        this.search_select = 'activity_name';
        this.getList();
      } else {
        this.getList();
      }
    },
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.endTime = val;
    },
    selectStart(val) {
      console.log(222);
      this.startTime = val;
    },
    selectEndSubmit(val) {
      this.endTime_submit = val;
    },
    selectStartSubmit(val) {
      console.log(333);
      this.startTime_submit = val;
    },
    changeOpe() {
      this.$router.push({
        name: '返利商城管理4',
        params: {
          id: 1,
        },
      });
    },
    goPromote() {
      this.$router.push({
        name: '返利商城管理5',
        params: {
          id: 2,
        },
      });
    },
    showAudit(item) {
      if (item.status === 1) {
        this.showConfirm('确认删除？');
        console.log(item);
        this.$http(this.$api.mallDelRecord, {
          id: item.id,
        })
          .then((res) => {
            if (res.status === 0) {
              this.changePage(this.page.curPage);
            } else {
              this.showConfirm(res.msg);
            }
          });
      }
      if (item.status === 2 || item.status === 4) {
        this.$modal.show({
          template: `
        <div>
          <div class="modal_head"><span @click="$emit('close')">x</span></div>
          <div class="modal_body">
            <div>
             <div>用户名称：</div>
             <div>
              <img :src="src_head" alt="">
              <span>{{name}}</span>
             </div>
            </div>
            <div>
             <div>促销标题：</div>
             <div>{{title}}</div>
            </div>
            <div>
             <div>活动状态：</div>
             <div>{{active_status}}</div>
            </div>
            <div>
             <div>返利商品：</div>
             <div>{{goods}}</div>
            </div>
            <div>
             <div>订单状态：</div>
             <div>{{order_status}}</div>
            </div>
            <div>
             <div>返利手机号：</div>
             <div>{{phone}}</div>
            </div>
            <div v-if="!auditEnd">
             <div></div>
             <div class="audit">
          <div class="modal_footer" v-if="!auditEnd">
            <a href="javascript:void(0);" @click="submit">确定</a>
          </div>
        </div>
      `,
          props: ['text', 'src_head', 'name', 'title', 'active_status', 'phone', 'goods', 'order_status', 'auditEnd', 'auditPass'],
          methods: {
            submit() {
              this.$emit('close');
            },
          },
        }, {
          text: this.text,
          src_head: require('../../assets/system.png'),
          name: this.text,
          title: '的是否是的分开了的三方收到佛挡杀佛教师达oil康佳的苏菲的世界开发商的',
          active_status: '已结束',
          goods: '飞机，游艇，火箭，卫星',
          order_status: '已结束',
          phone: '18318895480',
          auditEnd: false,
          auditPass: false,
        }, {
          width: '600px',
          height: '480px',
          pivotX: 0.6,
          pivotY: 0.3,
        });
      }
    },
    showConfirm() {
      this.$modal.show({
        template: `
        <div>
          <div class="modal_head"><span @click="$emit('close')">x</span></div>
          <div class="modal_body_confirm">
          {{text}}
          </div>
          <div class="modal_footer_confirm" @click="submit">
            <a href="javascript:void(0);">确定</a>
          </div>
        </div>
      `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: 'This text is passed as a property',
      }, {
        width: '480px',
        height: '260px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': this.beforeClose,
      });
    },
    beforeClose(event) {
      window.console.log('fky');
    },
    getList() {
      switch (this.search_select) {
        case 'activity_name':
            var activity_name = this.search;
            break;
        case 'tid':
            var tid = this.search;
            break;
        case 'receiver_mobile':
          var receiver_mobile = this.search;
          break;
        case '':
          // do
          break;
        default:
          break;
      }
      const obj = {
        start:this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
        activity_name: activity_name,
        tid: tid,
        receiver_mobile: receiver_mobile,
        order_status: this.order_status,
        status: this.status,
        created_1: this.startTime_submit,
        created_2: this.endTime_submit,
        rebate_time_1: this.startTime,
        rebate_time_2: this.endTime,
      };
      this.getListData(this.$api.mallSelectRecord, obj);
    },
    handleSearchClick() {
      this.getList();
    },
  },
  created() {
    this.init();
  },
};
</script>
