<template>
  <div class="container">
    <tab :tabs="tabs" @jumpRoute="jumpRoute"></tab>
    <router-view></router-view>
  </div>
</template>
<style lang="less" scoped>
</style>
<script>
import tab from '../navigation/tab';

export default {
  data() {
    return {
      tabs: [{
        title: '活动列表',
        index: 0,
        content: '/mall/list',
      }, {
        title: '活动参与记录',
        index: 1,
        content: '/mall/info',
      }, {
        title: '基本配置',
        index: 2,
        content: '/mall/config',
      }],
      tabInd: 0,
    };
  },
  components: { tab },
  methods: {
    jumpRoute(ind, query) {
      // eslint-disable-next-line no-param-reassign
      query = query || undefined;
      this.$router.push({
        path: this.tabs[ind].content,
        query,
      });
    },
  },
};
</script>
