<template>
    <div class="password">
      <span class="title">修改密码</span>
      <div class="main">
        <div class="wrapper">
          <table border="none">
            <tr>
              <td>账号:</td>
              <td class="account_id">{{this.getCookie('account_name')}}</td></tr>
            <tr>
              <td>原密码:</td>
              <td><div class="input-wrapper"><input class="password-input" placeholder="请输入原密码"  v-model="oldPwd" type="password"></div></td></tr>
            <tr><td>新密码:</td>
              <td><div class="input-wrapper"><input class="" v-model="newPwd" placeholder="请输入新密码" type="password"></div><message :message="'只允许包含数字、字母、-和_，长度6-20位，不能为纯数字！'"></message></td>
            </tr>
            <tr>
              <td>确定密码:</td>
              <td><div class="input-wrapper"><input type="password" placeholder="请确认新密码" v-model="confirmPwd"></div><message :message="'只允许包含数字、字母、-和_，长度6-20位，不能为纯数字！'"></message></td></tr>
          </table>
          <div class="button" style="cursor: pointer" @click="hadnleChangePwClick">确定</div>
        </div>
      </div>
    </div>
</template>

<script>
import md5 from 'js-md5';
import message from '../common/message';

export default {
  name: 'password',
  components: { message },
  data() {
    return {
      oldPwd: '',
      newPwd: '',
      confirmPwd: '',
    };
  },
  methods: {
    getCookie(cname) {
      const name = `${cname}=`;
      const ca = document.cookie.split(';');
      for (let i = 0; i < ca.length; i += 1) {
        const c = ca[i].trim();
        if (c.indexOf(name) === 0) return c.substring(name.length, c.length);
      }
      return '';
    },
    hadnleChangePwClick() {
      const obj = {
        passwd: this.oldPwd,
        newpasswd: this.newPwd,
      };
      if (obj.passwd === '') {
        this.showConfirm('请输入原密码！');
        return false;
      }
      if (obj.newpasswd === '') {
        this.showConfirm('请输入新密码！');
        return false;
      }
      if (obj.newpasswd !== this.confirmPwd) {
        this.showConfirm('请保持与新密码一致！');
        return false;
      }
      const reg = /^[a-zA-Z0-9_-]{6,20}$/;
      if (!reg.test(obj.newpasswd) || (/^[0-9]{6,20}$/.test(obj.newpasswd))) {
        this.showConfirm('新密码格式错误！');
        return false;
      }
      const data = {
        account_id: this.getCookie('account_id'),
        passwd: md5(obj.passwd),
        newpasswd: md5(obj.newpasswd),
      };
      this.$http(this.$api.changePassword, data).then((res) => {
        if (!res.status) {
          this.showConfirm('密码修改成功！');
          this.oldPwd = '';
          this.newPwd = '';
          this.confirmPwd = '';
        } else {
          this.showConfirm(res.msg);
        }
      });
      return true;
    },
    showConfirm(data) {
      this.$modal.show({
        template: `
                <div>
                  <div class="modal_head">提示</div>
                  <div class="modal_body_tips">
                    <div>{{text}}</div>
                  </div>
                  <div class="modal_footer_confirm">
                    <a href="javascript:void(0);" @click="submit">确定</a>
                  </div>
                </div>
              `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      });
    },
  },
};
</script>

<style lang="less" scoped>
  .password /deep/ .container_message{
    margin-left: 6px;
    float: right;
  }
  .password{
    padding-left: 56px;
    padding-right: 60px;
    .title{
      display: inline-block;
      height: 66px;
      padding-top: 6px;
      box-sizing: border-box;
      font-size:16px;
      font-family:MicrosoftYaHei;
      font-weight:bold;
      color:rgba(59,61,61,1);
    }
    .main{
      position: relative;
      height:641px;
      background:rgba(255,255,255,1);
      border:1px solid rgba(221,221,221,1);
      .wrapper{
        position: absolute;
        width: 440px;
        top: 14%;
        left: 50%;
        transform: translateX(-50%);
        table{
          width: 100%;
          tr{
            height: 56px;
            line-height: 56px;
            vertical-align: middle;
            &>:first-child{
              width: 18.1%;
              text-align: right;
            }
            &>:nth-child(2){
              padding-left: 13px;
              .input-wrapper{
                overflow: hidden;
                float: left;
                width: 318px;
                height: 36px;
                border:1px solid rgba(221,221,221,1);
                input{
                  float: left;
                  width: 318px;
                  height: 36px;
                  padding-left: 10px;
                }
              }
            }
            td{
              height: 56px;
              line-height: 56px;
              vertical-align: middle;
            }
          }
        }
        .button{
          width: 120px;
          height: 40px;
          line-height: 40px;
          margin-top: 50px;
          margin-left: 86px;
          font-family:MicrosoftYaHei-Bold;
          font-weight:bold;
          color: #ffffff;
          background:rgba(2,173,159,1);
          border-radius:6px;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
</style>
