<template>
  <div class="tinymce-container editor-container" :class="{fullscreen:fullscreen}">
    <textarea
      class="tinymce-textarea" :id="tinymceId"></textarea>
    <div class="editor-custom-btn-container">
      <editorImage color="#02ad9f" class="editor-upload-btn" @successCBK="imageSuccessCBK"></editorImage>
    </div>
  </div>
</template>

<script>
import editorImage from './uploadImg/editorImage'
import toolbar from './toolbar'

export default {
  name: 'tinymce',
  components: { editorImage },
  props: {
    show:{
      type:Function
    },
    id: {
      type: String
    },
    value: {
      type: String,
      default: ''
    },
    toolbar: {
      type: Array,
      required: false,
      default() {
        return ['undo redo print | formatselect fontselect fontsizeselect | bold italic underline forecolor backcolor | link image | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent | removeformat fullscreen | preview']
      }
    },
    // menubar: {
    //   default: 'file edit insert view format table lists save '
    // },
    height: {
      type: Number,
      required: false,
      default: 360
    }
  },
  data() {
    return {
      hasChange: false,
      hasInit: false,
      tinymceId: this.id || 'vue-tinymce-' + +new Date(),
      fullscreen: false
    }
  },
  watch: {
    value(val) {
      if (!this.hasChange && this.hasInit) {
        this.$nextTick(() => window.tinymce.get(this.tinymceId).setContent(val))
      }
    }
  },
  mounted() {
    this.initTinymce ()
  },
  updated(){
      this.initTinymce ()
  },
  activated() {
    this.initTinymce()
  },
  deactivated() {
    this.destroyTinymce()
  },
  methods: {
    initTinymce() {
      const _this = this
      window.tinymce.init({
        selector: `#${this.tinymceId}`,
        height: this.height,
        font_formats: 'Aileron=aileron,' +
          ' sans-serif;Helvetica=helvetica,' +
          ' arial;Lato=lato,' +
          ' sans-serif;Lobster=lobster, ' +
          'chicago, serif;Noto Serif=noto ' +
          'serif, serif;Permanent ' +
          'Marker=permanent marker,' +
          ' sans-serif;Raleway=raleway, ' +
          'sans-serif;Roboto=roboto,' +
          ' sans-serif;Source Code ' +
          'Pro=source code pro,' +
          ' monospace',
        branding: false,
        body_class: 'panel-body ',
        object_resizing: true,
        theme: 'modern',
        menu: {
          file  : { title: 'File', items: 'newdocument | spellcheckerlanguage restoredraft fullpage | print' },
          edit  : { title: 'Edit', items: 'undo redo | cut copy paste pastetext selectall | searchreplace' },
          insert: { title: 'Insert', items: 'image inserttable media table hr codesample template insertdatetime | charmap | pagebreak nonbreaking | link | anchor toc' },
          view  : { title: 'View', items: 'preview code | visualblocks visualchars visualaid | fullscreen' },
          format: { title: 'Format', items: 'bold italic underline strikethrough subscript superscript codeformat | blockformats align | removeformat' },
          tools : { title: 'Tools', items: 'spellchecker  wordcount | a11ycheck' },
          table : { title: 'Table', items: 'inserttable row column cell | deletetable' },
          help  : { title: 'Help', items: 'help' }
        },
        toolbar: this.toolbar.length > 0 ? this.toolbar : toolbar,
        menubar: this.menubar,
        plugins:
         ' preview  visualblocks  fullscreen image link  table  hr   insertdatetime advlist lists textcolor wordcount   imagetools    colorpicker  help',
        
        end_container_on_empty_block: true,
        powerpaste_word_import: 'clean',
        code_dialog_height: 450,
        code_dialog_width: 1000,
        image_advtab: false,//编辑图片选项卡中的高级
        advlist_bullet_styles: 'square',
        advlist_number_styles: 'default',
        imagetools_cors_hosts: [],
        default_link_target: '_blank',
        link_title: false,
        language:'zh_CN',
        init_instance_callback: editor => {
          if (_this.value) {
            editor.setContent(_this.value)
          }else{
            editor.setContent('')
          }
          _this.hasInit = true
          editor.on('NodeChange Change KeyUp SetContent', () => {
            this.hasChange = true
            this.$emit('input', editor.getContent())
          })
        },
        setup(editor) {
          /*监听全屏事件*/
          editor.on('FullscreenStateChanged', (e) => {
            _this.fullscreen = e.state
          })
          /*监听编辑器失去焦点事件*/
          editor.on('blur', (e) => {
            _this.$emit('blure')
          })
          /*监听编辑器获取焦点事件*/
          editor.on('focus', (e) => {
            _this.$emit('focu')
          })
        }
      })
    },
    destroyTinymce() {
      if (window.tinymce.get(this.tinymceId)) {
        window.tinymce.get(this.tinymceId).destroy()
      }
    },
    setContent(value) {
      console.log('contentId',this.$route.query.contentId)
        window.tinymce.get(this.tinymceId).setContent(value)
    },
    getContent() {
      window.tinymce.get(this.tinymceId).getContent()
    },
    imageSuccessCBK(arr) {
      const _this = this
      arr.forEach(v => {
        window.tinymce.get(_this.tinymceId).insertContent(`<img class="wscnph" src="${v.url}" >`)
      })
    }
  },
  destroyed() {
    this.destroyTinymce()
  }
}
</script>

<style scoped>
.tinymce-container {
  position: relative;
  min-width: 600px;
}
.tinymce-container>>>.mce-fullscreen {
  z-index: 10000;
}
.tinymce-textarea {
  visibility: hidden;
  z-index: -1;
}
.editor-custom-btn-container {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 2005;
}
.fullscreen .editor-custom-btn-container {
  z-index: 10000;
  position: fixed;
}
.editor-upload-btn {
  display: inline-block;
}
</style>
