<template>
  <div class="points-exchange">
    <vue-better-scroll
      style="height:calc(100vh - .98rem)"
      class="wrapper"
      ref="scroll"
      :pullDownRefresh="pullDownRefreshObj"
      :pullUpLoad="pullUpLoadObj"
      @pullingDown="onPullingDown"
      @pullingUp="onPullingUp"
    >
      <div class="list" style="height:calc(100vh - .98rem)">
        <div class="exchange-item"
             v-for="(item, index) of itemDatas"
             :key="index"
        >
          <div class="image-wrapper">
            <img :src="item.gift_cove" alt="">
          </div>
          <div class="container">
            <div class="container-left">
              <p class="title">{{ item.gift_name }}</p>
              <span class="time">{{ item.modify_time }}</span>
            </div>
            <div class="container-right">
              <span style="color:rgba(153,153,153,1);">x{{ item.num }}</span>
              <span>消耗积分： <span style="color: #F30016">{{ item.credits }}</span></span>
            </div>
          </div>
        </div>
        <div class="no_datas"
             v-if="itemDatas.length === 0"
        >暂无数据</div>
      </div>
    </vue-better-scroll>
    <router-link class="bottom-btn"
                 tag="div"
                 to="/points"
    >
      其他积分活动
    </router-link>
  </div>
</template>

<script>
import { layer } from '../../lib/utils';
export default {
  name: 'PointsExchange',
  data () {
    return {
      itemDatas: [],
      pullDownRefreshObj: {
        threshold: 90,
        stop: 0
      },
      pullUpLoadObj: {
        threshold: 0,
        txt: {
          more: '加载更多',
          noMore: '没有更多数据了'
        }
      },
      time: 0,
      tag: false
    }
  },
  methods: {
    /**
     * 显示的的兑换数据
     */
    getCash (postObj) {
      const postObjCopy = postObj || {start: 0, length: 5};
      return new Promise((resolve, reject) => {
        this.$http.getCash(postObjCopy)
          .then(res => {
            if (res.data.status === 0) {
              if (res.data.data.data.length !== 0) {
                resolve();
                if (this.tag) {
                  this.itemDatas = [];
                  this.itemDatas = res.data.data.data;
                } else {
                  res.data.data.data.forEach((item) => {
                    this.itemDatas.push(item);
                  })
                }
              } else {
                reject(new Error());
              }
            } else {
              this.itemDatas = [];
              layer.msg(res.data.msg);
            }
          }).catch(() => {
            this.itemDatas = [];
          })
      })
    },
    onPullingDown () {
      this.tag = true;
      this.time = 0;
      const postData = {
        start: 0,
        length: 5
      }
      this.getCash(postData).then(() => {
        this.$refs.scroll.forceUpdate(true);
      })
    },
    onPullingUp () {
      this.time++;
      this.tag = false;
      const postData = {
        start: 5 * this.time,
        length: 5
      }
      this.getCash(postData).then(() => {
        this.$refs.scroll.forceUpdate(true);
      }).catch(() => {
        this.$refs.scroll.forceUpdate(false);
      })
    }
  },
  created () {
    this.getCash();
  }
}
</script>

<style lang="less" scoped>
  @import url(../../assets/stylesheets/mixin);
  .points-exchange{
    .exchange-item{
      width: 6.9rem;
      height: 1.8rem;
      box-shadow:0px 2px 6px 0px rgba(221,221,221,0.5);
      margin-top: .2rem;
      margin-left: auto;
      margin-right: auto;
      padding: .3rem;
      box-sizing: border-box;
      font-size: 0;
      .image-wrapper{
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .container{
        display: flex;
        float: right;
        margin-left: .3rem;
        width: calc(100% - 1.5rem);
        height: 100%;
        .container-left{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 2.6rem;
          .title{
            display: inline-block;
            line-height: .4rem;
            font-size: .28rem;
          }
          .time{
            font-size: .24rem;
            display: inline-block;
            width: 100%;
            color:rgba(153,153,153,1);
          }
        }
        .container-right{
          display: flex;
          flex: 1;
          font-size: .24rem;
          flex-direction: column;
          justify-content: space-between;
          text-align: right;
        }
      }
    }
    .no-data{
      display: inline-block;
      font-size: 0.28rem;
      line-height: .4rem;
      text-align: center;
      width: 100%;
      margin-top: .4rem;
    }
    .bottom-btn{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: .98rem;
      line-height: .98rem;
      background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
      text-align: center;
      vertical-align: middle;
      font-size: .36rem;
      font-weight: 500;
      color: #ffffff;
      -webkit-text-stroke:1px rgba(255,255,255,1);
      text-stroke:1px rgba(255,255,255,1);
    }
  }
</style>
