<template>
  <div class="point-sign">
    <div class="header">
      <div class="header-container">
        <div class="header-main">
          <span class="main-top">{{this.$store.state.pointsShop.points}}</span>
          <span class="main-bottom">我的积分</span>
        </div>
        <div class="header-main">
          <span class="main-top">{{ datesNum }}</span>
          <span class="main-bottom">已连续签到</span>
        </div>
      </div>
    </div>
    <Calendar :attendenceDate="attendence_date"></Calendar>
    <div class="bottom-btn"
         @click="handleSignClick"
    >签到</div>
    <!--<div class="bottom-btn-signed"-->
    <!--&gt;已签到</div>-->
  </div>
</template>

<script>
import Calendar from '../common/Calendar';
import { layer } from '../../lib/utils';
import { modal } from '../../lib/modal';

export default {
  name: 'PointsSign',
  mixins: [modal],
  components: { Calendar },
  data () {
    return {
      attendence_date: []
    }
  },
  computed: {
    datesNum () {
      return this.attendence_date.length;
    }
  },
  methods: {
    /**
     * 签到
     */
    handleSignClick () {
      this.$http.setAttendence()
        .then((res) => {
          if (res.data.status === 0) {
            this.showConfirm(res.data.data);
          } else {
            layer.msg(res.data.msg);
          }
        });
    },
    /**
     * 获取签到日期
     * @private
     */
    _getAttendence () {
      this.$http.getAttendence()
        .then((res) => {
          if (res.data.status === 0) {
            if (res.data.data.length !== 0) {
              const data = res.data.data;
              data.forEach((item) => {
                const res = item.attendence_date.replace(/(.*) (.*)/g, '$1');
                this.attendence_date.push(res);
              })
            }
          } else {
            layer.msg(res.data.msg);
          }
        });
    }
  },
  created () {
    this._getAttendence();
  }
}
</script>

<style lang="less" scoped>
  .point-sign /deep/ .calendar{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .point-sign{
    position: relative;
    height: 100vh;
    background:rgba(246,246,246,1);
    .header{
      width: 7.5rem;
      height: 5.3rem;
      background:linear-gradient(315deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
      .header-container{
        display: flex;
        width: 100%;
        .header-main{
          width: 50%;
          margin-top: .74rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .main-top{
            height: 1rem;
            line-height: 1rem;
            font-size: .72rem;
            font-weight:500;
            color: rgba(255,255,255,1);
          }
          .main-bottom{
            height: .4rem;
            margin-top: .24rem;
            line-height: .4rem;
            font-size: .28rem;
            color: rgba(238,238,238,1);
          }
        }
      }
    }
    .container{
      z-index: 100;
      position: absolute;
      left: 50%;
      top: 120%;
      width: 6.9rem;
      height: 7.4rem;
      transform: translate(-50%, -50%);
      border-radius: .3rem;
      background: #c2c2c2;
      .data-header{
        display: inline-block;
        margin: .3rem auto;
      }
      ul{
        li{
          display: inline-block;
        }
      }
    }
    .bottom-btn{
      position: fixed;
      width: 5.7rem;
      height: 1rem;
      line-height: 1rem;
      bottom: .6rem;
      margin: 0 .9rem;
      font-size: .36rem;
      font-weight:500;
      color: rgba(238,238,238,1);
      background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
      border-radius:50px;
      text-align: center;
    }
    .bottom-btn-signed{
      background: #999999 !important;
      .bottom-btn;
    }
  }
</style>
