<template>
    <div class="points-cart">
      <vue-better-scroll
        style="height: calc(100vh - .98rem); position: relative; overflow: hidden"
        class="wrapper"
        ref="scroll"
      >
        <div v-for="(item, index) of itemDatas"
             class="cart-item border-bottom"
             :key="index"
        >
          <input type="checkbox"
                 @click="handleCheckboxClick($event, item)"
                 v-if="item.status === 1"
                 ref="checkbox"
          >
          <div class="no-check" v-else>失效</div>
          <div class="item-content">
            <div style="overflow: hidden;" class="img-wrapper">
              <img style="width: 100%; height: auto;" :src="item.gift_cove" alt="">
            </div>
            <div class="info-wrapper">
              <span class="title">{{item.gift_name}}</span>
              <span class="points">{{item.credits}}积分</span>
            </div>
            <div class="add-cart">
              <i class="icon iconfont icon-shanchu"
                 v-if="item.status === 1"
                 @click="handleDelecteClcik($event, index)"
              ></i>
              <i style="cursor: not-allowed" class="icon iconfont icon-shanchu"
                 v-else
              ></i>
              <add-num
                :datas="item"
                :index="index"
              ></add-num>
            </div>
          </div>
        </div>
        <div class="no-data"
             v-if="itemDatas.length === 0"
        >暂无数据</div>
      </vue-better-scroll>
      <div class="cart-bottom">
        <div class="cart-function">
          <div class="checkbox">
            <input type="checkbox"
                   @click="handleCheckAllClick"
            >
            全选
          </div>
          <span class="cart-points">总积分：{{ total_points }}</span>
        </div>
        <div
          class="redeem-btn"
          @click="handleExchangeClick"
        >立即兑换</div>
      </div>
      <modals-container/>
    </div>
</template>

<script>
import AddNum from '../common/AddNum'
import { modal } from '@/lib/modal.js'
import {layer} from '../../lib/utils';

export default {
  name: 'PointsCart',
  inject: ['reload'],
  components: { AddNum },
  mixins: [modal],
  data () {
    return {
      showSelect: false,
      itemDatas: [{
        credits: 0,
        gift_cove: '',
        gift_id: 0,
        gift_name: '',
        gift_type: '',
        id: 0,
        is_del: 0,
        num: 0,
        status: 0,
        total_num: 0,
        used_num: 0,
        user_id: 0
      }],
      exchageDatas: {
        gift_id: [],
        num: [],
        credits: [],
        id: []
      }
    }
  },
  computed: {
    total_points: {
      get () {
        let num = 0;
        this.exchageDatas.credits.forEach((item, index) => {
          num += (item * this.exchageDatas.num[index]);
        })
        return num;
      },
      set (newVal) {
        return newVal;
      }
    }
  },
  methods: {
    /**
     * 选中点击事件
     */
    handleCheckboxClick ($event, item) {
      if ($event.srcElement.checked) {
        // this.total_points += item.credits * item.num;
        this._addExchageDatas(item);
      } else {
        // this.total_points -= item.credits * item.num;
        this._redExchangeDatas(item);
      }
    },
    /**
     * 全选点击
     */
    handleCheckAllClick ($event) {
      let tag;
      const check = (() => {
        this.$refs.checkbox.every((item) => {
          if (item.checked) {
            tag = true;
            return true;
          }
          tag = false;
          return false;
        })
      })();
      // 没被选中点击，无变有
      if ($event.srcElement.checked) {
        this.$refs.checkbox.forEach((item) => {
          if (tag) {
            if (!item.checked) {
              item.click();
            }
          } else {
            if (!item.checked) {
              item.click();
              // const dispatch = (el, type) => {
              //   try {
              //     var evt = document.createEvent('Event');
              //     evt.initEvent(type, true, true);
              //     el.dispatchEvent(evt);
              //   } catch (e) { alert(e) };
              // }
              // dispatch(item, 'click');
            }
          }
        })
      } else {
        this.$refs.checkbox.forEach((item) => {
          if (tag) {
            item.click();
          } else {
            if (item.checked) {
              item.click();
            }
          }
        })
      }
    },
    /**
     * 加入post数据
     */
    _addExchageDatas (itemData) {
      this.exchageDatas.gift_id.push(itemData.gift_id);
      this.exchageDatas.num.push(itemData.num);
      this.exchageDatas.credits.push(itemData.credits);
      this.exchageDatas.id.push(itemData.id);
    },
    // 减去post数据
    _redExchangeDatas (itemData) {
      Array.prototype.indexOf = function (val) {
        for (var i = 0; i < this.length; i++) {
          if (this[i] === val) return i;
        }
        return -1;
      };
      Array.prototype.remove = function (val) {
        var index = this.indexOf(val);
        if (index > -1) {
          this.splice(index, 1);
        }
      };
      this.exchageDatas.gift_id.remove(itemData.gift_id);
      this.exchageDatas.num.remove(itemData.num);
      this.exchageDatas.credits.remove(itemData.credits);
      this.exchageDatas.id.remove(itemData.id);
    },
    /**
     * 获得购物车数据
     */
    showCart () {
      this.$http.showCart({
        start: 0,
        length: 999
      }).then((res) => {
        if (res.data.status === 0) {
          this.$nextTick(() => {
            this.itemDatas = res.data.data;
          })
        }
      });
    },
    handleExchangeClick () {
      if (this.exchageDatas.gift_id.length === 0) {
        layer.msg('请选择礼品');
        return;
      }
      const beforeCloceFn = () => {
        this.$http.exchange({
          gift_id: `[${this.exchageDatas.gift_id.join()}]`,
          num: `[${this.exchageDatas.num.join()}]`,
          credits: `[${this.exchageDatas.credits.join()}]`,
          id: `[${this.exchageDatas.id.join()}]`
        }).then((res) => {
          if (res.data.status === 0) {
            layer.msg('兑换成功');
            this.showCart();
          } else {
            layer.msg(res.data.msg);
          }
        });
      }
      this.showConfirm(`兑换将从您的账号里扣除${this.total_points}积分`, beforeCloceFn);
    },
    /**
     * 购物车删除
     */
    handleDelecteClcik ($event, index) {
      const beforeCloceFn = () => {
        this.$http.delCart({
          id: this.itemDatas[index].id
        }).then(res => {
          if (res.data.status === 0) {
            layer.msg('删除成功');
            this.reload();
            this.showCart();
          } else {
            layer.msg(res.data.msg);
          }
        })
      }
      this.showConfirm('确定删除该订单', beforeCloceFn);
    }
  },
  created () {
    this.showCart();
  }
}
</script>

<style lang="less" scoped>
  @import "../../assets/stylesheets/mixin";
  input[type='checkbox']{
    width: .36rem;
    height: .36rem;
    border:2px solid rgba(153,153,153,1);
    border-radius: 50%;
    outline: none;
    -webkit-appearance:none;
  }
  input[type=checkbox]:checked{
    .bg-image('xuanzhong');
    border: none;
  }
  .points-cart /deep/ .add-num{
    position: absolute;
    bottom: .3rem;
  }
  .points-cart{
    .cart-item{
      display: flex;
      width: 6.9rem;
      height: 1.8rem;
      margin: .2rem .3rem;
      vertical-align: middle;
      input{
        /*width: calc(100% - 0.46rem);*/
        margin: 0 .2rem;
        align-self: center;
      }
      .no-check{
        display: inline-block;
        padding: .05rem;
        margin-right: .18rem;
        align-self: center;
        font-size: .24rem;
        background: rgba(0, 0, 0, .4);
        border-radius: .1rem;
        color: #ffffff;
        text-align: center;
      }
      .item-content{
        display: flex;
        flex: 1;
        width: calc(100% - .76rem);
        .img-wrapper{
          display: inline-block;
          width: 1.2rem;
          height: 1.2rem;
          margin-top: .3rem;
          background: #cacaca;
          img{
            max-width: 100%;
          }
        }
        .info-wrapper{
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: space-around;
          height: 1.2rem;
          margin-top: .3rem;
          margin-left: .2rem;
          .title{
            font-size: .28rem;
            font-family: PingFang-SC-Regular;
            font-weight:400;
            color: rgba(51,51,51,1);
          }
          .points{
            font-size: .24rem;
            color:rgba(248,27,27,1);
          }
        }
        .add-cart{
          position: relative;
          width: 1.6rem;
          margin: 0 .2rem;
          .icon{
            float: right;
            margin-top: .3rem;
            font-size: 18px;
            color: rgba(185,187,196,1);
          }
        }
      }
    }
    .no-data{
      display: inline-block;
      font-size: 0.28rem;
      line-height: .4rem;
      text-align: center;
      width: 100%;
      margin-top: .4rem;
    }
    .cart-bottom{
      position: fixed;
      display: flex;
      left: 0;
      bottom: 0;
      height: .98rem;
      width: 100%;
      .cart-function{
        display: flex;
        justify-content: center;
        flex: 1;
        text-align: center;
        .checkbox{
          width: 50%;
          align-self: center;
        }
        .cart-points{
          width: 50%;
          line-height: .98rem;
          vertical-align: middle;
          font-size: .32rem;
          font-weight: 400;
          color:rgba(51,51,51,1);
        }
      }
      .redeem-btn{
        width: 2.8rem;
        height: .98rem;
        line-height: .98rem;
        background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
        vertical-align: middle;
        text-align: center;
        font-size: .36rem;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color: #ffffff;
        -webkit-text-stroke:1px rgba(255,255,255,1);
        text-stroke:1px rgba(255,255,255,1);
      }
    }
  }
</style>
