<template>
    <div class="points-detail">
      <vue-better-scroll
        style="height: calc(100vh - .98rem); position: relative"
        class="wrapper"
        ref="scroll"
      >
        <!--<Swiper :swiperDatas="swiperDatas"></Swiper>-->
        <div class="gift-img">
          <img style="width: 100%; height: auto;" :src="infoDatas.gift_cove" alt="">
        </div>
        <div class="detail-info">
          <span class="info-title">{{ infoDatas.gift_name }}</span><br>
          <div class="flex-wrapper">
            <span class="points-need">兑换需要{{ infoDatas.credits }}积分</span>
            <div class="time-countdown">
              活动倒计时:
              <span style="margin-left: -.05rem" class="day" ref="day"></span>
              <span>天</span>
              <span style="margin-left: -.05rem" class="hour" ref="hour"></span>
              <span>时</span>
              <span style="margin-left: -.05rem" class="mini" ref="mini"></span>
              <span>分</span>
              <span style="margin-left: -.05rem" class="sec" ref="sec"></span>
              <span>秒</span>
            </div>
          </div>
          <div class="remain-no border-bottom">
            <div class="process">
              <div class="process-left"
                   :style="styleObj"
              ></div>
            </div>
            <div class="remain-num">
              剩余<span style="color: #F30016; font-size: .36rem">{{ remain_num }}</span>件
            </div>
          </div>
          <div class="add-num-wrapper">
            <span class="number-title">数量</span>
            <add-num :datas="infoDatas" :addNum="1" :index="-1"></add-num>
          </div>
        </div>
      </vue-better-scroll>
      <div class="detail-bottom">
        <ul class="function">
          <router-link
            tag="li"
            to="/points/pointsCart"
            class="cart">
            <div class="img-wrapper"></div>
            <span>购物车</span>
          </router-link>
          <li class="add-cart-function"
              @click="handleAddcartClick"
          >
            <div class="img-wrapper"></div>
            <span>加入购物车</span>
          </li>
        </ul>
        <div class="redeem-btn"
             @click="handleRedeemClick"
        >
          立即兑换
        </div>
      </div>
    </div>
</template>

<script>
import Swiper from '../common/Swiper'
import AddNum from '../common/AddNum'
import { layer, fnTimeCountDown } from '../../lib/utils';
import { modal } from '@/lib/modal.js';

export default {
  name: 'PointsDetail',
  mixins: [modal],
  components: { Swiper, AddNum },
  data () {
    return {
      infoDatas: {
        credits: 0,
        gift_id: 0,
        gift_name: '',
        gift_type: '',
        status: 0,
        total_num: 0,
        used_num: 0
      }
    }
  },
  computed: {
    remain_num () {
      return this.infoDatas.total_num - this.infoDatas.used_num;
    },
    percentage: {
      get () {
        const point = this.remain_num / this.infoDatas.total_num;
        let str = Number(point * 100).toFixed(0);
        str += '%';
        return str;
      }
    },
    styleObj () {
      return {
        width: `${this.percentage}`
      };
    },
    swiperDatas () {
      return {
        from: 'PointsDetail',
        swiperImgs: [
          {
            id: '0001',
            img: this.infoDatas.gift_cove
          }]
      }
    }
  },
  methods: {
    /**
     * 点击加入购物车
     */
    handleAddcartClick () {
      this.$http.addCart({
        gift_id: this.infoDatas.gift_id,
        num: this.$children[0].$children[0].addCartNum
      }).then((res) => {
        if (res.data.status === 0) {
          layer.msg('添加成功');
        }
      });
    },
    /**
     * 点击底部立即兑换按钮
     */
    handleRedeemClick () {
      const submitFn = () => {
        const obj = {
          gift_id: `[${[this.infoDatas.gift_id].join()}]`,
          num: `[${[this.$children[0].$children[0].addCartNum].join()}]`,
          credits: `[${[this.infoDatas.credits].join()}]`,
          id: ''// 购物车记录id，立即兑换，默认为空
        }
        const p = new Promise((resolve) => {
          this.$http.exchange(obj).then((res) => {
            if (res.data.status === 0) {
              this.showConfirm('恭喜你，兑换成功')
              resolve();
            } else {
              layer.msg(res.data.msg);
            }
          });
        });
        p.then(() => {
          this.infoDatas.used_num += this.$children[0].$children[1].addCartNum;
        });
      }
      this.$modal.show({
        template: `
                <div>
                  <div class="modal_body_tips"
                       :style="styleObj1"
                  >
                    <div>{{ text }}</div>
                  </div>
                  <div class="modal_footer_confirm border-top" :style="styleObj2">
                    <div href="javascript:void(0);" style="width: 50%; float: left" @click="cancel">取消</div>
                    <div href="javascript:void(0);" style="width: 50%; float: left;background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%); color: #ffffff" @click="submit">确定</div>
                  </div>
                </div>
              `,
        data () {
          return {
            text: '是否立即兑换该商品',
            styleObj1: {
              height: '2.62rem',
              display: 'flex',
              justifyContent: 'center',
              alignItems: 'center',
              fontSize: '.36rem',
              borderRadius: '.3rem .3rem 0rem 0rem'
            },
            styleObj2: {
              display: 'flex',
              textAlign: 'center',
              height: '.98rem',
              lineHeight: '.98rem',
              verticalAlign: 'middle',
              fontSize: '.36rem'
            }
          }
        },
        methods: {
          submit () {
            submitFn();
            this.$emit('close');
          },
          cancel () {
            this.$emit('close')
          }
        }
      }, {
        text: 'daa'
      }, {
        width: '375px',
        height: '180px',
        top: '0px',
        classes: 'v-modal-exchange'
      }, {
        'before-close': (event) => {
        }
      });
    }
  },
  created () {
    if (this.$route.query.detailData) {
      this.infoDatas = JSON.parse(this.$route.query.detailData);
    }
  },
  mounted () {
    const d = new Date(this.infoDatas.end_time).getTime();
    const o = {
      day: this.$refs.day,
      hour: this.$refs.hour,
      mini: this.$refs.mini,
      sec: this.$refs.sec
    }
    fnTimeCountDown(d, o);
  }
}
</script>

<style lang="less" scoped>
  @import "../../assets/stylesheets/mixin";
  .points-detail /deep/ .swiper{
    width: 7.5rem;
    height: 7.74rem;
  }
  .points-detail /deep/ .add-num{
    float: right;
  }
  .points-detail /deep/ .swiper-pagination{
    position: absolute;
    width: .8rem;
    height: .4rem;
    line-height: .4rem;
    left: 6.4rem;
    right: .4rem;
    bottom: .22rem;
    color: #ffffff;
    background: rgba(153,153,153,0.6);
    border-radius: .2rem;
    vertical-align: middle;
    .swiper-pagination-current{
      font-size: .3rem;
    }
  }
  .points-detail{
    width: 100vw;
    height: 100vh;
    position: relative;
    .gift-img{
      width: 7.5rem;
      height: 7.74rem;
      overflow: hidden;
      img{
        max-width: 100%;
        height: auto;
      }
    }
    .detail-info{
      z-index: 100;
      position: relative;
      top: -.2rem;
      width: 100%;
      height: 3.66rem;
      box-sizing: border-box;
      border-radius:.2rem .2rem 0 0;
      .info-title{
        display: inline-block;
        height: .5rem;
        padding: .3rem .3rem 0 .3rem;
        line-height: .5rem;
        font-size: .36rem;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color:rgba(51,51,51,1);
      }
      .flex-wrapper{
        display: flex;
        padding: 0rem .3rem 0 .3rem;
        font-size: .24rem;
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        color:rgba(153,153,153,1);
        .points-need{
          flex: 1;
          margin-top: .1rem;
          height: .33rem;
          line-height: .33rem;
        }
        .time-countdown{
          display: inline-block;
          margin-top: .1rem;
          line-height: .33rem;
          font-size: .24rem;
          text-align: right;
          font-family:PingFang-SC-Medium;
          font-weight:500;
          vertical-align: middle;
          span{
            color: #F30016;
            margin-left: -.05rem;
          }
        }
      }
      .remain-no{
        width: 100%;
        height: 1.14rem;
        padding: 0 0.3rem 0 .3rem;
        box-sizing: border-box;
        .process{
          width: 100%;
          height: .08rem;
          margin-top: .3rem;
          border-radius: .4rem;
          background: #cccccc;
          .process-left{
            height: 100%;
            background:linear-gradient(90deg,rgba(252,121,127,1) 0%,rgba(249,35,35,1) 100%);
            border-radius: .4rem;
          }
        }
        .remain-num{
          margin-top: .08rem;
          line-height: .5rem;
          font-size: .24rem;
          font-weight: 500;
          color: rgba(153,153,153,1);
        }
      }
      .add-num-wrapper{
        height: .5rem;
        padding: 0.2rem .3rem 0 .3rem;
        .number-title{
          line-height: .5rem;
        }
      }
    }
    .detail-bottom{
      z-index: 999;
      position: fixed;
      display: flex;
      left: 0;
      bottom: 0;
      width: 100%;
      height: .98rem;
      background: #ffffff;
      .function{
        flex: 1;
        li{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          line-height: .44rem;
          color: rgba(102,102,102,1);
        }
        .cart{
          float: left;
          width: 50%;
          height: 100%;
          .img-wrapper{
            width: .38rem;
            height: .38rem;
            .bg-image('gouwuche');
          }
        }
        .add-cart-function{
          float: left;
          width: 50%;
          height: 100%;
          .img-wrapper{
            width: .38rem;
            height: .38rem;
            .bg-image('jiaru');
          }
        }
      }
      .redeem-btn{
        display: inline-block;
        width: 3.75rem;
        font-size: .36rem;
        font-family:PingFang-SC-Medium;
        font-weight: 500;
        color: #ffffff;
        line-height: .98rem;
        background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
        vertical-align: middle;
        text-align: center;
      }
    }
  }
</style>
