<template>
  <div class="points-mail">
    <Swiper :swiperDatas="swiperDatas">
      <router-link tag="div" to="/points/pointsExchange" class="myRedeem" slot="myRebate">
        <i class="group"></i>
        <div class="text">我的兑换</div>
      </router-link>
    </Swiper>
    <div class="remain-points">
      <span class="points">剩余积分
        <span style="margin-left: .05rem; color:#FA0018; font-size: 18px">{{ remainPoints }}</span>
      </span>
    </div>
    <div class="points-goods-list">
      <vue-better-scroll
        style="height: 100%;"
        class="wrapper"
        ref="scroll"
        :pullDownRefresh="pullDownRefreshObj"
        :pullUpLoad="pullUpLoadObj"
        @pullingDown="onPullingDown"
        @pullingUp="onPullingUp"
      >
        <ul style="height: calc(100vh - 5.75rem);">
          <li v-for="(item, index) of giftDatas"
              class="points-good"
              :key="index"
          >
            <div class="img-wrapper">
              <img style="width: 100%; height: 100%;" :src="item.gift_cove" alt="">
            </div>
            <div class="good-center">
              <span class="title">{{item.gift_name}}</span><br>
              <span class="points">{{item.credits}}积分</span>
              <ProcessBar :datas="item"></ProcessBar>
            </div>
            <div v-if="(item.total_num - item.used_num) === 0"
                 class="status-button status-none border"
            >已兑完</div>
            <div v-else
                 class="status-button status-remain border"
                 @click="handleExchageClick($event, index)"
            >立即兑换</div>
          </li>
        </ul>
      </vue-better-scroll>
    </div>
    <ul class="pointsMall-bottom border-top">
      <router-link tag="li" to="/" class="bottom-function">
        <div class="icon-wrapper"></div>
        <span>返利商城</span>
      </router-link>
      <li class="bottom-function">
        <div class="icon-wrapper"></div>
        <span>积分商城</span>
      </li>
      <router-link tag="li" to="/personal" class="bottom-function">
        <div class="icon-wrapper"></div>
        <span>我的</span>
      </router-link>
    </ul>
    <router-view></router-view>
  </div>
</template>

<script>
import Swiper from '../common/Swiper';
import ProcessBar from '../common/ProcessBar'
import {layer} from '../../lib/utils';

export default {
  name: 'PointsMall',
  components: { Swiper, ProcessBar },
  data () {
    return {
      swiperDatas: {
        from: 'points',
        swiperImgs: []
      },
      giftDatas: [],
      remainPoints: 0, // 剩余积分
      time: 0, // 第n次请求列表数据
      tag: false, // true为刷新数据
      pullDownRefreshObj: {
        threshold: 90,
        stop: 0
      },
      pullUpLoadObj: {
        threshold: 0,
        txt: {
          more: '加载更多',
          noMore: '没有更多数据了'
        }
      }
    }
  },
  methods: {
    /**
     * 获取用户剩余积分
     * 放在App.vue中
     */
    getUserCredits () {
      this.$http.getUserCredits()
        .then((res) => {
          if (res.data.status === 0) {
            this.remainPoints = res.data.data;
            this.$store.commit('pointsShop/setPoints', res.data.data);
          }
        });
    },
    /**
     * 获取积分商城配置信息-轮播图
     */
    getShopPic () {
      this.$http.getShopPic()
        .then((res) => {
          if (res.data.status === 0) {
            const swiperDatas = {
              from: 'points',
              swiperImgs: []
            }
            res.data.data.pic.forEach((item) => {
              const obj = {
                img: item.gift_cove
              }
              swiperDatas.swiperImgs.push(obj);
            });
            this.swiperDatas = swiperDatas;
          }
        });
    },
    /**
     * 获得积分商城礼品列表
     * start 起始页
     * length 长度
     */
    getGift (postData) {
      return new Promise((resolve, reject) => {
        // eslint-disable-next-line no-use-before-define
        var postDataCopy = postData || {start: 0, length: 5}
        this.$http.getGift(postDataCopy)
          .then((res) => {
            if (res.data.status === 0) {
              if (res.data.data.length !== 0) {
                resolve(res);
                if (this.tag) {
                  this.giftDatas = [];
                }
                for (let i = 0; i < res.data.data.length; i += 1) {
                  this.giftDatas.push(res.data.data[i]);
                }
              } else {
                reject(new Error());
              }
            } else {
              layer.msg(res.data.msg);
            }
          }).catch(() => {
            this.giftDatas = [];
          });
      })
    },
    /**
     * 下拉刷新
     */
    onPullingDown () {
      this.tag = true;
      this.time = 0;
      const postData = {
        start: 0,
        length: 5
      }
      this.getGift(postData).then(() => {
        this.$refs.scroll.forceUpdate(true);
      })
    },
    /**
     * 上拉加载
     */
    onPullingUp () {
      this.time++;
      this.tag = false;
      const postData = {
        start: 5 * this.time,
        length: 5
      }
      this.getGift(postData).then(() => {
        this.$refs.scroll.forceUpdate(true);
      }).catch(() => {
        this.$refs.scroll.forceUpdate(false);
      })
    },
    /**
     * 兑换礼品点击
     */
    handleExchageClick (e, index) {
      this.$router.push({ path: '/points/pointsDetail', query: {detailData: JSON.stringify(this.giftDatas[index])} });
    }
  },
  created () {
    this.getUserCredits();
    this.getShopPic();
    this.getGift();
  }
}
</script>

<style lang="less" scoped>
  @import "../../assets/stylesheets/mixin";
  .points-mail /deep/ .swiper-slide{
    width: 7.5rem !important;
    height: 3.5rem !important;
  }
  .points-mail /deep/ .swiper{
    width: 7.5rem;
    height: 3.5rem;
  }
  .points-mail /deep/ .swiper-pagination{
    bottom: .4rem;
    .swiper-pagination-bullet{
      margin-left: .2rem;
    }
  }
  .points-mail /deep/  .process-bar{
    margin-top: .12rem;
  }
  .points-mail{
    overflow: hidden;
    width: 100vw;
    min-height: calc(100vh - .98rem);
    .myRedeem{
      z-index: 200;
      position: absolute;
      right: 0;
      bottom: .6rem;
      width: 1.79rem;
      height: .66rem;
      vertical-align: middle;
      background:linear-gradient(84deg,rgba(253,234,98,1) 0%,rgba(250,209,51,1) 100%);
      box-shadow:0 .02rem .04rem 0px rgba(179,179,179,0.5);
      border-radius:1rem 0 0 1rem;
      .group{
        display: block;
        width: .28rem;
        height: .25rem;
        margin: .23rem 0 .18rem .22rem;
        .bg-image('Group3');
      }
      .text{
        position: absolute;
        top: .19rem;
        left: .61rem;
        height: .33rem;
        font-size: .24rem;
        font-family:PingFang-SC-Regular;
        font-weight:400;
        color:rgba(154,105,1,1);
      }
    }
    .remain-points{
      z-index: 100;
      position: relative;
      width: 6.9rem;
      height: 1.2rem;
      /*padding-left: .5rem;*/
      line-height: 1.2rem;
      top: -.2rem;
      font-family:PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(153,153,153,1);
      box-shadow:0px 2px 6px 2px rgba(224,224,224,0.5);
      border-radius: .2rem;
      background: #ffffff;
      vertical-align: middle;
      .margin-auto;
      .points{
        margin-left: .5rem;
      }
    }
    .points-goods-list{
      margin-top: .07rem;
      padding: 0 .3rem;
      height: calc(100vh - 5.75rem);
      .points-good{
        overflow: hidden;
        width: 100%;
        padding: .28rem 0;
        .img-wrapper{
          float: left;
          width: 1.2rem;
          height: 1.2rem;
          img{
            max-width: 100%;
          }
        }
        .good-center{
          float: left;
          margin-left: .3rem;
          width: calc(100% - 3.3rem);
          height: 1.2rem;
          .title{
            display: inline-block;
            line-height: .4rem;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .points{
            display: inline-block;
            margin-top: .06rem;
            line-height: .33rem;
            font-size: .24rem;
            font-family:PingFang-SC-Regular;
            font-weight:400;
            color:rgba(254,30,30,1);
          }
        }
        .status-button{
          display: inline-block;
          width: 1.75rem;
          height: .66rem;
          margin-top: .2rem;
          line-height: .66rem;
          text-align: center;
          vertical-align: middle;
          font-size: .28rem;
          font-family:PingFang-SC-Medium;
          font-weight:500;
        }
        .status-none{
          color:rgba(153,153,153,1);
          &:before{
            border-radius: .66rem;
            border-color: rgba(151,151,151,1);
          }
        }
        .status-remain{
          color:rgba(255,80,0,1);
          &:before{
            border-radius: .66rem;
            border-color: rgba(255,80,0,1);
          }
        }
      }
    }
    .pointsMall-bottom{
      z-index: 999;
      display: flex;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: .98rem;
      line-height: .4rem;
      background: #ffffff;
      .bottom-function{
        width: 33.33%;
        height: .98rem;
        color: rgba(153,153,153,1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:nth-child(1){
          .icon-wrapper{
            .bg-image('fanli1');
          }
        }
        &:nth-child(2){
           .icon-wrapper{
             .bg-image('jifen');
           }
          span{
              color: rgb(255, 104, 0);
          }
         }
        &:nth-child(3){
           .icon-wrapper{
             .bg-image('wod1');
           }
         }
        .icon-wrapper{
          width: .4rem;
          height: .4rem;
        }
      }
    }
  }
</style>
