<template>
  <div>
    <div class="search_wrapper">
      <label class="search_item">
        <span>微信昵称:</span>
        <input v-model="info.nickname" type="text">
      </label>
      <label class="search_item">
        <span>手机号:</span>
        <input v-model="info.phone"  type="text">
      </label>
      <label class="search_item">
        <span>积分规则:</span>
        <select v-model="info.rule" name="" id="1">
          <option value="">请选择</option>
          <option value="积分消耗">积分消耗</option>
          <option value="签到获得">签到获得</option>
          <option value="订单获得">订单获得</option>
        </select>
      </label><br>
      <div class="search_items">
        <div class="search_time clear">
          <span style="margin-left: 18px;" class="fourCode">参与时间:</span>
          <div class="date-time-item">
            <input class="date-time-input"
                   placeholder="开始时间"
                   @click="show('startTime')"
                   v-model="info.startTime" readonly/>
            <data-time-picker ref="startTime"
                              color="#02AD9F"
                              @confirm="selectStart"></data-time-picker>
          </div>
          <span class="time-middle">至</span>
          <div class="date-time-item">
            <input class="date-time-input"
                   placeholder="结束时间"
                   @click="show('endTime')"
                   v-model="info.endTime" readonly/>
            <data-time-picker ref="endTime"
                              color="#02AD9F"
                              @confirm="selectEnd"></data-time-picker>
          </div>
        </div>
      </div>
      <div class="search-btn" @click="changePage(1)">查询</div>
    </div>
    <v-table :columns="columns" :data="data" :page="page"></v-table>
  </div>
</template>
<style lang="less" scoped>
  .search_items{
    display: inline-block;
  }
  .date-time-item{
    display: inline-block;
  }
  .search_wrapper{
    margin: 30px;
    &>:nth-child(5){
       margin-top: 20px;
     }
    &>:nth-child(6){
      margin-top: 20px;
    }
    .search_item{
      display: inline-block;
      overflow: hidden;
      margin-left: 17px;
      input{
        width: 216px;
        width:216px;
        height:36px;
        border:1px solid rgba(221,221,221,1);
      }
      select{
        width: 216px;
        width:216px;
        height:36px;
        border:1px solid rgba(221,221,221,1);
      }
    }
    .search-btn{
      float: right;
      display: inline-block;
      width:120px;
      height:34px;
      font-size: 18px;
      border:1px solid rgba(2,173,159,1);
      border-radius:6px;
      color:rgba(2,173,159,1);
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      line-height: 34px;
    }
  }
</style>
<script>
import page from '../common/page';

export default {
  mixins: [page],
  data() {
    return {
      info: {
        nickname: '',
        phone: '',
        rule: '',
        startTime: '',
        endTime: '',
      },
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '微信昵称',
        data: 'nickname',
        class: 'largest',
      },
      { title: '微信头像',
        data: 'headimgurl',
        class: 'small headImg',
        render(val) {
          return `<img src="${val}"/>`;
        },
      },
      { title: '手机号', data: 'phone' },
      { title: '积分规则', data: 'reason' },
      { title: '积分变化',
        data: 'credits',
        render(val) {
          if (val < 0) {
            return `<span style="color: #C64949">${val}</span>`;
          }
          return `<span>${val}</span>`;
        },
      },
      { title: '参与时间', data: 'modify_time' },
      ],
      data: [{
        credits: 0,
        credits_id: 0,
        headimgurl: '',
        modify_time: '',
        nickname: '',
        phone: '',
        reason: '',
      }],
      page: {
        total: 0,
        curPage: 1,
        pageCount: 0,
        prePage: 10,
        pageSelect: [10, 20, 50, 100],
      },
    };
  },
  components: {},
  methods: {
    init() {
      // this.$http(this.$api.getCredit, {})
      //   .then((res) => {
      //     console.log(res);
      //   });
    },
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.info.endTime = val;
    },
    selectStart(val) {
      this.info.startTime = val;
    },
    getList() {
      const obj = {
        nickname: this.info.nickname || '',
        phone: this.info.phone || '',
        rule: this.info.rule || '',
        start_date: this.info.startTime || '',
        end_date: this.info.endTime || '',
        start: this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
      };
      this.getListData(this.$api.getCredit, obj);
    },
  },
  created() {
    this.getList();
  },
};
</script>
