<template>
  <div class="rule">
    <h5 class="title">签到天数规则：</h5>
    <p class="desc">
      每次签到可以领10积分，每天限签到一次！
    </p>
    <div class="cover-block">
      <h5 class="title">签到封面背景图:</h5>
      <div class="cover-wrapper">
        <div class="img-wrapper"></div>
        <div class="img-wrapper img-add"></div>
      </div>
    </div>
    <div class="rule-block">
      <h5 class="title">签到描述:</h5>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="save-btn">保存</div>
  </div>
</template>

<script>
export default {
  name: 'rule',
};
</script>

<style lang="less" scoped>
  .rule{
    font-size: 16px;
    padding: 33px 0 0 80px;
    .title{
      font-size: 16px;
      color:rgba(109,109,109,1);
    }
    .desc{
      width: 979px;
      height: 51px;
      line-height: 51px;
      margin-top: 12px;
      color:rgba(51,51,51,1);
      border-top:1px dotted rgba(221,221,221,1);
      border-bottom:1px dotted rgba(221,221,221,1);
      vertical-align: middle;
      padding-left: 30px;
    }
    .cover-block{
      margin-top: 52px;
      .cover-wrapper{
        margin-top: 14px;
        margin-left: 34px;
        .img-wrapper{
          display: inline-block;
          width:124px;
          height:124px;
          border:1px solid rgba(160,160,160,1);
        }
        .img-add{
          margin-left: 33px;
          border:1px dotted rgba(210,210,210,1);
        }
      }
    }
    .rule-block{
      margin-top: 82px;
      textarea{
        width:945px;
        height:146px;
        margin-top: 14px;
        margin-left: 34px;
        border:1px solid rgba(160,160,160,1);
      }
    }
    .save-btn{
      display: inline-block;
      width:120px;
      height:40px;
      line-height:40px;
      margin-top: 71px;
      margin-left: 34px;
      background:rgba(2,173,159,1);
      border-radius:6px;
      color: #ffffff;
      font-size: 18px;
      text-align: center;
      vertical-align: middle;
    }
  }
</style>
