<template>
  <div>
    <tab :tabs="tabs" @jumpRoute="jumpRoute"></tab>
    <router-view></router-view>
  </div>
</template>
<style lang="less" scoped>
</style>
<script>
import tab from '../navigation/tab';

export default {
  data() {
    return {
      tabs: [{
        index: 0,
        title: '用户信息',
        content: '/user/userInfo',
      }, {
        index: 1,
        title: '用户标签',
        content: '/user/userTag',
      }, {
        index: 2,
        title: '积分记录',
        content: '/user/userRecords',
      }],
    };
  },
  components: { tab },
  methods: {
    jumpRoute(ind) {
      this.$router.push(this.tabs[ind].content);
    },
  },
};
</script>
