<template>
  <div class="condition">
    <div class="search_body search_items">
      <label class="search_item"><span>微信昵称：</span><input v-model="nickname" /></label>
      <label class="search_item"><span>手机号：</span><input v-model="phone" maxlength="11"/></label>
    </div>
    <div class="search_body itemAndBtns">
      <label class="search_status">
        <span>标签：</span>
        <select class="select" v-model="tapname">
          <option value="">全部</option>
          <option v-for="item in tags" :value="item.tap_name" :key="item.tap_id">{{item.tap_name}}</option>
        </select>
      </label>
      <div class="search_btn">
        <a href="javascript: void(0);" @click="black">加入黑名单</a>
        <a href="javascript: void(0);" @click="showTag">添加标签</a>
        <a href="javascript: void(0);" @click="changePage(1)">查询</a>
      </div>
    </div>
    <v-table ref="userList" :columns="columns" :data="data" :page="page" :showChoose="showChoose"></v-table>
  </div>
</template>
<style lang="less" scoped>
  .search_items{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .itemAndBtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
      text-align: right;
    }
  }
</style>
<script>
/* eslint-disable */
export default {
  data() {
    return {
      nickname: '',
      phone: '',
      tags: [],
      tapname: '',
      operateArr: [],
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '微信头像',
        data: 'headimgurl',
        class: 'small headImg',
        render(val) {
          return `<img src="${val}" style="width: 30px; height: 30px; vertical-align: middle"/>`;
        },
      },
      { title: '微信昵称', data: 'nickname' },
      { title: '手机号',
        data: 'phone',
        render(val) {
          return val || '--';
        }
      },
      { title: '标签', data: 'tap_name', class: 'large' },
      { title: '城市', data: 'city' },
      { title: '性别', data: 'sex', class: 'smallest' },
      { title: '用户积分', data: 'credits', class: 'small' },
      { title: '关注时间', data: 'create_time', class: 'large' },
      { title: '操作',
        click: 'showDetail',
        class: 'operate small',
        render() {
          return '<span>用户详情</span>';
        },
      }],
      data: [],
      page: {
        total: 0,
        curPage: 1,
        pageCount: 0,
        prePage: 10,
        pageSelect: [10, 20, 50, 100],
      },
      showChoose: true,
    };
  },
  components: {},
  methods: {
    getTag() {
      this.$http(this.$api.getTap)
        .then((data) => {
          if (data.status === 0) {
            this.tags = data.data;
          }
        });
    },
    getUser() {
      const obj = {
        nickname: this.nickname,
        phone: this.phone,
        tap_name: this.tapname,
        start: (this.page.curPage - 1) * this.page.prePage,
        length: this.page.prePage,
      };
      const tagReg = /^[0-9]{0,11}$/;
      if (!tagReg.test(obj.phone)) {
        this.showConfirm('手机号码只能为纯数字！');
        return false;
      }
      this.$http(this.$api.getUser, obj)
        .then((data) => {
          if (data.status === 0) {
            const items = data.data;
            this.data = [];
            this.page.total = parseInt(data.recordsTotal, 10);
            this.page.pageCount = Math.ceil(this.page.total / this.page.prePage);
            this.$refs.userList.checkList= [];
            for (let i = 0, len = items.length; i < len; i += 1) {
              items[i].no = i + 1 + obj.start;
              this.data.push(items[i]);
            }
          }
        });
    },
    showDetail(data) {
      this.$router.push({
        name: '用户详情',
        params: { id: data.user_id },
      });
    },
    black() {
      this.operateArr = this.$refs.userList.checkList;
      if (this.operateArr.length === 0) {
        this.showConfirm('请至少选择一个用户！');
      } else {
        this.showConfirm('是否将所选用户加入黑名单！');
      }
    },
    showConfirm(msg) {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head">提示<span @click="$emit('close')">x</span></div>
            <div class="modal_body_tips">
              <div>{{text}}</div>
            </div>
            <div class="modal_footer_confirm">
              <a href="javascript:void(0);" @click="submit">确定</a>
            </div>
          </div>
        `,
        props: ['text'],
        methods: {
          submit() {
            if (this.text === '是否将所选用户加入黑名单！') {
              this.$store.commit('modelOperate/changeOperate', true);
            }
            this.$emit('close');
          },
          showConfirm(data) {
            this.$modal.show({
              template: `
                <div>
                  <div class="modal_head">提示<span @click="$emit('close')">x</span></div>
                  <div class="modal_body_tips">
                    <div>{{text}}</div>
                  </div>
                  <div class="modal_footer_confirm">
                    <a href="javascript:void(0);" @click="submit">确定</a>
                  </div>
                </div>
              `,
              props: ['text'],
              methods: {
                submit() {
                  this.$emit('close');
                },
              },
            }, {
              text: data,
            }, {
              width: '360px',
              height: '220px',
              pivotX: 0.6,
              pivotY: 0.3,
            });
          },
        },
      }, {
        text: msg,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': () => {
          if (this.$store.state.modelOperate.operate) {
            this.$store.commit('modelOperate/changeOperate', false);
            this.joinBlack();
          }
        },
      });
    },
    joinBlack() {
      const arr = {
        userId: [],
      };
      for (let i = 0, len = this.operateArr.length; i < len; i += 1) {
        arr.userId.push(this.data[this.operateArr[i]].user_id);
      }
      arr.userId = JSON.stringify(arr.userId);
      this.$http(this.$api.joinBlack, arr)
        .then((data) => {
          if (data.status === 0) {
            this.getUser();
            this.showConfirm(data.data);
          } else {
            this.showConfirm(data.msg);
          }
        });
      return true;
    },
    showTag() {
      this.operateArr = this.$refs.userList.checkList;
      if (this.operateArr.length === 0) {
        this.showConfirm('请至少选择一个用户！');
      } else {
        this.$modal.show({
          template: `
            <div>
              <div class="modal_head">新增标签<span @click="$emit('close')">x</span></div>
              <div class="modal_body_tag">
                <p>已勾选{{arr.length}}名用户，请选择标签</p>
                <label>
                  <span>标签名称：</span>
                  <select v-model="chooseTag">
                    <option v-for="item in tags" :value="item.tap_id" :key="item.tap_name">{{item.tap_name}}</option>
                  </select>
                </label>
                <div><input type="text"  v-model="tagName"/><a href="javascript: void(0);" @click="addTag">新增</a></div>
              </div>
              <div class="modal_footer_confirm">
                <a href="javascript:void(0);" @click="submit">确定</a>
              </div>
            </div>
          `,
          data() {
            return {
              tags: [],
              tagName: '',
              chooseTag: '',
            };
          },
          props: ['arr', 'initTag'],
          methods: {
            submit() {
              this.$store.commit('modelOperate/changeOperate', true);
              this.$store.commit('modelOperate/changeUserTag', this.chooseTag);
              this.$emit('close');
            },
            getTag() {
              this.$http(this.$api.getTap)
                .then((data) => {
                  if (data.status === 0) {
                    this.tags = data.data;
                  }
                });
            },
            addTag() {
              if (this.tagName === ''){
                this.showConfirm('标签名称不能为空');
                return false;
              }
              const tagReg = /^[A-Za-z0-9\u4e00-\u9fa5]{1,20}$/;
              if (!tagReg.test(this.tagName)) {
                this.showConfirm('标签名称只能包含中文、数字和字母，长度1-20个字符');
                return false;
              }
              this.$http(this.$api.newTap, {tap_name: this.tagName})
                .then((data) => {
                  if (data.status === 0) {
                    this.getTag();
                    this.chooseTag = data.data[0].tap_id;
                    this.tagName = '';
                  }
                });
              return true;
            },
            showConfirm(data) {
              this.$modal.show({
                template: `
                  <div>
                    <div class="modal_head">提示</div>
                    <div class="modal_body_tips">
                      <div>{{text}}</div>
                    </div>
                    <div class="modal_footer_confirm">
                      <a href="javascript:void(0);" @click="submit">确定</a>
                    </div>
                  </div>
                `,
                props: ['text'],
                methods: {
                  submit() {
                    this.$emit('close');
                  },
                },
              }, {
                text: data,
              }, {
                width: '360px',
                height: '220px',
                pivotX: 0.6,
                pivotY: 0.3,
              });
            },
          },
          mounted() {
            this.getTag();
            this.chooseTag = this.initTag;
          },
        }, {
          arr: this.operateArr,
          initTag: this.data[this.operateArr[0]].tap_id,
        }, {
          width: '560px',
          height: '400px',
          pivotX: 0.6,
          pivotY: 0.3,
        }, {
          'before-close': () => {
            this.joinTap();
          }
        });
      }
    },
    joinTap() {
      if (!this.$store.state.modelOperate.operate) {
        return false;
      }
      this.$store.commit('modelOperate/changeOperate', false);
      const arr = [];
      for (let i = 0, len = this.operateArr.length; i < len; i += 1) {
        arr.push(this.data[this.operateArr[i]].user_id);
      }
      this.$http(this.$api.joinTap,{
          userId: JSON.stringify(arr),
          tap_id: this.$store.state.modelOperate.userTag,
        })
        .then((data) => {
          this.$store.commit('modelOperate/changeUserTag', '');
          if (data.status === 0) {
            this.getUser();
            this.showConfirm(data.data);
          } else {
            this.showConfirm(data.msg);
          }
        });
      return true;
    },
    changePage(val, len) {
      this.page.curPage = val;
      this.page.prePage = len || this.page.prePage;
      this.getUser();
    },
  },
  mounted() {
    this.getTag();
    this.getUser();
  },
};
</script>
