<template>
  <div class="condition">
    <div class="search_body">
      <label class="search_item">
        <span>标签名称：</span>
        <input type="text" v-model="tag">
      </label>
      <div class="search_btn">
        <a href="javascript: void(0);" @click="showAdd()">新增</a>
        <a href="javascript: void(0);" @click="changePage(1)">查询</a>
      </div>
    </div>
    <v-table :columns="columns" :data="data" :page="page"></v-table>
  </div>
</template>
<style lang="less" scoped>
  .search_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
<script>
/* eslint-disable */
export default {
  data() {
    return {
      weChat: '',
      phone: '',
      tag: '',
      tags: [],
      operate_tag: '',
      doModify: false,
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '标签名称',
        data: 'tap_name',
        class: 'largest',
      },
      { title: '用户数', data: 'user_num' },
      { title: '操作人', data: 'account_name' },
      { title: '更新时间', data: 'modify_time' },
      { title: '编辑',
        click: 'showEdit',
        render() {
          return '<span class="edit"></span>';
        },
      },
      { title: '删除',
        data: 'status',
        class: 'smallest',
        click: 'showEdit2',
        render(val) {
          if (val === '已发布') {
            return '<span class="delete noClick"></span>';
          }
          return '<span class="delete"></span>';
        },
      }],
      data: [],
      page: {
        total: 0,
        curPage: 1,
        pageCount: 0,
        prePage: 10,
        pageSelect: [10, 20, 50, 100],
      },
    };
  },
  components: {},
  methods: {
    showEdit2(data){
      this.operate_tag = data.tap_id || '';
      this.showEdit('您确定要删除此标签吗？删除后将会取消所有用户与此标签的关系!');
    },
    tagList() {
      const obj = {
        start: (this.page.curPage - 1) * this.page.prePage,
        length: this.page.prePage,
        search: this.tag,
      };
      this.$http(this.$api.getTapInfo, obj)
        .then((data) => {
          if (data.status === 0) {
            this.data = [];
            this.page.total = parseInt(data.recordsTotal, 10);
            this.page.pageCount = Math.ceil(this.page.total / this.page.prePage);
            for (let i = 0, len = data.data.length; i < len; i += 1) {
              data.data[i].no = i + 1 + obj.start;
              this.data.push(data.data[i]);
            }
          } else {
            this.showConfirm(data.msg);
          }
        });
    },
    showConfirm(msg) {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head">提示<span @click="$emit('close')">x</span></div>
            <div class="modal_body_tips">
              <div>{{text}}</div>
            </div>
            <div class="modal_footer_confirm">
              <a href="javascript:void(0);" @click="submit">确定</a>
            </div>
          </div>
        `,
        props: ['text'],
        methods: {
          submit() {
            if (this.text === '是否将所选用户加入黑名单！') {
              this.$store.commit('modelOperate/changeOperate', true);
            }
            this.$emit('close');
          },
          showConfirm(data) {
            this.$modal.show({
              template: `
                <div>
                  <div class="modal_head">提示<span @click="$emit('close')">x</span></div>
                  <div class="modal_body_tips">
                    <div>{{text}}</div>
                  </div>
                  <div class="modal_footer_confirm">
                    <a href="javascript:void(0);" @click="submit">确定</a>
                  </div>
                </div>
              `,
              props: ['text'],
              methods: {
                submit() {
                  this.$emit('close');
                },
              },
            }, {
              text: data,
            }, {
              width: '360px',
              height: '220px',
              pivotX: 0.6,
              pivotY: 0.3,
            });
          },
        },
      }, {
        text: msg,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': () => {
          if (this.$store.state.modelOperate.operate) {
            this.$store.commit('modelOperate/changeOperate', false);
            this.joinBlack();
          }
        },
      });
    },
    showEdit(data) {
      if (data.tap_name != undefined) {
        this.operate_tag = data.tap_id;
        this.doModify = true;
      } else {
        this.doModify = false;
      }
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head"><span @click="$emit('close')">x</span></div>
            <div class="modal_body_confirm">
              <div v-if="text">{{text}}</div>
              <div v-if="!text"><span>标签名称</span><input type="text" v-model="tagName"></div>
            </div>
            <div class="modal_footer_confirm">
              <a href="javascript:void(0);" @click="submit">确定</a>
            </div>
          </div>
        `,
        data() {
          return {
            tagName: '',
          };
        },
        props: ['text', 'tag'],
        methods: {
          submit() {
            this.$store.commit('modelOperate/changeOperate', true);
            this.$store.commit('modelOperate/changeUserTag', this.tagName);
            this.$emit('close');
          },
        },
        mounted() {
          this.tagName = this.tag;
        },
      }, {
        tag: data.tap_name || '',
        text: (typeof data === 'string') ? data : '',
      }, {
        width: '480px',
        height: '260px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': this.beforeClose,
      });
    },
    beforeClose() {
      if (!this.$store.state.modelOperate.operate) {
        return false;
      }
      this.$store.commit('modelOperate/changeOperate', false);
      if (this.doModify) {
        const tagReg = /^[A-Za-z0-9\u4e00-\u9fa5]{1,20}$/;
        if (!tagReg.test(this.$store.state.modelOperate.userTag)) {
          this.showConfirm('标签名称只能包含中文、数字和字母，长度1-20个字符');
          return false;
        }
        this.$http(this.$api.updTap, { tap_id: this.operate_tag, tap_name: this.$store.state.modelOperate.userTag })
          .then((data) => {
            this.$store.commit('modelOperate/changeUserTag', '');
            if (data.status === 0) {
              this.showConfirm(data.data);
              this.tagList();
            } else {
              this.showConfirm(data.msg);
            }
          });
      } else {
        this.$http(this.$api.delTap, { tap_id: this.operate_tag })
          .then((data) => {
            if (data.status === 0) {
              this.showConfirm(data.data);
              this.tagList();
            } else {
              this.showConfirm(data.msg);
            }
          });
      }
    },
    showAdd() {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head"><span @click="$emit('close')">x</span></div>
            <div class="modal_body_confirm">
              <div><span>标签名称</span><input type="text" v-model="tagName" maxlength="20"></div>
            </div>
            <div class="modal_footer_confirm">
              <a href="javascript:void(0);" @click="submit">确定</a>
            </div>
          </div>
        `,
        data() {
          return {
            tagName: '',
          };
        },
        methods: {
          submit() {
            this.$store.commit('modelOperate/changeOperate', true);
            this.$store.commit('modelOperate/changeUserTag', this.tagName);
            this.$emit('close');
          },
        },
      }, {
      }, {
        width: '480px',
        height: '260px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': this.beforeCloseAdd,
      });
    },
    beforeCloseAdd() {
      if (!this.$store.state.modelOperate.operate) {
        return false;
      }
      const tag = this.$store.state.modelOperate.userTag;
      this.$store.commit('modelOperate/changeUserTag', '');
      this.$store.commit('modelOperate/changeOperate', false);
      if (tag.length === 0) {
        this.showConfirm('标签名称不能为空');
        return false;
      }
      const tagReg = /^[A-Za-z0-9\u4e00-\u9fa5]{1,20}$/;
      if (!tagReg.test(tag)) {
        this.showConfirm('标签名称只能包含中文、数字和字母，长度1-20个字符');
        return false;
      }
      this.$http(this.$api.newTap, { tap_name: tag })
        .then((data) => {
          if (data.status === 0) {
            this.showConfirm('添加标签成功');
            this.tagList();
          } else {
            this.showConfirm(data.msg);
          }
        });
    },
    changePage(val, len) {
      this.page.curPage = val;
      this.page.prePage = len || this.page.prePage;
      this.tagList();
    },
  },
  mounted() {
    this.tagList();
  },
};
</script>
