<template>
  <div class="infos">
    <div>
      <div>
        <h5>用户信息</h5>
      </div>
      <div>
        <div>
          <img :src="data.headimgurl" alt="">
        </div>
        <div class="info">
          <div>
            <div class="nickName">
              <span>昵称：{{data.nickname}}<span v-if="data.is_black == 1">(黑名单)&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
              <a href="javascript:void (0);" @click="outBlack" v-if="data.is_black == 1">恢复</a>
            </div>
          </div>
          <div>
            <div>性别：{{data.sex}}</div>
            <div>可用积分:{{data.credits}}</div>
            <div style="visibility: hidden;">历史积分：{{data.credits}}</div>
          </div>
          <div>
            <div>城市：{{data.city}}</div>
            <div>关注时间：{{data.create_time}}</div>
          </div>
          <div>
            <div>手机号：{{data.phone}}</div>
            <div>已打标签：{{data.tap_name}}</div>
          </div>
        </div>
      </div>
      <div>
        <select class="select" v-model="tableSelected" @change="selectChange" name="" id="">
          <option value="0">晒评价</option>
          <option value="1">订单返利</option>
          <option value="2">返利商城</option>
        </select>
      </div>
    </div>
    <v-table v-if="tableSelected === '0'" :columns="columns" :data="columnData" :page="page"></v-table>
    <v-table v-else-if="tableSelected === '1'" :columns="columnsRebate" :data="dataRebate" :page="page"></v-table>
    <v-table v-else-if="tableSelected === '2'" :columns="columnsMall" :data="dataMall" :page="page"></v-table>
    <a href="javascript: void (0);" @click="back">返回</a>
  </div>
</template>
<style lang="less" scoped>
  .select{
    width: 120px;
    padding-left: 10px;
    border: 1px solid #ddd;
    height: 34px;
    line-height: 34px;
  }
  .infos{
    overflow: hidden;
    background: #F6F6F6 !important;
    position: relative;
    >div{
      background: #fff;
      margin-top: 10px;
      padding: 10px 0 0 50px;
      >div{
        min-height: 36px;
        padding: 5px 0 10px;
        h5 {
          width: 80px;
          font-weight: 600;
          font-size: 16px;
          line-height: 36px;
        }
      }
      >div:nth-child(2){
        height: 200px;
        padding: 30px 20px;
        >div{
          font-size: 16px;
          line-height: 35px;
          min-height: 35px;
          float: left;
          img{
            display: block;
            width: 140px;
            height: 140px;
            margin-right: 20px;
          }
          .nickName{
            font-weight: 600;
            >span{
              float: left;
            }
            a{
              display: block;
              width: 80px;
              height: 30px;
              font-size: 16px;
              line-height: 28px;
              border: 1px solid #02ad9f;
              border-radius: 15px;
              color: #02ad9f;
              text-align: center;
              float: left;
            }
          }
        }
        .info{
          min-height: 35px;
          min-width: 600px;
          >div{
            min-height: 35px;
            >div{
              width: 260px;
              float: left;
            }
          }
        }
      }
    }
    >a{
      display: block;
      width: 80px;
      height: 32px;
      border-radius: 5px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #02ad9f;
      color: #02ad9f;
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
</style>
<script>
/* eslint-disable */
import message from '../common/message';

export default {
  data() {
    return {
      userId: '',
      tableSelected: '0',
      data: [{}],
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '订单号', data: 'order_id' },
      { title: '活动名称', data: 'event', class: 'largest' },
      { title: '好评截图',
        data: 'screenshot',
        class: 'small headImg',
        render(val) {
          return `<img src="${val}"/>`;
        },
      },
      { title: '评价信息', data: 'result', class: 'largest' },
      { title: '返利金额(元)', data: 'amount', class: 'largest' },
      { title: '返利时间', data: 'create_time' },],
      columnData: [],
      page: {
        total: 0,
        curPage: 1,
        pageCount: 0,
        prePage: 10,
        pageSelect: [10, 20, 50, 100],
      },
      dataRebate: [{
        city: '',
        create_time: '',
        credits: 0,
        headimgurl: '',
        is_black: '',
        nickname: '',
        no: '',
        phone: '',
        sex: '',
        tap_id: '',
        tap_name: '',
        user_id: '',
      }],
      columnsRebate: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
        { title: '活动名称', data: 'event', class: 'largest' },
        { title: '订单号', data: 'order_id' },
        { title: '返利金额(元)', data: 'amount' },
        { title: '返利时间', data: 'modify_time' },
    ],
      dataMall: [],
      columnsMall: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
        { title: '活动名称', data: 'activity_name', class: 'largest' },
        { title: '订单号', data: 'tid' },
        { title: '返利金额', data: 'rebate' },
        { title: '返利时间', data: 'modified' },
      ],
    };
  },
  components: { message },
  methods: {
    show(ref) {
      this.$refs[ref].show();
    },
    back() {
      this.$router.back();
    },
    outBlack() {
      this.$http(this.$api.outBlack, { userId: this.data.user_id })
        .then((data) => {
          if (data.status === 0) {
            this.getInfo();
            this.showConfirm(data.data);
          } else {
            this.showConfirm(data.msg);
          }
        });
    },
    getInfo() {
      this.$http(this.$api.userInfo, { userId: this.userId})
        .then((data) => {
          if (data.status === 0) {
            this.data = data.data[0];
          } else {
            this.showConfirm(data.msg);
          }
        });
    },
    myTrade() {
      const obj = {
        userId: this.userId,
        start: (this.page.curPage - 1) * this.page.prePage,
        length: this.page.prePage,
      };
      this.$http(this.$api.myTrade, obj)
        .then((data) => {
          if (data.status === 0) {
            this.columnData = [];
            this.page.total = parseInt(data.recordsTotal, 10);
            this.page.pageCount = Math.ceil(this.page.total / this.page.prePage);
            for (let i = 0, len = data.data.length; i < len; i += 1) {
              data.data[i].no = i + 1 + obj.start;
              this.columnData.push(data.data[i]);
            }
          } else {
            this.showConfirm(data.msg);
          }
        });
    },
    showConfirm(data) {
      this.$modal.show({
        template: `
                <div>
                  <div class="modal_head">提示</div>
                  <div class="modal_body_tips">
                    <div>{{text}}</div>
                  </div>
                  <div class="modal_footer_confirm">
                    <a href="javascript:void(0);" @click="submit">确定</a>
                  </div>
                </div>
              `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      });
    },
    changePage(val, len) {
      this.page.curPage = val;
      this.page.prePage = len || this.page.prePage;
      this.myTrade();
    },
    selectChange() {
      if (this.tableSelected === '0') {
        this.getCommentList();
      } else if (this.tableSelected === '1') {
        this.getOrderList();
      } else {
        this.getMallList();
      }
    },
    getCommentList() {
      const obj = {
        userId: this.userId,
        start: this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
      };
      this.$http(this.$api.userGetComment, obj)
        .then((res) => {
          if (res.status === 0) {
            this.columnData = [];
            this.page.total = parseInt(res.recordsTotal, 10);
            this.page.pageCount = Math.ceil(this.page.total / this.page.prePage);
            for (let i = 0, len = res.data.length; i < len; i += 1) {
              res.data[i].no = i + 1 + obj.start;
              this.columnData.push(res.data[i]);
            }
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    getOrderList() {
      const obj = {
        userId: this.userId,
        start: this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
      };
      this.$http(this.$api.userGetOrder, obj)
        .then((res) => {
          if (res.status === 0) {
            this.dataRebate = [];
            this.page.total = parseInt(res.recordsTotal, 10);
            this.page.pageCount = Math.ceil(this.page.total / this.page.prePage);
            for (let i = 0, len = res.data.length; i < len; i += 1) {
              res.data[i].no = i + 1 + obj.start;
              this.dataRebate.push(res.data[i]);
            }
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    getMallList() {
      const obj = {
        userId: this.userId,
        start: this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
      };
      this.$http(this.$api.userGetRebate, obj)
        .then((res) => {
          if (res.status === 0) {
            this.dataMall = [];
            this.page.total = parseInt(res.recordsTotal, 10);
            this.page.pageCount = Math.ceil(this.page.total / this.page.prePage);
            for (let i = 0, len = res.data.length; i < len; i += 1) {
              res.data[i].no = i + 1 + obj.start;
              this.dataMall.push(res.data[i]);
            }
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
  },
  mounted() {
    this.userId = JSON.parse(this.$route.params.id);
    this.getInfo();
    this.myTrade();
    this.selectChange();
  },
};
</script>
