<template>
  <div class = "m-dialog-wrapper">
    <header class = "m-dialog-head">head</header>
    <main class = "m-dialog-body">body</main>
    <input
      ref="upload"
      @change="handleStart"
      type = "file">
    <footer class = "m-dialog-footer">
      <slot></slot>
    </footer>
    <div></div>
  </div>
</template>

<script>
  export default {
    name   : 'Mdialog',
    data() {
      return {
        msg:'歡迎使用jsx',
        uploads:[]
      };
    },
    methods: {
      handleStart(){
        console.log(this.$refs['upload'].files);
        
        var formData=new FormData()
        formData.append('file')
        
        let file={
   
        }
      }
    },
    render() {
      return (<div>{ msg }</div>);
    },
    mounted() {
      console.log(this.$refs['upload']);
    }
  };
</script>

<style lang = "scss">
  
  .m-dialog-wrapper {
    border: 1px solid #cccccc;
    position: absolute;
    width: 50vw;
    min-height: 30vh;
    &-head {
    
    }
  }


</style>
