<template>
  <div id="app">
    <div class="content" v-if="!login">
      <router-view :key="new Date().getTime()"/>
    </div>
    <div v-if="login">
      <router-view/>
    </div>
    <topNav class="topItem" v-if="!login"></topNav>
    <navigation class="side-nav" v-if="!login"></navigation>
    <modals-container></modals-container>
  </div>
</template>

<script>
import navigation from './components/navigation/navigation';
import topNav from './components/navigation/topNav';

/* eslint-disable */
export default {
  name: 'App',
  data() {
    return {};
  },
  components: { navigation, topNav },
  mounted() {
    const _this = this;
    document.getElementsByTagName('body')[0].style.height = `${document.documentElement.innerHeight}px`;
    document.getElementsByTagName('body')[0].style.width = `${document.documentElement.innerHeight}px`;
    window.onresize = function () {
      if (!_this.login) {
        document.getElementsByTagName('body')[0].style.height = `${document.documentElement.innerHeight}px`;
        document.getElementsByTagName('body')[0].style.width = `${document.documentElement.innerHeight}px`;
        document.getElementsByClassName('topItem')[0].style.width = `${window.innerWidth - 250}px`;
      }
    };
  },
  computed:{
    login() {
      return this.$route.path.indexOf('do') !== -1;
    },
  },
};
</script>

<style lang="less">
  html,body,p,ul,li,select,option,input,a,table,tr,th{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  body{
    margin: 0;
    min-height: 800px;
    overflow: scroll;
    background: #fff;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    min-width: 1500px;
    min-height: 800px;
    margin: auto;
  }
  .content{
    margin: 50px 0 0 250px;
    padding: 30px 0;
    position: relative;
  }
  .topItem{
    padding-right: 20px;
    min-width: 340px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    background: #EBF9F7;
  }
  .clear:after,
  .clear:before{
    display: block;
    content: '';
    height: 0;
    visibility: hidden;
    clear: both;
  }
  .date-time-item{
    position: relative;
    width: 160px;
  }
  .date-time-input{
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 10px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  .date-time-item:before{
    display: block;
    content: " ";
    width: 30px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 8px;
    background: url("./assets/time.png") no-repeat center;
    background-size: 25px auto;
  }
  // 查询条件的样式
  .search_body{
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 35px;
    font-size: 16px;
    select, input{
      display: block;
      padding-left: 10px;
      height: 36px;
      line-height: 34px;
      border: 1px solid #ddd;
    }
    // select/span input 组合的搜索条件
    .search_item{
      width: 440px;
      span,
      select{
        width: 120px;
        float: left;
        border-right: none;
        font-size: 16px;
      }
      span{
        display: block;
        width: 80px;
        line-height: 36px;
      }
      input{
        width: 310px;
        font-size: 14px;
      }
    }
    // span select 组合的搜索条件
    .search_status{
      width: 250px;
      span{
        display: block;
        float: left;
        width: 80px;
        line-height: 36px;
      }
      select{
        width: 160px;
        padding-left: 10px;
        border: 1px solid #ddd;
        line-height: 34px;
      }
    }
    // 开始时间至结束时间的搜索条件
    .search_time{
      width: 440px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      >span,
      >div{
        display: block;
        height: 36px;
        flex-shrink: 1;
      }
      >span{
        line-height: 36px;
      }
      >div{
        width: 160px;
      }
      .time-middle{
        width: 30px;
        text-align: center;
      }
      .fourCode{
        width: 80px;
      }
    }
    // 搜索点击按钮
    .search_btn{
      cursor: pointer;
      padding-top: 2px;
      line-height: 36px;
      a{
        display: block;
        width: 120px;
        height: 36px;
        margin-left: 10px;
        text-align: center;
        color: #fff;
        background: #02AD9F;
        border-radius: 5px;
        float: right;
      }
      a:last-child{
        color: #02ad9f;
        border: 1px solid #02ad9f;
        background: #fff;
        line-height: 34px;
      }
    }
    // 只有一个可点击的按钮
    .oneBtn{
      a:last-child{
        color: #fff;
        border: none;
        background: #02ad9f;
        line-height: 36px;
      }
    }
  }
  .v--modal{
    position: relative;
    .modal_head{
      background: #eee;
      min-height: 50px;
      font-size: 18px;
      line-height: 50px;
      padding-left: 20px;
      span{
        display: block;
        width: 50px;
        font-size: 28px;
        text-align: center;
        float: right;
        cursor: pointer;
      }
    }
    .modal_head_back{
      background: #eee;
      min-height: 50px;
      font-size: 18px;
      line-height: 50px;
      padding-left: 20px;
      .iconfont{
        position: absolute;
        right: 0;
        font-size: 28px;
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .noDate_table{
      background: #eee;
      text-align: center;
      line-height: 50px;
      text-align: center;
    }
    .modal_body{
      padding: 10px;
      >div{
        min-height: 50px;
        font-size: 16px;
        line-height: 50px;
        *{
          float: left;
        }
        img{
          display: block;
          width: 40px;
          height: 40px;
          margin-right: 10px;
          border-radius: 50%;
        }
        >div:first-child{
          width: 120px;
          min-height: 50px;
          text-align: right;
        }
        >div:last-child{
          padding-left: 10px;
          font-weight: 600;
          max-width: 450px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          span{
            font-weight: 600;
          }
        }
        .audit{
          span{
            font-weight: normal;
          }
          label{
            display: block;
            height: 50px;
            font-size: 14px;
            line-height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            >div{
              width: 10px;
              height: 10px;
              padding: 3px;
              border: 1px solid #666;
              border-radius: 50%;
              span{
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #02AD9F ;
              }
            }
            input[type='radio']{
              display: none;
            }
            >span{
              display: block;
              text-align: left;
              padding: 0 10px;
              min-width: 80px;
            }
            input[type='text']{
              display: block;
              width: 190px;
              height: 36px;
              padding: 0 10px;
              line-height: 34px;
              border: 1px solid #ddd;
            }
          }
        }
      }
      .auditEnd{
        display: flex;
        align-items: center;
        justify-content: space-around;
        span{
          display: block;
          width: 150px;
          min-height: 80px;
          font-size: 19px;
          line-height: 80px;
          padding-left: 40px;
          background: url('./assets/right.png') no-repeat 0 center;
          background-size: 30px 30px;
        }
      }
      .auditFail{
        span{
          display: block;
          width: 100px;
          min-height: 80px;
          margin-left: 200px;
          float: left;
          font-size: 15px;
          line-height: 80px;
        }
        a{
          display: block;
          width: 100px;
          margin-top: 22px;
          float: left;
          text-align: center;
          background: #02ad9f;
          color: #fff;
          font-size: 17px;
          line-height: 36px;
          border-radius: 5px;
        }
      }
    }
    .modal_body_order{
      .modal_body_container{
        margin: 30px;
        display: flex;
        .container_left{
          display: flex;
          width: 120px;
          flex-direction: column;
          span{
            font-size: 15px;
            color:rgba(51,51,51,1);
            line-height: 30px;
          }
        }
        .container_right{
          flex: 1;
          flex-direction: column;
          span{
            overflow: hidden;
            display: block;
            font-size: 15px;
            color:rgba(51,51,51,1);
            line-height: 30px;
            height: 30px;
          }
        }
      }
    }
    .modal_body_evaluate{
      .modal_body_container{
        display: flex;
        flex-direction: column;
        padding: 30px 40px 0 40px;
        font-size: 15px;
        color:rgba(51,51,51,1);
        .title{
          >span{
            &:first-child{
              font-weight: bold;
            }
          }
        }
        .info_middle{
          span{
            display: block;
            margin-top: 18px;
            margin-bottom: 13px;
          }
          .middle_wrapper{
            display: flex;
            width:520px;
            height:110px;
            border:1px solid rgba(221,221,221,1);
            .middle_info_item{
              display: flex;
              flex-direction: column;
              width: 33.33%;
              span{
                align-self: center;
              }
              p{
                align-self: center;
                font-weight: bold;
                padding: 10px;
                text-overflow: ellipsis;
              }
            }
          }
        }
        .info_bottom{
          display: flex;
          .info_bottom_left{
            display: inline-block;
            >span{
              display: block;
              margin-top: 18px;
              margin-bottom: 13px;
            }
            .info_bottom_left_main{
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 360px;
              height:150px;
              border:1px solid rgba(221,221,221,1);
              >span{
                line-height: 32px;
                margin-left: 10px;
              }
            }
          }
          .info_bottom_right{
            display: inline-block;
            margin-left: 15px;
            >span{
              display: block;
              margin-top: 18px;
              margin-bottom: 13px;
            }
            .img_wrapper{
              width: 150px;
              height: 150px;
              img{
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
    .modal_body_orderInfo{
      padding: 30px 50px;
      .title{
        display: flex;
        span{
          width: 33.33%;
          font-weight: bold;
          color: #333333;
          &:nth-child(2){
            text-align: center;
          }
          &:last-child{
            text-align: right;
          }
        }
      }
      .title_content{
        display: flex;
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        border-bottom: 1px solid #dddddd;
        overflow: hidden;
        span{
          display: inline-block;
          width: 50%;
          box-sizing: border-box;
          &:last-child{
            text-align: right;
          }
        }
      }
      .info_item{
        display: flex;
        line-height: 42px;
        span{
          display: inline-block;
          &:nth-child(2){
            align-self: center;
            flex: 1;
            height: 1px;
            margin: 0 10px;
            border-bottom: 2px dotted #dddddd;
          }
        }
      }
    }
    .modal_body_protocol{
      padding: 10px 20px;
      font-size: 16px;
      p{
        line-height: 36px;
        text-indent: 2em;
      }
      .book{
        font-size: 18px;
        color: #E0224D;
      }
      .mark{
        font-weight: 600;
        text-decoration: underline;
      }
    }
    .modal_body_tips{
      padding: 50px 50px 30px;
      text-align: center;
      min-height: 30px;
      font-size: 16px;
      line-height: 30px;
      .modal_body_tips_title{
      }
      .modal_body_tips_text{
        line-height: 30px;
        .green{
          color: #02AD9F;
        }
      }
      .modal_body_tips_footer{
        float: left;
        font-size:16px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(153,153,153,1);
      }
    }
    .modal_body_table{
      max-height: 550px;
      overflow-y: scroll;
    }
    .modal_body_tag{
      min-height: 200px;
      padding: 50px 90px 30px;
      font-size: 16px;
      line-height: 30px;
      input,select{
        padding-left: 10px;
        line-height: 28px;
        border: 1px solid #ddd;
      }
      label{
        display: block;
        margin: 20px 0;
        min-height: 30px;
        *{
          display: block;
          float: left;
          height: 30px;
        }
        span{
          width: 80px;
        }
        select{
          width: 280px;
        }
      }
      div{
        margin-left: 80px;
        *{
          display: block;
          float: left;
        }
        input{
          width: 200px;
          margin-right: 20px;
        }
        a{
          width: 60px;
          line-height: 28px;
          border: 1px solid #02ad9f;
          border-radius: 5px;
          color: #02ad9f;
          text-align: center;
        }
      }
    }
    .modal_body_charge{
      min-height: 380px;
      padding: 50px 50px 0;
      font-size: 16px;
      line-height: 30px;
      >div{
        &:after{
          display: block;
          content: '';
          height: 0;
          clear: both;
          visibility: hidden;
        }
        >div:first-child{
          display: block;
          width: 120px;
          min-height: 62px;
          font-size: 16px;
          line-height: 60px;
          float: left;
        }
        >div:nth-child(2){
          width: 570px;
          min-height: 62px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          flex-direction: row;
          float: left;
          line-height: 62px;
          >div{
            width: 125px;
            height: 40px;
            padding: 10px 0;
            margin: 0 10px 10px 0;
            border: 1px solid #02ad9f;
            border-radius: 5px;
            color: #02ad9f;
            &.active{
              background: #02ad9f;
              color: #fff;
            }
            p{
              text-align: center;
            }
            p:first-child{
              font-size: 20px;
              line-height: 28px;
            }
            p:nth-child(2){
              font-size: 12px;
              line-height: 12px;
            }
          }
        }
        >span{
          display: block;
          width: 300px;
          height: 62px;
          line-height: 62px;
          float: left;
          padding-left: 40px;
          background: url("assets/weChat.png") no-repeat 0 center;
          background-size: 30px auto;
        }
        >a{
          display: block;
          width:120px;
          height:40px;
          margin-top: 20px;
          line-height: 40px;
          text-align: center;
          float: left;
          background: #02ad9f;
          color: #fff;
          border-radius:4px;
        }
      }
    }
    .modal_body_confirm{
      padding: 60px 50px 0;
      text-align: center;
      min-height: 90px;
      font-size: 16px;
      line-height: 30px;
      span{
        margin-right: 10px;
      }
      input{
        width: 250px;
        padding-left: 10px;
        line-height: 28px;
        border: 1px solid #ccc;
      }
    }
    .modal_body_Url{
      padding: 10px 10px 0;
      line-height: 30px;
      text-align: left;
      text-indent: 2em;
      word-break: break-all;
    }
    .modalImg{
      padding: 19px 19px 0;
      border: 1px solid #ddd;
      p{
        text-align: center;
        font-size: 20px;
        line-height: 49px;
      }
    }
    .modal_footer{
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      a{
        width: 100px;
        text-align: center;
        background: #02ad9f;
        color: #fff;
        line-height: 36px;
        border-radius: 5px;
      }
    }
    .modal_footer_confirm{
      height: 50px;
      width: 100%;
      position: absolute;
      bottom: 10px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      a{
        display: block;
        height: 36px;
        width: 100px;
        background: #02ad9f;
        color: #fff;
        line-height: 36px;
        border-radius: 5px;
        text-align: center;
      }
    }
    .modal_footer_order{
      height: 50px;
      width: 100%;
      position: absolute;
      bottom: 30px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .common{
        display: block;
        height: 36px;
        width: 100px;
        line-height: 36px;
        border-radius: 5px;
        text-align: center;
        margin: 5px;
      }
      .confirm{
        .common;
        color: #fff;
        background: #02ad9f;
      }
      .noConfirm{
        .common;
        color: #02AD9F;
        background: #ffffff;
        border:1px solid rgba(2,173,159,1);
      }
    }
    .modal_footer_table{
      height: 50px;
      width: 100%;
      position: absolute;
      bottom: 10px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      a{
        display: block;
        height: 36px;
        width: 150px;
        background: #02ad9f;
        color: #fff;
        line-height: 36px;
        border-radius: 5px;
        text-align: center;
      }
    }
  }
  /*.v-modal-order{*/
    /*position: relative;*/
    /*background: #ffffff;*/
    /*.modal_head{*/
      /*background: #eee;*/
      /*min-height: 50px;*/
      /*font-size: 18px;*/
      /*line-height: 50px;*/
      /*padding-left: 20px;*/
    /*}*/
  /*}*/
</style>
