<template>
  <div id="container">
    <div class="headImg" v-if="!isPlatform">
      <img :src="headImg" alt="商户头像" />
      <div>
        <p><span>商户： </span>{{merchant}}</p>
        <p><span>公众号： </span>{{publicNum}}</p>
      </div>
    </div>
    <div class="platform" v-if="isPlatform">
      平台管理
    </div>
    <div id="navigation">
      <ul v-for="(item, index) in navItems"
          v-if="!item.show"
          :class="{'chooseUl': itemIndex == index}"
          :key="item.title">
        <li @click="showChildren(item, index)"
            v-if="!item.show"
            :class="{'noChild': curIndex == `${index}-1`}">
          <img :src="itemIndex == index ? item.src_show : item.src"/>
          <span v-if="item.children.length !== 0"></span>
          {{item.title}}
        </li>
        <li v-for="(v, i) in item.children"
            :key="v.title"
            v-if="!v.show"
            @click="goRoute(v, i)"
            :class="{'chooseLi': (curIndex === `${index}${i}`)}"
        >{{v.title}}</li>
      </ul>
    </div>
  </div>
</template>
<style lang="less" scoped>
#container {
  width: 250px;
  height: 100%;
  min-height: 800px;
  position: fixed;
  top: 0;
  left: 0;
  background: #2E2F30;
  font-size: 16px;
  .headImg{
    height: 180px;
    padding-left: 10px;
    margin-bottom: 26px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #282828;
    line-height: 20px;
    background: #02AD9F;
    *{
      flex-shrink: 1;
      flex-grow: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    img{
      display: block;
      width: 62px;
      height: 62px;
      border-radius: 50%;
      overflow: hidden;
    }
    div{
      width: 160px;
      font-size: 14px;
      line-height: 30px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      span{
        font-weight: 600;
      }
    }
  }
  .platform{
    height: 100px;
    padding-left: 100px;
    margin-bottom: 26px;
    font-size: 26px;
    line-height: 100px;
    text-align: left;
    background: #02AD9F url("../../assets/headImg.png") no-repeat 20px center;
    background-size: auto 50px;
    color: #fff;
  }
  >div:last-child{
    overflow: auto;
    max-height: calc(100vh - 180px);
    ul{
      overflow: hidden;
      li{
        height: 0;
        padding-left: 80px;
        font-size: 14px;
        color: #CACACA;
        cursor: pointer;
      }
      li:first-child{
        height: 50px !important;
        padding: 0 0 0 70px;
        line-height: 50px;
        font-size: 16px;
        background: #2E2F30;
        position: relative;
        -webkit-animation: none;
        -o-animation: none;
        animation: none;
        img{
          display: block;
          width: 18px;
          height: 18px;
          position: absolute;
          top: 16px;
          left: 45px;
          filter: opacity(40%);
        }
        span{
          display: block;
          width: 16px;
          height: 16px;
          float: right;
          margin: 17px;
          background: url('../../assets/right_arrow.png') no-repeat center;
          background-size: 100%;
        }
      }
      .noChild{
        padding-left: 65px !important;
        border-left: 5px solid #02AD9F;
        background: #232323;
        img{
          left: 40px !important;
        }
      }
    }
    .chooseUl{
      background: #282828;
      font-weight: 600;
      li:first-child{
        color: #02AD9F ;
        background: none;
        -webkit-animation: none;
        -o-animation: none;
        animation: none;
        img{
          filter: opacity(100%);
        }
        span{
          -webkit-transform: rotateZ(90deg);
          -moz-transform: rotateZ(90deg);
          -ms-transform: rotateZ(90deg);
          -o-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
        }
      }
      li{
        height: 40px;
        line-height: 40px;
        -webkit-animation: autoHeight 0.5s ease-in-out;
        -o-animation: autoHeight 0.5s ease-in-out;
        animation: autoHeight 0.5s ease-in-out;
        overflow: hidden;
      }
      .chooseLi{
        padding-left: 75px;
        color: #02AD9F ;
        background: #232323;
        border-left: 5px solid #02AD9F;
      }
      @keyframes autoHeight {
        0% { height: 0 }
        100% { height: 40px }
      }
    }
  }
}
</style>
<script>
/* eslint-disable */
export default {
  data() {
    return {
      merchant: '',
      publicNum: '',
      headImg: '',
      itemIndex: 0,
      childIndex: 0,
      curIndex: '00',
      navItems: [{
        title: '商品返利策略',
        src: require('../../assets/goods.png'),
        src_show: require('../../assets/goods_show.png'),
        route: '/evaluate',
        show: false,
        children: [{
          title: '晒评价',
          route: '/evaluate',
          show: false,
        },{
          title: '订单信息',
          route: '/order',
          show: false,
        },{
          title: '订单返利',
          route: '/rebate',
          show: false,
        }],
      }, {
        title: '返利商城管理',
        src: require('../../assets/rebate.png'),
        src_show: require('../../assets/rebate_show.png'),
        route: '/mall',
        show: false,
        children: [],
      }, {
        title: '积分商城管理',
        src: require('../../assets/integral.png'),
        src_show: require('../../assets/integral_show.png'),
        route: '/integral',
        show: false,
        children: [],
      }, {
        title: '账号管理',
        src: require('../../assets/account.png'),
        src_show: require('../../assets/account_show.png'),
        route: '/account',
        show: false,
        children: [],
      }, {
        title: '用户管理',
        src: require('../../assets/users.png'),
        src_show: require('../../assets/users_show.png'),
        route: '/user',
        show: false,
        children: [],
      }, {
        title: '数据统计',
        src: require('../../assets/count.png'),
        show: false,
        src_show: require('../../assets/count_show.png'),
        children: [{
          title: '晒评价统计',
          route: '/evaluateCount',
          show: false,
        }, {
          title: '订单返利统计',
          route: '/rebateCount',
          show: false,
        }, {
          title: '签到统计',
          route: '/signCount',
          show: false,
        }, {
          title: '兑换记录统计',
          route: '/exchangeCount',
          show: false,
        }, {
          title: '积分记录统计',
          route: '/integralCount',
          show: false,
        }],
      }, {
        title: '系统管理',
        src: require('../../assets/system.png'),
        show: false,
        src_show: require('../../assets/system_show.png'),
        children: [{
          title: '公众号管理',
          route: '/systemConfig',
          show: false,
        }, {
          title: '店铺管理',
          route: '/shop',
          show: false,
        }, {
          title: '短信充值',
          route: '/smsRecharge',
          show: false,
        }, {
          title: '修改密码',
          route: '/modifyPwd',
          show: false,
        }],
      }, {
        title: '首页',
        src: require('../../assets/company.png'),
        src_show: require('../../assets/company_show.png'),
        route: '/home',
        show: false,
        children: [],
      }, {
        title: '公司管理',
        src: require('../../assets/company.png'),
        src_show: require('../../assets/company_show.png'),
        route: '/company',
        show: false,
        children: [],
      }, {
        title: '修改密码',
        src: require('../../assets/navPassword.png'),
        src_show: require('../../assets/navPassword_show.png'),
        route: '/password',
        show: false,
        children: [],
      }],
      isPlatform: false,
    };
  },
  mounted() {
    this.itemIndex = this.getCookie('itemIndex') || 0;
    this.childIndex = this.getCookie('childIndex') || 0;
    this.curIndex = `${this.itemIndex}${this.childIndex}`;
    this.headImg = (this.getCookie('head_img') && decodeURIComponent(this.getCookie('head_img'))) || require('../../assets/headImg.png');
    this.publicNum = decodeURIComponent(this.getCookie('nick_name'));
    this.merchant = decodeURIComponent(this.getCookie('company_name'));
    if (this.getCookie('power') === 'company'){
      let hasChild = true;
      const power1 = JSON.parse(decodeURIComponent(this.getCookie('operate_power')));
      this.isPlatform = false;
      const power = {"rebateEvent":1,"rebateSet":1,"integralEvent":1,"integralSet":1,"account":1,"user":1,"reviewStat":1,"rebateStat":1,"signStat":1,"cashStat":1,"integralStat":1,"vipcn":1,"shop":1,"sms":1};
      if (!power){
        return false;
      }
      if (power['review'] == 1 || power['orderInfo'] == 1 || power['orderRebate'] == 1) {
        this.navItems[0].show = true;
      }
      if (power['review'] == 1) {
        hasChild = true;
        this.navItems[0].children[0].show = true;
      }
      if (power['orderInfo'] == 1) {
        hasChild = true;
        this.navItems[0].children[1].show = true;
      }
      if (power['orderRebate'] == 1) {
        hasChild = true;
        this.navItems[0].children[1].show = true;
      }
      if (power['review'] == 1) {
        this.navItems[0].show = true;
      }
      setTimeout(() => {
        const el = document.getElementById('navigation') && document.getElementById('navigation').children[0].children;
        if (this.itemIndex === 0 && this.childIndex === 0) {
          if(hasChild && el) {
            el[1].click();
          } else if(el) {
            el[0].click();
          }
        }
      }, 1000);
    } else if (this.getCookie('power') === 'platform') {
      this.isPlatform = true;
      this.itemIndex = 3;
      this.navItems[3].show = true;
      this.navItems[4].show = true;
    }
    // yh: 测试平台和公司切换
    const fn = (navItems, type) => {
      if (type === 'company') {
        this.navItems[1].show = true;
        // this.navItems[3].show = true;
        this.navItems[5].show = true;
        this.navItems[7].show = true;
        this.navItems[8].show = true;
        this.navItems[9].show = true;
      } else {
        this.navItems[0].show = true;
        this.navItems[1].show = true;
        this.navItems[2].show = true;
        this.navItems[3].show = true;
        this.navItems[4].show = true;
        this.navItems[5].show = true;
        this.navItems[6].show = true;
        this.navItems[7].show = true;
      }
    };
    fn(this.navItems, this.getCookie('power'));
    setTimeout(() => {
      const el = document.getElementById('navigation') && document.getElementById('navigation').children[0].children;
      if (this.itemIndex === 0 && this.childIndex === 0) {
        if(hasChild && el) {
          el[1].click();
        } else if(el) {
          el[0].click();
        }
      }
    }, 1000);
    // 结束
  },
  components: {},
  methods: {
    goRoute(val, ind) {
      this.delCookie('tabInd');
      this.childIndex = ind;
      this.curIndex = `${this.itemIndex}${ind}`;
      this.setCookie('itemIndex', this.itemIndex);
      this.setCookie('childIndex', ind);
      this.$router.push(val.route);
    },
    showChildren(item, ind) {
      if (item.children.length === 0) {
        this.itemIndex = ind;
        this.curIndex = `${ind}-1`;
        this.setCookie('itemIndex', ind);
        this.setCookie('childIndex', -1);
        this.delCookie('tabInd');
        this.childIndex = ind;
        this.$router.push(item.route);
        return true;
      }
      if (this.itemIndex === ind) {
        this.itemIndex = -1;
        return false;
      }
      this.itemIndex = ind;
      return true;
    },
  },
};
</script>
