<template>
  <div class="tabContainer">
    <a href="javascript:void(0);"
       v-for="item in tabs"
       @click="changeInd(item.index)"
       :class="{'active': tabInd == item.index}"
       :key="item.content">
      {{item.title}}
    </a>
  </div>
</template>
<style lang="less" scoped>
  .tabContainer{
    padding-left: 50px;
    padding-bottom: 30px;
    height: 40px;
    a{
      display: block;
      width: 150px;
      margin-right: 20px;
      float: left;
      font-size: 18px;
      line-height: 38px;
      text-align: center;
      border-radius: 20px;
      color: #999;
      border: 1px solid #ddd;
      text-decoration: none;
      &.active{
        background: #02AD9F;
        color: #fff;
      }
    }
  }
</style>
<script>
export default {
  data() {
    return {
      tabInd: 0,
    };
  },
  props: ['tabs'],
  components: {},
  mounted() {
    this.tabInd = this.getCookie('tabInd') || 0;
  },
  methods: {
    changeInd(ind, query) {
      const queryData = query || undefined;
      this.setCookie('tabInd', ind);
      this.tabInd = ind;
      this.$emit('jumpRoute', ind, queryData);
    },
  },
};
</script>
