<template>
  <div class="nav-top">
    <div>
      <div v-show="!isPlatform">
        <span @click.stop="showNotice"><i>{{news}}</i></span>
        <Notice @mouseleave.native="hiddenNotice()"
                v-show="show"
                :messageData="messageData"
        ></Notice>
      </div>
      <span v-show="!isPlatform" @click="showHelp">帮助中心</span>
      <span style="float: right" @click="logOut">安全退出</span>
    </div>
  </div>
</template>
<style lang="less" scoped>
  .nav-top{
    >div{
      width: 300px;
      float: right;
      display: flex;
      align-items: center;
      justify-content: space-between;
      *{
        flex-grow: 0;
      }
      >div{
        position: relative;
      }
      span{
        display: block;
        width: 110px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        padding: 0 15px;
        position: relative;
        cursor: pointer;
        &:before{
          content: '';
          height: 50px;
          width: 20px;
          position: absolute;
          left: 0;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px auto;
        }
      }
      span:first-child{
        width: 80px;
        padding: 0;
        &:before{
          left: 20px;
          background-image: url('../../assets/message.png');
          cursor: pointer;
        }
        i{
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #EA4F39;
          color: #fff;
          font-style: normal;
          font-size: 12px;
          line-height: 20px;
          text-align: center;
          position: absolute;
          left: 30px;
          top: 5px;
        }
      }
      span:nth-child(2) {
        &:before{
          background-image: url('../../assets/problem.png');
          cursor: pointer;
        }
      }
      span:last-child {
        &:before{
          background-image: url('../../assets/exit.png');
          cursor: pointer;
        }
      }
    }
  }
</style>
<script>
import Notice from '../notice/notice';

export default {
  data() {
    return {
      news: '',
      show: false,
      messageData: [],
    };
  },
  components: { Notice },
  computed: {
    isPlatform() {
      return this.getCookie('power') === 'company' ? false : true;
    }
  },
  mounted() {
    document.getElementsByClassName('topItem')[0].style.width = `${window.innerWidth - 250}px`;
  },
  methods: {
    logOut() {
      this.$http(this.$api.logOut)
        .then((data) => {
          if (data.status === 0) {
            this.delCookie('itemIndex');
            this.delCookie('childIndex');
            this.$router.push('/dologin');
          }
        });
    },
    showNotice() {
      this.show = !this.show;
    },
    hiddenNotice() {
      this.showNotice();
    },
    showHelp() {
      this.$router.push('/help');
    },
    getNumber() {
      const power = this.getCookie('power');
      if (power  === 'company') {
        this.$http(this.$api.messageGetMessage, {})
          .then((res) => {
            if (res.status === 0) {
              this.messageData = res.data;
              if (res.data.length > 99) {
                this.news = '99+';
                return;
              }
              this.news = res.data.length;
            } else {
              this.showConfirm(res.msg);
            }
          });
      }
    },
  },
  created() {
    this.getNumber();
  },
};
</script>
