<template>
  <div>
    <div></div>
    <ve-line class="chartContainer"
             :series="series"
             :yAxis="yAxis"
             :grid="grid"
             :xAxis="xAxis"
             :legend="legend"
    ></ve-line>
  </div>
</template>
<style lang="less" scoped>
  .chartContainer{
    padding: 0 35px;
  }
</style>
<script>
import VeLine from 'v-charts/lib/line.common';
import 'v-charts/lib/bar.common';

export default {
  data() {
    return {
      grid: {
        top: 30,
        right: 30,
        left: 30,
        bottom: 30,
      },
      // charData: {
      //   columns: ['日期', '人数', '金额'],
      // },
      legend: {
      },
    };
  },
  props: ['series', 'yAxis', 'xAxis'],
  components: { VeLine },
};
</script>
