<template>
  <div>
    <div class="export clear">
      <a href="javascript: void(0);">导出</a>
    </div>
    <v-table ref="list" :showChoose="false" :columns="columns" :data="data" :page="page"></v-table>
  </div>
</template>
<style lang="less" scoped>
  .export{
    padding: 25px 35px 25px 0;
    a{
      display: block;
      float: right;
      width: 120px;
      height: 40px;
      color: #fff;
      font-size: 18px;
      line-height: 40px;
      text-align: center;
      background: #02ad9f;
      border-radius: 5px;
    }
  }
</style>
<script>
export default {
  data() {
    return {};
  },
  props: ['columns', 'data', 'page'],
  components: {},
  methods: {
    getList() {
      this.$parent.getList();
    },
    getListData(api, obj, successCallbackFn) {
      this.$http(api, obj)
        .then((res) => {
          if (res.status === 0) {
            this.$parent.data = [];
            this.page.total = parseInt(res.recordsTotal, 10);
            this.page.pageCount = Math.ceil(this.page.total / this.page.prePage);
            let data;
            if (typeof res.data === 'string') {
              data = JSON.parse(res.data);
            } else {
              data = res.data;
            }
            this.$parent.datas = [];
            this.$parent.data = [];
            for (let i = 0, len = data.length; i < len; i += 1) {
              data[i].no = i + 1 + (this.page.prePage * (this.page.curPage - 1));
              this.$parent.datas.push(data[i]);
            }
            if (data.lenght !== 0) {
              for (let j = 0; j < this.page.prePage; j += 1) {
                this.$parent.data.push(this.$parent.datas[j]);
              }
            }
            if (successCallbackFn) {
              successCallbackFn(res.data);
            }
            // 晒评价和订单返利统计titles
            if (this.$parent.titles) {
              this.$parent.titles[0].num = res.total_number;
              this.$parent.titles[1].num = res.total_amount;
            }
          } else {
            this.showConfirm(res.msg || res.data);
          }
        });
    },
    // 接口调整前分页
    // changePage(val, len) {
    //   this.page.curPage = val;
    //   this.page.prePage = len || this.page.prePage;
    //   if (this.$parent.getList) {
    //     this.getList();
    //   } else if (this.$parent.getListIntegral) {
    //     this.$parent.changePage(val, len);
    //   }
    // },
    // 积分接口特殊定制分页
    changePage(val, len) {
      this.page.curPage = val;
      this.page.prePage = len || this.page.prePage;
      const start = this.page.prePage * (this.page.curPage - 1);
      this.$parent.data = [];
      for (let i = start; i < start + this.page.prePage; i += 1) {
        if (typeof (this.$parent.datas[i]) === 'object') {
          this.$parent.data.push(this.$parent.datas[i]);
        }
      }
    },
  },
};
</script>
