<template>
  <div class="container clear">
    <div class="item"
      v-for="item in titles"
      :key="item.content">
      <p class="title">{{item.content}}</p>
      <p class="num">{{item.num}}</p>
    </div>
  </div>
</template>
<style lang="less" scoped>
  .container{
    box-sizing: border-box;
    height: 230px;
    padding-top: 30px;
    border-bottom: 6px solid #F6F6F6;
    .item{
      width: 200px;
      margin: 0 50px 0 60px;
      float: left;
      .title{
        height: 50px;
        text-align: center;
        font-size: 16px;
        line-height: 50px;
        color: #3e3e3e;
        background: #02AD9F;
      }
      .num{
        height: 120px;
        text-align: center;
        font-size: 38px;
        line-height: 100px;
        color: #505050;
        background: #E5F7F5;
      }
    }
  }
</style>
<script>
export default {
  data() {
    return {};
  },
  props: ['titles'],
};
</script>
