<template>
  <!--<div class="wrapper" v-show="show">-->
    <div class="dialog" v-show="show">
      <div class="dialog-content">
        <div class="message-wrapper">
          <p class="message">
            {{this.msg}}
          </p>
        </div>
        <button @click="success" class="conformBtn">确定</button>
      </div>
    </div>
  <!--</div>-->
</template>

<script>
export default {
  name: 'Toast',
  props: {
    show: {
      type: Boolean,
      default: false
    },
    msg: {
      type: String,
      default: 'hehe'
    }
  },
  data () {
    return {}
  },
  methods: {
    success () {
      this.show = false;
      // $vm.$data.success();
    },
    cancel () {
      this.show = false;
    }
  }
}
</script>

<style lang="less" scoped>
  @import '../../assets/stylesheets/mixin';

    .dialog{
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, .25);
      .dialog-content{
        width: 6.9rem;
        height: 4.2rem;
        border-radius: .1rem;
        background: #ffffff;
        .centerBox;
        .message-wrapper{
          position: relative;
          display: table;
          width: 100%;
          height: 3.2rem;
          pointer-events: none;
          .message{
            display: table-cell;
            overflow: hidden;
            line-height: .45rem;
            text-align: center;
            vertical-align: middle;
            font-size: .32rem;
            text-overflow: ellipsis;
            .centerBox;
          }
        }
        .conformBtn{
          z-index: 1000;
          display: block;
          width: 3rem;
          height: .8rem;
          background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
          border-radius: .4rem;
          font-size: .32rem;
          color: #ffffff;
          text-align: center;
          margin-top: -.4rem;
          vertical-align: middle;
          .margin-auto;
        }
      }
    }

</style>
