<template>
  <div class="actives">
    <h5>活动推广</h5>
    <p>可通过以下方式推广该活动</p>
    <p>1、复制此链接，可直接在微信或者图文消息中引用该活动</p>
    <input v-model="link" type="text">
    <p>2、通过二维码分享</p>
    <div>
      <!--<img :src="src" alt="分享">-->
      <qrcode-vue className="canvas" :value="link" :size="size" level="H"></qrcode-vue>
      <span @click="downPic"></span>
    </div>
  </div>
</template>
<style lang="less" scoped>
  .actives{
    padding: 0 35px;
    color: #333;
    h5{
      font-size: 17px;
      line-height: 40px;
      font-weight: 600;
    }
    p{
      font-size: 15px;
      line-height: 33px;
    }
    input{
      display: block;
      width: 460px;
      height: 36px;
      padding: 5px 10px;
      border: 1px solid #ddd;
      font-size: 12px;
      line-height: 24px;
    }
    div{
      height: 100px;
      position: relative;
      img{
        display: block;
        width: 100px;
        height: 100px;
      }
      span{
        top: 10px;
        left: 120px;
        display: block;
        width: 30px;
        height: 30px;
        background: url('../../assets/download.png') no-repeat center;
        background-size: 100% 100%;
        position: absolute;
        top: 10px;
        left: 230px;
        cursor: pointer;
      }
    }
  }
</style>
<script>
/* eslint-disable */
import QrcodeVue from 'qrcode.vue';
export default {
  data() {
    return {
      from: '',
      id: '',
      link: '',
      src: '',
      size: 200,
      img: null,
    };
  },
  components: { QrcodeVue },
  methods: {
    downPic() {
      const a = document.createElement('a');
      a.download = '分享链接';
      a.href = this.img.src;
      a.click();
    },
    convertCanvasToImage(canvas) {
      var image = new Image();
      console.log(canvas);
      image.src = canvas[0].toDataURL("image/png");
      return image;
    },
},
  created() {
    if (this.$route.query.from) {
      this.from = this.$route.query.from;
    }
    if (this.$route.query.id) {
      this.id = this.$route.query.id;
    }
    if (this.$route.query.link) {
      this.link = this.$route.query.link;
    }
    if (this.from === 'mall') {
      this.$http(this.$api.mallLink, {
        id: this.id,
      })
        .then((res) => {
          if (res.status === 0) {
            this.link = res.data;
          } else {
            this.showConfirm(res.msg);
          }
        });
    }
  },
  mounted() {
    const canvas = document.getElementsByTagName("canvas");
    this.img = this.convertCanvasToImage(canvas)
  },
};
</script>
