<template>
  <div id="app">
    <!--<div class="placeholder">我是placeholder</div>-->
    <keep-alive>
      <router-view v-if="isRouterAlive && $route.meta.keepAlive"/>
    </keep-alive>
    <router-view v-if="!$route.meta.keepAlive"></router-view>
    <modals-container> </modals-container>
  </div>
</template>

<script>
export default {
  name: 'App',
  provide () {
    return {
      reload: this.reload
    }
  },
  data () {
    return {
      isRouterAlive: true
    }
  },
  methods: {
    reload () {
      this.isRouterAlive = false;
      this.$nextTick(function () {
        this.isRouterAlive = true;
      })
    }
  },
  created () {
    /**
     * 获取用户剩余积分
     */
    this.$http.getUserCredits()
      .then((res) => {
        if (res.data.status === 0) {
          this.remainPoints = res.data.data;
          this.$store.commit('pointsShop/setPoints', res.data.data);
        }
      });
  }
}
</script>

<style lang="less">
  #app{
    width: 100%;
    .placeholder{
      height: 1.28rem;
    }
  }
  .v-modal{
    position: relative;
    background: rgba(255,255,255,1);
    border-radius: .1rem;
    .modal_body_tips{
      /*position: absolute;*/
      /*display: inline-block;*/
      /*left: 50%;*/
      /*top: 32%;*/
      /*transform: translate(-50%, -50%);*/
      /*font-size: .36rem;*/
      /*color: rgba(51,51,51,1);*/
      /*line-height: .5rem;*/
      display: flex;
      justify-content: center;
      align-self: center;
      margin-top: 15%;
      font-size: .36rem;
      color: rgba(51,51,51,1);
      text-align: center;
      line-height: .5rem;
    }
    .modal_footer_confirm{
      position: absolute;
      left: 50%;
      bottom: .6rem;
      transform: translateX(-50%);
      width: 3rem;
      height: .8rem;
      line-height: .8rem;
      text-align: center;
      vertical-align: middle;
      font-size: .36rem;
      color: #ffffff;
      background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
      border-radius: .4rem;
      a{
        color: #ffffff;
      }
    }
  }
  .v-modal-exchange{
    position: absolute !important;
    left: 0 !important;
    top: calc(100vh - 3.6rem) !important;
    bottom: 0;
    background: #ffffff;
  }
</style>
