<template>
  <div class="list-scroll">
    <vue-better-scroll
      :style="styleObj"
      class="wrapper"
      ref="scroll"
      :scrollbar="scrollbarObj">
      <div ref="list" class="list-content">
        <div class="item-wrapper"
             v-for="(item, index) of listData"
             :key="index"
        >
          <input v-model="item.check" :disabled="readonly" type="checkbox">
          <li>{{item.shop_name}}</li>
        </div>
      </div>
    </vue-better-scroll>
  </div>
</template>

<style lang="less" scoped>
  .list-scroll{
    position: relative;
    overflow: hidden;
    .list-content{
      .item-wrapper{
        line-height: 20px;
        input{
          display: inline-block;
        }
        li{
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
  }
</style>

<script>
export default {
  name: 'ItemScroll',
  props: {
    data: {
      type: Array,
      default() {
        return [{
          id: '001',
          check: false,
          shop_name: '天贝物联',
        }];
      },
    },
    tag: {
      type: Boolean,
      default() {
        return false;
      },
    },
    readonly: {
      type: Boolean,
      default() {
        return false;
      },
    },
  },
  data() {
    return {
      // listData: this.data,
      scrollbarObj: {
        fade: false,
      },
    };
  },
  computed: {
    styleObj() {
      if (this.listData.length <= 5) {
        return {
          height: `${this.listData.length * 20}px`,
        };
      }
      return '100px';
    },
    listData() {
      const data = this.data;
      console.log(data);
      let no = 0;
      data.forEach((item) => {
        no += 1;
        // eslint-disable-next-line no-param-reassign
        item.no = no;
        // eslint-disable-next-line no-param-reassign
        this.$set(item, 'check', false);
      });
      return data;
    },
    checkList() {
      const data = this.listData;
      const checkList = [];
      data.forEach((item) => {
        if (item.check) {
          checkList.push(item);
        }
      });
      return checkList;
    },
  },
  methods: {
    checkAll() {
      const check = () => {
        let result = false;
        this.checkList.forEach((item) => {
          if (!item.check) {
            result = false;
          }
          result = true;
        });
        return result;
      };
      console.log(check());
      if (check()) {
        if (this.tag) {
          this.data.forEach((item) => {
            // eslint-disable-next-line no-param-reassign
            item.check = false;
          });
        } else {
          this.data.forEach((item) => {
            // eslint-disable-next-line no-param-reassign
            item.check = true;
          });
        }
      } else {
        // eslint-disable-next-line no-lonely-if
        console.log(this.tag);
        if (this.tag) {
          this.data.forEach((item) => {
            // eslint-disable-next-line no-param-reassign
            item.check = false;
          });
        } else {
          console.log(222);
          this.data.forEach((item) => {
            // eslint-disable-next-line no-param-reassign
            this.$nextTick(() => {
              this.$set(item, 'check', true);
            });
            console.log(this.listData);
          });
        }
      }
    },
    checkShopById(idArr) {
      idArr.forEach((id) => {
        this.listData.forEach((item) => {
          if (id === item.id) {
            // eslint-disable-next-line no-param-reassign
            item.check = true;
          }
        });
      });
    },
  },
  // created() {
  //   this.$nextTick(() => {
  //     console.log(this.data);
  //   });
  // },
  mounted() {
  },
};
</script>
