<template>
  <div class="container_message">
    <div
      :class="{'message_under': underMsg}"
      @mouseover="showMsg"
      @mouseout="hideMsg">
      ?
      <span v-show="show"></span>
      <div v-show="show">{{message}}</div>
    </div>
  </div>
</template>
<style lang="less">
  .container_message{
    width: 18px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    >div{
      width: 18px;
      height: 18px;
      text-align: center;
      border-radius: 9px;
      line-height: 18px;
      background: #02AD9F;
      color: #fff;
      position: relative;
      >span{
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        border-width: 6px 8px 6px 0;
        border-style: solid;
        border-color: transparent #eee transparent transparent;
        transform: translateY(-50%);
      }
      >div{
        position: absolute;
        top: 50%;
        left: 28px;
        transform: translateY(-50%);
        width: 200px;
        padding: 10px;
        background: #EEEEEE;
        color: #333;
        font-size: 12px;
        line-height: 20px;
        text-align: left;
      }
    }
    >.message_under{
      background: #02AD9F;
      color: #fff;
      z-index: 100;
      >span{
        top: 18px;
        left: 4px;
        border-width: 0 6px 8px;
        transform: none;
        border-color:transparent transparent #58ad9f;
      }
      >div{
        top: 24px;
        left: 0;
        transform: translateX(-90%);
        background: #58ad9f;
        color: #fff;
      }
    }
  }
</style>
<script>
export default {
  data() {
    return {
      show: false,
    };
  },
  props: ['message', 'underMsg'],
  components: {},
  methods: {
    showMsg() {
      this.show = true;
    },
    hideMsg() {
      this.show = false;
    },
  },
};
</script>
