.text-center(){
  text-align: center;
  vertical-align: middle;
}

.text-center(@line-height){
  line-height: @line-height;
  text-align: center;
  vertical-align: middle;
}

// 清除浮动
.clearfix:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}

// 数据统计，chart图表容器
.chart-wrapper{
  position: relative;
  width: 1500px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid rgba(82, 82, 82, 0.64);
  .chart-left{
    float: left;
    display: inline-block;
    width:186px;
    height:36px;
    line-height:36px;
    background:rgba(2,173,159,1);
    font-size: 18px;
    color: #ffffff;
    .text-center(36px);
  }
  .chart-right{
    float: right;
    .text-center(45px);
    span{
      float: left;
      display: inline-block;
      height: 36px;
      line-height: 36px;
    }
    .date-select{
      display: inline-block;
      width: 101px;
      height: 36px;
      box-sizing: border-box;
      border: 1px solid rgba(181,181,181,1);
      text-align: center;
    }
    .search-select{
      .date-select;
      width: 210px;
      margin-right: 20px;
    }
  }
}

input[type='radio']{
  width: 18px;
  height: 18px;
  border:1px solid rgba(102,102,102,1);
  border-radius: 50%;
  outline: none;
  -webkit-appearance:none;
}
input[type=radio]:checked{
  background-size: 90% 90%;
  background: url("../../assets/input_radio_select.png") no-repeat center;
}

input[type='checkbox']{
  width: 18px;
  height: 18px;
  border:1px solid rgba(221,221,221,1);
  outline: none;
  -webkit-appearance:none;
}
input[type=checkbox]:checked{
  background-size: 90% 90%;
  background: url("../../assets/input_checkbox_select.png") no-repeat center;
}

// 去掉number类型的默认样式
input[type=number] {
  -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
