/* eslint-disable */
<template>
  <div id="table">
    <div id="thead">
      <div class="tr" id="header_table">
        <!--canChooseAll:数据是否都是黑名单-，true为是包含黑名单，false为没有黑名单用户-->
        <!--noChoose: 判断是否是交易记录，disabled只对交易记录有用-->
        <div class="th smallest checkbox" v-if="showChoose==1">
          <input type="checkbox" :checked="checkList.length === data.length" :disabled="!canChooseAll && noChoose" @click="checkAll">
        </div>
        <div class="th" v-for="item in columns"
            :class="item.class || ''"
            v-html="item.title"
            :key="item.title"></div>
      </div>
    </div>
    <div id="tbody">
      <div class="tr" v-show="data.length === 0">
        <div class="td" :colspan="columns.length" style="width: 100%;text-align: center">暂无数据</div>
      </div>
      <div class="tr" v-for="(item, index) in data"
          :class="{'noClick': (item.is_black === 1 && noChoose)}"
          :key="index">
        <div class="td smallest" v-if="showChoose==1">
          <input type="checkbox" :value="index" v-model="checkList" :disabled="(item.is_black === 1 && noChoose)">
        </div>
        <div class="td" v-for="column in columns"
            @click="column.click && parentOperate($event, column.click, item)"
            :class="column.class || ''"
            :title="column.class && (column.class.indexOf('noTooLong') !== -1 ? item[column.data] : '')"
            v-html="(column.render && column.render(item[column.data], item)) || item[column.data]"
            :key="column.title">
        </div>
      </div>
    </div>
    <div id="tfoot">
      <div>
        <select @change="goPage(1)" v-model="dataNum">
          <option v-for="item in page.pageSelect"
                  :key="item"
                  :value="item">{{item}}</option>
        </select>
        <span>条/每页</span>
        <span>共{{Math.ceil(page.total/page.prePage)}}页，{{page.total}}条记录，当前为第{{page.curPage}}页。</span>
      </div>
      <div>
        <a href="javascript:void(0);"
           @click="goPage(page.pageCount)" >尾页</a>
        <a href="javascript:void(0);"
           @click="goPage(page.curPage+1)" >下一页</a>
        <a href="javascript:void(0);" class="noBtn" v-if="page.curPage < page.pageCount -2">...</a>
        <a href="javascript:void(0);"
           @click="goPage(page.curPage+2)" v-if="page.curPage+2 <= page.pageCount">{{page.curPage+2}}</a>
        <a href="javascript:void(0);"
           @click="goPage(page.curPage+1)" v-if="page.curPage+1 <= page.pageCount">{{page.curPage+1}}</a>
        <a href="javascript:void(0);" class="curPage">{{page.curPage}}</a>
        <a href="javascript:void(0);"
           @click="goPage(page.curPage-1)" v-if="page.curPage-1 > 0">{{page.curPage-1}}</a>
        <a href="javascript:void(0);"
           @click="goPage(page.curPage-2)" v-if="page.curPage-2 > 0">{{page.curPage-2}}</a>
        <a href="javascript:void(0);" class="noBtn" v-if="page.curPage > 3">...</a>
        <a href="javascript:void(0);"
           @click="goPage(page.curPage-1)" >上一页</a>
        <a href="javascript:void(0);"
           @click="goPage(1)" >首页</a>
      </div>
    </div>
  </div>
</template>
<style lang="less">
  #table{
    padding: 0 35px 10px;
    background: #fff;
    #thead{
      border: 1px solid #ddd;
      border-bottom: none;
      .tr{
        background: #292C2C;
        color: #fff;
        .checkbox{
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
    }
    .tr{
      padding: 0 10px;
      font-size: 16px;
      line-height: 49px;
      color: #333;
      background: #F6F6F6;
      text-align: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .td,.th{
        width: 300px;
        height: 49px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        input[type='checkbox']{
          width: 15px;
          height: 15px;
        }
        -webkit-box-flex: 3;
        -moz-box-flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
      }
      .td{
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      .noTooLong{
        display: block!important;
      }
      .td span{
        display: block;
        width: 100%;
        height: 40px;
      }
      .td span.link{
        cursor: pointer;
        font-size: 14px;
        color: #FD8D0A;
      }
      .td span.btn{
        width: 80px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        border: 1px solid #02AD9F;
        color: #02AD9F;
      }
      .td span.forbid{
        border: 1px solid #ff0000;
        color: #ff0000;
      }
      .td span.edit{
        width: 40px;
        cursor: pointer;
        background: url("../../assets/edit.png") no-repeat center;
        background-size: 16px auto;
      }
      .td span.promote{
        cursor: pointer;
        background: url("../../assets/link.png") no-repeat center;
        background-size: 16px auto;
      }
      .td span.noPromote{
        cursor: not-allowed;
        background: url("../../assets/nolink.png") no-repeat center;
        background-size: 16px auto;
      }
      .td span.delete{
        cursor: pointer;
        background: url("../../assets/delete.png") no-repeat center;
        background-size: 16px auto;
      }
      .td span.noDelete{
        cursor: not-allowed;
        background: url("../../assets/nodelete.png") no-repeat center;
        background-size: 16px auto;
      }
      .td.operate{
        color: #01A993;
      }
      .operate span{
        height: 49px;
        line-height: 49px;
        cursor: pointer;
      }
      .noClick, &.noClick{
        filter: grayscale(100%);
        cursor: no-drop!important;
        span{
          cursor: no-drop!important;
        }
      }
      .headImg{
        vertical-align: middle;
        box-sizing: content-box;
        img{
          width: 35px;
          height: 35px;
        }
      }
      .large{
        width: 400px !important;
        -webkit-box-flex: 4!important;
        -moz-box-flex: 4!important;
        -webkit-flex: 4!important;
        -ms-flex: 4!important;
        flex: 4!important;
      }
      .largest{
        width: 500px !important;
        -webkit-box-flex: 5!important;
        -moz-box-flex: 5!important;
        -webkit-flex: 5!important;
        -ms-flex: 5!important;
        flex: 5!important;
      }
      .small{
        width: 200px !important;
        -webkit-box-flex: 2!important;
        -moz-box-flex: 2!important;
        -webkit-flex: 2!important;
        -ms-flex: 2!important;
        flex: 2!important;
      }
      .smallest{
        width: 100px !important;
        -webkit-box-flex: 1!important;
        -moz-box-flex: 1!important;
        -webkit-flex: 1!important;
        -ms-flex: 1!important;
        flex: 1!important;
      }
    }
    #tbody{
      border: 1px solid #ddd;
      border-bottom: none;
      .tr{
        border-bottom: 1px solid #ddd;
      }
      .tr:hover{
        background: rgba(221, 221, 221, 0.5) !important;
      }
      .tr:nth-child(2n-1){
        background: #fff;
      }
    }
    #tfoot{
      display: flex;
      font-size: 15px;
      line-height: 35px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      *{
        display: block;
      }
      a{
        padding: 0 10px;
        margin-left: 10px;
        float: right;
        color: #000;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        overflow: hidden;
      }
      .noBtn{
        border: none;
      }
      .curPage{
        background: #02AD9F;
      }
      >div:first-child{
        width: 440px;
        height: 40px;
        select{
          width: 80px;
          height: 38px;
          padding: 0 0 0 10px;
          border: 1px solid #DDDDDD;
        }
        *{
          float: left;
          margin-right: 10px;
        }
      }
      >div:last-child{
        width: 600px;
      }
    }
  }
</style>
<script>
export default {
  name: 'v-table',
  data() {
    return {
      checkList: [],
      dataNum: 10,
    };
  },
  props: ['columns', 'data', 'page', 'showChoose'], // columns: title:标题，data:渲染的数据， click:点击
  components: {},
  methods: {
    parentOperate(event, val, data) {
      const index = event.srcElement.dataset.index;
      const eventCopy = event || window.event;
      const target = eventCopy.target || eventCopy.srcElement;
      if (target.nodeName === 'SPAN' || target.nodeName === 'I') {
        this.$parent[val](data, index);
      }
      // if (this.$el.nodeName === 'SPAN' || this.$el.nodeName === 'I') {
      //   this.$parent[val](data);
      // }
      return true;
    },
    goPage(num) {
      if (num > this.page.pageCount || num < 1) {
        return false;
      }
      this.$parent.changePage(num, this.dataNum);
      return true;
    },
    checkAll() {
      if (this.checkList.length === this.data.length) {
        this.checkList = [];
      } else {
        this.checkList = [];
        for (let i = 0, len = this.data.length; i < len; i += 1) {
          this.checkList.push(i);
        }
      }
    },
  },
  computed: {
    canChooseAll() {
      for (let i = 0, len = this.data.length; i < len; i += 1) {
        if (this.data[i].is_black === 1) {
          return false;
        }
      }
      return true;
    },
    noChoose() {
      const path = this.$route.path;
      if (path.indexOf('trade') !== -1) {
        return true;
      }
      return false;
    },
  },
};
</script>
