<template>
  <div class="container">
    <div>
      <div>电商返利管理平台<span @click="goLogin">登录</span></div>
    </div>
    <div>
      <div>
        <div :class="{'active': tabInd === 0}">输入账号</div>
        <div :class="{'active': tabInd === 1}">重置密码</div>
        <div :class="{'active': tabInd === 2}">重置成功</div>
      </div>
      <div class="step1" v-if="tabInd === 0">
        <label>
          <span>账号：</span>
          <input type="text" v-model="account"/>
        </label>
        <label>
          <span>公司名称：</span>
          <input type="text" v-model="company"/>
        </label>
        <label>
          <span></span>
          <div class="subBtn">
            <a href="javascript: void (0);"
               @click="getPhone">下一步</a>
          </div>
        </label>
      </div>
      <div class="step2" v-if="tabInd === 1">
        <label>
          <span>账号：</span>
          <input type="text" v-model="account" disabled/>
        </label>
        <label>
          <span>手机号：</span>
          <input type="text" v-model="phone" disabled/>
        </label>
        <label>
          <span>验证码：</span>
          <div class="code">
            <input type="text" v-model="code" maxlength="6"/>
            <a href="javascript: void (0);"
               :class="{'noclick': !canGetCode}"
               @click="getCode">
              {{codeText}}
            </a>
          </div>
        </label>
        <label>
          <span>新密码：</span>
          <input type="password" v-model="password"/>
        </label>
        <label>
          <span>确认密码：</span>
          <input type="password" v-model="confirmPassword"/>
        </label>
        <label class="subBtn">
          <span></span>
          <a href="javascript: void (0);" @click="back">上一步</a>
          <a href="javascript: void (0);" @click="resetPass">下一步</a>
        </label>
      </div>
      <div class="step3" v-if="tabInd === 2">
        <p>您的密码重置成功，是否立即返回登录？</p>
        <a href="javascript: void(0);" @click="goLogin">返回登录</a>
      </div>
    </div>
  </div>
</template>
<style lang="less" scoped>
  .container{
    a.forbid{
      filter: grayscale(100%);
    }
    >div:first-child{
      background: #02AD9F;
      height: 88px;
      color: #181818;
      font-size: 34px;
      line-height: 88px;
      div{
        width: 1200px;
        margin: auto;
        span{
          display: block;
          width: 60px;
          float: right;
          font-size: 18px;
          text-align: right;
          background: url('../../assets/userName.png') no-repeat left center;
          background-size: 20px 20px;
        }
      }
    }
    >div:nth-child(2) {
      width: 1500px;
      margin: 50px auto 0;
      >div:first-child{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid #ddd;
        >div{
          height: 50px;
          padding: 0 20px 0 30px;
          font-size: 24px;
          line-height: 48px;
          filter: grayscale(100%);
        }
        >div.active{
          filter: none;
          border-bottom: 2px solid #02ad9f;
        }
        >div:first-child{
          background: url("../../assets/register1.png") no-repeat left center;
          background-size: 24px 24px;
        }
        >div:nth-child(2){
          background: url("../../assets/register2.png") no-repeat left center;
          background-size: 24px 24px;
        }
        >div:nth-child(3){
          background: url("../../assets/registerEnd.png") no-repeat left center;
          background-size: 24px 24px;
        }
      }
      .step1{
        padding-top: 50px;
        label{
          display: block;
          width: 450px;
          height: 40px;
          margin: 0 auto 20px;
          line-height: 38px;
          position: relative;
          >span{
            display: block;
            width: 80px;
            margin-right: 20px;
            height: 40px;
            line-height: 40px;
            text-align: right;
            float: left;
          }
          input{
            display: block;
            width: 300px;
            height: 40px;
            float: left;
            padding-left: 10px;
            font-size: 18px;
            line-height: 38px;
            border: 1px solid #ddd;
          }
          a{
            display: block;
            width: 300px;
            height: 36px;
            float: left;
            line-height: 36px;
            margin-right: 40px;
            text-align: center;
            color: #fff;
            background: #02ad9f;
          }
        }
      }
      .step2{
        padding-top: 50px;
        >label {
          display: block;
          width: 450px;
          height: 40px;
          margin: 0 auto 20px;
          line-height: 38px;
          position: relative;
          >span{
            display: block;
            width: 100px;
            margin-right: 20px;
            height: 40px;
            line-height: 40px;
            text-align: right;
            float: left;
          }
          >input{
            display: block;
            width: 300px;
            height: 40px;
            float: left;
            padding-left: 10px;
            border: 1px solid #ddd;
          }
          >a{
            display: block;
            width: 130px;
            height: 36px;
            float: left;
            line-height: 36px;
            margin-right: 40px;
            text-align: center;
            color: #fff;
            background: #02ad9f;
          }
          >a:last-of-type{
            margin: 0;
          }
          .code{
            a{
              display: block;
              width: 120px;
              float: left;
              border: 1px solid #02ad9f;
              color: #02ad9f;
              text-align: center;
            }
            a.noclick{
              background: #ddd;
              color: #000;
              border: 1px solid #ddd;
            }
            input{
              display: block;
              width: 170px;
              height: 40px;
              float: left;
              padding-left: 10px;
              margin-right: 10px;
              border: 1px solid #ddd;
            }
          }
        }
      }
      .step3{
        width: 500px;
        padding-top: 50px;
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        margin: auto;
        a{
          display: block;
          width: 180px;
          height: 36px;
          margin: 50px auto 20px;
          font-size: 18px;
          line-height: 36px;
          text-align: center;
          color: #fff;
          background: #02ad9f;
        }
      }
    }
  }
</style>
<script>
import md5 from 'js-md5';

export default {
  data() {
    return {
      tabInd: 0,
      company: '',
      account: '',
      code: '',
      codeText: '获取验证码',
      clickInterval: 60,
      codeInterval: '',
      canGetCode: true,
      phone: '',
      password: '',
      confirmPassword: '',
      clickForbid: true,
      account_id: '',
      supervisor: '',
    };
  },
  components: {},
  mounted() {},
  methods: {
    goLogin() {
      this.$router.back();
    },
    getCode() {
      if (!this.canGetCode) {
        return false;
      }
      this.canGetCode = false;
      const phoneReg = /^[1][0-9]{10}$/;
      if (!phoneReg.test(this.phone)) {
        this.showConfirm('手机号格式不正确！');
      } else {
        this.$http(this.$api.codePassword,
          {
            phone: this.phone,
            supervisor: this.supervisor,
          }).then((data) => {
          if (data.status === 0) {
            this.clickForbid = false;
            this.codeInterval = setInterval(() => {
              if (this.clickInterval === 0) {
                this.canGetCode = true;
                this.codeText = '获取验证码';
                this.clickInterval = 60;
                clearInterval(this.codeInterval);
              } else {
                this.codeText = `${this.clickInterval}秒`;
                this.clickInterval -= 1;
              }
            }, 1000);
          } else {
            this.showConfirm(data.msg);
          }
        });
      }
      return true;
    },
    getPhone() {
      if (this.account.length === 0) {
        this.showConfirm('账号不能为空！');
        return false;
      }
      if (this.company.length === 0) {
        this.showConfirm('公司名称不能为空！');
        return false;
      }
      this.$http(this.$api.getPhone, { company_name: this.company, account_name: this.account })
        .then((data) => {
          if (data.status === 0) {
            this.tabInd = 1;
            this.phone = data.data.phone;
            this.account_id = data.data.account_id;
            this.supervisor = data.data.supervisor;
          } else {
            this.showConfirm(data.msg);
          }
        });
      return true;
    },
    back() {
      this.tabInd = 0;
      this.canGetCode = true;
      this.codeText = '获取验证码';
      this.clickInterval = 60;
      clearInterval(this.codeInterval);
    },
    resetPass() {
      if (this.code.length === 0) {
        this.showConfirm('验证码不能为空！');
        return false;
      }
      const reg = /^[a-zA-Z0-9_-]{6,20}$/;
      if (this.password.length === 0) {
        this.showConfirm('新密码不能为空！');
        return false;
      }
      if (this.password !== this.confirmPassword) {
        this.showConfirm('二次密码输入不一致！');
        return false;
      }
      if (!reg.test(this.password)) {
        this.showConfirm('新密码格式错误！');
        return false;
      }
      const obj = {
        account_id: this.account_id,
        phone: this.phone,
        code: this.code,
        supervisor: this.supervisor,
        password: md5(this.password),
      };
      this.$http(this.$api.resetPass, obj)
        .then((data) => {
          if (data.status === 0) {
            this.tabInd = 2;
          } else {
            this.showConfirm(data.msg);
          }
        });
      return true;
    },
    showConfirm(data) {
      this.$modal.show({
        template: `
        <div>
          <div class="modal_head">提示</div>
          <div class="modal_body_tips">
            <div>{{text}}</div>
          </div>
          <div class="modal_footer_confirm">
            <a href="javascript:void(0);" @click="submit">确定</a>
          </div>
        </div>
      `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      });
    },
  },
};
</script>
