<template>
  <div class="container">
    <div>
      <div>电商返利管理平台<span>热线咨询：<span>{{phone}}</span></span></div>
    </div>
    <div>
      <div>
        <div>
          <div class="loginStyle">
            <div :class="{'checked': loginInd === 0}" @click="switchInd(0)">商家登录</div>
            <div :class="{'checked': loginInd === 1}" @click="switchInd(1)">平台登录</div>
          </div>
          <div v-if="loginInd === 0" class="company">
            <input type="text" placeholder="请输入公司名称" v-model="login.company_name"/>
            <span></span>
          </div>
          <div class="username">
            <input type="text" placeholder="请输入账号" v-model="login.username"/>
            <span></span>
          </div>
          <div class="password">
            <input type="password" placeholder="请输入密码" v-model="login.password"/>
            <span></span>
          </div>
          <div class="img">
            <input type="text"
                   placeholder="请输入验证码"
                   v-on:keyup.13="doLogin"
                   v-model="codeCopy"
                   maxlength="4"/>
            <img :src="img" @click="getImg" alt="验证码">
          </div>
          <div v-if="loginInd === 1"></div>
          <div>
            <button @click="doLogin">登 录</button>
          </div>
          <div v-if="loginInd === 0">
            <a href="javascript: void(0);" @click="goPage('doregister')">注册账号</a>
            <a href="javascript: void(0);" @click="goPage('dobackPwd')">忘记密码</a>
          </div>
        </div>
      </div>
    </div>
    <div v-show="showQrcode" @click="hideQrcode">
      <div>
        <div>
          <p>联系我们</p>
          <img src="../../assets/codeImg.png" alt="">
        </div>
        <div>
          <p>关注我们</p>
          <img src="../../assets/codeImg.png" alt="">
        </div>
      </div>
    </div>
    <div class="about"
         v-show="!showQrcode"
         :class="{'showAbout': showAll}"
         @click="showCode"
         @mouseover="showMsg"
         @mouseout="hideMsg">
      <p>联系我们</p>
      <p>关注我们</p>
    </div>
  </div>
</template>
<style lang="less" scoped>
  .container{
    >div:first-child{
      background: #EBF9F7;
      height: 88px;
      color: #181818;
      font-size: 34px;
      line-height: 88px;
      div{
        width: 1200px;
        margin: auto;
        >span{
          float: right;
          font-size: 16px;
          >span{
            font-size: 24px;
            color: #DF2750;
          }
        }
      }
    }
    >div:nth-child(2){
      width: 100%;
      height: 600px;
      background: #E8E8E8 url("../../assets/loginBg.jpg") no-repeat center;
      background-size: 100% 100%;
      >div{
        width: 1200px;
        min-height: 500px;
        margin: auto;
        position: relative;
        >div{
          box-sizing: border-box;
          width: 400px;
          height: 440px;
          padding: 20px 40px;
          font-size: 16px;
          line-height: 40px;
          background: #fff;
          position: absolute;
          top: 80px;
          right: 0;
          >div{
            height: 40px;
            margin-bottom: 20px;
            position: relative;
            input{
              display: block;
              height: 40px;
              width: 320px;
              padding-left: 50px;
              line-height: 38px;
              border: 1px solid #ddd;
            }
            span{
              position: absolute;
              top: 1px;
              left: 1px;
              display: block;
              width: 40px;
              height: 38px;
            }
            button{
              display: block;
              width: 320px;
              height: 40px;
              background: #02ad9f;
              color: #fff;
              cursor: pointer;
              font-size: 20px;
              text-align: center;
              border: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
            }
            a{
              color: #02ad9f;
              float: right;
              margin-left: 20px;
            }
          }
          .img{
            input{
              width: 160px;
              padding-left: 10px;
              margin-right: 10px;
              float: left;
            }
            img{
              display: block;
              width: 148px;
              height: 38px;
              border: 1px solid #ddd;
              float: left;
              cursor: pointer;
            }
          }
          >div:first-child{
            border-bottom: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: space-around;
            >div{
              width: 40%;
              text-align: center;
            }
            .checked{
              border-bottom: 2px solid #02ad9f;
            }
          }
          .company{
            span{
              background: #eee url('../../assets/company2.png') no-repeat center;
              background-size: 20px 20px;
            }
          }
          .username{
            span{
              background: #eee url('../../assets/userName.png') no-repeat center;
              background-size: 20px 20px;
            }
          }
          .password{
            span{
              background: #eee url('../../assets/password.png') no-repeat center;
              background-size: 20px 20px;
            }
          }
        }
      }
    }
    >div:nth-child(3){
      width: 500px;
      margin: 50px 50px 0 0;
      float: right;
      >div{
        font-size: 14px;
        height: 210px;
        >div{
          height: 210px;
          width: 185px;
          margin-right: 30px;
          float: right;
          border: 1px solid #02ad9f;
          p{
            width: 185px;
            text-align: center;
            line-height: 40px;
            border-bottom: 1px solid #02ad9f;
          }
          img{
            display: block;
            width: 160px;
            height: 160px;
            margin: 5px auto;
            cursor: pointer;
          }
        }
      }
    }
    .loginStyle{
      div{
        cursor: pointer;
      }
    }
    .showAbout{
      right: 0!important;
    }
    .about{
      position: fixed;
      right: -87px;
      bottom: 200px;
      width: 120px;
      background: #02ad9f;
      border: 2px solid #03EAD7;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      line-height: 30px;
      border-radius: 30px 0 0 30px;
      p{
        padding-left: 40px;
        background-position: 15px center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
      }
      p:first-child{
        background-image: url('../../assets/linkUs.png');
      }
      p:last-child{
        background-image: url('../../assets/focusUs.png');
      }
    }
  }
</style>
<script>
import md5 from 'js-md5';

export default {
  data() {
    return {
      loginInd: 0,
      img: '',
      code: '',
      codeCopy: '',
      showAll: false,
      showQrcode: false,
      phone: '188-3073-7068',
      login: {
        company_name: '',
        username: '',
        password: '',
      },
    };
  },
  components: {},
  methods: {
    goPage(val) {
      this.$router.push(val);
    },
    switchInd(val) {
      this.loginInd = val;
      this.getImg();
    },
    showMsg() {
      this.showAll = true;
    },
    hideMsg() {
      this.showAll = false;
    },
    showCode() {
      this.showQrcode = true;
    },
    hideQrcode() {
      this.showQrcode = false;
      this.showAll = false;
    },
    doLogin() {
      const data = JSON.parse(JSON.stringify(this.login));
      let api = this.$api.login;
      if (this.loginInd === 1) {
        delete data.company_name;
        api = this.$api.rootLogin;
      } else if (data.company_name === '') {
        this.showConfirm('公司名称不能为空！');
        return false;
      }
      if (data.username === '') {
        this.showConfirm('账号不能为空！');
        return false;
      }
      if (data.password === '') {
        this.showConfirm('密码不能为空！');
        return false;
      }
      if (this.code !== md5(this.codeCopy)) {
        this.getImg();
        this.showConfirm('验证码错误！');
        return false;
      }
      const obj = JSON.parse(JSON.stringify(data));
      obj.password = md5(obj.password);
      if (this.loginInd === 0) {
        this.setCookie('power', 'company');
      } else if (this.loginInd === 1) {
        this.setCookie('power', 'platform');
      }
      this.$http(api, obj)
        .then((res) => {
          if (res.status === 0) {
            if (this.loginInd === 0) {
              this.$router.push('/evaluate');
            } else if (this.loginInd === 1) {
              this.$router.push('/company');
            }
          } else if (res.status === 1) {
            this.showConfirm(res.msg || res.data);
            this.getImg();
          } else {
            const parm = encodeURIComponent(JSON.stringify(obj));
            window.location = `http://${res.data}?data=${parm}`;
          }
        });
      return true;
    },
    getImg() {
      this.$http(this.$api.getImg)
        .then((data) => {
          if (data.status === 0) {
            this.img = data.data.content;
            this.code = data.data.code;
          } else {
            this.showConfirm(data.msg);
          }
        });
    },
    getQuery(name) {
      const parm = window.location.hash.split('?')[1];
      if (!parm) {
        return false;
      }
      const arr = parm.split('&')[0].split('=');
      if (arr[0] === name) {
        return arr[1];
      }
      return '';
    },
  },
  created() {
    if (this.getQuery('data')) {
      this.setCookie('power', 'company');
      const obj = JSON.parse(decodeURIComponent(this.getQuery('data')));
      this.$http(this.$api.login, obj)
        .then((res) => {
          if (res.status === 0) {
            this.$router.push('/evaluate');
          }
        });
    }
    this.getImg();
  },
};
</script>
