<template>
  <div class="container">
    <div>
      <div>电商返利管理平台<span @click="goLogin">登录</span></div>
    </div>
    <div>
      <div>
        <div :class="{'active': tabInd === 0}">输入手机号</div>
        <div :class="{'active': tabInd === 1}">填写账号信息</div>
        <div :class="{'active': tabInd === 2}">注册成功</div>
      </div>
      <div class="step1" v-if="tabInd === 0">
        <label>
          <span>手机号：</span>
          <div class="phone">
            <span>中国大陆&nbsp;&nbsp;&nbsp;+86</span>
            <input type="text"
                   v-model="phone.value"/>
          </div>
        </label>
        <label>
          <span>验证码：</span>
          <div class="code">
            <input type="text"
                   v-model="code.value"
                   maxlength="6"/>
            <a href="javascript: void (0);"
               :class="{'noclick': !phone.canGetCode}"
               @click="getCode">
              {{phone.codeText}}
            </a>
          </div>
        </label>
        <label>
          <span></span>
          <div class="subBtn">
            <a href="javascript: void (0);"
               @click="checkCode"
               :class="{'forbid': clickForbid}">下一步</a>
          </div>
        </label>
      </div>
      <div class="step2" v-if="tabInd === 1">
        <label>
          <span>公司名称：</span>
          <input type="text" v-model="company.company_name" maxlength="64"/>
          <message :message="'只允许中文、字母和数字,长度1-64个字符'"></message>
        </label>
        <label>
          <span>店铺名称：</span>
          <input type="text" v-model="company.shop" maxlength="64"/>
          <message :message="'只允许中文、字母和数字,长度1-64个字符'"></message>
        </label>
        <label class="code">
          <span>所属城市：</span>
          <select v-model="company.province" @change="getCities">
            <option v-for="(item,index) in provinces"
                    :value="item"
                    :key="index">{{item.name}}</option>
          </select>
          <select v-model="company.city">
            <option v-for="item in cities"
                    :value="item.name"
                    :key="item.name">{{item.name}}</option>
          </select>
        </label>
        <label>
          <span>运营者姓名：</span>
          <input type="text" v-model="company.real_name" maxlength="10"/>
          <message :message="'只允许中文,长度1-10个字符'"></message>
        </label>
        <label>
          <span>常用邮箱：</span>
          <input type="text" v-model="company.email" maxlength="64"/>
        </label>
        <div>
          <span></span>
          <label><input type="checkbox" v-model="proto"/><span>我已经阅读并且同意</span></label>
          <span style="cursor: pointer" @click="showProtocol">《注册条款》</span>
        </div>
        <label class="subBtn">
          <span></span>
          <a href="javascript: void (0);" @click="back">上一步</a>
          <a href="javascript: void (0);" @click="companyInfo">下一步</a>
        </label>
      </div>
      <div class="step3" v-if="tabInd === 2">
        <p>信息正在审核，x个工作日内会有专人跟您沟通联系。审核通过后，我们会将 账号密码发送您的邮箱。如需紧急处理，请咨询15997239548</p>
        <a href="javascript: void(0);" @click="goLogin">返回登录</a>
      </div>
    </div>
  </div>
</template>
<style lang="less" scoped>
  .container{
    a.forbid{
      filter: grayscale(100%);
    }
    >div:first-child{
      background: #02AD9F;
      height: 88px;
      color: #181818;
      font-size: 34px;
      line-height: 88px;
      div{
        width: 1200px;
        margin: auto;
        span{
          display: block;
          width: 60px;
          float: right;
          font-size: 18px;
          text-align: right;
          background: url('../../assets/userName.png') no-repeat left center;
          background-size: 20px 20px;
        }
      }
    }
    >div:nth-child(2) {
      width: 1500px;
      margin: 50px auto 0;
      >div:first-child{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid #ddd;
        >div{
          height: 50px;
          padding: 0 20px 0 30px;
          font-size: 24px;
          line-height: 48px;
          filter: grayscale(100%);
        }
        >div.active{
          filter: none;
          border-bottom: 2px solid #02ad9f;
        }
        >div:first-child{
          background: url("../../assets/register1.png") no-repeat left center;
          background-size: 24px 24px;
        }
        >div:nth-child(2){
          background: url("../../assets/register2.png") no-repeat left center;
          background-size: 24px 24px;
        }
        >div:nth-child(3){
          background: url("../../assets/registerEnd.png") no-repeat left center;
          background-size: 24px 24px;
        }
      }
      .step1{
        padding-top: 50px;
        label{
          display: block;
          width: 450px;
          height: 40px;
          margin: 0 auto 20px;
          line-height: 38px;
          position: relative;
          >span{
            display: block;
            width: 80px;
            margin-right: 20px;
            height: 40px;
            line-height: 40px;
            float: left;
          }
          b{
            display: block;
            width: 40px;
            height: 40px;
            float: left;
            background: url("../../assets/registerEnd.png") no-repeat center;
            background-size: 20px 20px;
            position: absolute;
            top: 0;
            left: 420px;
          }
          div{
            position: relative;
            min-width: 300px;
            height: 40px;
            float: left;
            input{
              display: block;
              width: 300px;
              height: 40px;
              float: left;
              padding-left: 10px;
              font-size: 18px;
              line-height: 38px;
              border: 1px solid #ddd;
            }
          }
          .phone{
            span{
              display: block;
              width: 120px;
              float: left;
              border: 1px solid #697595;
              text-align: center;
              position: absolute;
              top: 0;
              left: 0;
            }
            input{
              padding-left: 130px;
            }
          }
          .code{
            a{
              display: block;
              width: 120px;
              float: left;
              border: 1px solid #02ad9f;
              color: #02ad9f;
              text-align: center;
              position: absolute;
              top: 0;
              right: 0;
            }
            a.noclick{
              background: #ddd;
              color: #000;
              border: 1px solid #ddd;
            }
            input{
              width: 170px;
              margin-right: 10px;
            }
          }
          .subBtn{
            a{
              display: block;
              width: 300px;
              height: 36px;
              line-height: 36px;
              margin-right: 40px;
              text-align: center;
              color: #fff;
              background: #02ad9f;
            }
          }
        }
      }
      .step2{
        padding-top: 50px;
        >label {
          display: block;
          width: 450px;
          height: 40px;
          margin: 0 auto 20px;
          line-height: 38px;
          position: relative;
          >span{
            display: block;
            width: 100px;
            margin-right: 20px;
            height: 40px;
            line-height: 40px;
            text-align: right;
            float: left;
          }
          >input{
            display: block;
            width: 300px;
            height: 40px;
            float: left;
            margin-right: 10px;
            padding-left: 10px;
            border: 1px solid #ddd;
          }
          >select{
            display: block;
            width: 140px;
            height: 40px;
            float: left;
            padding-left: 10px;
            border: 1px solid #ddd;
          }
          >select:last-of-type{
            margin-left: 20px;
          }
          a{
            display: block;
            width: 130px;
            height: 36px;
            float: left;
            line-height: 36px;
            margin-right: 40px;
            text-align: center;
            color: #fff;
            background: #02ad9f;
          }
          a:last-of-type{
            margin: 0;
          }
        }
        >div{
          display: block;
          width: 450px;
          height: 40px;
          margin: 0 auto 20px;
          line-height: 38px;
          position: relative;
          >label{
            display: block;
            width: auto;
            height: 40px;
            float: left;
            line-height: 40px;
            input{
              margin-right: 10px;
              vertical-align: middle;
              width: 20px;
              height: 20px;
            }
          }
          >span{
            display: block;
            width: 100px;
            margin-right: 20px;
            height: 40px;
            line-height: 40px;
            text-align: right;
            float: left;
            color: #02ad9f;
          }
        }
      }
      .step3{
        width: 500px;
        padding-top: 50px;
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        margin: auto;
        a{
          display: block;
          width: 180px;
          height: 36px;
          margin: 50px auto 20px;
          font-size: 18px;
          line-height: 36px;
          text-align: center;
          color: #fff;
          background: #02ad9f;
        }
      }
    }
  }
</style>
<script>
import message from '../common/message';

export default {
  data() {
    return {
      provinces: '',
      cities: [],
      tabInd: 0,
      phone: {
        value: '',
        codeInterval: '',
        clickInterval: 60,
        codeText: '获取验证码',
        canGetCode: true,
      },
      code: {
        value: '',
      },
      clickForbid: true,
      proto: [],
      company: {
        phone: '',
        company_name: '',
        shop: '',
        province: '',
        city: '',
        real_name: '',
        email: '',
      },
    };
  },
  components: { message },
  mounted() {
    this.$http(this.$api.province)
      .then((data) => {
        if (data.status === 0) {
          this.provinces = data.data;
          this.company.province = this.provinces[0];
          this.getCities();
        }
      });
  },
  methods: {
    goLogin() {
      this.$router.back();
    },
    getCode() {
      if (this.phone.codeText !== '获取验证码') {
        return false;
      }
      const phoneReg = /^[1][0-9]{10}$/;
      if (!phoneReg.test(this.phone.value)) {
        this.showConfirm('手机号格式不正确！');
      } else {
        this.$http(this.$api.getCode, { phone: this.phone.value }).then((data) => {
          if (data.status === 0) {
            this.clickForbid = false;
            this.phone.codeInterval = setInterval(() => {
              if (this.phone.clickInterval === 0) {
                this.phone.canGetCode = true;
                this.phone.codeText = '获取验证码';
                this.phone.clickInterval = 60;
                clearInterval(this.phone.codeInterval);
              } else {
                this.phone.canGetCode = false;
                this.phone.codeText = `${this.phone.clickInterval}秒`;
                this.phone.clickInterval -= 1;
              }
            }, 1000);
          } else {
            this.showConfirm(data.msg);
            setTimeout(() => {
              this.phone.canGetCode = true;
            }, 5000);
          }
        });
      }
      return true;
    },
    checkCode() {
      if (this.clickForbid) {
        return false;
      }
      const codeReg = /^[0-9]{6}$/;
      const phoneReg = /^[1][0-9]{10}$/;
      if (!phoneReg.test(this.phone.value)) {
        this.showConfirm('手机号格式不正确！');
        return false;
      }
      if (!codeReg.test(this.code.value)) {
        this.showConfirm('验证码格式错误！');
        return false;
      }
      this.$http(this.$api.checkCode, { phone: this.phone.value, code: this.code.value })
        .then((data) => {
          if (data.status === 0) {
            this.tabInd = 1;
          } else {
            this.showConfirm(data.msg);
          }
        });
      return true;
    },
    back() {
      this.tabInd = 0;
      this.code.value = '';
    },
    companyInfo() {
      this.company.phone = this.phone.value;
      const companyReg = /^[A-Za-z0-9\u4e00-\u9fa5]{1,64}$/;
      const nameReg = /^[\u4e00-\u9fa5]{1,10}$/;
      if (this.company.company_name.length === 0) {
        this.showConfirm('公司名称不能为空！');
        return false;
      }
      if (!companyReg.test(this.company.company_name)) {
        this.showConfirm('公司名称格式不正确！');
        return false;
      }
      if (this.company.shop.length === 0) {
        this.showConfirm('店铺名称不能为空！');
        return false;
      }
      if (!companyReg.test(this.company.shop)) {
        this.showConfirm('店铺名称格式不正确！');
        return false;
      }
      if (this.company.real_name.length === 0) {
        this.showConfirm('运营者姓名不能为空！');
        return false;
      }
      if (!nameReg.test(this.company.real_name)) {
        this.showConfirm('运营者姓名格式不正确！');
        return false;
      }
      if (this.company.email.length === 0) {
        this.showConfirm('邮箱不能为空！');
        return false;
      }
      if (this.proto.length === 0) {
        this.showConfirm('请确认协议！');
        return false;
      }
      const obj = window.JSON.parse(window.JSON.stringify(this.company));
      obj.province = obj.province.name;
      this.$http(this.$api.company, obj)
        .then((data) => {
          if (data.status === 0) {
            this.tabInd = 2;
          } else {
            this.showConfirm(data.msg);
          }
        });
      return true;
    },
    getCities() {
      this.$http(this.$api.cities, { province_id: this.company.province.id })
        .then((data) => {
          if (data.status === 0) {
            this.cities = data.data;
            this.company.city = this.cities[0].name;
          }
        });
    },
    showProtocol() {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head">注册协议<span @click="$emit('close')">x</span></div>
            <div class="modal_body_protocol">
              <p><span  style="font-weight: 600;">【审慎阅读】</span>您在申请注册流程中点击同意前，应当认真阅读以下协议。<span class="mark">请您务必审慎阅读、充分理解协议中相关条款内容，其中包括：</span></p>
              <p  class="mark">1、与您约定免除或限制责任的条款；</p>
              <p  class="mark">2、与您约定法律适用和管辖的条款；</p>
              <p  class="mark">3、其他以粗体下划线标识的重要条款。</p>
              <p>如您对协议有任何疑问，可向平台客服咨询。</p>
              <p><span class="mark">【特别提示】</span>当您按照注册页面提示填写信息、阅读并同意协议且完成全部注册程序后，即表示您已充分阅读、理解并接受协议的全部内容。如您因平台服务与淘宝发生争议的，适用《淘宝平台服务协议》处理。如您在使用平台服务过程中与其他用户发生争议的，依您与其他用户达成的协议处理。</p>
              <p class="mark">阅读协议的过程中，如果您不同意相关协议或其中任何条款约定，您应立即停止注册程序。</p>
              <p class="book">《淘宝平台服务协议》</p>
              <p class="book">《法律声明及隐私权政策》</p>
              <p class="book">《支付宝服务协议》</p>
            </div>
          </div>
        `,
      }, {}, {
        width: '900px',
        height: '570px',
        pivotX: 0.6,
        pivotY: 0.3,
      });
    },
    showConfirm(data) {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head">提示</div>
            <div class="modal_body_tips">
              <div>{{text}}</div>
            </div>
            <div class="modal_footer_confirm">
              <a href="javascript:void(0);" @click="submit">确定</a>
            </div>
          </div>
        `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      });
    },
  },
};
</script>
