<template>
  <div class="container">
    <div class="content_director" id="scroller">
      <div id="modelID">
        <h4>1、模板ID输入：</h4>
        <p>①登录微信公众平台，进入模板消息，点击从模板库中添加/模板库进入模板库</p>
        <img src="../../assets/example_1_1.png" alt="模板ID">
        <p>②设置或者修改所在行业，其中某一行业设置为IT科技/IT软件与服务</p>
        <img src="../../assets/example_1_2.png" alt="模板ID">
        <img src="../../assets/example_1_3.png" alt="模板ID">
        <p>③搜索返现到账通知，点击编号为OPENTM205223929的模板详情，进入详情页点击添加</p>
        <img src="../../assets/example_1_4.png" alt="模板ID">
        <img src="../../assets/example_1_5.png" alt="模板ID">
        <p>④添加成功后，将生成的模板ID复制添加到电商返利平台即可</p>
        <img src="../../assets/example_1_6.png" alt="模板ID">
      </div>
      <div id="customNum">
        <h4>2、商户号输入：</h4>
        <img src="../../assets/example_2.png" alt="商户号">
      </div>
      <div id="customKey">
        <h4>3、商户key输入：</h4>
        <p>①进入账户中心—操作证书，先安装安全控件、再安装操作证书</p>
        <img src="../../assets/example_3_1.png" alt="商户Key">
        <p>②进入账户中心—API安全，设置API密钥key（密钥需要自己设置，32个字符），推荐使用在线密码生成器生成http://suijimimashengcheng.51240.com 或http://www.sexauth.com/</p>
        <img src="../../assets/example_3_2.png" alt="商户Key">
        <img src="../../assets/example_3_3.png" alt="商户Key">
        <p>③设置API密钥时需输入操作密码</p>
        <img src="../../assets/example_3_4.png" alt="商户Key">
      </div>
      <div id="permit">
        <h4> 4、API证书下载</h4>
        <p>提示：进入apl中下载证书！</p>
        <img src="../../assets/example_4.png" alt="证书">
      </div>
    </div>
    <ul class="navs">
      <li v-for="(item, index) in navs"
          :key="index"
          @click="goScroll(index)"
          :class="{'chooseItem': tabInd == index}">{{item}}</li>
    </ul>
  </div>
</template>
<style lang="less" scoped>
  .navs{
    width: 120px;
    height: 100%;
    padding: 50px 0;
    position: fixed;
    top: 0;
    left: 0;
    background: #2E2F30;
    color: #fff;
    li{
      padding-left: 40px;
      line-height: 150px;
      cursor: pointer;
      background-size: 20px auto;
      background-position: 10px center;
      background-repeat: no-repeat;
      filter: grayscale(100%);
    }
    li:first-child{
      background-image: url('../../assets/merchant_moban.png');
    }
    li:nth-child(2){
      background-image: url('../../assets/merchant_account.png');
    }
    li:nth-child(3){
      background-image: url('../../assets/merchant_key.png');
    }
    li:nth-child(4){
      background-image: url('../../assets/merchant_book.png');
    }
    .chooseItem{
      color: #02ad9f;
      background-color: #232323;
      filter: grayscale(0%);
    }
  }
  .content_director{
    width: 100%;
    height: 100%;
    padding: 50px 140px 0;
    overflow-y: scroll;
    >div{
      margin-bottom: 50px;
    }
    h4{
      font-size: 18px;
      font-weight: 600;
      line-height: 40px;
    }
    p{
      font-size: 16px;
      line-height: 30px;
    }
    img{
      display: block;
      width: 80%;
      margin-bottom: 10px;
    }
  }
</style>
<script>
export default {
  data() {
    return {
      navs: ['模板ID', '商户号', '商户key', '证书'],
      heights: [],
      tabInd: 1000,
      scrollInterval: true,
      doScroll: true,
    };
  },
  components: {},
  mounted() {
    setTimeout(() => {
      this.tabInd = this.$route.params.ind;
      this.getHeights();
      this.goScroll(this.tabInd);
    }, 1000);
    window.onscroll = () => {
      this.scroll();
    };
  },
  methods: {
    scroll() {
      this.doScroll = !this.doScroll && setTimeout(() => {
        this.doScroll = '';
        const height = document.documentElement.scrollTop;
        for (let i = 0; i < this.navs.length; i += 1) {
          if (height <= this.heights[i] || i === (this.navs.length - 1)) {
            this.tabInd = i;
            break;
          }
        }
      }, 200);
    },
    getHeights() {
      this.heights = [];
      this.heights.push(document.getElementById('modelID').offsetTop + document.getElementById('modelID').clientHeight);
      this.heights.push(document.getElementById('customNum').offsetTop + document.getElementById('customNum').clientHeight);
      this.heights.push(document.getElementById('customKey').offsetTop + document.getElementById('customKey').clientHeight);
      this.heights.push(document.getElementById('permit').offsetTop);
    },
    goScroll(num) {
      this.tabInd = num;
      let height;
      switch (num) {
        case 0:
        case '0':
          height = 0;
          break;
        case 1:
        case '1':
          height = document.getElementById('customNum').offsetTop;
          break;
        case 2:
        case '2':
          height = document.getElementById('customKey').offsetTop;
          break;
        case 3:
        case '3':
          height = document.getElementById('permit').offsetTop;
          break;
        default:
          height = 0;
          break;
      }
      this.doScroll = true;
      document.documentElement.scrollTo(0, height);
    },
  },
};
</script>
