<template>
  <div class="container">
    <h5>修改密码</h5>
    <div>
      <label>
        <span>原密码：</span>
        <input type="password" placeholder="请输入原密码" v-model="oldPwd"/>
      </label>
      <label>
        <span>新密码：</span>
        <input type="password" placeholder="请输入新密码" v-model="newPwd" maxlength="20"/>
        <message :message="tips"></message>
      </label>
      <label>
        <span>确认密码：</span>
        <input type="password" placeholder="请确认新密码" v-model="confirmPwd" maxlength="20"/>
        <message :message="tips"></message>
      </label>
      <a href="javascript: void (0);" @click="newPassword">确定</a>
    </div>
  </div>
</template>
<style lang="less" scoped>
  .container{
    padding: 0 35px;
    h5{
      font-size: 16px;
      line-height: 100px;
      font-weight: 600;
    }
    >div{
      padding: 90px 150px;
      border: 1px solid #ddd;
      label{
        display: block;
        min-height: 40px;
        width: 100%;
        margin-bottom: 20px;
        >span,>input{
          display: block;
          float: left;
          min-height: 40px;
        }
        span{
          width: 100px;
          text-align: right;
          line-height: 40px;
        }
        input{
          width: 320px;
          height: 40px;
          padding-left: 10px;
          margin: 0 10px;
          border: 1px solid #ddd;
          line-height: 38px;
        }
      }
      a{
        display: block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        margin: 40px 0 0 110px;
        text-align: center;
        background: #02ad9f;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
</style>
<script>
import md5 from 'js-md5';
import message from '../common/message';

export default {
  data() {
    return {
      account: '',
      tips: '只允许包含数字、字母、-和_，长度6-20位，不能为纯数字！',
      oldPwd: '',
      newPwd: '',
      confirmPwd: '',
    };
  },
  components: { message },
  methods: {
    newPassword() {
      const obj = {
        passwd: this.oldPwd.trim(),
        newpasswd: this.newPwd.trim(),
      };
      if (obj.passwd === '' || obj.newpasswd === '') {
        this.showConfirm('密码不能为空！');
        return false;
      }
      if (obj.newpasswd !== this.confirmPwd) {
        this.showConfirm('新密码两次输入不一致！');
        return false;
      }
      const reg = /^[a-zA-Z0-9_-]{6,20}$/;
      if (!reg.test(obj.newpasswd) || (/^[0-9]{6,20}$/.test(obj.newpasswd))) {
        this.showConfirm('新密码格式错误！');
        return false;
      }
      obj.passwd = md5(obj.passwd);
      obj.newpasswd = md5(obj.newpasswd);
      this.$http(this.$api.newPassword, obj)
        .then((data) => {
          if (data.status === 0) {
            this.showConfirm(data.data);
            this.$store.commit('modelOperate/changeOperate', true);
          } else {
            this.showConfirm(data.msg);
          }
        });
      return true;
    },
    showConfirm(data) {
      this.$modal.show({
        template: `
                <div>
                  <div class="modal_head">提示</div>
                  <div class="modal_body_tips">
                    <div>{{text}}</div>
                  </div>
                  <div class="modal_footer_confirm">
                    <a href="javascript:void(0);" @click="submit">确定</a>
                  </div>
                </div>
              `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': this.beforeClose,
      });
    },
    beforeClose() {
      if (this.$store.state.modelOperate.operate) {
        this.$store.commit('modelOperate/changeOperate', false);
        document.getElementById('navigation').firstElementChild.firstElementChild.click();
      }
    },
  },
};
</script>
