<template>
  <div>
    <div class="search_body">
      <div class="search_items">
        <label for="" class="search_item" style="display: inline-block;">
          <span>店铺名称：</span>
          <input v-model="shop_name" type="text">
        </label>
        <div class="search_btn clear" style="display: inline-block; float: right">
          <a href="javascript: void(0);" @click="handleAuthClick">授权</a>
          <a href="javascript: void(0);" @click="handleSearchClick">查询</a>
        </div>
      </div>
    </div>
    <v-table :columns="columns" :data="data" :page="page"></v-table>
  </div>
</template>
<style>
</style>
<script>
import page from '../common/page';

export default {
  mixins: [page],
  data() {
    return {
      shop_name: '',
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '店铺名称', data: 'shop_name', class: 'large' },
      { title: '第一次授权时间', data: 'first_auth_time' },
      { title: '最近授权时间', data: 'auth_time' },
      { title: '授权到期时间', data: 'end_date' },
      { title: '授权状态', data: 'status' },
      { title: '操作',
        class: 'smallest',
        data: 'status',
        click: 'handleReauthClick', // 点击触发的事件
        render(val) {
          if (val === '已授权') {
            return '<span style="color: #cccccc; line-height: 40px; cursor: pointer">重新授权</span>';
          }
          return '<span style="color: rgb(2, 173, 159); line-height: 40px; cursor: pointer">重新授权</span>';
        },
      }],
      data: [{
        no: 1,
        shop_name: '',
        first_auth_time: '2018-11-01 17:49:25',
        auth_time: '2018-11-01 20:24:16',
        end_date: '2018-12-02 20:24:16',
        status: '',
      }],
    };
  },
  methods: {
    // 授权
    handleAuthClick() {
      const submitFn = () => {
        this.$http(this.$api.shopGetAuthUrl)
          .then((res) => {
            if (res.status === 0) {
              window.location.href = res.data;
            } else {
              this.showConfirm(res.msg);
            }
          });
      };
      this.showConfirm('确认授权？', { submitFn });
    },
    handleReauthClick(item) {
      if (item.status === '重新授权') {
        this.showConfirm('确定重新授权？', {
          item,
          submitFn: this.handleAuthClick,
        });
      }
    },
    // 查询
    handleSearchClick() {
      this.getList();
    },
    getList() {
      const obj = {
        shop_name: this.shop_name,
        start: this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
      };
      this.getListData(this.$api.shopShop, obj);
    },
  },
  created() {
    this.getList();
  },
};
</script>
