<template>
  <div class="container">
    <div>
      <span>我的短信套餐剩余<span>{{SMSLave}}</span>条!</span>
      <a href="javascript: void (0);" @click="smsPackage">充值</a>
    </div>
    <div>
      <div>
        <span>交易时间：</span>
        <div class="date-time-item">
          <input class="date-time-input" @click="show('startTime')" v-model="startTime" readonly/>
          <data-time-picker ref="startTime"
                            v-model="startTime"
                            color="#02AD9F"
                            @confirm="selectStart"></data-time-picker>
        </div>
        <span>至</span>
        <div class="date-time-item">
          <input class="date-time-input" @click="show('endTime')" v-model="endTime" readonly/>
          <data-time-picker ref="endTime"
                            v-model="endTime"
                            color="#02AD9F"
                            @confirm="selectEnd"></data-time-picker>
        </div>
        <label>订单号：<input type="text" v-model="tradeNo"/></label>
      </div>
      <div>
        <a href="javascript: void(0);" @click="allSmsOrder">下载账单</a>
        <a href="javascript: void(0);" @click="changePage(1)">查询</a>
      </div>
    </div>
    <v-table :columns="columns" :data="data" :page="page"></v-table>
  </div>
</template>
<style lang="less" scoped>
  .container {
    >div{
      padding: 0 35px;
    }
    >div{
      height: 40px;
      margin-bottom: 20px;
    }
    >div:first-child{
      min-height: 70px;
      padding-left: 60px;
      font-size: 16px;
      line-height: 70px;
      margin: 0 35px 50px;
      background: #eee url("../../assets/tips.png") no-repeat 30px center;
      background-size: 20px 20px;
      color: #333;
      >span{
        margin-right: 20px;
        float: left;
        span{
          color: #DC5F4D ;
        }
      }
      a{
        display: block;
        width: 120px;
        height: 40px;
        float: left;
        border: 1px solid #02ad9f;
        border-radius: 5px;
        color: #02ad9f;
        text-align: center;
        line-height: 38px;
        margin-top: 15px;
      }
    }
    >div:nth-child(2){
      height: 36px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      >div:first-child{
        width: 900px;
        >*{
          display: block;
          height: 40px;
          margin-right: 10px;
          float: left;
        }
        >label{
          line-height: 36px;
          margin-right: 20px;
          >input{
            display: block;
            float: right;
            width: 280px;
            height: 36px;
            padding: 0 0 0 10px;
            margin: 0 10px;
            border: 1px solid #ddd;
          }
        }
        >span{
          line-height: 36px;
        }
      }
      >div:last-child{
        width: 270px;
        line-height: 40px;
        float: right;
        a{
          display: block;
          width: 120px;
          height: 36px;
          margin-right: 10px;
          line-height: 36px;
          text-align: center;
          color: #fff;
          background: #02AD9F;
          border-radius: 5px;
          float: right;
        }
        a:last-child{
          background: #fff;
          color: #02AD9F;
          border: 1px solid #02ad9f;
          line-height: 34px;
        }
      }
    }
  }
</style>
<script>
import QrcodeVue from 'qrcode.vue';
/* eslint-disable */
export default {
  data() {
    return {
      startTime: '',
      endTime: '',
      tradeNo: '',
      SMSLave: 0,
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'small',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '套餐名称', data: 'package', class: 'large' },
      { title: '订单号', data: 'out_trade_no' },
      { title: '交易时间', data: 'modify_time' },
      { title: '短信条数', data: 'num', class: 'small' },
      { title: '金额(元)', data: 'total_fee' }],
      data: [],
      page: {
        total: 0,
        curPage: 1,
        pageCount: 0,
        prePage: 10,
        pageSelect: [10, 20, 50, 100],
      },
    };
  },
  components: { QrcodeVue },
  methods: {
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.endTime = val;
    },
    selectStart(val) {
      this.startTime = val;
    },
    smsOrder() {
      const obj = {
        start_time: this.startTime,
        end_time: this.endTime,
        out_trade_no: this.tradeNo,
        start: (this.page.curPage - 1) * this.page.prePage,
        length: this.page.prePage,
      };
      this.$http(this.$api.smsOrder, obj)
        .then((data) => {
          if (data.status === 0) {
            const items = data.data;
            this.data = [];
            this.page.total = parseInt(data.recordsTotal, 10);
            this.page.pageCount = Math.ceil(this.page.total / this.page.prePage);
            for (let i = 0, len = items.length; i < len; i += 1) {
              items[i].no = i + 1 + obj.start;
              this.data.push(items[i]);
            }
          } else {
            this.page.total = 0;
            this.page.pageCount = 0;
            this.data = [];
          }
        });
    },
    smsPackage() {
      this.$http(this.$api.smsPackage)
        .then((data) => {
          if (data.status === 0) {
            this.showRecharge(data.data);
          } else {
            this.showConfirm(data.msg);
          }
        });
    },
    restSms() {
      this.$http(this.$api.restSms)
        .then((data) => {
          if (data.status === 0) {
            this.SMSLave = data.data[0].sms;
          }
        });
    },
    showRecharge(data) {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head">充值<span @click="$emit('close')">x</span></div>
            <div class="modal_body_charge">
              <div>
                <div>选择套餐：</div>
                <div>
                  <div v-for="(item,index) in packages"
                       :class="{'active': item.id === packageInd}"
                       @click="changeChoose(item)"
                       :key="item.id">
                    <p>{{item.package}}</p>
                    <p>短信：{{item.num}}条</p>
                  </div>
                </div>
              </div>
              <div>
                <div>实付金额：</div>
                <div>{{coin}}元</div>
              </div>
              <div>
                <div>支付方式：</div>
                <span>微信支付</span>
              </div>
              <div>
                <div></div>
                <a href="javascript:void(0);" @click="submit">确定充值</a>
              </div>
            </div>
          </div>
        `,
        data() {
          return {
            coin: 0,
            packageInd: 0,
            name: '',
          };
        },
        props: ['packages'],
        methods: {
          submit() {
            this.$store.commit('modelOperate/changeOperate', true);
            this.$store.commit('modelOperate/changeChargeInfo', {
              package_id: this.packageInd,
              name: this.name,
              price: this.coin,
            });
            this.$emit('close');
          },
          changeChoose(item) {
            this.packageInd = item.id;
            this.coin = item.price;
            this.name = item.package;
          },
        },
        mounted() {
          this.packageInd = this.packages[0].id;
          this.coin = this.packages[0].price;
          this.name = this.packages[0].package;
        },
      }, {
        packages: data,
      }, {
        width: '800px',
        height: '500px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': this.beforeClose,
      });
    },
    beforeClose() {
      if (!this.$store.state.modelOperate.operate) {
        return false;
      }
      this.$store.commit('modelOperate/changeOperate', false);
      const item = this.$store.state.modelOperate.chargeInfo;
      this.$http(this.$api.goods, {
        package_id: item.package_id,
        name: item.name,
        price: item.price,
      })
        .then((data) => {
          if (data.status === 0) {
            this.showImg(data.data.code_url, QrcodeVue, data.data.out_trade_no);
          } else {
            this.showConfirm(data.msg);
          }
        });
      return true;
    },
    showConfirm(data) {
      this.$modal.show({
        template: `
                <div>
                  <div class="modal_head">提示</div>
                  <div class="modal_body_tips">
                    <div>{{text}}</div>
                  </div>
                  <div class="modal_footer_confirm">
                    <a href="javascript:void(0);" @click="submit">确定</a>
                  </div>
                </div>
              `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      });
    },
    showImg(data, QrcodeVue, no) {
      this.$modal.show({
        template: `
          <div class="modalImg">
            <qrcode-vue :value="img" size="350"></qrcode-vue>
            <p>微信扫一扫支付</p>
          </div>
        `,
        props: ['img', 'no'],
        methods: {
          data() {
            return {
              chargePayInterval: '',
            };
          },
          submit() {
            this.$emit('close');
          },
          payCharge(no) {
            this.chargePayInterval = setInterval(() => {
              this.$http(this.$api.judgePay, { out_trade_no: no })
                .then((res) => {
                  if (res.status === 0) {
                    clearInterval(this.chargePayInterval);
                    this.$store.commit('modelOperate/changeOperate', true);
                    this.$store.commit('modelOperate/changeUserTag', res.data);
                    this.$emit('close');
                  }
                });
            }, 5000);
          },
        },
        mounted() {
          this.payCharge(this.no);
        },
        components: { QrcodeVue },
        destroyed() {
          clearInterval(this.chargePayInterval);
        },
      }, {
        img: data,
        no: no,
      }, {
        width: '390px',
        height: '420px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': this.modalClose,
      });
    },
    modalClose() {
      if (this.$store.state.modelOperate.operate) {
        this.$store.commit('modelOperate/changeOperate', false);
        this.showConfirm(this.$store.state.modelOperate.userTag);
        this.$store.commit('modelOperate/changeUserTag', '');
      }
    },
    allSmsOrder() {
      const obj = {
        start_time: this.startTime,
        end_time: this.endTime,
        out_trade_no: this.tradeNo,
        start: 0,
        length: 10000,
      };
      this.$http(this.$api.smsOrder, obj)
        .then((data) => {
          if (data.status === 0) {
            const items = data.data;
            const arr = [];
            for (let i = 0, len = items.length; i < len; i += 1) {
              arr.push([items[i].package, items[i].out_trade_no, items[i].modify_time, items[i].num, items[i].total_fee]);
            }
            this.tableToExcel('套餐名称,订单号,交易时间,短信条数,金额(元)\n', arr);
          }
        });
    },
    tableToExcel(title, jsonData) {
      // title 形式 如 `姓名,电话,邮箱\n`;
      // 列标题，逗号隔开，每一个逗号就是隔开一个单元格
      let str = title;
      for (let i = 0; i < jsonData.length; i += 1) {
        for (const item in jsonData[i]) {
          str += `${jsonData[i][item]}\t,`;
        }
        str += '\n';
      }
      const uri = `data:text/csv;charset=utf-8,\ufeff${encodeURIComponent(str)}`;
      // 通过创建a标签实现
      const link = document.createElement('a');
      link.href = uri;
      link.download = 'json数据表.csv';
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    },
    changePage(val, len) {
      this.page.curPage = val;
      this.page.prePage = len || this.page.prePage;
      this.smsOrder();
    },
  },
  mounted() {
    this.smsOrder();
    this.restSms();
  },
};
</script>
