<template>
  <div class="container">
    <h5>微信公众号绑定</h5>
    <div class="step1" v-show="showImg && initEnd">
      <div>
        <div>
          <qrcode-vue :value="img" size="290"></qrcode-vue>
        </div>
        <img src="../../assets/phone.png"
             v-show="showP" alt="">
      </div>
      <p>用<span @mouseout="hidePhone" @mouseover="showPhone">微信</span>扫一扫，绑定微信公众号</p>
    </div>
    <div class="step2" v-show="!showImg && initEnd">
      <p>您已经成功授权！</p>
      <div>
        <div>公众号名称：</div>
        <div>{{accountData.nick_name}}</div>
      </div>
      <div>
        <div>头像图片：</div>
        <img :src="accountData.head_img" alt="">
      </div>
      <div>
        <div>公众号账号：</div>
        <div>{{accountData.user_name}}</div>
      </div>
      <div>
        <div>H5菜单链接：</div>
        <div @click="showUrl" class="btnH5">获取</div>
      </div>
      <div class="boundary">
        <div>关注二维码：</div>
        <div @click="showBigImg(accountData.qrcode_url)" style="cursor: pointer">
          <qrcode-vue class="img" :value="accountData.qrcode_url" size="40"></qrcode-vue>
        </div>
      </div>
      <div class="edit">
        <div></div>
        <a @click="canEdit"
           href="javascript: void (0);">{{operateText}}</a>
      </div>
      <div v-show="operateStep === 0 || operateStep === 1">
        <div>模板ID</div>
        <div>
          <input type="text" :disabled="operateStep === 0" v-model="mch.template_id"/>
        </div>
        <a href="javascript: void (0);" @click="showExample(0)">查看示例</a>
      </div>
      <div v-show="operateStep === 0 || operateStep === 2">
        <div>商户号</div>
        <div>
          <input type="text" :disabled="operateStep === 0" v-model="mch.mch_id"/>
        </div>
        <a href="javascript: void (0);" @click="showExample(1)">查看示例</a>
      </div>
      <div v-show="operateStep === 0 || operateStep === 2">
        <div>商户Key</div>
        <div>
          <input type="text" :disabled="operateStep === 0" v-model="mch.mch_key"/>
        </div>
        <a href="javascript: void (0);" @click="showExample(2)">查看示例</a>
      </div>
      <div v-if="operateStep === 3">
        <div>证书：</div>
        <div class="addFile">
          <vue-simple-upload
            :options="option"
            @progress-update="successUp"
            @file-size-error="fileSizeError"
            ref="fileUploadSection"
          >
          </vue-simple-upload>
        </div>
        <div class="multiple">
          <a href="javascript: void (0);" @click="showExample(3)">查看示例</a>
          <p>仅限zip格式</p>
        </div>
      </div>
      <div v-if="operateStep === 1 || operateStep === 2" class="save">
        <div></div>
        <div>
          <a href="javascript: void(0);" @click="mchSet">下一步</a>
        </div>
      </div>
      <div v-if="operateStep === 3" class="save">
        <div></div>
        <div>
          <a href="javascript: void(0);" @click="mchOver">保存设置</a>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="less" scoped>
  .container{
    font-size: 16px;
    h5{
      padding-left: 35px;
      line-height: 100px;
      font-weight: 600;
    }
    .step1{
      padding-left: 300px;
      >div{
        height: 360px;
        >img{
          display: block;
          width: 249px;
          height: 267px;
          margin: 58px 0 0 30px;
          float: left;
        }
        >div{
          box-sizing: border-box;
          width: 360px;
          height: 360px;
          float: left;
          padding: 34px;
          border: 1px solid #ddd;
          img{
            display: block;
            width: 290px;
            height: 290px;
          }
        }
      }
    }
    .step2{
      width: 100%;
      >p{
        padding-left: 530px;
        margin-bottom: 25px;
        line-height: 40px;
        background: url('../../assets/success.png') no-repeat 500px center;
        background-size: 20px 20px;
      }
      >div{
        padding-left: 300px;
        min-height: 40px;
        line-height: 40px;
        margin-bottom: 15px;
        overflow: hidden;
        >*{
          float: left;
        }
        >div:first-child{
          width: 200px;
          min-height: 40px;
          text-align: right;
          line-height: 40px;
          margin-right: 20px;
        }
        >div:nth-child(2){
          a{
            display: block;
            float: left;
            width: 120px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            background: #02ad9f;
            border-radius: 5px;
            margin-right: 20px;
          }
          a:last-of-type{
          }
        }
        .addFile{
          >div{
            width: 40px;
            height: 40px;
            border: 1px dotted #ddd;
            background: url("../../assets/plus.png") no-repeat center center;
            background-size: 20px 20px;
          }
        }
        .multiple{
          line-height: 20px !important;
        }
        img{
          display: block;
          width: 40px;
          height: 40px;
        }
        input, select{
          display: block;
          width: 300px;
          height: 40px;
          line-height: 38px;
          padding-left: 10px;
          border: 1px solid #ddd;
        }
        select{
          width: 200px !important;
        }
        p, a{
          margin-left: 10px;
        }
        a{
          color: #02ad9f;
        }
      }
      .btnH5{
        line-height: 38px;
        padding: 0 30px;
        border-radius: 5px;
        background: #02ad9f;
        color: #fff;
        cursor: pointer;
      }
      .boundary{
        border-bottom: 5px solid #ddd;
      }
      .edit{
        a{
          display: block;
          float: left;
          width: 120px;
          height: 40px;
          line-height: 38px;
          text-align: center;
          color: #02ad9f;
          border: 1px solid #02ad9f;
          border-radius: 20px;
          margin-right: 20px;
        }
      }
      .save{
        margin-top: 40px;
      }
    }
  }
</style>
<script>
/* eslint-disable */
import QrcodeVue from 'qrcode.vue';
import { VueSimpleUpload } from 'vue-simple-file-upload'

export default {
  data() {
    return {
      initEnd: false,
      img: '',
      showImg: true,
      showP: false,
      accountData: {
        appid: '',
        nick_name: '',
        head_img: '',
        user_name: '',
        qrcode_url: '',
        manul_url: '',
      },
      codeUrlTimeout: '',
      mch: {
        template_id: '',
        mch_id: '',
        mch_key: '',
      },
      operateStep: 0,
      operateText: '编辑',
      option: {
        className: '',
        btnContent: ' ',
        url: '/pc/mch_conf/cert',
        size: 1048576,
      },
    };
  },
  components: { QrcodeVue, VueSimpleUpload },
  methods: {
    canEdit() {
      if (this.operateStep === 0) {
        this.operateText = '取消';
        this.operateStep = 1;
      } else {
        this.operateStep -= 1;
        if (this.operateStep === 0) {
          this.operateText = '编辑';
        } else if (this.operateStep === 1) {
          this.operateText = '取消';
        } else {
          this.operateText = '上一步';
        }
      }
    },
    showPhone() {
      this.showP = true;
    },
    hidePhone() {
      this.showP = false;
    },
    getCodeUrl() {
      this.$http(this.$api.getCodeUrl)
        .then((data) => {
          this.initEnd = true;
          if (data.status === 0) {
            if (typeof data.data === 'string') {
              this.img = data.data;
              this.judgeWxAuth();
            } else {
              clearTimeout(this.codeUrlTimeout);
              this.showImg = false;
              this.accountData.nick_name = data.data[0].nick_name;
              this.accountData.head_img = data.data[0].head_img;
              this.accountData.user_name = data.data[0].user_name;
              this.accountData.qrcode_url = data.data[0].qrcode_url;
              this.accountData.appid = data.data[0].appid;
              this.accountData.manul_url = data.data[0].manul_url;
              this.mchinfo();
            }
          } else {
            this.showConfirm(data.msg);
          }
        });
    },
    judgeWxAuth() {
      this.$http(this.$api.judgeWxAuth)
        .then((data) => {
          if (data.status === 0) {
            clearTimeout(this.codeUrlTimeout);
            this.getCodeUrl();
          } else {
            this.codeUrlTimeout = setTimeout(() => {
              this.judgeWxAuth();
            }, 3000)
          }
        });
    },
    mchinfo() {
      this.$http(this.$api.mchinfo)
        .then((data) => {
          if (data.status === 0){
            this.mch.mch_key = data.data.mch_key;
            this.mch.mch_id = data.data.mch_id;
            this.mch.template_id = data.data.template_id;
          }
        });
    },
    mchSet() {
      this.operateStep += 1;
      if (this.operateStep === 1) {
        this.operateText = '取消';
      } else {
        this.operateText = '上一步';
      }
    },
    mchOver() {
      const obj = {
        mch_id: this.mch.mch_id,
        mch_appid: this.accountData.appid,
        mch_key: this.mch.mch_key,
        template_id: this.mch.template_id,
      };
      this.$http(this.$api.mchSet, obj)
        .then((data) => {
          if (data.status === 0){
            this.operateStep = 0;
            this.operateText = '编辑';
            this.showConfirm(data.data);
          } else {
            this.showConfirm(data.msg);
          }
        });
    },
    successUp(file) {
      this.$refs.fileUploadSection.startUpload();
      const res = file[0].response && JSON.parse(file[0].response);
      if (res) {
        if (res.status === 0) {
          this.showConfirm('上传成功');
        } else {
          this.showConfirm(res.msg);
        }
      }
    },
    // 文件过大
    fileSizeError() {
      this.showConfirm('文件最大为1M');
    },
    showConfirm(data) {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head">提示<span @click="$emit('close')">x</span></div>
            <div class="modal_body_tips">
              <div>{{text}}</div>
            </div>
            <div class="modal_footer_confirm">
              <a href="javascript:void(0);" @click="submit">确定</a>
            </div>
          </div>
        `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      });
    },
    showBigImg(data) {
      this.$modal.show({
        template: `
          <div class="modalImg" @click="submit" style="padding: 20px;">
            <qrcode-vue :value="img" size="350"></qrcode-vue>
          </div>
        `,
        props: ['img', 'no'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
        components: { QrcodeVue },
      }, {
        img: data,
      }, {
        width: '390px',
        height: '390px',
        pivotX: 0.5,
        pivotY: 0.3,
      });
    },
    showUrl() {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head">H5连接<span @click="$emit('close')">x</span></div>
            <div class="modal_body_Url">
              <div>{{text}}</div>
              <input v-model="text" id="copyText" style="height: 0; border: none;" type="text"/>
            </div>
            <div class="modal_footer_confirm">
              <a href="javascript:void(0);" @click="submit">一键复制</a>
            </div>
          </div>
        `,
        props: ['text'],
        methods: {
          submit() {
            const text = document.getElementById("copyText");
            text.select(); // 选择对象
            this.$store.commit('modelOperate/changeOperate', true);
            document.execCommand("Copy", true, true);
            this.$store.commit('modelOperate/changeUserTag', '已复制好，可贴粘。');
            this.$emit('close');
          },
        },
        components: { QrcodeVue },
      }, {
        text: this.accountData.manul_url,
      }, {
        width: '500px',
        height: '280px',
        pivotX: 0.5,
        pivotY: 0.3,
      }, {
        'before-close': () => {
          if (this.$store.state.modelOperate.operate) {
            this.showConfirm(this.$store.state.modelOperate.userTag);
            this.$store.commit('modelOperate/changeOperate', false);
            this.$store.commit('modelOperate/changeUserTag', '');
          }
        },
      });
    },
    showExample(ind) {
      const {href} = this.$router.resolve({
        name: "示例",
        params: { ind },
      });
      window.open(href, '_blank');
    },
  },
  mounted() {
    this.getCodeUrl();
  },
  beforeDestroy() {
    clearTimeout(this.codeUrlTimeout);
  },
};
</script>
