<template>
  <div>
    <div class="chart-wrapper">
      <div class="chart-left">兑换记录统计</div>
      <div class="chart-right search_body clearfix">
        <div style="width: 1000px" class="search_time">
          <span>礼品名称：</span>
          <select class="search-select"
                  v-model="search"
                  @change="handleDateChange"
          >
            <option value="">全部</option>
            <option v-for="(item, index) of gift_names"
                    :key="index"
            >{{item.gift_name}}</option>
          </select>
          <span class="">有效时间：</span>
          <div class="date-time-item">
            <input class="date-time-input"
                   placeholder="开始时间"
                   @click="show('startTime')"
                   v-model="start_time" readonly/>
            <data-time-picker ref="startTime"
                              v-model="start_time"
                              color="#02AD9F"
                              @confirm="selectStart"></data-time-picker>
          </div>
          <span class="time-middle">至</span>
          <div class="date-time-item">
            <input class="date-time-input"
                   placeholder="结束时间"
                   @click="show('endTime')"
                   v-model="end_time" readonly/>
            <data-time-picker ref="endTime"
                              v-model="end_time"
                              color="#02AD9F"
                              @confirm="selectEnd"></data-time-picker>
          </div>
          <span>时间：</span>
          <select class="date-select"
                  v-model="way"
                  @change="handleDateChange"
          >
            <option value="0">天</option>
            <option value="1">月</option>
          </select>
        </div>
      </div>
      <chart :series="series" :yAxis="yAxis" :xAxis="xAxis"></chart>
    </div>
    <chart-table :data="data" :page="page" :columns="columns"></chart-table>
  </div>
</template>
<style lang="less" scoped>
  @import "../common/mixin";
  .chart-wrapper /deep/ canvas{
    top: 20px !important;
  }
  .chart-wrapper>:nth-child(3){
    pointer-events: none;
  }
</style>
<script>
import page from '../common/page';
import total from './components/total';
import chartTable from './components/table';
import chart from './components/chart';

export default {
  mixins: [page],
  data() {
    return {
      search: '',
      gift_names: [], // 存放搜索礼物名称
      way: 0,
      start_time: '',
      end_time: '',
      data: [], // 存放每页n条数据
      datas: [], // 存放全部数据
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '日期', data: 'date', class: 'large' },
      { title: '礼品名称', data: 'gift_name' },
      {
        title: '兑换数量',
        data: 'num',
      }],
      yAxis: [{
        name: '兑换数/件',
        type: 'value',
        position: 'left',
        scale: true,
        axisLine: {
          show: true,
        },
      }],
      xAxis: {
        data: [],
        max: 'dataMax',
      },
      series: [{
        name: '全部',
        type: 'line',
        data: [],
        smooth: false,
      }],
    };
  },
  components: { total, chartTable, chart },
  methods: {
    init() {
      const p = new Promise((resolve) => {
        this.getChartData(resolve);
      });
      p.then(() => {
        this.getList();
      });
    },
    // 获取图表数据
    getChartData(resolve) {
      this.$http(this.$api.exchange, {
        startdate: '',
        enddate: '',
        start: '',
        length: '',
        way: this.way,
      })
        .then((res) => {
          if (res.status === 0) {
            const data = res.data;
            this.series[0].data = [];
            data.forEach((item) => {
              this.series[0].data.push(item.num);
            });
            if (resolve) {
              resolve();
            }
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.end_time = val;
      this.getList();
    },
    selectStart(val) {
      this.start_time = val;
    },
    // 获取表格数据
    getList() {
      const obj = {
        startdate: this.start_time,
        enddate: this.end_time,
        start: this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
        way: this.way,
      };
      const callBackFn = (data) => {
        this.series[0].data = [];
        this.xAxis.data = [];
        data.forEach((item) => {
          this.xAxis.data.push(item.date);
          this.series[0].data.push(item.num);
          // if (this.gift_names.length === 0) {
          //   this.gift_names.push(item.gift_name);
          // } else {
          //   this.gift_names.forEach((gift) => {
          //     if (gift.indexOf(item.gift_name) < 0) {
          //       this.gift_names.push(item.gift_name);
          //     }
          //   });
          // }
        });
      };
      // const callBackFn = (data) => {
      //   this.series[0].data = [];
      //   data.forEach((item) => {
      //     this.series[0].data.push(item.num);
      //     if (this.gift_names.length === 0) {
      //       this.gift_names.push(item.gift_name);
      //     } else {
      //       this.gift_names.forEach((gift) => {
      //         if (gift.indexOf(item.gift_name) < 0) {
      //           this.gift_names.push(item.gift_name);
      //         }
      //       });
      //     }
      //   });
      // };
      this.$nextTick(() => {
        this.$children[3].getListData(this.$api.exchange, obj, callBackFn);
      });
    },
    handleDateChange() {
      this.getList();
    },
  },
  created() {
    this.getList();
    this.$http(this.$api.getGiftName, {})
      .then((res) => {
        if (res.status === 0) {
          this.gift_names = res.data;
        } else {
          this.showConfirm(res.msg);
        }
      });
  },
};
</script>

