<template>
  <div>
    <div class="chart-wrapper">
      <div class="chart-left">积分记录统计</div>
      <div class="chart-right search_body clearfix">
        <div style="width: 600px" class="search_time">
          <span class="">有效时间：</span>
          <div class="date-time-item">
            <input class="date-time-input"
                   placeholder="开始时间"
                   @click="show('startTime')"
                   v-model="start_time" readonly/>
            <data-time-picker ref="startTime"
                              v-model="start_time"
                              color="#02AD9F"
                              @confirm="selectStart"></data-time-picker>
          </div>
          <span class="time-middle">至</span>
          <div class="date-time-item">
            <input class="date-time-input"
                   placeholder="结束时间"
                   @click="show('endTime')"
                   v-model="end_time" readonly/>
            <data-time-picker ref="endTime"
                              v-model="end_time"
                              color="#02AD9F"
                              @confirm="selectEnd"></data-time-picker>
          </div>
          <span>时间：</span>
          <select class="date-select"
                  v-model="way"
                  @change="handleDateChange"
          >
            <option value="0">天</option>
            <option value="1">月</option>
          </select>
        </div>
      </div>
      <chart :series="series" :yAxis="yAxis" :xAxis="xAxis"></chart>
    </div>
    <chart-table :data="data" :page="page" :columns="columns"></chart-table>
  </div>
</template>
<style lang="less" scoped>
  @import "../common/mixin";
  .chart-wrapper /deep/ canvas{
    top: 20px !important;
  }
  .chart-wrapper>:nth-child(3){
    pointer-events: none;
  }
</style>
<script>
import page from '../common/page';
import total from './components/total';
import chartTable from './components/table';
import chart from './components/chart';

export default {
  mixins: [page],
  data() {
    return {
      way: 0,
      data: [],
      datas: [], // 由于特殊需求，存放全部数据，前端分页
      start_time: '',
      end_time: '',
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '日期', data: 'date', class: 'large' },
      { title: '产生积分值(分)', data: 'obitian_credits' },
      {
        title: '消耗积分值(分)',
        data: 'spend_credits',
        render(val) {
          const valCopy = `${val}`.replace(/-/, '');
          return `<span>${valCopy}</span>`;
        },
      }, {
        title: '积分变化',
        data: 'change_credits',
        render(val) {
          if (val < 0) {
            return `<span style="color: #AD4040;">${val}</span>`;
          }
          return `<span>+${val}</span>`;
        },
      }],
      yAxis: [{
        name: '人数',
        type: 'value',
        position: 'left',
        scale: true,
        axisLine: {
          show: true,
        },
      }],
      xAxis: {
        data: [],
        max: 'dataMax',
      },
      series: [{
        name: '产生的积分值',
        type: 'line',
        data: [],
        smooth: false,
      }, {
        name: '消耗的积分值',
        type: 'line',
        data: [],
        smooth: false,
      }],
    };
  },
  components: { total, chartTable, chart },
  methods: {
    // init() {
    //   const p = new Promise((resolve) => {
    //     this.getChartData(resolve);
    //   });
    //   p.then(() => {
    //     this.getListIntegral();
    //   });
    // },
    // getChartData(resolve) {
    //   this.$http(this.$api.credits, {
    //     startdate: '',
    //     enddate: '',
    //     start: '',
    //     length: '',
    //     way: this.way,
    //   })
    //     .then((res) => {
    //       if (res.status === 0) {
    //         console.log(res.data);
    //         const data = JSON.parse(res.data);
    //         this.series[0].data = [];
    //         this.series[1].data = [];
    //         data.forEach((item) => {
    //           this.series[1].data.push(item.obitian_credits);
    //           this.series[0].data.push(item.spend_credits);
    //         });
    //         if (resolve) {
    //           resolve();
    //         }
    //       } else {
    //         // do
    //       }
    //     });
    // },
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.end_time = val;
      this.getListIntegral();
    },
    selectStart(val) {
      this.start_time = val;
    },
    // 获取数据
    getListIntegral() {
      const obj = {
        startdate: this.start_time,
        enddate: this.end_time,
        start: this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
        way: this.way,
      };
      // this.getListData(this.$api.credits, obj);
      this.$http(this.$api.credits, obj)
        .then((res) => {
          if (res.status === 0) {
            this.data = [];
            this.page.total = parseInt(res.recordsTotal, 10);
            this.page.pageCount = Math.ceil(this.page.total / this.page.prePage);
            let data;
            if (typeof res.data === 'string') {
              data = JSON.parse(res.data);
            } else {
              data = res.data;
            }
            this.series[0].data = [];
            this.series[1].data = [];
            this.xAxis.data = [];
            data.forEach((item) => {
              this.series[1].data.push(item.obitian_credits);
              this.series[0].data.push(item.spend_credits);
              this.xAxis.data.push(item.date);
            });
            this.datas = [];
            for (let i = 0, len = data.length; i < len; i += 1) {
              data[i].no = i + 1 + obj.start;
              this.datas.push(data[i]);
            }
            for (let j = 0; j < this.page.prePage; j += 1) {
              this.data.push(this.datas[j]);
            }
          } else {
            this.showConfirm(res.msg || res.data);
          }
        });
    },
    handleDateChange() {
      this.getListIntegral();
    },
    // 积分接口特殊定制分页
    // changePage(val, len) {
    //   this.page.curPage = val;
    //   this.page.prePage = len || this.page.prePage;
    //   const start = this.page.prePage * (this.page.curPage - 1);
    //   this.data = [];
    //   for (let i = start; i < start + this.page.prePage; i += 1) {
    //     if (typeof (this.datas[i]) === 'object') {
    //       this.data.push(this.datas[i]);
    //     }
    //   }
    // },
  },
  created() {
    this.getListIntegral();
  },
};
</script>

