<template>
  <div>
    <total :titles="titles"></total>
    <div class="chart-wrapper">
      <div class="chart-left">订单返利统计</div>
      <div class="chart-right search_body clearfix">
        <div style="width: 600px" class="search_time">
          <span class="">有效时间：</span>
          <div class="date-time-item">
            <input class="date-time-input"
                   placeholder="开始时间"
                   @click="show('startTime')"
                   v-model="start_time" readonly/>
            <data-time-picker ref="startTime"
                              v-model="start_time"
                              color="#02AD9F"
                              @confirm="selectStart"></data-time-picker>
          </div>
          <span class="time-middle">至</span>
          <div class="date-time-item">
            <input class="date-time-input"
                   placeholder="结束时间"
                   @click="show('endTime')"
                   v-model="end_time" readonly/>
            <data-time-picker ref="endTime"
                              v-model="end_time"
                              color="#02AD9F"
                              @confirm="selectEnd"></data-time-picker>
          </div>
          <span>时间：</span>
          <select class="date-select"
                  v-model="way"
                  @change="handleDateChange"
          >
            <option value="0">天</option>
            <option value="1">月</option>
          </select>
        </div>
      </div>
      <chart :series="series" :yAxis="yAxis" :xAxis="xAxis"></chart>
    </div>
    <chart-table :data="data" :page="page" :columns="columns"></chart-table>
  </div>
</template>
<style lang="less" scoped>
  @import '../common/mixin';
  .chart-wrapper /deep/ canvas{
    top: 20px !important;
  }
  .chart-wrapper>:nth-child(3){
    pointer-events: none;
  }
</style>
<script>
import page from '../common/page';
import total from './components/total';
import chartTable from './components/table';
import chart from './components/chart';

export default {
  mixins: [page],
  components: { total, chartTable, chart },
  data() {
    return {
      data: [], // amount: 0 date: "2018-10-24" number: 0
      datas: [],
      start_time: '',
      end_time: '',
      way: 0,
      titles: [{
        content: '返利总人数(单位/人)',
        num: null,
      }, {
        content: '返利总金额(单位/元)',
        num: null,
      }],
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '日期', data: 'date', class: 'large' },
      { title: '返利人数(人)', data: 'number' },
      {
        title: '返利金额(元)',
        data: 'amount',
      }],
      yAxis: [{
        name: '人数/人',
        type: 'value',
        position: 'right',
        minInterval: 1,
        scale: true,
        axisLine: {
          show: true,
        },
      }, {
        name: '金额/元',
        type: 'value',
        position: 'left',
        scale: true,
        axisLine: {
          show: true,
        },
      }],
      xAxis: {
        data: [],
      },
      series: [{
        name: '人数',
        type: 'line',
        data: [],
      }, {
        name: '金额',
        type: 'line',
        data: [],
      }],
    };
  },
  methods: {
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.end_time = val;
      this.handleDateChange();
    },
    selectStart(val) {
      this.start_time = val;
    },
    handleDateChange() {
      // this.getList(this.$api.countOrderMonthStatistics);
      const obj = {
        start_time: this.start_time,
        end_time: this.end_time,
        start: this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
        event: '',
      };
      this.$http(this.$api.countOrderTimeStatistics, obj)
        .then((res) => {
          if (res.status === 0) {
            const data = res.data;
            this.datas = data;
            this.data = [];
            if (res.data.length !== 0) {
              for (let j = 0; j < this.page.prePage; j += 1) {
                this.data.push(this.$parent.datas[j]);
              }
            }
            this.series[0].data = [];
            this.series[1].data = [];
            this.xAxis.data = [];
            data.forEach((item) => {
              this.series[0].data.push(item.number);
              this.series[1].data.push(item.amount);
              this.xAxis.data.push(item.date);
            });
          } else {
            this.data = [];
          }
        });
    },
    getList(api) {
      const apiCopy = api || this.$api.countOrderDayStatistics;
      const callbackFn = (data) => {
        this.series[0].data = [];
        this.series[1].data = [];
        this.xAxis.data = [];
        data.forEach((item) => {
          this.series[0].data.push(item.number);
          this.series[1].data.push(item.amount);
          this.xAxis.data.push(item.date);
        });
      };
      this.$nextTick(() => {
        this.$children[4].getListData(apiCopy, {}, callbackFn);
      });
    },
  },
  created() {
    this.getList();
  },
};
</script>
