<template>
  <div>
    <div class="chart-wrapper">
      <div class="chart-left">签到统计</div>
      <div class="chart-right search_body clearfix">
        <div style="width: 600px" class="search_time">
          <span class="">有效时间：</span>
          <div class="date-time-item">
            <input class="date-time-input"
                   placeholder="开始时间"
                   @click="show('startTime')"
                   v-model="start_time" readonly/>
            <data-time-picker ref="startTime"
                              v-model="start_time"
                              color="#02AD9F"
                              @confirm="selectStart"></data-time-picker>
          </div>
          <span class="time-middle">至</span>
          <div class="date-time-item">
            <input class="date-time-input"
                   placeholder="结束时间"
                   @click="show('endTime')"
                   v-model="end_time" readonly/>
            <data-time-picker ref="endTime"
                              v-model="end_time"
                              color="#02AD9F"
                              @confirm="selectEnd"></data-time-picker>
          </div>
          <span>时间：</span>
          <select class="date-select"
                  v-model="way"
                  @change="handleDateChange"
          >
            <option value="0">天</option>
            <option value="1">月</option>
          </select>
        </div>
      </div>
      <chart :series="series" :yAxis="yAxis" :xAxis="xAxis"></chart>
    </div>
    <chart-table :data="data" :page="page" :columns="columns"></chart-table>
  </div>
</template>
<style lang="less">
  @import "../common/mixin";
  .chart-wrapper /deep/ canvas{
    top: 20px !important;
  }
  .chart-wrapper>:nth-child(3){
    pointer-events: none;
  }
</style>
<script>
import page from '../common/page';
import total from './components/total';
import chartTable from './components/table';
import chart from './components/chart';

export default {
  mixins: [page],
  data() {
    return {
      data: [], // 存放一页数据
      datas: [], // 存放全部数据
      way: 0, // 天，月
      start_time: '',
      end_time: '',
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '日期', data: 'date', class: 'large' },
      { title: '签到人数(人)', data: 'num' },
      {
        title: '产生积分(分)',
        data: 'credits',
      },
      {
        title: '签到用户率',
        data: 'attendence_rate',
        render(val) {
          return `<span>${val * 100}%</span>`;
        },
      }],
      yAxis: [{
        name: '人数/人',
        type: 'value',
        position: 'left',
        scale: true,
        axisLine: {
          show: true,
        },
      }, {
        name: '用户率/%',
        type: 'value',
        position: 'right',
        scale: true,
        axisLabel: {
          show: true,
          interval: 'auto',
          formatter(data) {
            return `${data * 100}%`;
          },
        },
        axisLine: {
          show: true,
        },
      }],
      xAxis: {
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15'],
        max: 'dataMax',
        splitNumber: 5,
      },
      legend: {
        orient: 'vertical',
        left: 'left',
        data: ['签到用户率', '签到人数'],
      },
      series: [{
        name: '签到人数',
        type: 'line',
        smooth: false,
        tooltip: {
          trigger: 'axis',
        },
        yAxisIndex: 0,
        data: [],
      }, {
        name: '签到用户率',
        type: 'bar',
        smooth: false,
        tooltip: {
          trigger: 'axis',
        },
        // itemStyle: {
        //   normal: {
        //     label: {
        //       show: true,
        //       position: 'top',
        //       formatter: '{b}\n{c}%',
        //     },
        //   },
        // },
        yAxisIndex: 1,
        barWidth: '60%',
        data: [],
      }],
    };
  },
  components: { total, chartTable, chart },
  methods: {
    // init() {
    //   const p = new Promise((resolve) => {
    //     this.getChartData(resolve);
    //   });
    //   p.then(() => {
    //     this.getList();
    //   });
    // },
    // // 获取图表数据
    // getChartData(resolve) {
    //   this.$http(this.$api.attendence, {
    //     startdate: '',
    //     enddate: '',
    //     start: '',
    //     length: '',
    //     way: this.way,
    //   })
    //     .then((res) => {
    //       if (res.status === 0) {
    //         const data = res.data;
    //         // this.series = [{ data: [] }, {}];
    //         this.series[0].data = [];
    //         this.series[1].data = [];
    //         data.forEach((item) => {
    //           this.series[0].data.push(item.num);
    //           this.series[1].data.push(item.attendence_rate);
    //         });
    //         if (resolve) {
    //           resolve();
    //         }
    //       } else {
    //         // do
    //       }
    //     });
    // },
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.end_time = val;
      this.getList();
    },
    selectStart(val) {
      this.start_time = val;
    },
    // 获取表格数据
    getList() {
      const obj = {
        startdate: this.start_time,
        enddate: this.end_time,
        start: this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
        way: this.way,
      };
      const callbackFn = (data) => {
        this.series[0].data = [];
        this.series[1].data = [];
        this.xAxis.data = [];
        data.forEach((item) => {
          this.series[0].data.push(item.num);
          this.series[1].data.push(item.attendence_rate);
          this.xAxis.data.push(item.date);
        });
      };
      this.$nextTick(() => {
        this.$children[3].getListData(this.$api.attendence, obj, callbackFn);
      });
    },
    // 切换
    handleDateChange() {
      this.getList();
    },
    // 分页
    changePage(val, len) {
      this.page.curPage = val;
      this.page.prePage = len || this.page.prePage;
      this.getList();
    },
  },
  created() {
    this.getList();
  },
};
</script>

