<template>
  <div class="condition">
    <div class="search_body">
      <div class="search_item clear">
        <select>
          <option value="">订单号</option>
          <option value="">手机号</option>
          <option value="">微信昵称</option>
        </select>
        <input type="text">
      </div>
      <div class="search_btn clear oneBtn">
        <a href="javascript: void(0);">查询</a>
      </div>
    </div>
    <v-table :columns="columns" :data="data" :page="page"></v-table>
  </div>
</template>
<style lang="less" scoped>
  .search_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search_btn{
      width: 300px;
    }
  }
</style>
<script>
import page from '../../common/page';

export default {
  mixins: [page],
  data() {
    return {
      activeName: '',
      startTime: '',
      endTime: '',
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '订单号', data: 'activity' },
      { title: '微信头像',
        data: 'reward_type',
        class: 'headImg small',
        render(val) {
          return `<img src=${val} />`;
        },
      },
      { title: '微信昵称', data: 'reward_single' },
      { title: '手机号', data: 'start_time', class: 'small' },
      { title: '订单状态', data: 'end_time', class: 'small' },
      { title: '下单时间', data: 'end_time', class: 'small' },
      { title: '订单信息',
        class: 'small',
        render() {
          return '<span>查看</span>';
        },
      }],
      data: [{
        no: 1,
        activity: '晒评价_小美',
        user_count: 1222,
        reward_type: '固定红包',
        reward_single: '5元',
        start_time: '2018/09/01 15:54',
        end_time: '2018/09/21 15:55',
        status: '已发布里面',
      }],
    };
  },
  components: {},
  methods: {
    showTips(data) {
      return data;
    },
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.endTime = val;
    },
    selectStart(val) {
      this.startTime = val;
    },
    getList() {
      const obj = {
        activeName: this.activeName,
        startTime: this.startTime,
        endTime: this.endTime,
        start: (this.page.curPage - 1) * this.page.prePage,
        length: this.page.prePage,
      };
      this.getListData(this.$api.tradeList, obj);
    },
  },
};
</script>
