<template>
  <div class="condition">
    <div class="search_body search_items clear">
      <div class="search_item clear">
        <select v-model="search_select">
          <option value="order_id">订单号</option>
          <option value="phone">手机号</option>
          <option value="nickname">微信昵称</option>
        </select>
        <input style="width: 310px;" v-model="search" type="text">
      </div>
      <label style="margin-left: 50px" class="search_status clear">
        <span>订单状态：</span>
        <select v-model="order_status">
          <option value="">全部</option>
          <option value="等待买家付款">等待买家付款</option>
          <option value="买家已付款">买家已付款</option>
          <option value="交易成功">交易成功</option>
        </select>
      </label>
    </div>
    <div class="search_body itemAndBtns">
      <div class="search_time">
        <span class="fourCode">有效时间：</span>
        <div class="date-time-item">
          <input class="date-time-input"
                 placeholder="开始时间"
                 @click="show('startTime')"
                 v-model="start_time" readonly/>
          <data-time-picker ref="startTime"
                            v-model="start_time"
                            color="#02AD9F"
                            @confirm="selectStart"></data-time-picker>
        </div>
        <span class="time-middle">至</span>
        <div class="date-time-item">
          <input class="date-time-input"
                 placeholder="结束时间"
                 @click="show('endTime')"
                 v-model="end_time" readonly/>
          <data-time-picker ref="endTime"
                            v-model="end_time"
                            color="#02AD9F"
                            @confirm="selectEnd"></data-time-picker>
        </div>
      </div>
      <div class="search_btn clear oneBtn">
        <a href="javascript: void(0);" @click="handleSearchClick">查询</a>
      </div>
    </div>
    <v-table :columns="columns" :data="data" :page="page"></v-table>
  </div>
</template>
<style lang="less" scoped>
  .search_items{
    >*{
      float: left;
    }
    .search_item{
      width: 490px;
    }
  }
  .itemAndBtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search_btn{
      width: 400px;
    }
  }
</style>
<script>
/* eslint-disable import/extensions */

import page from '../../common/page';
import { timeNormalFormat } from '../../common/filter.js';

export default {
  mixins: [page],
  data() {
    return {
      search_select: 'order_id',
      search: '',
      order_status: '',
      start_time: '',
      end_time: '',
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '订单号', data: 'tid' },
      { title: '微信头像',
        data: 'headimgurl',
        class: 'headImg small',
        render(val) {
          return `<img src=${val} />`;
        },
      },
      { title: '微信昵称', data: 'nickname' },
      { title: '手机号', data: 'receiver_mobile', class: 'small' },
      { title: '订单状态', data: 'status', class: 'small' },
      { title: '下单时间', data: 'created_time', class: 'small' },
      { title: '订单信息',
        class: 'small',
        click: 'showTips',
        render() {
          return '<span style="color: #02AD9F; cursor: pointer;">查看</span>';
        },
      }],
      data: [],
    };
  },
  components: {},
  methods: {
    showTips(data) {
      console.log(data);
      this.$modal.show({
        template: `
        <div>
          <div class="modal_head_back">
            <i class="iconfont icon-delete" @click="back"></i>
          </div>
          <div class="modal_body_orderInfo">
            <div class="title">
              <span>商品名称</span>
              <span></span>
              <span>订单状态</span>
            </div>
            <div class="title_content">
              <span>{{text.title}}</span>
              <span>{{text.status}}</span>
            </div>
            <div class="info_item" style="margin-top: 10px;">
              <span>活动名称</span>
              <span></span>
              <span>{{text.event}}</span>
            </div>
            <div class="info_item">
              <span>订单号</span>
              <span></span>
              <span>{{text.tid}}</span>
            </div>
            <div class="info_item">
              <span>用户名称</span>
              <span></span>
              <span>{{text.buyer_nick}}</span>
            </div>
            <div class="info_item">
              <span>下单时间</span>
              <span></span>
              <span>{{text.created_time}}</span>
            </div>
            <div class="info_item">
              <span>手机号</span>
              <span></span>
              <span>{{text.receiver_mobile}}</span>
            </div>
          </div>
        </div>
      `,
        props: ['text'],
        methods: {
          back() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '580px',
        height: '460px',
        pivotX: 0.6,
        pivotY: 0.3,
        // classes: 'v-modal-order',
      });
    },
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.end_time = timeNormalFormat(val);
    },
    selectStart(val) {
      this.start_time = timeNormalFormat(val);
    },
    handleSearchClick() {
      this.getList();
    },
    getList() {
      const obj = {
        phone: '',
        order_id: '',
        nickname: '',
        order_status: this.order_status,
        start_time: this.start_time,
        end_time: this.end_time,
        start: (this.page.curPage - 1) * this.page.prePage,
        length: this.page.prePage,
      };
      switch (this.search_select) {
        case 'order_id':
          obj.order_id = this.search;
          break;
        case 'phone':
          obj.phone = this.search;
          break;
        case 'nickname':
          obj.nickname = this.search;
          break;
        default:
          break;
      }
      this.getListData(this.$api.orderSelectOrderInfo, obj);
    },
  },
  created() {
    this.getList();
  },
};
</script>
