<template>
  <div class="gift-edit clear">
    <div class="gift-info" ref="info">
      <span class="title">活动信息</span>
      <div class="item">
        <label class="desc" for="">礼品名称:</label>
        <input class="normal" :readonly="isReadOnly" v-model="list.gift_name" type="text">
      </div>
      <div class="item">
        <label class="desc" for="">礼品类型:</label>
        <select :disabled="isReadOnly" class="normal" v-model="list.gift_type" type="text">
          <option value="">请选择</option>
          <option selected="selected" value="微信红包">微信红包</option>
        </select>
      </div>
      <div class="item giftCover-wrapper clear">
        <label class="desc" for="">礼品封面:</label>
        <div class="img-wrapper">
          <img style="width: 100%; height: 100%" :src="list.gift_cove" alt="">
          <span class="delect-img" v-if="!isReadOnly" @click="handleDelectImgClick"></span>
        </div>
        <file-upload
          ref="upload"
          :size="1024 * 1024"
          class="imgUpload-btn"
          v-model="files"
          @input-file="inputFile"
          @input-filter="inputFilter"
          v-if="!isReadOnly"
        >
          上传图片
        </file-upload>
      </div>
      <div class="item">
        <label class="desc" for="">价格:</label>
        <input class="middle" v-model="list.price" :readonly="isReadOnly" type="number">
      </div>
      <div class="item">
        <label class="desc" for="">礼品数量:</label>
        <input class="middle" v-model="list.gift_num" type="number">
      </div>
      <div class="item">
        <label class="desc" for="">礼品所需积分:</label>
        <input class="middle" :readonly="isReadOnly" v-model="list.credits" type="number">
      </div>
      <div class="item">
        <label class="desc" for="">有效期:</label>
        <div class="date-time-wrapper">
          <div class="date-time-input" v-if="isReadOnly">{{ list.create_time }}</div>
        <div class="date-time-input" v-else @click="show('dateTime_startTime')">{{ list.create_time }}</div>
        <date-time ref="dateTime_startTime"
                   type="date"
                   @confirm="select_startTiem"></date-time>
      </div>
        <span style="display:inline-block; margin: 10px 0 0 10px; float: left;">至</span>
        <div class="date-time-wrapper">
          <div class="date-time-input" @click="show('dateTime_endTime')">{{ list.end_time }}</div>
          <date-time ref="dateTime_endTime"
                     type="date"
                     @confirm="select_endTime"></date-time>
        </div>
      </div>
      <div class="button-wrapper">
        <div class="save btn" v-if="type === 'edit'" @click="handleEditSaveClick">保存</div>
        <div class="save btn" v-else @click="handleNewSaveClick">保存</div>
        <div class="cancel btn" @click="handleNewCancelClick">取消</div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-restricted-syntax,camelcase */

import tips from '../common/tips';
import DateTime from 'vue-date-time-m';
import axios from 'axios';

export default {
  name: 'giftEdit',
  mixins: [tips],
  components: { DateTime },
  data() {
    return {
      isReadOnly: false,
      old_gift_num: 0,
      list: {
        gift_name: '',
        gift_cove: '',
        gift_type: '',
        price: '',
        gift_num: '',
        credits: '',
        create_time: '请选择',
        end_time: '请选择',
      },
      type: null, // 编辑，新建
      start_time: '开始日期',
      end_time: '结束日期',
      link: '',
      files: [],
      formData: null,
    };
  },
  methods: {
    /**
     * 页面初始化数据请求
     */
    init() {
      this.type = this.$route.query.type;
      console.log(this.type);
      if (this.type === 'edit') {
        const list = JSON.parse(this.$route.query.listInfo);
        this.list = {
          gift_name: list.gift_name,
          gift_cove: list.gift_cove,
          price: list.price,
          gift_type: list.gift_type,
          gift_num: list.total_num,
          gift_id: list.gift_id,
          credits: list.credits,
          create_time: list.create_time.replace(/(.*) (.*)/, '$1'),
          end_time: list.end_time.replace(/(.*) (.*)/, '$1'),
        };
      } else if (this.type === 'editOnline') {
        const list = JSON.parse(this.$route.query.listInfo);
        this.old_gift_num = list.used_num;
        this.list = {
          gift_name: list.gift_name,
          gift_cove: list.gift_cove,
          price: list.price,
          gift_type: list.gift_type,
          gift_num: list.total_num,
          gift_id: list.gift_id,
          credits: list.credits,
          create_time: list.create_time.replace(/(.*) (.*)/, '$1'),
          end_time: list.end_time.replace(/(.*) (.*)/, '$1'),
        };
        this.isReadOnly = true;
      }
    },
    //  展示日期组件
    show(ref) {
      this.$refs[ref].show();
    },
    // 日期组件回调
    select_startTiem(val) {
      const start_time = new Date(val).getTime();
      const end_time = new Date(this.list.end_time).getTime();
      const now_time = new Date().getTime() - 86400000;
      if (start_time < now_time) {
        this.showConfirm('起始时间应大于当前时间');
        return;
      }
      if (end_time < start_time) {
        this.showConfirm('结束时间应大于起始时间');
        return;
      }
      this.list.create_time = val.replace(/(\d*)\/(\d*)\/(\d*)/, '$1-$2-$3');
    },
    select_endTime(val) {
      const start_time = new Date(this.list.create_time).getTime();
      const end_time = new Date(val).getTime();
      if (end_time < start_time) {
        this.showConfirm('结束时间应大于起始时间');
        return;
      }
      if (this.type === 'editOnline') {
        const old_end_time = new Date(this.list.end_time);
        if (old_end_time > end_time) {
          this.showConfirm('结束时间应大于当前结束时间');
          return;
        }
      }
      this.list.end_time = val.replace(/(\d*)\/(\d*)\/(\d*)/, '$1-$2-$3');
    },
    // 数据新建保存
    handleNewSaveClick() {
      const msg = {
        gift_name: '请输入礼品名称',
        gift_type: '请选择礼品类型',
        gift_cove: '请上传礼品封面',
        price: '请输入价格',
        gift_num: '请输入礼品数量',
        credits: '请输入礼品所需积分',
        create_time: '请选择有效期起始时间',
        end_time: '请选择有效期结束时间',
      };
      const self = this;
      const check = function () {
        for (const key in self.list) {
          // eslint-disable-next-line no-prototype-builtins
          if (self.list.hasOwnProperty(key)) {
            if (!self.list[key]) {
              self.showConfirm(msg[key]);
              return false;
            }
          }
        }
        if (!/^([1-9]\d{0,3}|10000)$/.test(self.list.gift_num)) {
          self.showConfirm('礼品数量限制为1-10000的正整数');
          return false;
        }
        if (!/^([1-9]\d{0,3}|10000)$/.test(self.list.credits)) {
          self.showConfirm('礼品所需积分限制为1-10000的正整数');
          return false;
        }
        if (self.list.gift_num < self.old_gift_num) {
          self.showConfirm('礼品数量不得小于已使用数量');
          return false;
        }
        return true;
      };
      if (check()) {
        const p = new Promise((resolve) => {
          const config = {
            headers: {
              'Content-Type': 'multipart/form-data',
            },
          };
          axios.post('pc/creditsManage/image_upload', this.formData, config)
            .then((res) => {
              if (res.data.status === 0) {
                this.link = `http://${window.location.host}${res.data.data}`;
                resolve();
              }
            });
        });
        p.then(() => {
          this.$http(this.$api.newGift, {
            gift_name: this.list.gift_name,
            gift_cove: this.link,
            price: this.list.price,
            gift_type: this.list.gift_type,
            gift_num: this.list.gift_num,
            credits: this.list.credits,
            create_time: this.list.create_time,
            end_time: this.list.end_time,
          })
            .then((res) => {
              if (res.status === 0) {
                this.showConfirm('保存成功');
              } else {
                this.showConfirm(res.msg);
              }
            });
        });
      }
    },
    // 点击取消按钮
    handleNewCancelClick() {
      this.$router.go(-1);
    },
    /**
     * 编辑数据保存
     */
    handleEditSaveClick() {
      this.$http(this.$api.updGift, {
        gift_name: this.list.gift_name,
        gift_cove: this.link,
        gift_type: this.list.gift_type,
        price: this.list.price,
        gift_num: this.list.gift_num,
        gift_id: this.list.gift_id,
        credits: this.list.credits,
        create_time: this.list.create_time,
        end_time: this.list.end_time,
      })
        .then((res) => {
          if (res.status === 0) {
            this.isReadOnly = true;
            this.$router.go(-1);
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    inputFile(newFile, oldFile) {
      if (newFile && !oldFile) {
        const reader = new FileReader();
        reader.readAsDataURL(newFile.file);
        reader.addEventListener('load', () => {
          this.$nextTick(() => {
            this.list.gift_cove = reader.result;
          });
        }, false);
        this.formData = new FormData();
        this.formData.append('file', newFile.file);
      }
    },
    inputFilter(newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        // 过滤不是图片后缀的文件
        if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
          return prevent();
        }
      }
      return null;
    },
    // 删除图片
    handleDelectImgClick() {
      this.list.gift_cove = '';
      this.formData.delect('file');
    },
  },
  created() {
    this.init();
  },
};
</script>

<style lang="less" scoped>
  @import "../common/mixin";
  .date-time-wrapper{
    float: left;
    display: inline-block;
    width:140px;
    height:36px;
    margin-left: 10px;
    .date-time-input{
      position: relative;
      float: left;
      display: inline-block;
      box-sizing: border-box;
      padding-right: 30px;
      line-height: 36px;
      text-align: center;
      vertical-align: middle;
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -5px;
        border-top: 9px solid #333333;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
      }
    }
  }
  .date-time-item{
    display: inline-block;
  }
  .gift-edit{
    overflow: hidden;
    background: rgb(246, 246, 246);
    height: 100%;
    .gift-info{
      margin-top: 10px;
      padding-top: 40px;
      padding-left: 70px;
      background: #ffffff;
      .title{
        margin-top: 30px;
        font-size:16px;
        font-family:MicrosoftYaHei-Bold;
        font-weight: bold;
        color:rgba(51,51,51,1);
      }
      .item{
        height: 36px;
        margin-top: 20px;
        .desc{
          float: left;
          display: inline-block;
          height: 36px;
          line-height: 36px;
          width: 106px;
          text-align: right;
          vertical-align: middle;
        }
        .normal{
          width: 320px;
          margin-left: 10px;
          border: 1px solid #dddddd;
          height: 100%;
          padding-left: 10px;
        }
        .middle{
          .normal;
          width: 180px;
        }
        .date{
          width:140px;
          height:36px;
          margin-left: 10px;
          border:1px solid rgba(221,221,221,1);
        }
      }
      .giftCover-wrapper{
        height: 62px;
        .img-wrapper{
          position: relative;
          display: inline-block;
          width: 60px;
          height: 60px;
          margin-left: 10px;
          box-sizing: border-box;
          border:1px solid rgba(221,221,221,1);
          .delect-img{
            position: absolute;
            width: 18px;
            height: 18px;
            margin-top: -9px;
            margin-right: -9px;
            top: 0;
            right: 0;
            background: url('../../assets/delect.png') no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
          }
          img{
            max-width: 100%;
            height: auto;
          }
        }
        .imgUpload-btn{
          display: inline-block;
          width:80px;
          height:24px;
          line-height:24px;
          border:1px solid rgba(2,173,159,1);
          border-radius:12px;
          margin-left: 16px;
          font-size:12px;
          font-family:MicrosoftYaHei;
          font-weight:400;
          color:rgba(2,173,159,1);
          text-align: center;
          vertical-align: top;
        }
      }
      .button-wrapper{
        overflow: hidden;
        margin-top: 50px;
        margin-left: 128px;
        .btn{
          float: left;
          display: inline-block;
          width:100px;
          height:32px;
          line-height:32px;
          background:rgba(2,173,159,1);
          border-radius:6px;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
        }
        .save{
          color: #ffffff;
        }
        .cancel{
          margin-left: 16px;
          color:rgba(153,153,153,1);
          background:rgba(238,238,238,1);
        }
      }
    }
  }
</style>
