<template>
  <div class="config">
    <div class="config-info">
      <div class="title">商城配置</div>
      <div class="uploadImg-wrapper">商城首页顶部配置<br>
        <h4 class="gift-name">礼品名称：</h4>
        <select ref="giftsSelect" v-model="gift_select"  name="" id="">
          <option value="">请选择</option>
          <option v-for="(item, index) of gift_names"
                  :value="item.gift_id"
                  :key="index"
          >{{item.gift_name}}</option>
        </select>
        <div class="add" @click="handleAddClick">添加</div>
        <div class="gifts-wrapper" ref="gifts">
          <div class="gift-item"
               v-for="(item, index) of config.gift"
               :key="index"
          >
            <div class="input-wrapper">
              <input type="text" :value="item.gift_name" readonly="true" class="gift"/>
              <span class="delect-img" @click="handleDelectClick($event, index)"></span>
            </div>
            <span v-if="item.status === '无效'" style="color: #AD4040;">{{item.status}}</span>
          </div>
        </div>
      </div>
      <!--<div class="activity-item"-->
           <!--v-for="(item, index) in config.pic"-->
           <!--:key="index"-->
      <!--&gt;-->
        <!--<div class="img-wrapper"><img :src="item.url" alt=""></div>-->
        <!--<input placeholder="请复制活动链接到此处" type="text">-->
        <!--<div class="del-btn"></div>-->
      <!--</div>-->
      <div class="title rule-title">签到规则</div>
      <div class="rule"> 每次签到可领取<input v-model="config.credits" type="text">积分，每天限签一次</div>
      <div class="save-btn" @click="handleSaveClick">保存</div>
    </div>
  </div>
</template>
<style lang="less" scoped>
  @import "../common/mixin";
  .config{
    overflow: hidden;
    background: rgb(246, 246, 246);
    height: 100%;
    .config-info{
      margin-top: 10px;
      padding-top: 40px;
      padding-left: 70px;
      background: #ffffff;
      .title{
        margin-bottom: 30px;
        font-size:16px;
        font-family:MicrosoftYaHei-Bold;
        font-weight: bold;
        color:rgba(51,51,51,1);
      }
      .uploadImg-wrapper{
        .gift-name{
          display: inline-block;
          margin-top: 30px;
        }
        select{
          display: inline-block;
          width: 120px;
          height: 30px;
        }
        .add{
          display: inline-block;
          width: 60px;
          height: 20px;
          margin-left: 20px;
          border: 1px solid #cccccc;
          .text-center(20px);
          border-radius: 3px;
          cursor: pointer;
        }
        .gifts-wrapper{
          margin-left: 85px;
          .gift-item{
            margin-top: 20px;
            .input-wrapper{
              display: inline-block;
              position: relative;
              width: 120px;
              input{
                width: 120px;
                height: 30px;
                border: 1px solid #cccccc;
              }
              .delect-img{
                position: absolute;
                width: 18px;
                height: 18px;
                margin-top: -9px;
                margin-right: -9px;
                top: 0;
                right: 0;
                background: url('../../assets/delect.png') no-repeat;
                background-size: 100% 100%;
                cursor: pointer;
              }
            }
            span{
              font-size: 14px;
              margin-left: 20px;
            }
          }
        }
      }
      .activity-item{
        width:460px;
        height:100px;
        box-sizing: border-box;
        margin-top: 16px;
        padding: 15px 19px;
        background:rgba(246,246,246,1);
        .img-wrapper{
          float: left;
          display: inline-block;
          width: 87px;
          height: 70px;
          background: black;
        }
        input{
          width:280px;
          height:32px;
          margin: 19px 0 19px 17px;
          padding-left: 12px;
          border:1px solid rgba(221,221,221,1);
        }
      }
      .rule-title{
        margin-top: 30px;
      }
      .rule{
        margin-top: 15px;
        font-size:16px;
        color:rgba(51,51,51,1);
        input{
          width:100px;
          height:36px;
          margin: 0 15px;
          border:1px solid rgba(221,221,221,1);
          text-align: center;
        }
      }
      .save-btn{
        width:100px;
        height:36px;
        margin-top: 70px;
        line-height:36px;
        background:rgba(2,173,159,1);
        border-radius:6px;
        font-size:16px;
        color: #ffffff;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }
</style>
<script>
import tips from '../common/tips';

export default {
  mixins: [tips],
  data() {
    return {
      config: {
        credits: 0,
        gift: [{ gift_id: '', gift_name: '', status: '' }],
      },
      gift_names: [],
      gift_select: '',
    };
  },
  components: {},
  methods: {
    /**
     * 请求商城配置数据，初始化
     * @private
     */
    init() {
      this.$http(this.$api.showPic, {})
        .then((res) => {
          if (res.status === 0) {
            this.config = res.data;
          } else {
            this.showConfirm(res.msg);
          }
        });
      this.$http(this.$api.selectPic, {})
        .then((res) => {
          if (res.status === 0) {
            this.gift_names = res.data;
          }
        });
    },
    /**
     * 保存配置信息
     */
    handleSaveClick() {
      const data = [];
      this.config.gift.forEach((item) => {
        data.push(item.gift_id);
      });
      const strArray = `[${data.join()}]`;
      this.$http(this.$api.savePic, {
        time: this.config.time,
        credits: this.config.credits,
        data: strArray,
      })
        .then((res) => {
          if (res.status === 0) {
            this.showConfirm('保存成功');
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    // 添加礼品
    handleAddClick() {
      const index = this.$refs.giftsSelect.selectedIndex;
      if (this.gift_select) {
        const obj = {
          gift_id: this.gift_select,
          gift_name: this.$refs.giftsSelect.options[index].innerHTML,
          status: '有效',
        };
        this.config.gift.push(obj);
      }
    },
    handleDelectClick($event, index) {
      console.log(this.config.gift);
      const arr = [];
      arr.push(this.config.gift[index].gift_id);
      const data = `[${arr}]`;
      this.$http(this.$api.delPic, {
        data,
      })
        .then((res) => {
          if (res.status === 0) {
            this.config.gift.splice(index, 1);
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
  },
  created() {
    this.init();
  },
};
</script>
