<template>
  <div>
    <div>
      <div>
        <div class="search_body clear">
          <div class="search_item">
            <span>兑换礼品名称：</span>
            <input v-model="info.gift_name" type="text">
          </div>
          <div style="margin-left: 100px" class="search_status">
            <span>活动状态：</span>
            <select v-model="info.status">
              <option value="全部">全部</option>
              <option value="有效">有效</option>
              <option value="无效">无效</option>
              <option value="数量已兑完">数量已兑完</option>
            </select>
          </div>
        </div>
        <div class="search_body clear">
          <div class="search_item">
            <span>微信昵称：</span>
            <input v-model="info.nickname" type="text">
          </div>
          <div class="search_btn">
            <a @click="exportData">导出</a>
            <a @click="handleSearchClick">查询</a>
          </div>
        </div>
      </div>
      <v-table :columns="columns" :data="data" :page="page"></v-table>
    </div>
    <router-view></router-view>
  </div>
</template>
<style lang="less" scoped>
  .search_item{
    float: left;
    span{
      width: 120px;
      text-align: right;
    }
  }
  .search_status{
    float: left;
  }
</style>
<script>
/* eslint-disable */
import page from '../common/page';

export default {
  mixins: [page],
  data() {
    return {
      activeTitle: 'all',
      activeStatus: 'all',
      startTime_submit: '',
      endTime_submit: '',
      startTime: '',
      endTime: '',
      info: {
        gift_name: '',
        status: '全部',
        nickname: ''
      },
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '兑换礼品名称', data: 'gift_name', class: 'largest' },
      { title: '微信头像',
        data: 'headimgurl',
        class: 'small headImg',
        render(val) {
        return `<img src="${val}"/>`
        },
      },
      { title: '微信昵称', data: 'nickname' },
      { title: '手机号码', data: 'phone' },
      { title: '兑换数量', data: 'num' },
      { title: '总支付积分', data: 'credits' },
      { title: '活动状态',
        data: 'status',
        render(val) {
          if (val === '有效') {
            return `<span style="color: #01B01E;">${val}</span>`
          }
          return `<span style="color: #999999;">${val}</span>`
        }
      },],
      data: [{
        no: 1,
        id: 0,
        gift_name: '',
        headimgurl: '',
        nickname: '',
        phone: '',
        num: 0,
        no_click: true,
        status: '',
        credits: 0
      }],
    };
  },
  props: ['operate'],
  components: {},
  methods: {
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.endTime = val;
    },
    selectStart(val) {
      this.startTime = val;
    },
    selectEndSubmit(val) {
      this.endTime_submit = val;
    },
    selectStartSubmit(val) {
      this.startTime_submit = val;
    },
    changeOpe() {
      this.$router.push({
        name: '返利商城管理4',
        params: {
          id: 1,
        },
      });
    },
    goPromote() {
      this.$router.push({
        name: '返利商城管理5',
        params: {
          id: 2,
        },
      });
    },
    showAudit() {
      this.$modal.show({
        template: `
      <div>
        <div class="modal_head"><span @click="$emit('close')">x</span></div>
        <div class="modal_body">
          <div>
           <div>用户名称：</div>
           <div>
            <img :src="src_head" alt="">
            <span>{{name}}</span>
           </div>
          </div>
          <div>
           <div>促销标题：</div>
           <div>{{title}}</div>
          </div>
          <div>
           <div>活动状态：</div>
           <div>{{active_status}}</div>
          </div>
          <div>
           <div>返利商品：</div>
           <div>{{goods}}</div>
          </div>
          <div>
           <div>订单状态：</div>
           <div>{{order_status}}</div>
          </div>
          <div>
           <div>返利手机号：</div>
           <div>{{phone}}</div>
          </div>
          <div v-if="!auditEnd">
           <div></div>
           <div class="audit">
             <label>
              <div>
                <span></span>
              </div>
              <input type="radio" name="audit" />
              <span>审核通过</span>
             </label>
             <label>
              <div>
                <span></span>
              </div>
              <input type="radio" name="audit" />
              <span>审核不通过</span>
              <input type="text" placeholder="审核不通过的原因">
             </label>
           </div>
          </div>
          <div class="auditEnd" v-if="auditEnd && auditPass">
            <span>审核通过</span>
          </div>
          <div class="auditFail" v-if="auditEnd && !auditPass">
            <span>审核不通过</span>
            <a href="javascript:void(0);">重审</a>
          </div>
        </div>
        <div class="modal_footer" v-if="!auditEnd">
          <a href="javascript:void(0);" @click="submit">确定</a>
        </div>
      </div>
    `,
        props: ['text', 'src_head', 'name', 'title', 'active_status', 'phone', 'goods', 'order_status', 'auditEnd', 'auditPass'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: this.text,
        src_head: require('../../assets/system.png'),
        name: this.text,
        title: '的是否是的分开了的三方收到佛挡杀佛教师达oil康佳的苏菲的世界开发商的',
        active_status: '已结束',
        goods: '飞机，游艇，火箭，卫星',
        order_status: '已结束',
        phone: '18318895480',
        auditEnd: false,
        auditPass: false,
      }, {
        width: '600px',
        height: '480px',
        pivotX: 0.6,
        pivotY: 0.3,
      });
    },
    showConfirm() {
      this.$modal.show({
        template: `
      <div>
        <div class="modal_head"><span @click="$emit('close')">x</span></div>
        <div class="modal_body_confirm">
        {{text}}
        </div>
        <div class="modal_footer_confirm" @click="submit">
          <a href="javascript:void(0);">确定</a>
        </div>
      </div>
    `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: 'This text is passed as a property',
      }, {
        width: '480px',
        height: '260px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': this.beforeClose,
      });
    },
    beforeClose(event) {
      window.console.log('fky');
    },
    getList() {
      const obj = {
        gift_name:  this.info.gift_name,
        nickname: this.info.nickname,
        status: this.info.status,
        start: this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
      };
      this.getListData(this.$api.getGiftRecord, obj);
    },
    handleSearchClick () {
      const postObj = {
        gift_name: this.info.gift_name,
        nickname: this.info.nickname,
        status: this.info.status,
        start: this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
      }
      this.getListData(this.$api.getGiftRecord, postObj);
    },
    exportData() {
      const postObj = {
        gift_name: this.info.gift_name,
        nickname: this.info.nickname,
        status: this.info.status,
        start: this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
      }
      this.$http(this.$api.getGiftRecord, postObj).then((res) => {
        if (res.status === 0) {
          const data = [];
          const items = res.data || [];
          for (let i = 0, len = items.length; i < len; i += 1) {
            const arr = [items[i].gift_name, items[i].headimgurl, items[i].nickname, items[i].phone, items[i].num, items[i].credits, items[i].status];
            data.push(arr);
          }
          this.tableToExcel('兑换礼品名称,微信头像,微信昵称,手机号码,兑换数量,总支付积分,活动状态\n',data);
        } else {
          this.data = [];
        }
      }).catch((err) => {
      });
    },
  },
  created() {
    this.getList();
  },
  mounted() {
    // this.showAudit(); 审核
  },
};
</script>
