<template>
  <div>
    <div>
      <div class="search_body search_items clear">
        <label class="search_item">
          <span>礼品名称：</span>
          <input v-model="gift_name"/>
        </label>
        <label style="margin-left: 100px;" class="search_status">
          <span>活动状态：</span>
          <select v-model="status">
            <option value="0">全部</option>
            <option value="1">有效</option>
            <option value="2">无效</option>
            <option value="3">数量已兑完</option>
          </select>
        </label>
      </div>
      <div class="search_body itemAndBtn">
        <div class="search_range">
          <span class="title">兑换所需积分：</span>
          <input type="number" maxlength="999" v-model="startcredits" />
          <span>至</span>
          <input type="number" maxlength="999" v-model="endcredits" />
        </div>
        <div class="search_btn">
          <router-link to="/integral/edit">新建</router-link>
          <a @click="handleSearchClick">查询</a>
        </div>
      </div>
      <v-table :columns="columns" :data="data" :page="page"></v-table>
    </div>
    <router-view></router-view>
  </div>
</template>
<style lang="less" scoped>
  .search_items{
    .search_item{
      span{
        width: 120px;
        text-align: right;
      }
    }
    label{
      float: left;
      input{
        width: 310px;
      }
    }
  }
  .itemAndBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search_range{
      width: 430px;
      margin-right: 10px;
      float: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    input{
      display: block;
      width: 140px;
    }
    span{
      display: block;
      width: 30px;
      text-align: center;
    }
    .title{
      width: 120px;
      text-align: right;
    }
  }
</style>
<script>
import page from '../common/page';
import tips from '../common/tips';

export default {
  mixins: [page, tips],
  data() {
    return {
      gift_name: '',
      status: 0,
      startcredits: '',
      endcredits: '',
      activeStatus: '',
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '礼品名称', data: 'gift_name', class: 'largest' },
      { title: '礼品封面',
        data: 'gift_cove',
        class: 'small headImg',
        render(val) {
          return `<img src="${val}"/>`;
        },
      },
      { title: '价格', data: 'price' },
      { title: '兑换所需积分', data: 'credits' },
      { title: '礼品数量', data: 'total_num' },
      { title: '剩余数量',
        data: 'used_num',
        render(val) {
          return `<span style="color:#02AD9F;">${val}</span>`;
        },
      },
      { title: '活动状态',
        data: 'status',
        render(val) {
          if (val === '有效') {
            return `<span style="color:#01B01E;">${val}</span>`;
          }
          return `<span style="color:#999999;">${val}</span>`;
        },
      },
      { title: '编辑',
        class: 'smallest',
        data: 'status',
        click: 'handleEditClick',
        render(val) {
          if (val === '发布') {
            return '<span class="edit noClick"></span>';
          }
          return '<span class="edit"></span>';
        },
      },
      { title: '删除',
        data: 'status',
        class: 'smallest',
        click: 'handleDelClick',
        render(val) {
          if (val === '有效') {
            return '<span class="delete noClick"></span>';
          }
          return '<span class="delete"></span>';
        },
      }],
      data: [],
      page: {
        total: 0,
        curPage: 1,
        pageCount: 0,
        prePage: 10,
        pageSelect: [10, 20, 50, 100],
      },
    };
  },
  props: ['operate'],
  components: {},
  methods: {
    changeOpe() {
      this.$router.push({
        name: '返利商城管理4',
        params: {
          id: 1,
        },
      });
    },
    goPromote() {
      this.$router.push({
        name: '返利商城管理5',
        params: {
          id: 2,
        },
      });
    },
    /**
     * 获取礼品列表
     */
    getList() {
      const obj = {
        gift_name: '',
        startcredits: '',
        endcredits: '',
        status: '',
        start: 0,
        length: this.page.prePage,
      };
      this.getListData(this.$api.getGift, obj);
    },
    /**
     * 删除礼品
     */
    handleDelClick(val) {
      if (val.status === '有效') {
        return;
      }
      const submitFn = () => {
        this.$http(this.$api.delGift, {
          gift_id: val.gift_id,
        }).then((res) => {
          if (res.status === 0) {
            this.getList();
          } else {
            this.showConfirm(res.msg);
          }
        });
      };
      this.showConfirm('若删除该活动，已参与的用户记录保存，是否继续？', {
        item: val,
        submitFn,
      });
    },
    /**
     * table列表编辑
     */
    handleEditClick(val) {
      let type;
      if (val.status === '有效' || val.status === '数量已兑完') {
        type = 'editOnline';
      } else {
        type = 'edit';
      }
      const list = JSON.stringify(val);
      this.$router.push({
        path: '/integral/edit',
        query: {
          listInfo: list,
          type,
        },
      });
    },
    /**
     * 搜索
     */
    handleSearchClick(pageIndex) {
      let status = '';
      switch (this.status) {
        case '0':
          status = '';
          break;
        case '1':
          status = '有效';
          break;
        case '2':
          status = '无效';
          break;
        case '3':
          status = '已兑完';
          break;
        default:
          break;
      }
      const obj = {
        gift_name: this.gift_name,
        startcredits: this.startcredits,
        endcredits: this.endcredits,
        status,
        start: this.page.prePage * (this.page.curPage - 1),
        length: this.page.prePage,
      };
      this.getListData(this.$api.getGift, obj);
    },
    goPage(val) {
      console.log(val);
    },
  },
  created() {
    this.getList();
  },
};
</script>
