<template>
  <div class="company">
    <div v-if="module == 'shown'" class="shown">
      <header-shown></header-shown>
      <info-shown :companyInfo="companyInfo"></info-shown>
    </div>
    <div v-else-if="module == 'review'" class="review">
      <header-review :type="type"></header-review>
      <info-review :companyInfo="companyInfo"></info-review>
      <operation-review :dataInfo="data" :type="type" :status="status"></operation-review>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import headerShown from './headerShown';
import headerReview from './headerReview';
import infoShown from './infoShown';
import infoReview from './infoReview';
import operationReview from './operationReview';

export default {
  components: { headerShown, infoShown, headerReview, infoReview, operationReview },
  data() {
    return {
      data: [],
      type: '',
      companyInfo: '',
      module: '',
      status: '',
    };
  },
  mounted() {
    this.data = JSON.parse(this.$route.query.item);
    this.type = (this.data && this.data.type) || '';
    this.companyInfo = (this.data && this.data.data) || '';
    this.module = (this.data && this.data.module) || '';
    this.status = this.data.status;
  },
};

</script>

<style lang="less" scoped>
  .company{
    margin-left: -30px;
    .shown{
      background: #F0F2F5;
    }
    .review{
      width: 100%;
      height: 100%;
      background: #F6F6F6;
    }
  }
</style>
