<template>
  <div class="company-count">
    <div class="circle-wrapper"
         :style="styleObj"
    >
      <div class="circle-content">
        {{circleData.numCircle}}
      </div>
    </div>
    <div class="bottom">
      <span>{{circleData.desc}}</span>
      <span>{{circleData.num}}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'companyCount',
  props: ['circleData'],
  data() {
    return {
      // circleData: {
      //   numCircle: 3124325,
      //   desc: '总粉丝数',
      //   num: '昨日粉丝数',
      //   background: '#02C3B3',
      // },
    };
  },
  computed: {
    styleObj() {
      return {
        background: this.circleData.background,
      };
    },
  },
};
</script>

<style lang="less" scoped>
  .company-count{
    overflow: hidden;
    display: inline-block;
    width: 140px;
    .circle-wrapper{
      height: 140px;
      width: 140px;
      border-radius: 50%;
      .circle-content{
        display: inline-block;
        height: 115px;
        width: 115px;
        line-height: 115px;
        margin-left: 12.5px;
        margin-top: 12.5px;
        border-radius: 50%;
        background: #ffffff;
        text-align: center;
        vertical-align: middle;
      }
    }
    .bottom{
      display: flex;
      flex-direction: column;
      span{
        align-self: center;
        &:first-child{
          line-height: 50px;
        }
        &:last-child{
          line-height: 30px;
        }
      }
    }
  }
</style>
