<template>
  <div class="header-review">
    <div class="header-top">
      <span class="desc">审核信息</span>
      <!--<span v-if="dataType === 'none'" style="cursor: not-allowed" class="function">编辑</span>-->
      <span v-if="dataType !== 'save'" @click="handleEditClick" class="function edit">编辑</span>
      <span v-else @click="handleSaveClick" class="function edit">保存</span>
      <span class="back" @click="handleBackClick">返回</span>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: 'headerReview',
  props: ['type'],
  data() {
    return {
      dataType: this.type,
    };
  },
  methods: {
    // 页面初始化
    init() {
      if (this.type === 'none') {
        // this.bus.$emit('sendNoneToOperationReview'); // 将type:save传递
      }
    },
    handleEditClick() {
      this.bus.$emit('edit');
      this.dataType = 'save';
    },
     handleSaveClick() {
      this.bus.$emit('save');
    },
    handleBackClick() {
      this.$router.go(-1);
    },
  },
  mounted() {
    this.init();
  },
};
</script>

<style lang="less" scoped>
  .header-review{
    overflow: hidden;
    .header-top{
      min-width: 1160px;
      height: 90px;
      padding-top: 10px;
      padding-left: 56px;
      padding-right: 43px;
      box-sizing: border-box;
      background: #ffffff;
      >span.desc{
        display: inline-block;
        height: 32px;
        line-height: 32px;
        font-size:18px;
        font-family:MicrosoftYaHei-Bold;
        font-weight:bold;
        vertical-align: middle;
      }
      >span.function{
        display: inline-block;
        width: 80px;
        height: 32px;
        margin-left: 29px;
        line-height: 32px;
        border: 1px solid rgba(221,221,221,1);
        border-radius: 16px;
        vertical-align: middle;
        text-align: center;
      }
      .edit{
        color: #02AD9F;
        cursor: pointer;
        border:1px solid rgba(2,173,159,1) !important;
      }
      >span.back{
        float: right;
        display: inline-block;
        width:100px;
        height:32px;
        line-height: 32px;
        color: #02AD9F;
        border:1px solid rgba(2,173,159,1);
        border-radius:6px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }
</style>
