<template>
  <div class="header-content">
    <div class="header-top">
      <span class="desc">详细信息</span>
      <span class="back" style="cursor: pointer" @click="handleBtnClick">返回</span>
    </div>
  </div>

</template>

<script>
/* eslint-disable */
export default {
  name: 'headerShown',
  data() {
    return {
      type: 'detail', //  详情
    };
  },
  methods: {
    handleBtnClick() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="less" scoped>
  .header-content{
    overflow: hidden;
    background: #ffffff;
    .header-top{
      min-width: 1160px;
      height: 90px;
      padding-top: 10px;
      padding-left: 56px;
      padding-right: 43px;
      box-sizing: border-box;
      position: relative;
      >span.desc{
        display: inline-block;
        height: 32px;
        margin-left: 40px;
        line-height: 32px;
        font-size:18px;
        font-family:MicrosoftYaHei-Bold;
        font-weight:bold;
        vertical-align: middle;
      }
      >span.function{
        display: inline-block;
        width: 80px;
        height: 32px;
        margin-left: 29px;
        line-height: 32px;
        border: 1px solid rgba(221,221,221,1);
        border-radius: 16px;
        vertical-align: middle;
        text-align: center;
      }
      >span.back{
        float: right;
        display: block;
        width: 80px;
        height: 32px;
        border-radius: 5px;
        line-height: 30px;
        text-align: center;
        border: 1px solid #02ad9f;
        color: #02ad9f;
        font-family:MicrosoftYaHei-Bold;
        font-weight:bold;
      }
    }
  }

</style>
