<template>
  <div class="home-table">
    <label class="company-name name">
      <span>公司名称:</span>
      <input class="companyname-input" type="text" v-model="company"/>
    </label>
    <label class="shop-name name">
      <span>运营者姓名:</span>
      <input class="shopname-input" v-model="real_name" type="text"/>
    </label><br>
    <label class="name status"><span>状态:</span>
      <select name="" id="select" v-model="status">
        <option value ="">全部</option>
        <option value ="0">等待审核中</option>
        <option value ="1">审核已通过</option>
        <option value ="2">审核未通过</option>
        <option value ="3">已拉黑</option>
      </select>
    </label>
    <span class="export" @click="exportData">导出</span>
    <span class="search" @click="handleSearchClick">查询</span>
    <v-table :columns="columns" :data="data" :page="page"></v-table>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  data() {
    return {
      position: '',
      real_name: '',
      status: '',
      company: '',
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '公司名称',
        data: 'company_name',
        // click: 'showInfoShown',
        click: '',
        render(val, item) {
          return `<span style="cursor:pointer;">${val}</span>`;
        },
      },
      { title: '运营者姓名',
        data: 'real_name',
        class: 'large',
        render(data) {
          return `<span>${data}</span>`;
        },
      },
      { title: '手机号', data: 'phone' },
      { title: '授权到期日', data: 'end_time' },
      { title: '审核状态',
        data: 'status',
        render(val) {
          switch (val) {
            case 0:
              return `<span style="color: #016EAD;font-size:15px; font-family:MicrosoftYaHei;">
                        等待审核中
                      </span>`;
            case 1:
              return `<span style="font-size:15px; font-family:MicrosoftYaHei;font-weight:400;color:rgba(1,176,30,1);">
                        审核已通过
                      </span>`;
            case 2:
              return `<span style="font-size:15px;font-family:MicrosoftYaHei;font-weight:400;color:rgba(227,110,95,1);">
                        审核未通过
                      </span>`;
            case 3:
              return `<span style="font-size:15px;font-family:MicrosoftYaHei;font-weight:400; color:rgba(1,176,30,1)">
                        审核已通过
                      </span>`;
            default:
              break;
          }
          return '';
        },
      },
      { title: '黑名单状态',
        data: 'status',
        click: '',
        render(val) {
          if (val === 3) {
            return '<span>黑名单</span>';
          }
          return '<span>---</span>';
        },
      },
        { title: '操作',
          data: 'status',
          click: 'showInfoDetail',
          render(val) {
            switch (val) {
              case 0:
                return '<span style="cursor: pointer" class="operation">审核</span>';
              case 1:
                return `
                        <div style="display: flex; justify-content: center;">
                          <span  data-index="1" style="cursor: pointer; padding: 3px; color: rgba(2,173,159,1)">查看</span>
                          <span data-index="2" style="cursor: pointer; padding: 3px; color: #FBAB00;"">续签</span>
                        </div>
                      `;
              case 2:
                return '<span style="cursor: pointer" class="operation">重审</span>';
              case 3:
                return '<span class="operation" style="cursor: pointer;>查看</span>';
            }
            return '';
          },
        },
      { title: '删除',
        class: 'smallest',
        data: 'status',
        click: 'handleDelete',
        render(val) {
          if (val === 1 || val === 3) {
            return '<span><i style="color: #999999; cursor: not-allowed" class="iconfont icon-shanchu"></i></span>';
          }
          return '<span><i style="color: #DE4330; cursor: pointer" class="iconfont icon-shanchu"></i></span>';
        },
      }],
      data: [],
      page: {
        total: 0,
        curPage: 1,
        pageCount: 0,
        prePage: 10,
        pageSelect: [10, 20, 50, 100],
      },
    };
  },
  methods: {
    showInfoShown(val) {
      const obj = {};
      obj.type = '';
      obj.module = 'shown';
      obj.data = val;
      this.$router.push({ path: '/companyDetail', query: { item: JSON.stringify(obj) } });
    },
    showInfoDetail(val, index) {
      if (val.status === 0) {
        const obj = {};
        obj.type = 'none';
        obj.module = 'review';
        obj.data = val;
        this.$router.push({ path: '/companyDetail', query: { item: JSON.stringify(obj) } });
      }
      if (val.status === 2) {
        const obj = {};
        obj.type = 'edit';
        obj.module = 'review';
        obj.data = val;
        this.$router.push({ path: '/companyDetail', query: { item: JSON.stringify(obj) } });
      }
      if (val.status === 1 || val.status === 3) {
        if (index === '1') {
          const obj = {};
          obj.type = '';
          obj.module = 'shown';
          obj.data = val;
          this.$router.push({ path: '/companyDetail', query: { item: JSON.stringify(obj) } });
        } else if (index === '2') {
          const submitFn = (data) => {
            this.$http(this.$api.checkCompanyTime, {
              id: data.id,
            })
              .then((res) => {
                if (res.status === 0) {
                  this.showConfirm('续签成功');
                } else {
                  this.showConfirm(res.msg);
                }
              });
          }
          this.showConfirm('确定续签一年？', {
            item: val,
            submitFn,
          })
        }
      }
    },
    getCompanyData(obj) {
      this.$http(this.$api.selectCompany, obj).then((res) => {
        if (res.status === 0) {
          const data = res.data.data;
          this.page.total = parseInt(res.data.recordsTotal, 10);
          this.page.pageCount = Math.ceil(this.page.total / this.page.prePage);
          this.data = [];
          for (let i = 0, len = data.length; i < len; i += 1) {
            data[i].no = i + 1 + ((this.page.curPage - 1) * this.page.prePage);
            this.data.push(data[i]);
          }
        } else {
          this.data = [];
        }
      }).catch((err) => {
        this.data = [];
      });
    },
    getCompanyList() {
      const obj = {
        status: '',
        start: 0,
        length: 10,
        search: '',
        real_name: '',
      };
      this.getCompanyData(obj);
    },
    handleDelete(val) {
      if (val.status === 1) {
        return false;
      }
      this.$modal.show({
        template: `
                <div>
                  <div class="modal_head">提示</div>
                  <div class="modal_body_tips">
                    <div>确定删除公司：{{text}}？</div>
                  </div>
                  <div class="modal_footer_confirm">
                    <a href="javascript:void(0);" @click="submit">确定</a>
                  </div>
                </div>
              `,
        props: ['text'],
        methods: {
          submit() {
            this.$store.commit('modelOperate/changeOperate', true);
            this.$emit('close');
          },
        },
      }, {
        text: val.company_name,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': () => {
          if (this.$store.state.modelOperate.operate) {
            this.$store.commit('modelOperate/changeOperate', false);
            this.handleDeleteClick(val)
          }
        },
      });
    },
    handleDeleteClick(val) {
      if (val.status === 0 || val.status === 2) {
        this.$http(this.$api.companyDelete, {
          id: val.id,
        }).then((res) => {
          if (!res.data.status) {
            this.changePage(1);
          }
        }).catch((err) => {
        });
      }
    },
    handleSearchClick() {
      const obj = {
        // shop_name: document.querySelector('.shopname-input').value,
        real_name: this.real_name,
        search: this.company,
        status: this.status,
        start: 0,
        length: 10,
      };
      this.getCompanyData(obj);
    },
    changePage(index, length) {
      this.page.curPage = index || this.page.curPage;
      this.page.prePage = length || this.page.prePage;
      const curPage = this.page.prePage * (this.page.curPage - 1);
      const obj = {
        status: this.status,
        start: curPage,
        length: this.page.prePage,
        real_name: this.real_name,
        search: this.company,
      };
      this.getCompanyData(obj);
    },
    exportData() {
      const obj = {
        status: this.status,
        start: 0,
        length: 10000,
        search: this.company,
        real_name: this.real_name,
      };
      this.$http(this.$api.selectCompany, obj).then((res) => {
        if (res.status === 0) {
          const data = [];
          const items = res.data.data || [];
          for (let i = 0, len = items.length; i < len; i += 1) {
            const arr = [items[i].company_name, items[i].shop, items[i].real_name, items[i].province, items[i].city, items[i].phone];
            switch (items[i].status) {
              case 0:
                arr.push('等待审核中');
                break;
              case 1:
                arr.push('审核已通过');
                break;
              case 2:
                arr.push('审核未通过');
                break;
              case 3:
                arr.push('审核已通过');
                break;
              default:
                arr.push('--');
                break;
            }
            data.push(arr);
          }
          this.tableToExcel('公司名称,店铺名称,运营者姓名,省份,城市,手机号,状态\n',data);
        } else {
          this.data = [];
        }
      }).catch((err) => {
      });
    },
    isIE() {
      if (!!window.ActiveXObject || "ActiveXObject" in window) {
        return true;
      }
      else {
        return false;
      }
    },
    showTips(data) {
      this.$modal.show({
        template: `
                <div>
                  <div class="modal_head">提示</div>
                  <div class="modal_body_tips">
                    <div>{{text}}</div>
                  </div>
                  <div class="modal_footer_confirm">
                    <a href="javascript:void(0);" @click="submit">确定</a>
                  </div>
                </div>
              `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      });
    },
    tableToExcel(title, jsonData){
      if (this.isIE()) {
        this.showTips("导出功能站不支持ie内核浏览器，请使用其他浏览器或其他浏览器模式！");
        return false;
      }
      // title 形式 如 `姓名,电话,邮箱\n`;
      //列标题，逗号隔开，每一个逗号就是隔开一个单元格
      let str = title;
      for(var i = 0 ; i < jsonData.length ; i++ ){
        for(var item in jsonData[i]){
          str += (jsonData[i][item] + '\t,');
        }
        str+='\n';
      }
      var uri = 'data:text/csv;charset=utf-8,\ufeff' + encodeURIComponent(str);
      //通过创建a标签实现
      var link = document.createElement("a");
      link.href = uri;
      link.download =  "json数据表.csv";
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    },
  },
  created() {
    this.getCompanyList();
  },
};
</script>

<style lang="less" scoped>
  .icon-shanchu{
    font-size: 24px;
  }
  .home-table{
    margin-top: 20px;
    padding: 0 60px 0 56px;
    .name{
      margin-top: 20px;
      span{
        display: inline-block;
        height: 36px;
        line-height: 36px;
        margin-left: 23px;
        vertical-align: middle;
      }
      input{
        width: 300px;
        height: 36px;
        margin-left: 10px;
        border:1px solid rgba(221,221,221,1);
      }
    }
    .shop-name{
      span{
        margin-left: 40px;
      }
    }
    .status{
      display: inline-block;
      margin-top: 20px;
      margin-left: 30px;
      margin-bottom: 24px;
      select{
        width: 300px;
        height: 36px;
        margin-left: 10px;
        border:1px solid rgba(221,221,221,1);
      }
    }
    .search {
      float: right;
      display: inline-block;
      width: 118px;
      height: 34px;
      line-height: 34px;
      margin-top: 20px;
      border: 1px solid rgba(2, 173, 159, 1);
      border-radius: 6px;
      font-size: 18px;
      font-family: MicrosoftYaHei-Bold;
      font-weight: bold;
      color: rgba(2, 173, 159, 1);
      text-align: center;
      cursor: pointer;
    }
    .export{
      float: right;
      display: inline-block;
      width: 118px;
      height: 34px;
      line-height: 34px;
      margin: 20px 0 0 33px;
      background:rgba(2,173,159,1);
      border-radius:6px;
      font-size:18px;
      font-family:MicrosoftYaHei-Bold;
      font-weight:bold;
      color:rgba(255,255,255,1);
      text-align: center;
      cursor: pointer;
    }
  }
  .home-table /deep/ .operation{
    width:80px !important;
    height:32px !important;
    line-height:32px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(2,173,159,1);
    color: rgba(2,173,159,1);
    text-align: center;
    vertical-align: middle;
    border-radius:4px;
  }
  .home-table /deep/ #table{
    padding: 0;
  }
</style>
