<template>
  <div class="company-show">
    <div class="company-info">
      <table border="none" width="100%">
        <tr>
          <td>公司名称:</td>
          <td>{{data.company_name}}
            <span v-if="data.status === 3">（黑名单）</span>
            <div v-if="data.status === 3" @click="deleteBlack(data.id)" class="recovery">移出黑名单</div>
            <div v-if="data.status === 1" @click="pushBlck(data)" class="recovery">加入黑名单</div>
          </td>
        </tr>
        <tr>
          <td>拥有店铺:</td>
          <td>{{data.shop}}</td>
        </tr>
        <tr>
          <td>所属城市:</td>
          <td>{{data.city}}</td></tr>
        <tr>
          <td>运营者姓名:</td>
          <td>{{data.real_name}}</td></tr>
        <tr>
          <td>手机号:</td>
          <td>{{data.phone}}</td></tr>
        <tr>
          <td>常用邮箱:</td>
          <td>{{data.email}}</td></tr>
        <tr>
          <td>状态:</td>
          <td v-if="data.status === 1 || data.status === 3" style="color: #21CE35">已通过审核</td>
          <td v-else-if="data.status === 2" style="color: #21CE35">未通过审核</td>
          <td v-else-if="data.status === 0" style="color: #21CE35">等待审核中</td>
        </tr>
      </table>
    </div>
    <div class="circle-wrapper">
      <CompanyCount :circleData="usersData"></CompanyCount>
      <CompanyCount :circleData="salesData"></CompanyCount>
      <CompanyCount :circleData="commentData"></CompanyCount>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import CompanyCount from './companyCount';
export default {
  name: 'infoShown',
  components: { CompanyCount },
  data() {
    return {
      pullBack: true,
      data: '',
      salesData: {
        numCircle: null,
        desc: '月销量',
        num: '',
        background: '#F29B76'
      },
      usersData: {
        numCircle: null,
        desc: '总粉丝数',
        num: '',
        background: '#02C3B3'
      },
      commentData: {
        numCircle: null,
        desc: '总晒评价',
        num: '',
        background: '#00A0E9'
      },
    };
  },
  methods: {
    deleteBlack(val) {
        this.$modal.show({
          template: `
          <div>
            <div class="modal_head"><i style="float: right;margin-right: 16px;" class="iconfont icon-guanbi1" @click="handleBackClick"></i></div>
            <div class="modal_body_tips">
              是否从黑名单移出该公司？
            </div>
            <div class="modal_footer_confirm" @click="submit">
              <a href="javascript:void(0);">确定</a>
            </div>
          </div>
        `,
          // props: ['text'],
          methods: {
          submit() {
            const p = new Promise((resolve, reject) => {
              this.$http(this.$api.companyWhite, {
                id: val,
              }).then((res) => {
                if (res.status === 0) {
                  this.$store.commit('modelOperate/changeOperate', true);
                  resolve();
                }
              });
            })
            p.then(() => {
              this.$emit('close');
            });
          },
          handleBackClick() {
            this.$emit('close');
          },
        },
      }, {
        text: 'jflasd ',
      }, {
        width: '480px',
        height: '260px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': () => {
          if (this.$store.state.modelOperate.operate){
            this.$store.commit('modelOperate/changeOperate', false);
            this.data.status = 1;
          }
        },
      });
    },
    pushBlck(val) {
      if (val.status === 1) {
        this.$modal.show({
          template: `
          <div>
            <div class="modal_head"><i style="float: right;margin-right: 16px;" class="iconfont icon-guanbi1" @click="handleBackClick"></i></div>
            <div class="modal_body_tips">
              是否拉黑该公司？
            </div>
            <div class="modal_footer_confirm" @click="submit">
              <a href="javascript:void(0);">确定</a>
            </div>
          </div>
        `,
          // props: ['text'],
          methods: {
            submit() {
              // 拉黑
              const p = new Promise((resolve, reject) => {
                this.$http(this.$api.companyBlack, {
                  id: val.id,
                }).then((res) => {
                  if (res.status === 0) {
                    this.$store.commit('modelOperate/changeOperate', true);
                    resolve();
                  }
                });
              });
              p.then(() => {
                this.$emit('close');
              });
            },
            handleBackClick() {
              this.$emit('close');
            },
          },
        }, {
          text: 'jflasd ',
        }, {
          width: '480px',
          height: '260px',
          pivotX: 0.6,
          pivotY: 0.3,
        }, {
          'before-close': () => {
            if (this.$store.state.modelOperate.operate){
              this.$store.commit('modelOperate/changeOperate', false);
              this.$set(this.data, 'status', 3);
            }
          },
        });
      }
    },
    // 获得公司统计信息
    getCountInfo() {
      this.$http(this.$api.checkCompanyStart, {
        id: this.data.id,
      })
        .then((res) => {
          if (res.status === 0) {
            this.salesData.numCircle = `${res.data.sales}件`;
            this.salesData.num = `昨日销量：${res.data.yesterday_sales}件`;
            this.usersData.numCircle = `${res.data.user}人`;
            this.usersData.num = `昨日粉丝数：${res.data.yesterday_users}人`;
            this.commentData.numCircle = `${res.data.comment_number}件`;
            this.commentData.num = `昨日销量：${res.data.yesterday_comment}件`;
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
  },
  created() {
    this.data = JSON.parse(this.$route.query.item).data;
    this.getCountInfo();
  },
};
</script>

<style lang="less" scoped>
  .company-show /deep/ .company-count{
    margin-right: 143px;
  }
  .company-show{
    background: #eeeeee;
    .company-info{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      margin-top: 10px;
      padding-left: 56px;
      padding-top: 8px;
      background: #ffffff;
      table{
        margin-top: 22px;
        background: #ffffff;
        tr{
          height: 36px;
          margin-top: 16px;
          &>:first-child{
            width: 120px;
            text-align: right;
          }
          &>:nth-child(2){
            padding-left: 10px;
          }
          td{
            height: 36px;
            line-height: 36px;
            vertical-align: middle;
            .recovery{
              /*float: left;*/
              display: inline-block;
              cursor: pointer;
              width:100px;
              height:32px;
              line-height: 32px;
              margin-left: 19px;
              border:1px solid rgba(2,173,159,1);
              border-radius:16px;
              font-size:16px;
              font-family:MicrosoftYaHei;
              color:rgba(2,173,159,1);
              text-align: center;
            }
          }
        }
      }
    }
    .circle-wrapper{
      margin-top: 10px;
      padding-top: 34px;
      padding-left: 82px;
      background: #ffffff;
    }
  }
</style>
