<template>
    <div class="info-review">
      <table border="none" width="100%">
        <tr>
          <td>公司名称:</td>
          <td><div class="input-wrapper">
            <input class="company_name" type="text" v-if="type === 'edit'" readonly="readonly" :value="data.company_name">
            <input class="company_name border" type="text" v-else  :value="data.company_name">
          </div></td>
        </tr>
        <tr>
          <td>拥有店铺:</td>
          <td><div class="input-wrapper">
            <input class="shop"  v-if="type === 'edit'" readonly="readonly" :value="data.shop">
            <input class="shop border"  v-else :value="data.shop">
          </div></td>
        </tr>
        <tr>
          <td>所属城市:</td>
          <td>
            <span class="" style="margin-left: 8px;" v-if="type === 'edit'">{{data.province}}</span>
            <select style="width: 120px; float: left"
                    @change="selectProvinceValue"
                    class="input-wrapper"
                    :class="{'select-none': type === 'edit'}"
                    v-model="province_selected.id"
                    id="province"
                    v-else>
              <!--<option v-if="provinces.length == 0" value="">{{data.province}}</option>-->
              <option
                v-for="(item, index) of provinces"
                v-if="provinces.length"
                class="province-value"
                :key="index"
                :value="item.id"
              >{{item.name}}</option>
              <option v-else selected="selected" value="-1">请选择</option>
            </select>
            <!--<span class="location-span" style="margin-left: 10px">城市:</span>-->
            <span class="" v-if="type === 'edit'">{{data.city}}</span>
            <select style="width: 120px; float: left"
                    class="input-wrapper"
                    :class="{'select-none': type === 'edit'}"
                    id="city"
                    v-model="city_selected.id"
                    v-else>
              <!--<option v-if="cities.length == 0" value="">{{data.city}}</option>-->
              <option
                v-for="(item, index) of cities"
                v-if="cities.length"
                class="city-value"  :key="index"
                :value="item.id"
              >{{item.name}}</option>
              <option v-else selected="selected" value="-1">请选择</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>运营者姓名:</td>
          <td><div class="input-wrapper">
            <input class="real_name"  type="text" v-if="type === 'edit'" readonly="readonly" :value="data.real_name">
            <input class="real_name border"  type="text border" v-else :value="data.real_name"></div>
          </td></tr>
        <tr>
          <td>手机号:</td>
          <td><div class="input-wrapper">
            <input class="phone"  type="text" v-if="type === 'edit'" readonly="readonly" :value="data.phone">
            <input class="phone border"
                   type="text"
                   readonly="readonly"
                   style="border-color: rgb(232, 223, 223); color: #cccccc"
                   v-else
                   :value="data.phone">
          </div></td></tr>
        <tr>
          <td>常用邮箱:</td>
          <td><div class="input-wrapper">
            <input class="email"  type="text" v-if="type === 'edit'" readonly="readonly" :value="data.email">
            <input class="email border"  type="text" v-else :value="data.email">
          </div></td></tr>
        <tr>
          <td>状态:</td>
          <td>
            <div class="input-wrapper">
              <input v-if="data.status === 0" type="text" readonly value="等待审核中">
              <input v-else-if="data.status === 2" type="text" readonly value="未通过审核">
            </div>
          </td>
        </tr>
      </table>
    </div>
</template>

<script>
/* eslint-disable */

export default {
  name: 'infoReview',
  data() {
    return {
      data: '',
      provinces: [],
      cities: [],
      inputDatas: {},
      readonly: '',
      type: 'edit',
      province_selected: { id: -1, name: '' },
      city_selected: { id: -1, name: '' },
    };
  },
  methods: {
    // 省市级联动
    init() {
      this.sendDataToOther();
      this.$store.dispatch('company/changeData', this.data);
      this.getSelectValue();
    },
    // 获得数据
    getInputData() {
      const provineIndex = document.getElementById('province').selectedIndex;
      const cityIndex = document.getElementById('city').selectedIndex;
      const data = {
        city: document.getElementById('city').options[cityIndex].innerHTML,
        company_name: document.querySelector('.company_name').value,
        email: document.querySelector('.email').value,
        phone: document.querySelector('.phone').value,
        province: document.getElementById('province').options[provineIndex].innerHTML,
        real_name: document.querySelector('.real_name').value,
        shop: document.querySelector('.shop').value,
      };
      return data;
    },
    sendDataToOther() {
      this.bus.$emit('sendDataToOther', this.data);
    },
    // 获得省市下拉值
    getSelectValue() {
      // 请求省接口
      this.$http(this.$api.getProvince).then((res) => {
        let provineid;
        let provincename;
        if (res.status === 0) {
          this.provinces = res.data;
          this.provinces.forEach((val) => {
            if (val.name === this.data.province) {
              provineid = val.id;
              this.province_selected.id = provineid;
              this.province_selected.name = val.name;
            }
          })
          this.$nextTick(( )=> {
            this.$http(this.$api.getCity, {
              province_id: this.province_selected.id,
            }).then((res) => {
              if (res.status === 0) {
                this.cities = res.data;
                this.cities.forEach((item) => {
                  if (item.name === this.data.city) {
                    this.city_selected.id = item.id;
                    this.city_selected.name = item.name;
                  }
                })
              }
            }).catch((err) => {
              console.log(err);
            });
          });
        }
      }).catch((err) => {
        console.log(err);
      });
    },
    // 省下拉框选择
    selectProvinceValue(item) {
      const index = item.srcElement.selectedIndex;
      const value = item.srcElement.options[index].value;
      this.$http(this.$api.getCity, {
        province_id: value,
      }).then((res) => {
        if (!res.status) {
          this.cities = res.data;
          this.$nextTick(() => {
            document.getElementById("city").firstChild.selected = true; // 设置默认值
          })
        }
      }).catch((err) => {
        console.log(err);
      });
    },
    // 点击编辑按钮
    edit() {
      this.bus.$on('edit', () => {
        this.type = '';
        // const selects = document.querySelectorAll('select');
        // for (let j = 0; j < selects.length; j++) {
        //   if (selects[j].id === 'city' || selects[j].id === 'province') {
        //     selects[j].disabled = '';
        //   }
        // }
      });
    },
    // 点击保存按钮
    save() {
      this.bus.$on('save', () => {
        if (document.getElementById('province').selectedIndex === -1) {
          this.showConfirm("请选择省");
          return;
        }
        if (document.getElementById('city').selectedIndex === -1) {
          this.showConfirm("请选择市");
          return;
        }
        const provineIndex = document.getElementById('province').selectedIndex;
        const cityIndex = document.getElementById('city').selectedIndex;
        const data = {
          city: document.getElementById('city').options[cityIndex].innerHTML,
          company_name: document.querySelector('.company_name').value,
          email: document.querySelector('.email').value,
          phone: document.querySelector('.phone').value,
          province: document.getElementById('province').options[provineIndex].innerHTML,
          real_name: document.querySelector('.real_name').value,
          shop: document.querySelector('.shop').value,
          id: this.data.id,
          status: this.data.status,
        };
        this.data = data;
        const reg = {
          company_name: /^[\u4e00-\u9fa5|a-zA-Z0-9]{1,64}$/i, // 中文字母数字
          real_name: /^[\u4e00-\u9fa5]{1,10}$/, // 中文
          email: /^\w+((.\w+)|(-\w+))@[A-Za-z0-9]+((.|-)[A-Za-z0-9]+).[A-Za-z0-9]+$/,
          phone: /^(0|86|17951)?(13[0-9]|15[012356789]|166|17[3678]|18[0-9]|14[57])[0-9]{8}$/,
        };
        if (!data.company_name) {
          this.showConfirm('请输入公司名称');
          return false;
        }
        if (!reg.company_name.test(data.company_name)) {
          this.showConfirm('公司名称只允许包含中文、字母和数字，不超过64个字符');
          return false;
        }
        if (!data.shop) {
          this.showConfirm('请输入拥有店铺');
          return false;
        }
        if (!reg.company_name.test(data.shop)) {
          this.showConfirm('拥有店铺只允许包含中文、字母和数字，不超过64个字符');
          return false;
        }
        if (!data.real_name) {
          this.showConfirm('请输入运营者姓名');
          return false;
        }
        if (!reg.real_name.test(data.real_name)) {
          this.showConfirm('运营者姓名只允许包含中文，不超过10个汉字');
          return false;
        }
        if (!data.phone) {
          this.showConfirm('请输入手机号');
          return false;
        }
        if (!reg.phone.test(data.phone)) {
          this.showConfirm('请输入正确的手机号');
          return false;
        }
        if (!data.email) {
          this.showConfirm('请输入邮箱');
          return false;
        }
        if (!reg.email.test(data.email)) {
          this.showConfirm('请输入正确的邮箱');
          return false;
        }
        this.$http(this.$api.editeCompany, data).then((res) => {
          // const selects = document.querySelectorAll('select');
          // for (let j = 0; j < selects.length; j++) {
          //   if (selects[j].id === 'city' || selects[j].id === 'province') {
          //     selects[j].disabled = 'disabled';
          //   }
          // }
          if (res.status === 0) {
            this.$parent.$children[0].dataType = 'edit';
            this.type = 'edit';
            this.$store.dispatch('company/changeData', data);
          } else if (res.status === 1) {
            this.showConfirm(res.msg);
          }
        }).catch((err) => {
          console.log(err);
        });
        this.bus.$emit('sendDataToHeader', data);
        this.bus.$emit('saveIsClicked', data);
        return null;
      });
    },
    showConfirm(data) {
      this.$modal.show({
        template: `
                <div>
                  <div class="modal_head">提示</div>
                  <div class="modal_body_tips">
                    <div>{{text}}</div>
                  </div>
                  <div class="modal_footer_confirm">
                    <a href="javascript:void(0);" @click="submit">确定</a>
                  </div>
                </div>
              `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      });
    },
  },
  mounted() {
    this.data = JSON.parse(this.$route.query.item).data;
    this.init();
    this.edit();
    this.save();
  },
  beforeDestroy() {
    this.bus.$off('save');
  },
};
</script>

<style lang="less" scoped>
  .info-review{
    width: 100%;
    height: 389px;
    box-sizing: border-box;
    margin-top: 10px;
    padding-left: 56px;
    padding-top: 8px;
    background: #ffffff;
    table{
      font-family:MicrosoftYaHei;
      font-weight:400;
      font-size:16px;
      color:rgba(51,51,51,1);
      tr{
        height: 52px;
        &>:first-child{
          width: 120px;
          text-align: right;
        }
        &>:nth-child(2){
          padding-left: 10px;
        }
        td{
          height: 36px;
          line-height: 36px;
          vertical-align: middle;
          .location-span{
            float: left;
          }
          .select-none{
            float: left;
            width: 80px;
            border: solid 0#000;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            padding-right: 14px;
            font-size: 16px;
            font-family: MicrosoftYaHei;
            font-weight: 400;
            margin-left: 6px;
          }
          select{
            width: 100px;
            height: 30px !important;
            float: left;
          }
          .input-wrapper{
            width: 320px;
            height: 36px;
            /*border:1px solid rgba(221,221,221,1);*/
            input{
              width: 320px;
              height: 36px;
              padding-left: 10px;
              font-size:16px;
              font-family:MicrosoftYaHei;
              font-weight:400;
            }
            .border{
              border:1px solid rgba(221,221,221,1);
            }
          }
          .edit{
            border:1px solid rgba(221,221,221,1);
          }
        }
      }
    }
  }
</style>
