<template>
    <div class="operation-review">
      <input type="radio" class="status" name="status" value="0" checked="checked" v-model="radio"> 审核通过 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label  v-if="status !== 2">
        <input type="radio"
               class="status"
               name="status"
               value="1"
               v-model="radio"
        > 审核不通过
      </label>
      <div class="button" ref="mybtn" v-if="notClick" style="cursor: pointer" @click="handleBtnClick">确定</div>
      <div class="button" v-else style="cursor: not-allowed">确定</div>
    </div>
</template>

<script>
/* eslint-disable */
export default {
  name: 'operationReview',
  props: ['type', 'dataInfo'],
  data() {
    return {
      notClick: true,
      data: {},
      dataType: this.type,
      radio: 0,
      flag: true, // 审核通过点击一次变为false,不可点击
      status: '',
    };
  },
  methods: {
    // 初始化
    init() {
      this.bus.$on('sendNoneToOperationReview', () => {
        const el = document.getElementsByClassName('operation-review');
        el[0].parentNode.removeChild(el[0]);
      });
      this.bus.$on('sendDataToOther', (val) => {
        this.data = val;
      });
      this.bus.$on('edit', () => {
        this.notClick = false;
        this.dataType = 'save';
      });
      this.bus.$on('saveIsClicked', () => {
        this.notClick = true;
        this.dataType = 'edit';
      });
      this.bus.$on('sendDataToHeader', (val) => {
        this.data = val;
      });
      this.status = this.dataInfo.data.status;
    },
    handleBtnClick() {
      if (this.radio === 0) {
        if (!this.flag) {
          return false;
        }
        this.handlePassClick();
      } else {
        this.handleRefuseClick();
      }
    },
    // 审核通过弹窗
    handlePassClick() {
      this.$refs.mybtn.innerHTML = '正在审核中';
      this.$refs.mybtn.style.cursor = 'not-allowed';
      this.flag = false;
      this.$http(this.$api.checkCompany, {
        id: this.$store.state.company.data.id,
        phone: this.$store.state.company.data.phone,
        real_name: this.$store.state.company.data.real_name,
      }).then((res) => {
        if (res.status === 0) {
          this.flag = true;
          const str = res.data;
          const strCopy = str.replace(/\n*/g, '');
          const reg = /.*用户(.*)：.*：(.*)，.*账号是：(.*)密码是：(\d.*)电商返利平台团队/g;
          const result = reg.exec(strCopy);
          if (result) {
            const obj = {
              people: result[1],
              domain: result[2],
              user: result[3],
              password: result[4],
              email: this.dataInfo.data.email,
            };
            this.$store.commit('company/changeObj', obj);
          }
          this.$modal.show({
            template: `
            <div>
              <div class="modal_head"><i style="float: right; margin-right: 16px; cursor: pointer" class="iconfont icon-guanbi1" @click="handleBackClick"></i></div>
              <div class="modal_body_tips" style="text-align: left; line-height: 20px;">
                <p class="modal_body_tips_title" >亲爱的{{CheckCompanyData.people}}:</p><br>
                <p class="modal_body_tips_text">恭喜您注册成功！您的电商返利平台（<span style="color: #02AD9F;">{{CheckCompanyData.domain}}</span>)账号为<span style="color: #02AD9F;">{{CheckCompanyData.user}}</span>，密码为<span style="color: #02AD9F;">{{CheckCompanyData.password}}</span>，请截图或复制保存！</p>
                <p style="color: #999999;">以上信息已发送至{{CheckCompanyData.email}}</p>
                <br />
                <p class="modal_body_tips_footer">电商返利平台团队</p>
              </div>
              <div class="modal_footer_confirm" style="bottom: 20px; justify-content: center;" @click="submit">
                <a href="javascript:void(0);">确定</a>
              </div>
            </div>
          `,
            data() {
              return {
                CheckCompanyData: {
                  people: this.$store.state.company.obj.people,
                  domain: this.$store.state.company.obj.domain,
                  user: this.$store.state.company.obj.user,
                  password: this.$store.state.company.obj.password,
                  email: this.$store.state.company.obj.email,
                },
              };
            },
            methods: {
              submit() {
                this.$emit('close');
                this.$router.go(-1);
              },
              handleBackClick() {
                this.$emit('close');
                this.$router.go(-1);
              },
            },
          }, {}, {
            width: '600px',
            height: '360px',
            pivotX: 0.6,
            pivotY: 0.3,
            clickToClose: false,
          }, {
            'before-close': () => {},
          });
        } else if(res.status === 1) {
          this.showConfirm(res.msg);
        } else if (res.status === 2) {
          const strCopy = res.msg.replace(/\n*/g, '');
          const reg = /.*用户(.*)：.*：(.*)，.*账号是：(.*)密码是：(\d.*)电商返利平台团队/g;
          const result = reg.exec(strCopy);
          let msgObj;
          if (result && result.length !== 0) {
            msgObj = {
              people: result[1],
              domain: result[2],
              user: result[3],
              password: result[4],
            };
          }
          this.$modal.show({
            template: `
            <div>
              <div class="modal_head"><i style="float: right; margin-right: 16px; cursor: pointer" class="iconfont icon-guanbi1" @click="handleBackClick"></i></div>
              <div class="modal_body_tips" style="text-align: left; line-height: 20px; margin-top: -20px">
                邮件发送失败，请确认该邮箱是否正确！<br>
                发送信息如下：
                <div class="msgSended" style="margin-top: 10px;line-height: 24px;margin-bottom: 10px;padding: 20px;border: 1px solid #cccccc;">
                    亲爱的用户{{msg.people}}：<br>恭喜您注册成功！您的电商返利平台（<span class="green">{{msg.domain}}</span>）账号为：<span class="green">{{msg.user}}</span>，密码为<span class="green">{{msg.password}}</span><br>
                    <p class="modal_body_tips_footer" style="float: initial; ">电商返利平台团队</p>
                </div>
                <p>请截图或复制保存！</p>
              </div>
              <div class="modal_footer_confirm" style="color: #999999; justify-content: center;" @click="submit">
                <a href="javascript:void(0);">确定</a>
              </div>
            </div>
          `,
            data() {
              return {
                msg: msgObj,
              };
            },
            methods: {
              submit() {
                this.$emit('close');
                this.$router.go(-1);
              },
              handleBackClick() {
                this.$emit('close');
                this.$router.go(-1);
              },
            },
          }, {}, {
            width: '600px',
            height: '360px',
            pivotX: 0.6,
            pivotY: 0.3,
          }, {
            'before-close': () => {},
          });
        }
        return null;
      });
    },
    // 审核不通过弹窗
    handleRefuseClick() {
      this.$modal.show({
        template: `
          <div>
            <div class="modal_head"><i style="float: right;margin-right: 16px;" class="iconfont icon-guanbi1" @click="handleBackClick"></i></div>
            <div class="modal_body_tips">
              确定该公司未通过审核吗？
            </div>
            <div class="modal_footer_confirm" @click="submit">
              <a href="javascript:void(0);">确定</a>
            </div>
          </div>
        `,
        methods: {
          submit() {
            this.$http(this.$api.checkNot, {
              phone: this.$store.state.company.data.phone,
            }).then((res) => {
              if (res.status === 0) {
                this.$emit('close');
                this.$router.go(-1);
              } else {
                this.$store.commit('modelOperate/changeOperate', true);
                this.$store.commit('modelOperate/changeUserTag', res.msg);
                this.$emit('close');
              }
            });
          },
          handleBackClick() {
            this.$emit('close');
          },
        },
      }, {}, {
        width: '480px',
        height: '260px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': () => {
          if (this.$store.state.modelOperate.operate) {
            this.$store.commit('modelOperate/changeOperate', false);
            this.showConfirm(this.$store.state.modelOperate.userTag);
            this.$store.commit('modelOperate/changeUserTag', '');
          }
        },
      });
    },
    showConfirm(data) {
      this.$modal.show({
        template: `
                <div>
                  <div class="modal_head">提示</div>
                  <div class="modal_body_tips">
                    <div>{{text}}</div>
                  </div>
                  <div class="modal_footer_confirm">
                    <a href="javascript:void(0);" @click="submit">确定</a>
                  </div>
                </div>
              `,
        props: ['text'],
        methods: {
          submit() {
            this.$emit('close');
          },
        },
      }, {
        text: data,
      }, {
        width: '360px',
        height: '220px',
        pivotX: 0.6,
        pivotY: 0.3,
      }, {
        'before-close': () => {
        },
      });
    },
  },
  mounted() {
    this.init();
  },
};
</script>

<style lang="less" scoped>
  .operation-review{
    margin-top: 10px;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 56px;
    background: #ffffff;
    .status{
      /*margin-right: 60px;*/
      color: blue;
    }
    .button{
      margin-top: 39px;
      width:90px;
      height:32px;
      line-height: 32px;
      font-size:16px;
      font-family:MicrosoftYaHei-Bold;
      font-weight:bold;
      color: #ffffff;
      background:rgba(2,173,159,1);
      border-radius:6px;
      text-align: center;
      vertical-align: middle;
    }
  }
  .app /deep/ .modal-title{
    float: left;
  }
</style>
