<template>
  <div class="evaluate">
    <tab :tabs="tabs" @jumpRoute="jumpRoute"></tab>
    <router-view></router-view>
  </div>
</template>
<script>
import tab from '../navigation/tab';

export default {
  data() {
    return {
      tabs: [{
        index: 0,
        title: '活动列表',
        content: '/evaluate/list',
      }, {
        index: 1,
        title: '活动参与记录',
        content: '/evaluate/record',
      }],
    };
  },
  components: { tab },
  methods: {
    jumpRoute(ind) {
      this.$router.push(this.tabs[ind].content);
    },
  },
};
</script>
