<template>
  <div class="evaluate">
    <tab :tabs="tabs" @jumpRoute="jumpRoute"></tab>
    <router-view></router-view>
  </div>
</template>
<script>
import tab from '../navigation/tab';

export default {
  data() {
    return {
      tabs: [{
        index: 0,
        title: '订单信息',
        content: '/order/order',
      },
      //   {
      //   index: 1,
      //   title: '物流信息',
      //   content: '/order/logistics',
      // }
      ],
    };
  },
  components: { tab },
  methods: {
    jumpRoute(ind) {
      this.$router.push(this.tabs[ind].content);
    },
  },
};
</script>
