<template>
  <div class="add-num">
    <div @click="handleSubClick($event, index)" class="left-sub border">-</div>
    <div v-if="addNum" class="center-num">{{addCartNum}}</div>
    <div v-else class="center-num">{{num}}</div>
    <div @click="handleAddClick($event, index)"  class="right-add border">+</div>
  </div>
</template>

<script>
import { layer } from '../../lib/utils';
/**
 * credits: 100
 gift_cove: "ds"
 gift_id: 2
 gift_name: "test"
 gift_type: (...)
 id: 8
 is_del: 0
 num: 7
 status: 1
 total_num: 100
 used_num: 36
 user_id: 10000
 */
export default {
  name: 'AddNum',
  inject: ['reload'],
  props: ['datas', 'addNum', 'index'],
  data () {
    return {
      infoData: {},
      addCartNum: 0, // 加入购物车,区分购物车加一
      num: this.datas.num
    }
  },
  computed: {
    // num: {
    //   get () {
    //     if (this.datas) {
    //       return this.datas.num;
    //     }
    //   },
    //   set (newVal) {
    //     return newVal;
    //   }
    // }
  },
  watch: {
    datas (newVal) {
      this.infoData = newVal;
      this.num = newVal.num;
    },
    addNum (newVal) {
      this.addCartNum = newVal;
    }
  },
  methods: {
    // 加入购物车, 加一
    postCartData () {},
    handleAddClick ($event, index) {
      // 购物车组件，总积分
      if (this.$parent.$parent.total_points) {
        this.$parent.$parent.total_points += this.infoData.credits
      }
      if (this.addNum) {
        this.addCartNum++;
        return;
      }
      // 添加请求购物车操作
      // 购物车数量加一
      this.$http.addCartNum({
        // gift_id: this.infoData.gift_id
        gift_id: this.infoData.gift_id,
        credits: this.infoData.credits
      }).then((res) => {
        if (res.data.status === 0) {
          layer.msg('添加成功');
          // this.num += 1;
          // 刷新数据
          if (this.$parent.$parent.showCart) {
            this.$parent.$parent.showCart();
          }
          // 如果已经选中，点击加一，加入兑换post
          if (this.$parent.$parent.$refs.checkbox[index].checked) {
            let i;
            this.$parent.$parent.exchageDatas.gift_id.every((item, index) => {
              if (item === this.infoData.gift_id) {
                i = index;
                return false;
              }
            })
            const num = this.$parent.$parent.exchageDatas.num[i] + 1;
            this.$set(this.$parent.$parent.exchageDatas.num, i, num);
          }
          // this.reload(); // 页面会闪烁
        } else {
          layer.msg(res.data.msg);
        }
      });
    },
    handleSubClick ($event, index) {
      if (this.addNum) {
        if (this.addCartNum === 1 || this.num === 1) {
          return;
        }
        this.addCartNum--;
        return;
      }
      this.$http.redCartNum({
        // gift_id: this.infoData.gift_id
        id: this.infoData.id,
        credits: this.infoData.credits
      }).then((res) => {
        if (res.data.status === 0) {
          layer.msg('移除购物车成功');
          // this.num--;
          if (this.$parent.$parent.showCart) {
            this.$parent.$parent.showCart();
          }
          // 如果已经选中，点击减一，加入兑换post
          if (this.$parent.$parent.$refs.checkbox[index].checked) {
            let i;
            this.$parent.$parent.exchageDatas.gift_id.every((item, index) => {
              if (item === this.infoData.gift_id) {
                i = index;
                return false;
              }
            })
            const num = this.$parent.$parent.exchageDatas.num[i] - 1;
            this.$set(this.$parent.$parent.exchageDatas.num, i, num);
          }
          // this.reload(); // 页面闪烁
        } else {
          layer.msg(res.data.msg);
        }
      });
    }
  },
  mounted () {
    this.infoData = this.datas;
    this.addCartNum = this.addNum;
  }
}
</script>

<style lang="less" scoped>
  .add-num{
    width: 1.6rem;
    height: .5rem;
    line-height: .5rem;
    vertical-align: middle;
    text-align: center;
    .left-sub{
      float: left;
      width: .5rem;
    }
    .center-num{
      float: left;
      width: .6rem;
      height: .5rem;
      background:rgba(238,238,238,1);
    }
    .right-add{
      float: left;
      width: .5rem;
    }
  }
</style>
