<template>
  <div class="calendar">
    <div class="calendar-header">
      <i class="iconfont icon-arrowleftb" @click="handlePrevClick"></i>
      {{ date }}
      <i class="iconfont icon-arrowrightb" @click="handleNextClick"></i>
    </div>
    <table ref="table">
      <tr>
        <td>日</td>
        <td>一</td>
        <td>二</td>
        <td>三</td>
        <td>四</td>
        <td>五</td>
        <td>六</td>
      </tr>
      <tr v-for="(item, index) of datas"
          :key="index"
      >
        <td v-for="(date, index) of item"
            :key="index"
        >
          <span class="date-wrapper">{{date}}</span>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'Calendar',
  props: {
    attendenceDate: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      datas: [], // 存放当月数据
      curDate: '',
      date: ''
    }
  },
  computed: {
    signedData () {
      const date = [];
      this.datas.forEach((item, i) => {
        item.forEach((item, j) => {
          let str = this.date.replace(/(.*)年(.*)月/, '$1-$2-');
          str += `${item}`;
          for (let i = 0; i < this.attendenceDate.length; i++) {
            if (str === this.attendenceDate[i]) {
              let obj = {
                i: i,
                j: j,
                num: item
              };
              date.push(obj);
            }
          }
        })
      })
      return date;
    }
  },
  watch: {
    curDate: function (newVal) {
      this.date = newVal.toLocaleDateString().replace(/(.*)\/(.*)\/(.*)/, '$1年$2月');
    }
  },
  methods: {
    /**
     * 生成已签到标记
     * @private
     */
    _generateSigned () {
      this.$nextTick(() => {
        this.signedData.forEach((item) => {
          this.$refs.table.children[item.i + 1].children[item.j].children[0].classList.add('bg');
        })
      })
    },
    init () {
      const year = this.curDate.getFullYear();
      const month = this.curDate.getMonth();
      // const date = curDate.getDate();
      const thisMonthDay = new Date(year, month, 1);
      const thisMonthFirstDay = thisMonthDay.getDay();
      const thisMounthFirstDate = new Date(year, month, -thisMonthFirstDay);
      this.generateTable(thisMounthFirstDate);
    },
    generateTable (firstDate) {
      let date = firstDate.getDate();
      const datas = [];
      for (let i = 0; i < 6; i++) {
        datas[i] = [];
        for (let j = 0; j < 7; j++) {
          firstDate.setDate(++date);
          date = firstDate.getDate();
          if (i === 0 && date > 20) {
            datas[0][j] = undefined;
            continue;
          }
          if (i === 5 && date < 20) {
            datas[5][j] = undefined;
            continue;
          }
          if (i === 4 && date < 20) {
            datas[4][j] = undefined;
            continue;
          }
          datas[i][j] = date;
        }
      }
      this.datas = datas;
    },
    handlePrevClick () {
      const month = this.curDate.getMonth();
      this.curDate = new Date(this.curDate.setMonth(month - 1));
      this.init();
      this._generateSigned();
    },
    handleNextClick () {
      const month = this.curDate.getMonth();
      this.curDate = new Date(this.curDate.setMonth(month + 1)); //  this.curDate.setMonth(month + 1);视图不更新
      this.init();
      this._generateSigned();
    }
    // handleDateClick ($event) {
    //   $event.srcElement.classList.add('bg');
    // }
  },
  created () {
    this.curDate = new Date();
    this.init();
  },
  mounted () {
    this._generateSigned();
  }
}
</script>

<style lang="less" scoped>
  .calendar{
    width: 6.9rem;
    height: 7.4rem;
    background:rgba(255,255,255,1);
    border-radius: .3rem;
    text-align: center;
    .calendar-header{
      display: inline-block;
      margin: .3rem auto;
      font-size: .36rem;
      font-weight: 500;
      color: rgba(51,51,51,1);
      i{
        color: rgba(255,80,0,1);
      }
    }
    table{
      width: 5.94rem;
      margin: 0 auto;
      tr{
        width: 100%;
        height: .9rem;
        td{
          text-align: center;
          line-height: .5rem;
          .date-wrapper{
            display: inline-block;
            width: .66rem;
            height: .66rem;
            font-size: .36rem;
            line-height: .66rem;
            border-radius: 50%;
          }
          .bg{
            background:linear-gradient(163deg,rgba(251,136,0,1) 0%,rgba(245,80,0,1) 100%);
            color: #ffffff;
          }
        }
      }
    }
  }
</style>
