<template>
  <div class="dialog" v-if="isShowDialog" @touchmove="disableScroll">
    <div v-if="type === 'rebate'" class="rebate-dialog">
      <i class="iconfont icon-guanbi" @click="close"></i>
      <div class="title">恭喜你，抢到了返利名额</div>
      <textarea v-model="this.$store.state.mall.short_link" class="content"></textarea>
      <button @click="handleBtnClick"
              :class="{ btnClickClass: isActive }"
              class="copy-button"
              data-clipboard-action="copy"
              data-clipboard-target=".content"
              ref="btn">复制淘口令</button>
    </div>
    <div v-if="type === 'rebate-copy'" class="rebate-dialog-copy">
      <i class="iconfont icon-guanbi" @click="close"></i>
      <div class="content">
        <div class="title">恭喜你，抢到了返利名额</div>
        <span>(请前往淘宝购买商品)</span>
        <div class="btn" @click="close">确定</div>
      </div>
    </div>
    <div v-else-if="type === 'bindTel'" class="bindTel-dialog">
      <i class="iconfont icon-guanbi" @click="close"></i>
      <div class="title">需要绑定手机号才能返现</div>
      <div class="input-wrapper border-bottom">
        <input v-model="bindTel.phone" class="telphone" placeholder="请输入收货手机号" type="number">
      </div>
      <div class="center">
        <div class="verCode-wrapper border-bottom">
          <input v-model="bindTel.code" type="number" placeholder="请输入验证码" class="verCode">
        </div>
        <button class="getVerCode" @click="handleVerBtnClick">获取验证码</button>
      </div>
      <button class="bindTel-button" @click="handleSubmitClick">绑定手机号</button>
    </div>
    <div v-else-if="type === 'confirmTel'" class="confirmTel-dialog">
      <i class="iconfont icon-guanbi" @click="close"></i>
      <div class="title">手机号{{confirmTel.phone}}</div>
      <p class="desc">请确定本次购物收货手机号与绑定的手机号一致，否则无法返利</p>
      <button class="btn determine" @click="handleMallRobClick">确定</button>
      <button class="btn bind-newTel" @click="handleBindTel">绑定新手机号</button>
    </div>
    <div v-else-if="type === 'commitOrder'" class="commitOrder-dialog">
      <i class="iconfont icon-guanbi" @click="close"></i>
      <input type="text" class="order">
      <p class="desc">若24小时后系统未自动提交订单，请到此处提交</p>
      <button class="commit-button">提交订单</button>
    </div>
  </div>
</template>

<script>
import CliboardJs from 'clipboard'
import {utils} from '@/lib/utils.js'
import {layer} from '../../lib/utils';
/*
type类型
rebate: 返利名额
bindTel: 绑定手机号
*/

export default {
  name: 'HomeDialog',
  props: ['detailDatas'],
  data () {
    return {
      isActive: false,
      type: 'bindTel',
      isShowDialog: false,
      bindTel: {
        phone: null,
        code: null
      },
      confirmTel: {
        phone: null
      }
    }
  },
  mounted () {
    // this.clipInit();
    // this.disableScroll();
  },
  methods: {
    // 初始化复制到剪贴板
    clipInit () {
      if (this.type === 'rebate') {
        this.$nextTick(() => {
          new CliboardJs(this.$refs.btn);
        });
      }
    },
    // 弹出遮罩禁止页面滚动
    disableScroll (e) {
      e.preventDefault();
      e.stopPropagation();
      document.documentElement.style.overflow = 'hidden';
      document.body.style.overflow = 'hidden';
    },
    // 点击发送验证码按钮事件
    handleBtnClick () {
      this.isActive = true;
      this.$refs.btn.innerHTML = '复制成功';
    },
    // 跳转绑定手机号
    handleBindTel () {
      this.show('bindTel');
    },
    // 点击获取验证码按钮，倒计时
    handleVerBtnClick () {
      if (!this.bindTel.phone) {
        layer.msg('请输入手机号');
        return;
      } else {
        if (!/^1\d{10}$/.test(this.bindTel.phone)) {
          layer.msg('请输入正确的手机号');
          return;
        }
      }
      utils.countDown(event.currentTarget, 60);
      this.$http.sendCheckCode({
        phone: this.bindTel.phone
      })
        .then((res) => {
          if (res.data.status === 0) {
            layer.msg('发送成功');
          } else {
            layer.msg(res.data.msg);
          }
        });
    },
    // 发送验证码
    handleSubmitClick () {
      if (!this.bindTel.phone) {
        layer.msg('请输入手机号');
        return;
      } else {
        if (!/^1\d{10}$/.test(this.bindTel.phone)) {
          layer.msg('请输入正确的手机号');
          return;
        }
      }
      if (!this.bindTel.code) {
        layer.msg('请输入验证码');
        return;
      }
      const p = new Promise((resolve) => {
        this.$http.savePhone({
          phone: this.bindTel.phone,
          code: this.bindTel.code
        })
          .then((res) => {
            if (res.data.status === 0) {
              layer.msg('绑定成功');
              resolve();
            } else {
              layer.msg(res.data.msg);
            }
          });
      });
      p.then(() => {
        this.close();
      });
    },
    // 抢资格
    handleMallRobClick () {
      this.$http.mallRob({
        id: this.detailDatas.id
      })
        .then((res) => {
          if (res.data.status === 0) {
            this.$parent.$children[5].show('rebate');
          } else {
            // if (res.data.msg === 'unbind') {
            //   this.$parent.$children[5].show('bindTel');
            //   return;
            // }
            layer.msg(res.data.msg);
          }
        });
      this.close();
    },
    // 关闭弹窗
    close () {
      this.isShowDialog = false;
    },
    show (name, objData) {
      const objDataCopy = objData || {};
      this.isShowDialog = true;
      this.type = name;
      if (objDataCopy.phone) {
        this.confirmTel.phone = objDataCopy.phone;
      }
      if (this.type === 'rebate') {
        this.clipInit(); // 初始化剪贴板
      }
    }
  }
}
</script>

<style lang="less" scoped>
  @import "../../assets/stylesheets/mixin";
  .icon-guanbi{
    position: absolute;
    top: .3rem;
    right: .3rem;
    display: inline-block;
    width: .28rem;
    font-size: 0.28rem;
    height: .28rem;
  }
  .dialog{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    .rebate-dialog{
      position: absolute;
      width: 6.9rem;
      height: 8.38rem;
      left: 50%;
      top: 50%;
      margin-left: -3.45rem;
      margin-top: -4.19rem;
      background: #ffffff;
      border-radius: .1rem;
      .title{
        width: 3.97rem;
        height: .5rem;
        line-height: .5rem;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        font-size: .36rem;
        color: #000000;
      }
      .content{
        width: 5.2rem;
        height: 4.13rem;
        box-sizing: border-box;
        margin: .35rem .85rem .7rem .85rem;
        padding: .27rem .4rem;
        font-family: PingFang-SC;
        font-size: .36rem;
        background: #eeeeee;
      }
      .copy-button{
        display: block;
        width: 5.2rem;
        height: .9rem;
        line-height: .9rem;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        font-size: .36rem;
        color: #ffffff;
        background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
        border-radius:.45rem;
      }
      .btnClickClass{
        background: #cccccc;
      }
    }
    .rebate-dialog-copy{
      position: absolute;
      width: 6.9rem;
      height: 4.2rem;
      left: 50%;
      top: 50%;
      margin-left: -3.45rem;
      margin-top: -2.1rem;
      background: #ffffff;
      border-radius: .1rem;
      .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1.2rem;
        text-align: center;
        line-height: .6rem;
        .title{
          font-size: .36rem;
          font-weight: 500;
          color:rgba(51,51,51,1);
        }
        span{
          font-size: .32rem;
          color:rgba(153,153,153,1);
        }
        .btn{
          width: 3rem;
          height: .8rem;
          line-height: .8rem;
          background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
          border-radius:40px;
          font-size: .32rem;
          color:rgba(255,255,255,1);
          align-self: center;
          margin-top: .5rem;
        }
      }
    }
    .bindTel-dialog{
      width: 6.9rem;
      height: 5.5rem;
      background: #ffffff;
      border-radius: .08rem;
      .centerBox;
      .title{
        width: 3.97rem;
        height: .5rem;
        line-height: .5rem;
        margin-top: .8rem;
        margin-left: auto;
        margin-right: auto;
        font-size: .36rem;
        text-align: center;
        vertical-align: middle;
      }
      .input-wrapper{
        width: 5.2rem;
        height: .58rem;
        margin-top: .48rem;
        margin-left: auto;
        margin-right: auto;
        .telphone{
          display: block;
          height: .45rem;
          margin-top: .48rem;
          margin-bottom: .13rem;
          font-size: .32rem;
        }
      }
      .border-bottom{
        &:before {
          border-color: #DDDDDD;
        }
      }
      .center{
        margin: 0 auto;
        width: 5.2rem;
        height: 1rem;
        .verCode-wrapper{
          position: relative;
          float: left;
          width: 3rem;
          height: 100%;
          .verCode{
            /*display: block;*/
            width: 1.93rem;
            height: .45rem;
            margin-top: .43rem;
            font-size: .32rem;
          }
        }
        .getVerCode{
          float: left;
          width: 2.2rem;
          height: .8rem;
          line-height: .8rem;
          margin-top: .2rem;
          border-radius: .4rem;
          font-size: .32rem;
          text-align: center;
          vertical-align: middle;
          color: #ffffff;
          background: #FF5000;
        }
      }
      .bindTel-button{
        display: block;
        width: 5.2rem;
        height: .9rem;
        line-height: .9rem;
        font-size: .36rem;
        color: #ffffff;
        background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
        border-radius: .45rem;
        margin-top: .63rem;
        text-align: center;
        vertical-align: middle;
        .margin-auto;
      }
    }
    .confirmTel-dialog{
      width: 6.9rem;
      height: 6rem;
      background: #ffffff;
      border-radius: .1rem;
      .centerBox;
      .title{
        width: 4.18rem;
        height: .56rem;
        line-height: .56rem;
        margin-top: .9rem;
        font-size: .4rem;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color: #474747;
        text-align: center;
        vertical-align: middle;
        .margin-auto;
      }
      .desc{
        overflow: hidden;
        width: 5.41rem;
        height: .8rem;
        line-height: .4rem;
        margin-top: .2rem;
        font-weight:400;
        font-size:.28rem;
        font-family:PingFang-SC-Regular;
        color:rgba(153,153,153,1);
        text-align: center;
        .margin-auto;
      }
      .btn{
        display: block;
        width: 5.2rem;
        height: .9rem;
        font-size:.36rem;
        font-family:PingFang-SC-Regular;
        font-weight:400;
        color: #ffffff;
        border-radius: .45rem;
        .margin-auto
      }
      .determine{
        margin-top: .74rem;
        background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
      }
      .bind-newTel{
        margin-top: .4rem;
        background:rgba(216,216,216,1);
        color:rgba(102,102,102,1);
      }
    }
    .commitOrder-dialog{
      width: 6.9rem;
      height: 4.2rem;
      background: #ffffff;
      .centerBox;
      .order{
        display: block;
        width: 5.9rem;
        height: .8rem;
        margin-top: 1rem;
        border: 1px solid #CFCFCF;
        font-size: .32rem;
        .margin-auto;
      }
      .desc{
        width: 5.37rem;
        height: .33rem;
        line-height: .33rem;
        margin-top: .16rem;
        font-size:.24rem;
        font-family:PingFang-SC-Regular;
        font-weight:400;
        color:rgba(153,153,153,1);
        .margin-auto;
      }
      .commit-button{
        display: block;
        width: 3rem;
        height: .8rem;
        line-height: .8rem;
        margin-top: .51rem;
        background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
        border-radius:.4rem;
        font-size: .32rem;
        color: #ffffff;
        .margin-auto;
      }
    }
  }
</style>
