<template>
    <div class="order-list">
      <div class="orders"
           v-for="(item, index) of orderList"
           :key="index">
        <div class="order-content border-bottom">
          <div class="img-wrapper"><img class="img" :src="item.img" alt=""></div>
          <div class="right">
            <div class="title">
              {{item.title}}
            </div>
            <div class="rebate">
              返10元
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'OrderList',
  props: {
    orderList: {
      type: Array,
      default () {
        return [
          {
            id: '0001',
            img: '//jdc.jd.com/img/260x260?color=f2d428&text=2&textColor=ffffff',
            title: '蓝黛小棕瓶雅思蓝黛小雅思蓝黛小棕瓶雅思蓝黛小雅思懒癌',
            rebate: '10',
            status: '返现中',
            remain: '100',
            price: '1999'
          },
          {
            id: '0002',
            img: '//jdc.jd.com/img/260x260?color=f2d428&text=2&textColor=ffffff',
            title: '蓝黛小棕瓶雅思蓝黛小雅思蓝黛小棕瓶雅思蓝黛小雅思懒癌',
            rebate: '10',
            remain: '100',
            price: '1999'
          },
          {
            id: '0003',
            img: '//jdc.jd.com/img/260x260?color=f2d428&text=2&textColor=ffffff',
            title: '蓝黛小棕瓶雅思蓝黛小雅思蓝黛小棕瓶雅思蓝黛小雅思懒癌',
            rebate: '10',
            remain: '0',
            price: '1999'
          },
          {
            id: '0004',
            img: '//jdc.jd.com/img/260x260?color=f2d428&text=2&textColor=ffffff',
            title: '蓝黛小棕瓶雅思蓝黛小雅思蓝黛小棕瓶雅思蓝黛小雅思懒癌',
            rebate: '10',
            remain: '0',
            price: '1999'
          },
          {
            id: '0005',
            img: '//jdc.jd.com/img/260x260?color=f2d428&text=2&textColor=ffffff',
            title: '蓝黛小棕瓶雅思蓝黛小雅思蓝黛小棕瓶雅思蓝黛小雅思懒癌',
            rebate: '10',
            remain: '0',
            price: '1999'
          }
        ]
      }
    }
  },
  data () {
    return {
      datas: []
      // orderLists: [
      //   {
      //     id: '0001',
      //     img: '//jdc.jd.com/img/260x260?color=f2d428&text=2&textColor=ffffff',
      //     title: '蓝黛小棕瓶雅思蓝黛小雅思蓝黛小棕瓶雅思蓝黛小雅思懒癌',
      //     rebate: '10',
      //     status: '返现中',
      //     remain: '100',
      //     price: '1999'
      //   },
      //   {
      //     id: '0002',
      //     img: '//jdc.jd.com/img/260x260?color=f2d428&text=2&textColor=ffffff',
      //     title: '蓝黛小棕瓶雅思蓝黛小雅思蓝黛小棕瓶雅思蓝黛小雅思懒癌',
      //     rebate: '10',
      //     remain: '100',
      //     price: '1999'
      //   },
      //   {
      //     id: '0003',
      //     img: '//jdc.jd.com/img/260x260?color=f2d428&text=2&textColor=ffffff',
      //     title: '蓝黛小棕瓶雅思蓝黛小雅思蓝黛小棕瓶雅思蓝黛小雅思懒癌',
      //     rebate: '10',
      //     remain: '0',
      //     price: '1999'
      //   },
      //   {
      //     id: '0004',
      //     img: '//jdc.jd.com/img/260x260?color=f2d428&text=2&textColor=ffffff',
      //     title: '蓝黛小棕瓶雅思蓝黛小雅思蓝黛小棕瓶雅思蓝黛小雅思懒癌',
      //     rebate: '10',
      //     remain: '0',
      //     price: '1999'
      //   },
      //   {
      //     id: '0005',
      //     img: '//jdc.jd.com/img/260x260?color=f2d428&text=2&textColor=ffffff',
      //     title: '蓝黛小棕瓶雅思蓝黛小雅思蓝黛小棕瓶雅思蓝黛小雅思懒癌',
      //     rebate: '10',
      //     remain: '0',
      //     price: '1999'
      //   }
      // ]
    }
  },
}
</script>

<style lang="less" scoped>
  @import "../../assets/stylesheets/mixin.less";
  .order-list{
    overflow: hidden;
    .orders{
      overflow: hidden;
      width: 100%;
      height: 2.6rem;
      .order-content{
        width: 6.9rem;
        height: 2.6rem;
        box-sizing: border-box;
        padding-top: .3rem;
        padding-bottom: .3rem;
        .margin-auto;
        .img-wrapper{
          float: left;
          width: 2rem;
          height: 2rem;
          margin-right: .3rem;
          background: #333333;
          .img{
            width: 100%;
          }
        }
        .right{
          float: left;
          width: 4.6rem;
          height: 100%;
          position: relative;
          .title{
            overflow: hidden;
            width: 4.5rem;
            height: .8rem;
            line-height: .4rem;
            margin: 0 .35rem 0 0;
            font-size: .28rem;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            /*text-overflow: -o-ellipsis-lastline;*/
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .rebate{
            position: absolute;
            left: 0;
            bottom: 0;
            font-family:PingFang-SC-Medium;
            font-weight:500;
            color:rgba(254,30,30,1);
          }
        }
      }
    }
  }
</style>
