<template>
  <div class="process-bar">
    <div class="remain-num">剩余{{remain_num}}件</div>
    <div class="remain"
         :style="styleObj"
    ></div>
    <div class="point">{{ percentage }}</div>
  </div>
</template>

<script>
export default {
  name: 'ProcessBar',
  props: {
    datas: {
      type: Object,
      default () {
        return {
          used_num: 100,
          total_num: 200
        }
      }
    }
  },
  computed: {
    used_num () {
      return this.datas.used_num;
    },
    total_num () {
      return this.datas.total_num;
    },
    remain_num () {
      return this.total_num - this.used_num;
    },
    percentage: {
      get () {
        const point = Number.isNaN(this.remain_num / this.total_num) ? 0 : (this.remain_num / this.total_num);
        let str = Number(point * 100).toFixed(0);
        str += '%';
        return str;
      }
    },
    backgroundColor () {
      return this.remain_num === 0 ? '#FFF071' : '#FD575C';
    },
    styleObj () {
      return {
        width: `${this.percentage}`,
        backgroundColor: `${this.backgroundColor}`
      };
    }
  },
}
</script>

<style lang="less" scoped>
  .process-bar{
    position: relative;
    width: 2.8rem;
    height: .32rem;
    line-height: .32rem;
    background: rgba(255,240,113,1);
    border-radius: .2rem;
    .remain-num{
      position: absolute;
      left: .1rem;
      color: #ffffff;
    }
    .remain{
      float: left;
      height: 100%;
      font-size: .24rem;
      color: #ffffff;
      background: rgba(253,87,92,1);
      border-radius: .2rem;
      vertical-align: middle;
      padding-left: .2rem;
    }
    .point{
      position: absolute;
      vertical-align: middle;
      padding-right: .1rem;
      right: 0;
    }
  }
</style>
