<template>
  <div class="swiper">
    <swiper :options="swiperOption" ref="mySwiper">
      <!-- slides -->
      <swiper-slide
          v-for="(item, index) in swiperDatas.swiperImgs"
          :key="index"
      >
        <img @click="imgClick($event, item)" class="swiper-img" :src="item.img" alt="">
      </swiper-slide>
      <!-- Optional controls -->
      <div class="swiper-pagination"  slot="pagination"></div>
      <!--<div class="swiper-button-prev" slot="button-prev"></div>-->
      <!--<div class="swiper-button-next" slot="button-next"></div>-->
      <!--<div class="swiper-scrollbar"   slot="scrollbar"></div>-->
    </swiper>
    <slot name="myRebate"></slot>
  </div>
</template>

<script>
export default {
  props: {
    swiperDatas: {
      type: Object,
      default () {
        return {
          from: 'home',
          time: 3,
          swiperImgs: [
            {
              img: '//jdc.jd.com/img/750x305?color=f5d328&text=1&textColor=ffffff',
              url: '//dfas'
            }]
        }
      }
    }
  },
  computed: {
    showPagination: {
      get () {
        if (this.swiperDatas.from) {
          return ''
        }
      }
    }
  },
  data () {
    return {
      swiperOption: {
        pagination: '.swiper-pagination',
        paginationType: 'fraction',
        loop: 'true',
        autoplay: 3000
      }
    }
  },
  methods: {
    // 分页设置
    init () {
      if (this.swiperDatas.from === 'PointsDetail') {
        this.$set(this.swiperOption, 'paginationType', 'fraction') // 分数分页
      } else {
        this.$set(this.swiperOption, 'paginationType', 'bullets') // 圆点分页
      }
      if (this.swiperDatas.from === 'orderrebate') {
        this.$set(this.swiperOption, 'paginationType', 'bullets') // 圆点分页
      }
      if (this.swiperDatas.swiperImgs.length === 1) {
        this.$set(this.swiperOption, 'autoplay', false);
        this.$set(this.swiperOption, 'loop', 'false');
      }
    },
    imgClick ($event, item) {
      if (item.url) {
        window.location.href = item.url;
      }
    }
  },
  mounted () {
    this.init();
  }
}
</script>

<style lang="less" scoped>
  .swiper /deep/ .swiper-pagination-bullet-active{
    background:rgba(254,30,30,1) !important;
  }
  .swiper /deep/ .swiper-pagination-bullets{
    bottom: .14rem;
  }
  .swiper /deep/ .swiper-pagination-bullet{
    width: .12rem;
    height: .12rem;
    margin: 0 .03rem;
  }
  .swiper{
    position: relative;
  }
  .swiper-img{
    width: 100%;
  }
  .swiper-pagination-bulle{
    width:0.12rem;
    height:0.12rem;
    background:rgba(204,204,204,1);
  }
  .swiper-pagination-bulle-active{
    background:rgba(254,30,30,1) !important;
  }
</style>
