<template>
  <div class="condition">
    <div class="search_body">
      <div class="search_items">
        <label class="search_item clear">
          <span>活动名称：</span>
          <input type="text" v-model="event" />
        </label>
        <div class="search_time clear">
          <span class="fourCode">有效时间：</span>
          <div class="date-time-item">
            <input class="date-time-input"
                   placeholder="开始时间"
                   @click="show('startTime')"
                   v-model="startTime" readonly/>
            <data-time-picker ref="startTime"
                              v-model="startTime"
                              color="#02AD9F"
                              @confirm="selectStart"></data-time-picker>
          </div>
          <span class="time-middle">至</span>
          <div class="date-time-item">
            <input class="date-time-input"
                   placeholder="结束时间"
                   @click="show('endTime')"
                   v-model="endTime" readonly/>
            <data-time-picker ref="endTime"
                              v-model="endTime"
                              color="#02AD9F"
                              @confirm="selectEnd"></data-time-picker>
          </div>
        </div>
      </div>
      <div class="search_btn clear">
        <a href="javascript: void(0);" @click="handleNewClick">新建</a>
        <a href="javascript: void(0);" @click="handleSearchClick">查询</a>
      </div>
    </div>
    <v-table :columns="columns" :data="data" :page="page"></v-table>
  </div>
</template>
<style lang="less" scoped>
  .search_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    >*{
      flex-grow: 0;
      flex-shrink: 1;
    }
    .search_items{
      width: 1220px;
      >*{
        float: left;
      }
    }
    .search_btn{
      width: 380px;
    }
  }
</style>
<script>
/* eslint-disable no-param-reassign,import/extensions */

import page from '../../common/page';
import { timeNormalFormat } from '../../common/filter.js';

export default {
  mixins: [page],
  data() {
    return {
      event: '',
      startTime: '',
      endTime: '',
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '活动名称', data: 'event', class: 'large' },
      { title: '参与人数(个)', data: 'used_number' },
      { title: '奖励类型', data: 'reward_type' },
      { title: '单个奖励(元)', data: 'amount' },
      { title: '开始时间', data: 'start_time', class: 'large' },
      { title: '结束时间', data: 'end_time', class: 'large' },
      { title: '活动状态',
        data: 'event_status_desc',
        render(val) {
          if (val === '已上线') {
            return `<span style="color: #01B01E;">${val}</span>`;
          }
          return `<span style="color: #999999;">${val}</span>`;
        },
      },
      { title: '推广',
        class: 'smallest',
        click: 'handlePromoteClick', // 点击触发的事件
        render() {
          return '<span class="promote"></span>';
        },
      },
      { title: '编辑',
        class: 'smallest',
        click: 'handleEditClick',
        render() {
          return '<span class="edit"></span>';
        },
      },
      { title: '删除',
        class: 'smallest',
        data: 'event_status_desc',
        click: 'handleDeleteClick',
        render(val, item) {
          if (val === '已下线' || (val === '已上线' && item.used_number !== 0)) {
            return '<span class="noDelete"></span>';
          }
          return '<span class="delete"></span>';
        },
      }],
      data: [],
    };
  },
  components: {},
  methods: {
    showTips(data) {
      return data;
    },
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.endTime = timeNormalFormat(val);
    },
    selectStart(val) {
      this.startTime = timeNormalFormat(val);
    },
    handleSearchClick() {
      this.getList();
    },
    handleNewClick() {
      this.$router.push({
        path: '/evaluate/detail',
        query: {
          type: 'new',
        },
      });
    },
    handleEditClick(item) {
      const status = item.event_status_desc;
      let type = '';
      if (status === '已下线' || (status === '已上线' && item.used_number)) {
        type = 'edit_time';
      } else {
        type = 'edit';
      }
      this.$router.push({
        path: '/evaluate/detail',
        query: {
          type,
          detailInfo: JSON.stringify(item),
        },
      });
    },
    handlePromoteClick(item) {
      this.$router.push({
        path: '/rebate/promote',
        query: {
          from: 'rebateList',
          link: item.url,
        },
      });
    },
    handleDeleteClick(item) {
      const status = item.event_status_desc;
      if (status === '已下线' || (status === '已上线' && item.used_number !== 0)) {
        return;
      }
      const submitFn = (data) => {
        this.$http(this.$api.evaluateDeleteEvent, {
          event_id: data.event_id,
        })
          .then((res) => {
            if (res.status === 0) {
              this.getList();
            } else {
              this.showConfirm(res.msg);
            }
          });
      };
      this.showConfirm('确定删除？', {
        item,
        submitFn,
      });
    },
    getList() {
      const obj = {
        event: this.event,
        start_time: this.startTime,
        end_time: this.endTime,
        start: (this.page.curPage - 1) * this.page.prePage,
        length: this.page.prePage,
      };
      const callback = (data) => {
        data.forEach((item) => {
          if (item.s_amount === item.e_amount) {
            item.amount = item.s_amount.toString();
            item.reward_type = '固定金额';
          } else {
            item.amount = `${item.s_amount}-${item.e_amount}`;
            item.reward_type = '随机金额';
          }
          const startTime = new Date(item.start_time).getTime();
          const endTime = new Date(item.end_time).getTime();
          const nowTime = new Date().getTime();
          if (nowTime < startTime) {
            // eslint-disable-next-line no-param-reassign
            item.event_status_desc = '未上线';
          } else if (nowTime >= startTime && nowTime <= endTime) {
            // eslint-disable-next-line no-param-reassign
            item.event_status_desc = '已上线';
          } else {
            // eslint-disable-next-line no-param-reassign
            item.event_status_desc = '已下线';
          }
        });
      };
      this.getListData(this.$api.evaluateSelectEvent, obj, callback);
    },
  },
  created() {
    this.getList();
  },
};
</script>
