<template>
  <div class="infos">
    <div>
      <div>
        <h5>活动信息</h5>
      </div>
      <div>
        <div>活动名称： </div>
        <div>
          <input type="text" :readonly="readonly" v-model="info.event" />
          <message message="1-99个字符"></message>
        </div>
      </div>
      <div>
        <div>示例图：</div>
        <div>
          <div class="img-wrapper">
            <img :src="info.sample_graph" alt="">
            <!--<img src="../../../assets/example.jpg" alt="">-->
            <span v-if="readonly" class="delect-img" style="cursor: not-allowed"></span>
            <span v-if="!sample_graph_url && !readonly" class="delect-img" @click="handleDeleteClick"></span>
          </div>
          <div v-if="readonly" style="cursor: not-allowed" class="imgUpload-btn">上传示例图</div>
          <file-upload
            ref="upload1"
            :size="1024 * 1024"
            class="imgUpload-btn"
            v-model="files"
            v-else
            @input-file="inputFileExample"
            @input-filter="inputFilterExample"
          >
            上传示例图
          </file-upload>
          <span class="tip">（图片格式仅限jpg、jpeg、png格式，文件最大为5M）</span>
        </div>
      </div>
      <div>
      </div>
    </div>
    <div>
      <div>
        <div>有效时间：</div>
        <div class="times">
          <div class="date-time-item" style="margin-right: 20px;">
            <input class="date-time-input" v-if="readonly" placeholder="开始时间" v-model="info.start_time" readonly/>
            <input class="date-time-input" v-else placeholder="开始时间" @click="show('startTime')" v-model="info.start_time" readonly/>
            <data-time-picker ref="startTime"
                              v-model="info.start_time"
                              color="#02AD9F"
                              @confirm="selectStart"></data-time-picker>
          </div>
          <div style="line-height: 36px; margin: 0 10px">至</div>
          <div class="date-time-item">
            <input class="date-time-input" placeholder="结束时间" @click="show('endTime')" v-model="info.end_time" readonly/>
            <data-time-picker ref="endTime"
                              v-model="info.end_time"
                              color="#02AD9F"
                              @confirm="selectEnd"></data-time-picker>
          </div>
        </div>
      </div>
      <div>
        <div>奖励类型：</div>
        <div class="standard">
          <input :readonly="readonly" v-model="radio" type="radio" value="固定金额">
          <span>固定金额</span>
          <input :readonly="readonly" v-model="radio" type="radio" value="随机金额">
          <span>随机金额</span>
        </div>
      </div>
      <div class="reward">
        <div>单个奖励：</div>
        <div>
          <div v-if="radio === '固定金额'">
            <input :readonly="readonly" v-model="info.amount" type="number">
            <span>元</span>
            <message message="1-20元"></message>
          </div>
          <div v-if="radio === '随机金额'">
            <input :readonly="readonly" v-model="info.s_amount" type="number">
            <span style="margin: 0 5px">至</span>
            <input :readonly="readonly" v-model="info.e_amount" type="number">
            <span>元</span>
            <message message="1-20元"></message>
          </div>
        </div>
      </div>
      <div class="permission">
        <div>单笔订单限制：</div>
        <div>
          <label for="">
            <a href="javascript:;" ref="shop" @click="handleSlideClick($event, 0)"><i class="iconfont icon-jia"></i></a>
            <input v-model="shows.shop" class="checkbox" :disabled="readonly" type="checkbox" @click="shopsCheckAll($event, 0)">
            <span>店铺限制</span>
            <div v-if="shows.shop_checkAll" class="shop_slide">
              <item-scroll :readonly="readonly" :tag="shows.shop" :data="shops"></item-scroll>
              <!--<item-scroll></item-scroll>-->
            </div>
          </label>
          <label for="">
            <a href="javascript:;" @click="handleSlideClick($event, 1)"><i class="iconfont icon-jia"></i></a>
            <input v-model="shows.goods" :disabled="readonly"  class="checkbox" type="checkbox">
            <span>商品限制</span>
            <div v-if="shows.goods" class="slide_goods">
              <input placeholder='请输入完整的ID，多个ID以英文","隔开'
                     :readonly="readonly"
                     v-model="info.commodity" type="text">
              <span class="tip">（请输入完整的商品ID，多个ID以英文“,”隔开）</span>
            </div>
          </label>
        </div>
      </div>
      <a class="btn save" @click="handleSaveClick">保存</a>
      <a class="btn back" @click="handleBackClick">取消</a>
    </div>
  </div>
</template>
<style lang="less" scoped>
  @import "../../common/mixin";
  .infos /deep/ .container_message{
    display: inline-block !important;
  }
  .tip{
    display: inline-block !important;
    font-size: 14px;
    color: #a0a0a0;
    vertical-align: sub;
  }
  .btn{
    display: inline-block;
    width:100px;
    height:32px;
    margin-top: 30px;
    border-radius:6px;
    cursor: pointer;
    .text-center(32px);
  }
  .save{
    color: white;
    margin-left: 200px;
    background:rgba(2,173,159,1);
  }
  .back{
    margin-left: 30px;
    color:rgba(153,153,153,1);
    background:rgba(238,238,238,1);
  }
  .reward{
    >div:nth-child(2){
      >div:nth-child(1){
        input{
          width: 87px;
          height: 36px;
          border: 1px solid #ddd;
        }
      }
      >div:nth-child(2){
        input{
          width: 74px;
          height: 36px;
          border: 1px solid #ddd;
        }
      }
    }
  }
  .permission{
    >div:nth-child(2){
      display: flex;
      flex-direction: column;
      label{
        .checkbox{
          margin-left: 5px;
          vertical-align: text-bottom;
        }
        span{
          margin-left: 5px;
        }
        .shop_slide{
          width: 200px;
          margin-top: 10px;
          margin-left: 52px;
        }
        &:nth-child(2){
          margin-top: 10px;
          .slide_goods{
            input{
              width: 303px;
              height: 36px;
              margin-top: 10px;
              margin-left: 52px;
              border: 1px solid rgba(221,221,221,1);
            }
          }
        }
      }
    }
  }
  .img-wrapper{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    box-sizing: border-box;
    /*border:1px solid rgba(221,221,221,1);*/
    .delect-img{
      position: absolute;
      width: 18px;
      height: 18px;
      margin-top: -9px;
      margin-right: -9px;
      top: 0;
      right: 0;
      background: url('../../../assets/delect.png') no-repeat;
      background-size: 100% 100%;
      cursor: pointer;
    }
    img{
      max-width: 100%;
      height: auto;
    }
  }
  .imgUpload-btn{
    display: inline-block !important;
    width: 110px;
    height: 24px;
    line-height: 24px;
    border: 1px solid rgba(221,221,221,1);
    border-radius:12px;
    margin-top: 10px;
    margin-left: -12px;
    font-size:12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color: rgba(51,51,51,1);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }
  // 崔
  .infos{
    overflow: hidden;
    background: #F6F6F6 !important;
    position: relative;
    >div{
      background: #fff;
    }
    >div:first-child{
      margin-top: 10px;
      padding: 10px 0 20px 50px;
      >div{
        min-height: 36px;
        padding: 5px 0 10px;
        h5{
          width: 160px;
          font-weight: 600;
          text-align: right;
          font-size: 16px;
          line-height: 36px;
        }
        >div:first-child{
          width: 180px;
          font-size: 17px;
          line-height: 36px;
          text-align: right;
          float: left;
        }
        >div:nth-child(2){
          float: left;
          width: 600px;
          min-height: 36px;
          padding-left: 10px;
          *{
            display: block;
            /*float: left;*/
          }
          input{
            display: inline-block;
            width: 360px;
            height: 36px;
            line-height: 34px;
            border: 1px solid #ddd;
          }
          img{
            width: 60px;
            height: 60px;
            border: 1px solid #ddd;
            margin-right: 10px;
          }
        }
        a{
          display: block;
          width: 100px;
          height: 36px;
          border-radius: 18px;
          background: #02AD9F;
          color: #fff;
          float: left;
          text-align: center;
          line-height: 36px;
        }
      }
      .tips{
        min-height: 15px;
        line-height: 15px;
        padding: 0 0 15px;
        p{
          width: 100%;
          padding-left: 190px;
          font-size: 15px;
          color: #FD8D0A;
        }
      }
      .imgs{
        min-height: 62px;
        >div:first-child{
          line-height: 62px;
        }
      }
      .price{
        input{
          width: 90px !important;
        }
      }
    }
    >div:nth-child(2){
      margin-top: 10px;
      padding: 10px 0 20px 50px;
        input[type='radio']{
          width: 18px;
          height: 18px;
          border:1px solid rgba(102,102,102,1);
          border-radius: 50%;
          outline: none;
          -webkit-appearance:none;
        }
        input[type=radio]:checked{
          background-size: 90% 90%;
          background: url("../../../assets/input_radio_select.png") no-repeat center;
        }
      >div{
        min-height: 36px;
        padding: 5px 0 10px;
        >div:first-child{
          width: 180px;
          min-height: 36px;
          font-size: 17px;
          line-height: 36px;
          text-align: right;
          float: left;
          margin-right: 10px;
        }
        .showMsg{
          width: 60px;
          position: relative;
          min-height: 36px;
          text-align: left;
          font-size: 14px;
          line-height: 36px;
          color: #02ad9f;
          float: left;
          >*{
            float: left;
          }
          >div{
            position: absolute;
            top: 50%;
            left: 40px;
            transform: translateY(-50%);
          }
        }
        .type{
          min-height: 36px;
          min-width: 200px;
          float: left;
          label{
            display: flex;
            height: 36px;
            align-items: center;
            justify-content: space-between;
            float: left;
          }
          label:first-child{
            width: 70px;
            >div{
              width: 10px;
              height: 10px;
              padding: 3px;
              border: 1px solid #666;
              border-radius: 50%;
              span{
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #02AD9F ;
              }
            }
            input[type='radio']{
              display: none;
            }
            >span{
              display: block;
              width: 50px;
              text-align: center;
            }
          }
          label:nth-child(2){
            width: 110px;
            span{
              display: block;
              width: 30px;
              line-height: 36px;
              text-align: center;
            }
          }
          label:nth-child(3){
            padding-left: 10px;
            width: 170px;
            margin-right: 20px;
            input{
              width: 80px;
              height: 36px;
              padding: 0 5px;
              line-height: 34px;
              border: 1px solid #ddd;
            }
          }
        }
        .standard{
          display: inline-block;
          line-height: 36px;
          select{
            display: block;
            width: 100px;
            height: 36px;
            margin-right: 10px;
            padding: 0 5px;
            border: 1px solid #ddd;
            float: left;
          }
          input{
            vertical-align: text-bottom;
          }
          span{
            margin: 0 30px 0 10px;
            font-size: 16px;
            color: rgba(51,51,51,1);
          }
        }
        .times{
          >*{
            float: left;
          }
          input{
            width: 180px;
          }
          >div:first-child{
            input{
              margin: 0 10px 0 0;
            }
          }
          span{
            line-height: 36px;
          }
        }
        .limit{
          min-height: 36px;
          min-width: 110px;
          float: left;
          margin-right: 20px;
          label{
            display: flex;
            height: 36px;
            align-items: center;
            justify-content: space-between;
            float: left;
          }
          label{
            width: 110px;
            >div{
              position: relative;
              width: 10px;
              height: 10px;
              padding: 3px;
              border: 1px solid #666;
              border-radius: 50%;
              span{
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #02AD9F ;
                cursor: pointer;
              }
              .hidden{
                z-index: 10;
                position: absolute;
                top: 0;
                left: 0;
                width: 18px;
                height: 18px;
                visibility: hidden;
              }
            }
            input[type='radio']{
              display: none;
            }
            >span{
              display: block;
              width: 80px;
              text-align: left;
            }
          }
        }
        .limit_choose{
          line-height: 36px;
          *{
            display: block;
            float: left;
          }
          label{
            margin-right: 30px;
          }
          input{
            margin: 0 10px;
          }
          input[type='checkbox']{
            width: 20px;
            height: 20px;
            margin: 8px 10px 0 0;
          }
        }
      }
    }
    >div:nth-child(3){
      margin-top: 10px;
      padding: 10px 0 20px 50px;
      >div {
        min-height: 36px;
        padding: 5px 0 10px;
        > div:first-child {
          width: 180px;
          min-height: 36px;
          font-size: 17px;
          line-height: 36px;
          text-align: right;
          float: left;
          margin-right: 10px;
        }
        >div:nth-child(2){
          position: relative;
          p{
            position: absolute;
            bottom: 5px;
            left: 193px;
            color: #999;
            font-size: 12px;
            line-height: 20px;
          }
        }
        >a{
          display: block;
          width: 80px;
          height: 32px;
          border-radius: 5px;
          font-size: 16px;
          line-height: 32px;
          float: left;
          text-align: center;
          background: #02ad9f;
          color: #fff;
        }
        textarea{
          font-size: 12px;
          line-height: 24px;
          padding-bottom: 28px;
        }
      }
    }
    >a{
      display: block;
      width: 80px;
      height: 32px;
      border-radius: 5px;
      line-height: 32px;
      text-align: center;
      background: #02ad9f;
      color: #fff;
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
</style>
<script>
/* eslint-disable no-param-reassign,camelcase */

import message from '../../common/message';
import ItemScroll from '../../common/ItemScroll';
import axios from 'axios';

export default {
  components: {
    ItemScroll,
    message,
  },
  data() {
    return {
      files: [],
      radio: '固定金额',
      readonly: false,
      type: '', // 区分新建和修改
      shows: { shop: false, goods: false, shop_checkAll: false }, // 显示店铺限制商品限制
      endTime: '',
      startTime: '',
      sample_graph_url: '',
      shops: [], // 可选店铺
      info: {
        commodity: '',
        create_time: '',
        e_amount: null, // 价格上限
        amount: null, // 价格
        end_time: '',
        event: '',
        event_id: null,
        is_del: null,
        modify_time: '',
        s_amount: null, // 价格下限
        // eslint-disable-next-line global-require
        sample_graph: require('../../../assets/example.jpg'),
        shop: '',
        start_time: '',
        url: '',
        status: '',
        event_status_desc: '',
        reward_type: '',
        used_number: null,
      }, // 存放编辑的数据
    };
  },
  computed: {},
  methods: {
    inputFile(newFile, oldFile) {
      if (newFile && !oldFile) {
        const reader = new FileReader();
        reader.readAsDataURL(newFile.file);
        reader.addEventListener('load', () => {
          this.$nextTick(() => {
            // this.list.gift_cove = reader.result;
          });
        }, false);
        this.formData = new FormData();
        this.formData.append('file', newFile.file);
      }
    },
    inputFilter(newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        // 过滤不是图片后缀的文件
        if (!/\.(jpeg|jpe|jpg)$/i.test(newFile.name)) {
          return prevent();
        }
      }
      return null;
    },
    inputFileExample(newFile, oldFile) {
      if (newFile && !oldFile) {
        const reader = new FileReader();
        reader.readAsDataURL(newFile.file);
        reader.addEventListener('load', () => {
          this.$nextTick(() => {
            this.info.sample_graph = reader.result;
          });
        }, false);
        this.formData = new FormData();
        this.formData.append('file', newFile.file);
        const config = {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        };
        axios.post('pc/creditsManage/image_upload', this.formData, config)
          .then((res) => {
            if (res.data.status === 0) {
              this.sample_graph_url = `http://${window.location.host}${res.data.data}`;
              this.showConfirm('上传成功');
            } else {
              this.showConfirm(res.data.msg || res.data.data);
            }
          });
      }
    },
    inputFilterExample(newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        // 过滤不是图片后缀的文件
        if (!/\.(jpeg|jpg|png)$/i.test(newFile.name)) {
          this.showConfirm('图片格式不正确');
          return prevent();
        }
        console.log(newFile);
        if (newFile.size > 1024 * 1024) {
          this.showConfirm('请上传小于1Mb图片');
          return prevent();
        }
      }
      return null;
    },
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      const start_time = new Date(this.info.start_time).getTime();
      const end_time = new Date(val).getTime();
      if (end_time < start_time) {
        this.showConfirm('结束时间应大于起始时间');
        return;
      }
      if (this.type === 'edit_time') {
        const old_end_time = new Date(this.info.end_time);
        if (old_end_time > end_time) {
          this.showConfirm('结束时间应大于当前结束时间');
          return;
        }
      }
      this.info.end_time = val;
    },
    selectStart(val) {
      const start_time = new Date(val).getTime();
      const end_time = new Date(this.info.end_time).getTime();
      const now_time = new Date().getTime() - 50000;
      if (start_time < now_time) {
        this.showConfirm('起始时间应大于当前时间');
        return;
      }
      if (end_time < start_time) {
        this.showConfirm('结束时间应大于起始时间');
        return;
      }
      this.info.start_time = val;
    },
    back() {
      this.$parent.changeOperate('');
    },
    save() {
      // d
    },
    // 店铺全选
    shopsCheckAll($event, index) {
      if (!this.shows.shop_checkAll) {
        this.handleSlideClick($event, index);
      }
      this.$nextTick(() => {
        this.$children[5].checkAll();
      });
    },
    handleSlideClick($event, index) {
      $event.srcElement.className = $event.srcElement.className.replace(/icon-jia/, 'icon-jian');
      $event.srcElement.className = $event.srcElement.className.replace(/icon-jian/, 'icon-jia');
      if (index === 0) {
        this.shows.shop_checkAll = !this.shows.shop_checkAll;
      } else if (index === 1) {
        this.shows.goods = !this.shows.goods;
      }
    },
    init() {
      this.type = this.$route.query.type;
      if (this.$route.query.detailInfo) {
        const data = JSON.parse(this.$route.query.detailInfo);
        if (data.start_time) {
          data.start_time = data.create_time.replace(/(.*:\d{2}):.*/, '$1');
        }
        if (data.end_time) {
          data.end_time = data.end_time.replace(/(.*:\d{2}):.*/, '$1');
        }
        this.info = data;
      }
      if (this.info.commodity) {
        this.shows.goods = true;
      }
      if (this.info.shop_id) {
        this.$nextTick(() => {
          this.$refs.shop.click();
          const idArr = this.info.shop_id.split(',');
          console.log(this.$children);
          console.log(this.$children[4].checkList);
          this.$children[4].checkShopById(idArr);
        });
      }
      if (this.type === 'edit') {
        if (!this.info.sample_graph) {
          // eslint-disable-next-line global-require
          this.info.sample_graph = require('../../../assets/example.jpg');
        }
      } else if (this.type === 'edit_time') {
        this.readonly = true;
        if (!this.info.sample_graph) {
          // eslint-disable-next-line global-require
          this.info.sample_graph = require('../../../assets/example.jpg');
        }
      }
      // 获取店铺信息
      this.$http(this.$api.evaluateSelectShop)
        .then((res) => {
          if (res.status === 0) {
            this.shops = res.data;
            this.shops.forEach((item) => {
              this.$set(item, 'check', false);
            });
          } else {
            this.showConfirm(res.msg);
          }
        });
    },
    handleDeleteClick() {
      if (this.info.sample_graph) {
        // eslint-disable-next-line global-require
        this.info.sample_graph = require('../../../assets/example.jpg');
      }
    },
    handleSaveClick() {
      const obj = {
        event: this.info.event,
        sample_graph: this.sample_graph_url,
        start_time: this.info.start_time,
        end_time: this.info.end_time,
        s_amount: this.info.s_amount,
        e_amount: this.info.e_amount,
        shop: '',
        shop_id: '',
        commodity: this.info.commodity,
      };
      if (!this.info.s_amount) {
        obj.s_amount = parseInt(this.info.e_amount, 10);
      }
      if (this.info.amount && !this.info.s_amount && !this.info.e_amount) {
        obj.s_amount = parseInt(this.info.amount, 10);
        obj.e_amount = parseInt(this.info.amount, 10);
      }
      if (this.$children[5]) {
        const checkList = this.$children[5].checkList;
        checkList.forEach((item) => {
          if (item.check) {
            obj.shop += `${item.shop_name},`;
            obj.shop_id += `${item.id},`;
          }
        });
        obj.shop = obj.shop.substring(obj.shop.length - 1, -1);
        obj.shop_id = obj.shop_id.substring(obj.shop_id.length - 1, -1);
      }
      const checkListObj = {
        event: {
          none: '请输入活动名称',
        },
        start_time: {
          none: '请选择开始时间',
        },
        end_time: {
          none: '请选择结束时间',
        },
        s_amount: {
          none: '请输入单个奖励下限',
        },
        e_amount: {
          none: '请输入单个奖励上限',
        },
      };
      const check = () => {
        // eslint-disable-next-line no-restricted-syntax
        for (const key in checkListObj) {
          if (!obj[key]) {
            this.showConfirm(checkListObj[key].none);
            return false;
          }
        }
        console.log(obj);
        if (!/.{1,99}/.test(obj.event)) {
          this.showConfirm('活动名称请输入1-99个字符');
          return false;
        }
        const amount = this.info.amount;
        if (obj.e_amount < obj.s_amount) {
          this.showConfirm('单个奖励上限应大于下线');
          return false;
        } else if (!this.info.amount && (obj.e_amount === obj.s_amount)) {
          this.showConfirm('请输入单个奖励');
          return false;
        } else if (amount > 20 || amount <= 0) {
          this.showConfirm('奖励金额限制1-20元');
          return false;
        } else if (/\./.test(amount)) {
          this.showConfirm('奖励金额限制正整数');
          return false;
        }
        return true;
      };
      if (check()) {
        if (this.type === 'new') {
          this.$http(this.$api.evaluateAddEvent, obj)
            .then((res) => {
              if (res.status === 0) {
                this.showConfirm('创建成功');
              } else {
                this.showConfirm(res.msg);
              }
            });
        } else if (this.type === 'edit') {
          obj.event_id = this.info.event_id;
          this.$http(this.$api.evaluateUpdateEvent, obj)
            .then((res) => {
              if (res.status === 0) {
                this.showConfirm('修改成功');
              } else {
                this.showConfirm(res.msg);
              }
            });
        } else if (this.type === 'edit_time') { // 已下线或已上线参与次数为0
          this.$http(this.$api.evaluateUpdateEventTime, {
            event_id: this.info.event_id,
            end_time: this.info.end_time,
          })
            .then((res) => {
              if (res.status === 0) {
                this.showConfirm('修改成功');
              } else {
                this.showConfirm(res.msg);
              }
            });
        }
      }
    },
    handleBackClick() {
      this.$router.go(-1);
    },
  },
  created() {
    this.init();
  },
};
</script>

