<template>
  <div class="condition">
    <div class="search_body search_items clear">
      <div class="search_item clear">
        <select v-model="search_select">
          <option value="event">活动名称</option>
          <option value="order_id">订单号</option>
          <option value="nickname">微信昵称</option>
          <option value="shop_name">店铺名称</option>
        </select>
        <input v-model="search" type="text">
      </div>
      <label class="search_status clear">
        <span style="text-align: right">状态：</span>
        <select v-model="status">
          <option value="">全部</option>
          <option value="审核成功">审核成功</option>
          <option value="自动审核失败">自动审核失败</option>
          <option value="人工审核失败">人工审核失败</option>
          <option value="返利中">返利中</option>
          <option value="已返利">已返利</option>
          <option value="返利失败">返利失败</option>
        </select>
      </label>
    </div>
    <div class="search_body itemAndBtns">
      <div class="search_time clear">
        <span class="fourCode">提交时间：</span>
        <div class="date-time-item">
          <input class="date-time-input"
                 placeholder="开始时间"
                 @click="show('startTime')"
                 v-model="start_time" readonly/>
          <data-time-picker ref="startTime"
                            v-model="start_time"
                            color="#02AD9F"
                            @confirm="selectStart"></data-time-picker>
        </div>
        <span class="time-middle">至</span>
        <div class="date-time-item">
          <input class="date-time-input"
                 placeholder="结束时间"
                 @click="show('endTime')"
                 v-model="end_time" readonly/>
          <data-time-picker ref="endTime"
                            v-model="end_time"
                            color="#02AD9F"
                            @confirm="selectEnd"></data-time-picker>
        </div>
      </div>
      <div class="search_btn clear">
        <a href="javascript: void(0);" @click="handleRebateClick">返利</a>
        <a href="javascript: void(0);" @click="exportDatas">导出</a>
        <a href="javascript: void(0);" @click="handleSeachClick">查询</a>
      </div>
    </div>
    <v-table :showChoose="true" :columns="columns" :data="data" :page="page"></v-table>
  </div>
</template>
<style lang="less" scoped>
  .search_items{
    >*{
      float: left;
    }
    .search_item{
      width: 490px;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  .itemAndBtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
<script>
/* eslint-disable no-param-reassign,import/extensions */

import page from '../../common/page';
import { timeNormalFormat } from '../../common/filter.js';

export default {
  mixins: [page],
  components: {},
  data() {
    return {
      search: '',
      search_select: 'event',
      event: '',
      start_time: '',
      end_time: '',
      status: '',
      columns: [{
        title: '序号', // 标题
        data: 'no', // 对应数据的key
        class: 'smallest',
        render(val) {
          return val;
        }, // 渲染函数
      },
      { title: '活动名称', data: 'event', class: 'large noTooLong' },
      { title: '订单号', data: 'tid' },
      { title: '微信头像',
        data: 'headimgurl',
        class: 'small headImg',
        render(val) {
          return `<img src="${val}"/>`;
        },
      },
      { title: '微信昵称',
        data: 'nickname',
        class: 'noTooLong',
      },
      { title: '提交时间', data: 'create_time', class: 'large' },
      { title: '所属店铺', data: 'seller_nick', class: 'large noTooLong' },
      { title: '好评截图',
        data: 'screenshot',
        class: 'small headImg',
        render(val) {
          return `<img src=${val} />`;
        },
      },
      { title: '评价信息', data: 'comment', class: 'large' },
      { title: '返利金额(元)', data: 'amount', class: 'small noTooLong' },
      { title: '状态',
        data: 'record_status_desc',
        class: 'small',
        render(val) {
          if (val === '审核成功' || val === '返利中' || val === '已返利') {
            return `<span style="color: #01B01E;">${val}</span>`;
          }
          return `<span style="color: #DC5F4D;">${val}</span>`;
        },
      },
      { title: '操作',
        data: 'record_status',
        class: 'small',
        click: 'handleShowClick', // 点击触发的事件
        render(val) { // 状态:1审核成功；2自动审核失败；3人工审核失败；4返利中；5已返利；6返利失败
          if (val === 6) {
            return `<div style="display: flex; justify-content: center;">
                          <span  data-index="1" style="cursor: pointer; padding: 3px; color: #FBAB00                          ">重返</span>
                          <span data-index="2" style="cursor: pointer; padding: 3px; color: #02AD9F; ">查看</span>
                        </div>`;
          }
          return '<span style="color: #02AD9F; cursor: pointer;">查看</span>';
        },
      }],
      data: [],
    };
  },
  methods: {
    handleShowClick(data, index) {
      // 状态:1审核成功；2自动审核失败；3人工审核失败；4返利中；5已返利；6返利失败
      if (data.record_status === 1) {
        this.$modal.show({
          template: `
        <div>
          <div class="modal_head_back">
            <i class="iconfont icon-delete" @click="back"></i>
          </div>
          <div class="modal_body_evaluate">
            <div class="modal_body_container">
              <div class="title">
                <span>状态：{{text.record_status_desc}}</span>
              </div>
              <div class="info_middle">
                <span>评价信息</span>
                <div class="middle_wrapper">
                  <div class="middle_info_item">
                    <span>评价内容</span>
                    <p>{{text.comment}}</p>
                  </div>
                  <div class="middle_info_item">
                    <span>评价等级</span>
                    <p>{{text.result_desc}}</p>
                  </div>
                  <div class="middle_info_item">
                    <span>评价时间</span>
                    <p>{{text.comment_time}}</p>
                  </div>
                </div>
              </div>
              <div class="info_bottom">
                <div class="info_bottom_left">
                  <span>评价信息</span>
                  <div class="info_bottom_left_main">
                    <span>订单号：{{text.tid}}</span>
                    <span>买家账号：{{text.buyer_nick}}</span>
                    <span>下单时间：{{text.pay_time}}</span>
                    <span>订单状态：{{text.status_desc}}</span>
                  </div>
                </div>
                <div class="info_bottom_right">
                  <span>上传图片</span>
                  <div class="img_wrapper">
                    <img :src="text.screenshot" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      `,
          props: ['text'],
          methods: {
            back() {
              this.$emit('close');
            },
          },
        }, {
          text: data,
        }, {
          width: '640px',
          height: '500px',
          pivotX: 0.6,
          pivotY: 0.3,
          // classes: 'v-modal-order',
        });
      } else if (data.record_status === 2) {
        this.$modal.show({
          template: `
        <div>
          <div class="modal_head_back">
            <i class="iconfont icon-delete" @click="back"></i>
          </div>
          <div class="modal_body_evaluate">
            <div class="modal_body_container">
              <div class="title">
                <span>状态：{{text.record_status_desc}}</span>
                <span>({{text.reason}})</span>
              </div>
              <div class="info_middle">
                <span>评价信息</span>
                <div class="middle_wrapper">
                  <div class="middle_info_item">
                    <span>评价内容</span>
                    <p>{{text.comment}}</p>
                  </div>
                  <div class="middle_info_item">
                    <span>评价等级</span>
                    <p>{{text.result_desc}}</p>
                  </div>
                  <div class="middle_info_item">
                    <span>评价时间</span>
                    <p>{{text.comment_time}}</p>
                  </div>
                </div>
              </div>
              <div class="info_bottom">
                <div class="info_bottom_left">
                  <span>评价信息</span>
                  <div class="info_bottom_left_main">
                    <span>订单号：{{text.tid}}</span>
                    <span>买家账号：{{text.buyer_nick}}</span>
                    <span>下单时间：{{text.pay_time}}</span>
                    <span>订单状态：{{text.status_desc}}</span>
                  </div>
                </div>
                <div class="info_bottom_right">
                  <span>上传图片</span>
                  <div class="img_wrapper">
                    <img :src="text.screenshot" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal_footer_order">
            <a class="noConfirm" href="javascript:void(0);" @click="cancel">确定失败</a>
            <a class="confirm" href="javascript:void(0);" @click="submit">审核通过</a>
          </div>
        </div>
      `,
          props: ['text'],
          methods: {
            back() {
              this.$emit('close');
            },
            submit() {
              this.$http(this.$api.evaluateApprove, {
                id: data.id,
                event_id: data.event_id,
              })
                .then((res) => {
                  if (res.status === 0) {
                    this.showConfirm('人工审核通过');
                    this.getList();
                  } else {
                    this.showConfirm(res.msg);
                  }
                });
              this.$emit('close');
            },
            cancel() {
              this.$http(this.$api.evaluateUnapprove, {
                id: data.id,
              })
                .then((res) => {
                  if (res.status === 0) {
                    this.showConfirm('人工审核不通过');
                    this.getList();
                  } else {
                    this.showConfirm(res.msg);
                  }
                });
              this.$emit('close');
            },
          },
        }, {
          text: data,
        }, {
          width: '600px',
          height: '560px',
          pivotX: 0.6,
          pivotY: 0.3,
          // classes: 'v-modal-order',
        });
      } else if (data.record_status === 3) {
        this.$modal.show({
          template: `
        <div>
          <div class="modal_head_back">
            <i class="iconfont icon-delete" @click="back"></i>
          </div>
          <div class="modal_body_evaluate">
            <div class="modal_body_container">
              <div class="title">
                <span>状态：{{text.record_status_desc}}</span>
                <span>({{text.reason}}})</span>
              </div>
              <div class="info_middle">
                <span>评价信息</span>
                <div class="middle_wrapper">
                  <div class="middle_info_item">
                    <span>评价内容</span>
                    <p>{{text.result}}</p>
                  </div>
                  <div class="middle_info_item">
                    <span>评价等级</span>
                    <p>{{text.result_desc}}</p>
                  </div>
                  <div class="middle_info_item">
                    <span>评价时间</span>
                    <p>{{text.comment_time}}</p>
                  </div>
                </div>
              </div>
              <div class="info_bottom">
                <div class="info_bottom_left">
                  <span>评价信息</span>
                  <div class="info_bottom_left_main">
                    <span>订单号：{{text.tid}}</span>
                    <span>买家账号：{{text.buyer_nick}}</span>
                    <span>下单时间：{{text.pay_time}}</span>
                    <span>订单状态：{{text.record_status_desc}}</span>
                  </div>
                </div>
                <div class="info_bottom_right">
                  <span>上传图片</span>
                  <div class="img_wrapper">
                    <img :src="text.screenshot" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      `,
          props: ['text'],
          methods: {
            back() {
              this.$emit('close');
            },
          },
        }, {
          text: data,
        }, {
          width: '640px',
          height: '500px',
          pivotX: 0.6,
          pivotY: 0.3,
          // classes: 'v-modal-order',
        });
      } else if (data.record_status === 4) {
        this.$modal.show({
          template: `
        <div>
          <div class="modal_head_back">
            <i class="iconfont icon-delete" @click="back"></i>
          </div>
          <div class="modal_body_evaluate">
            <div class="modal_body_container">
              <div class="title">
                <span>状态：{{text.record_status_desc}}</span>
              </div>
              <div class="info_middle">
                <span>评价信息</span>
                <div class="middle_wrapper">
                  <div class="middle_info_item">
                    <span>评价内容</span>
                    <p>{{text.comment}}</p>
                  </div>
                  <div class="middle_info_item">
                    <span>评价等级</span>
                    <p>{{text.result_desc}}</p>
                  </div>
                  <div class="middle_info_item">
                    <span>评价时间</span>
                    <p>{{text.comment_time}}</p>
                  </div>
                </div>
              </div>
              <div class="info_bottom">
                <div class="info_bottom_left">
                  <span>评价信息</span>
                  <div class="info_bottom_left_main">
                    <span>订单号：{{text.tid}}</span>
                    <span>买家账号：{{text.buyer_nick}}</span>
                    <span>下单时间：{{text.pay_time}}</span>
                    <span>订单状态：{{text.status_desc}}</span>
                  </div>
                </div>
                <div class="info_bottom_right">
                  <span>上传图片</span>
                  <div class="img_wrapper">
                    <img :src="text.screenshot" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      `,
          props: ['text'],
          methods: {
            back() {
              this.$emit('close');
            },
          },
        }, {
          text: data,
        }, {
          width: '640px',
          height: '500px',
          pivotX: 0.6,
          pivotY: 0.3,
          // classes: 'v-modal-order',
        });
      } else if (data.record_status === 5) {
        this.$modal.show({
          template: `
        <div>
          <div class="modal_head_back">
            <i class="iconfont icon-delete" @click="back"></i>
          </div>
          <div class="modal_body_evaluate">
            <div class="modal_body_container">
              <div class="title">
                <span>状态：{{text.record_status_desc}}</span>
              </div>
              <div class="info_middle">
                <span>评价信息</span>
                <div class="middle_wrapper">
                  <div class="middle_info_item">
                    <span>评价内容</span>
                    <p>{{text.comment}}</p>
                  </div>
                  <div class="middle_info_item">
                    <span>评价等级</span>
                    <p>{{text.result_desc}}</p>
                  </div>
                  <div class="middle_info_item">
                    <span>评价时间</span>
                    <p>{{text.comment_time}}</p>
                  </div>
                </div>
              </div>
              <div class="info_bottom">
                <div class="info_bottom_left">
                  <span>评价信息</span>
                  <div class="info_bottom_left_main">
                    <span>订单号：{{text.tid}}</span>
                    <span>买家账号：{{text.buyer_nick}}</span>
                    <span>下单时间：{{text.pay_time}}</span>
                    <span>订单状态：{{text.status_desc}}</span>
                  </div>
                </div>
                <div class="info_bottom_right">
                  <span>上传图片</span>
                  <div class="img_wrapper">
                    <img style="width: 100%; height: 100%;" :src="text.screenshot" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      `,
          props: ['text'],
          methods: {
            back() {
              this.$emit('close');
            },
          },
        }, {
          text: data,
        }, {
          width: '640px',
          height: '500px',
          pivotX: 0.6,
          pivotY: 0.3,
          // classes: 'v-modal-order',
        });
      } else if (data.record_status === 6) {
        // 重返操作
        if (index === '1') {
          this.$http(this.$api.evaluateRebate, {
            id: data.id,
          })
            .then((res) => {
              if (res.status === 0) {
                this.showConfirm('返利成功');
                this.getList();
              } else {
                this.showConfirm(res.msg);
              }
            });
        } else {
          this.$modal.show({
            template: `
        <div>
          <div class="modal_head_back">
            <i class="iconfont icon-delete" @click="back"></i>
          </div>
          <div class="modal_body_evaluate">
            <div class="modal_body_container">
              <div class="title">
                <span>状态：{{text.record_status_desc}}</span>
              </div>
              <div class="info_middle">
                <span>评价信息</span>
                <div class="middle_wrapper">
                  <div class="middle_info_item">
                    <span>评价内容</span>
                    <p>{{text.comment}}</p>
                  </div>
                  <div class="middle_info_item">
                    <span>评价等级</span>
                    <p>{{text.result_desc}}</p>
                  </div>
                  <div class="middle_info_item">
                    <span>评价时间</span>
                    <p>{{text.comment_time}}</p>
                  </div>
                </div>
              </div>
              <div class="info_bottom">
                <div class="info_bottom_left">
                  <span>评价信息</span>
                  <div class="info_bottom_left_main">
                    <span>订单号：{{text.tid}}</span>
                    <span>买家账号：{{text.buyer_nick}}</span>
                    <span>下单时间：{{text.pay_time}}</span>
                    <span>订单状态：{{text.status_desc}}</span>
                  </div>
                </div>
                <div class="info_bottom_right">
                  <span>上传图片</span>
                  <div class="img_wrapper">
                    <img :src="text.screenshot" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      `,
            props: ['text'],
            methods: {
              back() {
                this.$emit('close');
              },
            },
          }, {
            text: data,
          }, {
            width: '640px',
            height: '500px',
            pivotX: 0.6,
            pivotY: 0.3,
            // classes: 'v-modal-order',
          });
        }
      }
    },
    show(ref) {
      this.$refs[ref].show();
    },
    selectEnd(val) {
      this.end_time = timeNormalFormat(val);
    },
    selectStart(val) {
      this.start_time = timeNormalFormat(val);
    },
    handleSeachClick() {
      this.getList();
    },
    // 批量重返
    handleRebateClick() {
      if (this.$children[2].checkList.length === 0) {
        this.showConfirm('请勾选数据');
        return;
      }
      const submitFn = (data) => {
        let ids = [];
        this.$children[2].checkList.forEach((item) => {
          ids.push(data[item].id);
        });
        ids = ids.join(',');
        this.$http(this.$api.evaluateBatchRebate, {
          ids,
        })
          .then((res) => {
            if (res.status === 0) {
              this.showConfirm('批量返利成功');
              this.getList();
            } else {
              this.showConfirm(res.msg);
            }
          });
      };
      this.showConfirm('确定重返？', {
        item: this.data,
        submitFn,
      });
    },
    exportDatas() {
      const obj = {
        event: '',
        order_id: '',
        nickname: '',
        shop_name: '',
        status: this.status,
        start_time: this.start_time,
        end_time: this.end_time,
        start: 0,
        length: 9999,
      };
      const title = '活动名称,订单号,微信头像,微信昵称,提交时间,所属店铺,好评截图,评价信息,返利金额(元),状态\n';
      const arr = ['event', 'tid', 'headimgurl', 'nickname', 'create_time', 'seller_nick', 'screenshot', 'comment', 'amount', 'record_status'];
      this.$http(this.$api.evaluateSelectRecord, obj).then((res) => {
        if (res.status === 0) {
          const data = [];
          for (let i = 0, len = res.data.length; i < len; i += 1) {
            const obj = {};
            for (let j = 0, itemLen = arr.length; j < itemLen; j += 1) {
              if (arr[j] === 'record_status') {
                obj[arr[j]] = this.recordStatusDesc(res.data[i][arr[j]]);
              } else {
                obj[arr[j]] = res.data[i][arr[j]];
              }
            }
            data.push(obj);
          }
          this.tableToExcel(title, data);
        }
      });
    },
    getList(length) {
      const lengthCopy = length || this.page.prePage;
      const obj = {
        event: '',
        order_id: '',
        nickname: '',
        shop_name: '',
        status: this.status,
        start_time: this.start_time,
        end_time: this.end_time,
        start: (this.page.curPage - 1) * this.page.prePage,
        length: lengthCopy,
      };
      switch (this.search_select) {
        case 'event':
          obj.event = this.search;
          break;
        case 'order_id':
          obj.order_id = this.search;
          break;
        case 'shop_name':
          obj.shop_name = this.search;
          break;
        case 'nickname':
          obj.nickname = this.search;
          break;
        default:
          break;
      }
      const succCallback = (data) => {
        data.forEach((item) => {
          switch (item.record_status) {
            case 1:
              item.record_status_desc = '审核成功';
              break;
            case 2:
              item.record_status_desc = '自动审核失败';
              break;
            case 3:
              item.record_status_desc = '人工审核失败';
              break;
            case 4:
              item.record_status_desc = '返利中';
              break;
            case 5:
              item.record_status_desc = '已返利';
              break;
            case 6:
              item.record_status_desc = '返利失败';
              break;
            default:
              break;
          }
          switch (item.status) {
            case 'TRADE_NO_CREATE_PAY':
              item.status_desc = '没有创建支付宝交易';
              break;
            case 'WAIT_BUYER_PAY':
              item.status_desc = '等待买家付款';
              break;
            case 'SELLER_CONSIGNED_PART':
              item.status_desc = '卖家部分发货';
              break;
            case 'WAIT_SELLER_SEND_GOODS':
              item.status_desc = '买家已付款';
              break;
            case 'WAIT_BUYER_CONFIRM_GOODS':
              item.status_desc = '卖家已发货';
              break;
            case 'TRADE_BUYER_SIGNED':
              item.status_desc = '买家已签收,货到付款专用';
              break;
            case 'TRADE_FINISHED':
              item.status_desc = '交易成功';
              break;
            case 'TRADE_CLOSED':
              item.status_desc = '交易自动关闭';
              break;
            case 'TRADE_CLOSED_BY_TAOBAO':
              item.status_desc = '主动关闭交易';
              break;
            case 'PAY_PENDING':
              item.status_desc = '国际信用卡支付付款确认中';
              break;
            case 'WAIT_PRE_AUTH_CONFIRM':
              item.status_desc = '0元购合约中';
              break;
            case 'PAID_FORBID_CONSIGN':
              item.status_desc = '已付款但禁止发货';
              break;
            default:
              break;
          }
          switch (item.result) {
            case 'good':
              item.result_desc = '好评';
              break;
            case 'neutral':
              item.result_desc = '中评';
              break;
            case 'bad':
              item.result_desc = '差评';
              break;
            default:
              break;
          }
        });
      };
      if (length) {
        const title = '序号,活动名称,订单号,微信头像,返利昵称,返利金额(元),提交时间,返利时间,订单状态,状态\n';
        this.getListData(this.$api.evaluateSelectRecord, obj, succCallback, title);
        return;
      }
      this.getListData(this.$api.evaluateSelectRecord, obj, succCallback);
    },
    recordStatusDesc(data) {
      switch (data) {
        case 1:
          return '审核成功';
        case 2:
          return '自动审核失败';
        case 3:
          return '人工审核失败';
        case 4:
          return '返利中';
        case 5:
          return '已返利';
        case 6:
          return '返利失败';
        default:
          return '';
      }
    },
  },
  created() {
    this.getList();
  },
};
</script>
