<template>
    <div class="detail-info">
      <div class="activity-info">
        <div class="price-info">
          <span class="price">￥{{detailDatas.goods_price}}</span>
        </div>
        <div class="countdown-info">
          <div class="countdown px11">活动倒计时:
            <span class="day" ref="day"></span>天
            <span class="hour" ref="hour"></span>时
            <span class="mini" ref="mini"></span>分
            <span class="sec" ref="sec"></span>秒
          </div>
          <process :datas="processData"></process>
          <!--<div class="schedule-info"></div>-->
        </div>
      </div>
      <div class="good-info">
        <div class="title">
          <span class="rebate">额外返{{detailDatas.expenditure}}</span>
          {{detailDatas.activity_name}}
        </div>
        <div class="integral">
          <span><i class="icon-credits"></i>参与活动需要{{detailDatas.credits}}积分</span>
          <span v-if="detailDatas.participation[1].data"><i class="icon-needCredits"></i>参与活动赠送{{detailDatas.participation[1].data}}积分</span>
        </div>
      </div>
    </div>
</template>

<script>
import process from '../components/common/ProcessBar';
import {fnTimeCountDown} from '../lib/utils';

export default {
  name: 'DetailInfo',
  components: {process},
  props: ['detailDatas'],
  data () {
    return {
      processData: {
        used_num: this.detailDatas.total - this.detailDatas.remain,
        total_num: this.detailDatas.total
      }
    }
  },
  mounted () {
    const d = new Date(this.detailDatas.end_time).getTime();
    const o = {
      day: this.$refs.day,
      hour: this.$refs.hour,
      mini: this.$refs.mini,
      sec: this.$refs.sec
    }
    fnTimeCountDown(d, o);
  }
}
</script>

<style lang="less" scoped>
  @import "../assets/stylesheets/mixin";
  .detail-info /deep/ .remain{
    background: #F82121 !important;
  }
  .detail-info /deep/ .process-bar{
    margin-left: .6rem;
  }
  .detail-info{
    height: 3.2rem;
    .activity-info{
      overflow: hidden;
      height: 1.2rem;
      .bg-image('beijing5');
      .price-info{
        float: left;
        width: 3.3rem;
        height: .82rem;
        line-height: .82rem;
        font-size: .24rem;
        margin: .2rem 0 .18rem .31rem;
        vertical-align: middle;
        color: #F81B1B;
        .price{
          font-size: .36rem;
          font-weight: 500;
          color:rgba(248,27,27,1);
        }
      }
      .countdown-info {
        float: left;
        width: 3.58rem;
        height: .82rem;
        margin: .2rem .3rem .18rem 0;
        text-align: right;
        .countdown {
          display: block;
          width: 100%;
          height: .3rem;
          font-size: .24rem;
          font-weight: 500;
          color: #F81B1B;
          span{
            margin-left: -.05rem;
          }
        }
        .schedule-info {
          width: 2.8rem;
          height: .4rem;
          background: black;
          float: right;
          margin-top: .13rem;
          border-radius: .2rem;
        }
        .px11 {
          font-size: .22rem;
          /*-webkit-transform: scale(0.5);*/
          /*-webkit-transform: scale(0.5)*/
        }
      }
    }
    .good-info{
      width: 100%;
      height: 2.1rem;
      box-sizing: border-box;
      padding: .3rem .35rem .28rem .3rem;
      .title{
        overflow: hidden;
        width: 6.95rem;
        height: .95rem;
        line-height: .475rem;
        font-size: .32rem;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        /*text-overflow: -o-ellipsis-lastline;*/
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        .rebate{
          font-size:14px;
          font-family:PingFang-SC-Medium;
          font-weight:500;
          color:rgba(255,255,255,1);
          line-height:.4rem;
          margin-right: -.04rem;
          padding: .01rem .04rem;
          background: #F81B1B;
          -webkit-border-radius: .04rem;
          -moz-border-radius: .04rem;
          border-radius: .04rem;
        }
      }
      .integral{
        height: .33rem;
        line-height: .33rem;
        margin-top: .24rem;
        font-size:.24rem;
        font-family:PingFang-SC-Regular;
        font-weight:400;
        color:rgba(153,153,153,1);
        span{
          .icon-credits{
            display: inline-block;
            width: .3rem;
            height: .3rem;
            vertical-align: sub;
            .bg-image('jifen2');
          }
          .icon-needCredits{
            display: inline-block;
            width: .3rem;
            height: .3rem;
            vertical-align: sub;
            background: url("../assets/images/zensong.png") no-repeat;
            background-size: 100% 100%;
          }
          &:nth-child(2){
            margin-left: .6rem;
          }
        }
      }
    }
  }
</style>
