<template>
  <transition
      name="fade"
      enter-active-class="animated fadeInUp"
      leave-active-class="animated fadeOutDown">
    <div class="detail-mask" v-if="showMask">
      <div class="content">
        <div class="title">{{datas.title}}</div>
        <div v-if="datas.title === '活动流程'" class="process info-wrapper">
          <div class="process-item"
               v-for="(item, index) of datas.items"
               :key="index">
            <div class="item-title">
              <i class="icon">反</i>
              返利流程
            </div>
            <div class="item-desc">
              {{item.desc}}
            </div>
          </div>
        </div>
        <div v-if="datas.title === '注意事项'" class="notes info-wrapper">
          <div class="notes-item"
               v-for="(item, index) of datas.items"
               :key="index">
            <i class="icon">he</i>
            <p class="desc">
              {{item.desc}}
            </p>
          </div>
        </div>
        <div @click="handleBtnClick" class="confirm-btn">确定</div>
      </div>
    </div>
  </transition>
</template>

<script>
import Vue from 'vue'
export default {
  name: 'DetailMask',
  data () {
    return {
      showMask: false,
      datas: {
        title: '注意事项',
        items: [{
          desc: '点击“去购买”，跳转到指定的购物网站下单。收到货后，在 购物网站点击“确认收货”，我们将在24小时内对你微信进行 转帐。'
        }, {
          desc: '点击“去购买”，跳转到指定的购物网站下单。收到货后，在 购物网站点击“确认收货”，我们将在24小时内对你微信进行 转帐。'
        }, {
          desc: '点击“去购买”，跳转到指定的购物网站下单。收到货后，在 购物网站点击“确认收货”，我们将在24小时内对你微信进行 转帐。'
        }]
      }
    }
  },
  methods: {
    handleBtnClick () {
      this.showMask = false;
    }
  },
  mounted () {
    this.bus.$on('changeMask', (msg) => {
      this.showMask = true;
      msg === 'activity' ? Vue.set(this.datas, 'title', '活动流程') : Vue.set(this.datas, 'title', '注意事项');
    })
  }
}
</script>

<style lang="less" scoped>
  .fade-enter-active, .fade-leave-active{
    transition: all .3s;
  }
  .fade-enter, .fade-leave-active{
  opacity: 0;
  }
  .detail-mask{
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    animation-duration: 0.3s;
    background: rgba(0, 0, 0, .5);
    .content{
      position: absolute;
      width: 100%;
      height: 9.2rem;
      left: 0;
      bottom: 0;
      border-radius: .1rem .1rem 0 0;
      background: #ffffff;
      .title{
        height: 1.25rem;
        line-height: 1.25rem;
        text-align: center;
        vertical-align: middle;
        font-size: .32rem;
        font-family:PingFang-SC-Regular;
        font-weight:400;
        color:rgba(102,102,102,1);
      }
      .info-wrapper{
        overflow: hidden;
        padding-left: .3rem;
        padding-right: .35rem;
        .process-item{
          overflow: hidden;
          .item-title{
            height: .4rem;
            margin-bottom: .2rem;
            width:113px;
            font-size: .28rem;
            font-family:PingFang-SC-Regular;
            font-weight:400;
            color:rgba(51,51,51,1);
          }
          .item-desc{
            float: right;
            width: 6.33rem;
            line-height: .33rem;
            margin-bottom: .5rem;
            font-size: .24rem;
            font-family:PingFang-SC-Regular;
            font-weight:400;
            color:rgba(102,102,102,1);
          }
        }
        .notes-item{
          overflow: hidden;
          .icon{
            float: left;
          }
          .desc{
            float: right;
            width: 6.25rem;
            line-height: .4rem;
            margin-bottom: .61rem;
            font-size: .28rem;
            font-family:PingFang-SC-Regular;
            font-weight:400;
            color:rgba(51,51,51,1);
          }
        }
      }
      .confirm-btn{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: .98rem;
        line-height: .98rem;
        text-align: center;
        vertical-align: middle;
        font-size: .36rem;
        color: #ffffff;
        background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
      }
    }
  }
</style>
