<template>
    <div class="detail-footer">
      <div class="footer-left">
        <router-link tag="div" to="/" class="btn">
          <i class="icon-shop"></i>
          <span class="name">商城</span>
        </router-link>
        <router-link tag="div" :to="{path: '/myrebate', query: {from: 'detail'}}" class="btn">
          <i class="icon-rebate"></i>
          <span class="name">我的返利</span>
        </router-link>
      </div>
      <div class="footer-right"
           @click="handleBuyClick($event, detailDatas)"
      >去购买</div>
    </div>
</template>

<script>
import {layer} from '../lib/utils';

export default {
  name: 'DetailFooter',
  props: ['detailDatas'],
  methods: {
    handleBuyClick ($event, detailDatas) {
      const p = new Promise((resolve, reject) => {
        this.$http.showUserinfoDetail({})
          .then((res) => {
            if (res.data.status === 0) {
              this.info = res.data.data[0];
              if (!res.data.data[0].phone) {
                resolve()
              } else {
                reject(new Error(res.data.data[0].phone));
              }
            } else {
              layer.msg(res.data.msg);
            }
          });
      })
      p.then(() => {
        this.$parent.$children[5].show('bindTel');
      }).catch((err) => {
        const phone = err.toString().replace(/Error: /, '');
        this.$nextTick(() => {
          this.$parent.$children[5].show('confirmTel', {phone});
          this.$store.commit('mall/setShortLink', this.detailDatas.short_link);
        })
      });
    }
  }
}
</script>

<style lang="less" scoped>
  @import "../assets/stylesheets/mixin";
  .detail-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .98rem;
    .footer-left{
      display: flex;
      float: left;
      width: 50%;
      height: 100%;
      color: rgba(102,102,102,1);
      .btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        line-height: .4rem;
        .icon-shop{
          display: inline-block;
          width: .4rem;
          height: .4rem;
          align-self: center;
          .bg-image('shangcheng');
        }
        .icon-rebate{
          display: inline-block;
          width: .4rem;
          height: .4rem;
          align-self: center;
          .bg-image('fanli3');
        }
        span{
          align-self: center;
        }
      }
    }
    .footer-right{
      float: left;
      width: 50%;
      height: 100%;
      line-height: .98rem;
      vertical-align: middle;
      text-align: center;
      font-size: .36rem;
      font-family:PingFang-SC-Medium;
      font-weight:500;
      color:rgba(255,255,255,1);
      background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
    }
  }
</style>
