<template>
    <div class="detail-desc">
      <div class="activity-process common border-bottom">
        <div class="text-wrapper">活动流程</div>
        <i class="more" @click="handeMaskChange('activity')">. . .</i>
      </div>
      <div class="notes common">
        <div class="text-wrapper">注意事项</div>
        <i class="more" @click="handeMaskChange('notes')">. . .</i>
      </div>
    </div>
</template>

<script>
export default {
  name: 'DetailDesc',
  props: ['detailDatas'],
  methods: {
    handeMaskChange (str) {
      this.bus.$emit('changeMask', str);
    }
  }
}
</script>

<style lang="less" scoped>
  .detail-desc{
    height: 2.38rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    box-sizing: border-box;
    background: #F6F6F6;
    .common{
      position: relative;
      vertical-align: middle;
      padding-left: .3rem;
      padding-right: .3rem;
      font-size: .24rem;
      font-family:PingFang-SC-Regular;
      font-weight:400;
      color:rgba(153,153,153,1);
      background: #ffffff;
    }
    .activity-process{
      height: 1rem;
      line-height: 1rem;
      /*vertical-align: middle;*/
      .text-wrapper{
        float: left;
      }
      .more{
        float: right;
      }
    }
    .border-bottom{
      &:before{
        width: 6.9rem;
        left: .3rem
      }
    }
    .notes{
      height: .97rem;
      line-height: .97rem;
      .text-wrapper{
        float: left;
      }
      .more{
        float: right;
      }
    }
  }
</style>
