<template>
  <div class="evaluation-tips">
    <div class="content end1"
         v-if="show.end1.show"
    >
      <div class="img-wrapper">
      </div>
      <p class="tips-info">
        {{show.end1.tipInfo}}
      </p>
    </div>
    <div class="content start1"
         v-if="show.start1.show"
    >
      <div class="img-wrapper">
      </div>
      <p class="tips-info">
        活动
        <span ref="hour"></span>
        <span>小时</span>
        <span ref="mini"></span>
        <span>分</span>
        <span>后上线，请耐心等候...</span>
      </p>
    </div>
    <div class="content none1"
         v-if="show.none1.show"
    >
      <div class="img-wrapper">
      </div>
      <p class="tips-info">
        {{show.none1.tipInfo}}
      </p>
    </div>
    <div class="content end2"
         v-if="show.end2.show"
    >
      <div class="img-wrapper">
      </div>
      <p class="tips-info">
        {{show.end2.tipInfo}}
      </p>
    </div>
    <div class="content none2"
         v-if="show.none2.show"
    >
      <div class="img-wrapper">
      </div>
      <p class="tips-info">
        {{show.none2.tipInfo}}
      </p>
    </div>
    <div class="content start2"
         v-if="show.start2.show"
    >
      <div class="img-wrapper">
      </div>
      <p class="tips-info">
        活动
        <span ref="hour"></span>
        <span>小时</span>
        <span ref="mini"></span>
        <span>分</span>
        <span>后上线，请耐心等候...</span>
      </p>
    </div>
  </div>
</template>

<script>
import {fnTimeCountDown} from '../lib/utils';

export default {
  name: 'EvaluationTips',
  data () {
    return {
      // 1是晒评价，2是订单返利
      type: '',
      startTime: '',
      show: {
        end1: {
          show: false,
          tipInfo: '抱歉，活动已过期'
        }, // 过期样式1
        start1: {
          show: false,
          tipInfo: '活动6小时后上线，请耐心等候...'
        }, // 待上线样式1
        none1: {
          show: false,
          tipInfo: '活动不存在'
        },
        end2: {
          show: false,
          tipInfo: '抱歉，活动已过期'
        },
        start2: {
          show: false,
          tipInfo: '活动6小时后上线，请耐心等候...'
        },
        none2: {
          show: false,
          tipInfo: '活动不存在'
        }
      }
    }
  },
  methods: {
    changeOprea (tag) {
      for (const i in this.show) {
        if (i === tag) {
          this.show[i].show = true;
        } else {
          this.show[i].show = false;
        }
      }
    }
  },
  created () {
    this.type = this.$route.query.type;
    if (this.$route.query.startTime) {
      this.startTime = this.$route.query.startTime;
    }
  },
  beforeMount () {
    const type = this.type;
    if (type && type === 'end1') {
      this.changeOprea('end1');
    } else if (type && type === 'none1') {
      this.changeOprea('none1');
    } else if (type && type === 'start1') {
      this.changeOprea('start1');
    } else if (type && type === 'end2') {
      this.changeOprea('end2');
    } else if (type && type === 'none2') {
      this.changeOprea('none2');
    } else if (type && type === 'start2') {
      this.changeOprea('start2');
    }
  },
  mounted () {
    if (this.startTime) {
      const d = new Date(this.startTime).getTime();
      const o = {
        'mini': this.$refs.mini,
        'hour': this.$refs.hour
      }
      fnTimeCountDown(d, o);
    }
  }
}
</script>

<style lang="less" scoped>
  @import "../assets/stylesheets/mixin";
  .evaluation-tips{
    position: fixed;
    width: 100vw;
    height: 100vh;
    .content{
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      .img-wrapper{
        align-self: center;
        width: 3.8rem;
        height: 3.8rem;
      }
      .tips-info{
        width: 7rem;
        align-self: center;
        font-size: .36rem;
        font-weight: 500;
        color: rgba(153,153,153,1);
        text-align: center;
        span{
          margin-left: -.05rem
        }
      }
    }
    .end1{
      .img-wrapper{
        .bg-image('beijing');
      }
    }
    .start1{
      .img-wrapper{
        .bg-image('beijing1');
      }
    }
    .none1{
      .img-wrapper{
        .bg-image('beijing');
      }
    }
    .end2{
      .img-wrapper{
        .bg-image('beijing3');
      }
    }
    .start2{
      .img-wrapper{
        .bg-image('beijing4');
      }
    }
    .none2{
      .img-wrapper{
        .bg-image('beijing3');
      }
    }
  }
</style>
