<template>
  <!--<div class="goods-wrapper" ref="goodWrapper">-->
    <div class="wrapper">
      <div class="home-goods"
          v-for="(item, index) in homeGoodsData"
          :key="index">
      <div class="img-wrapper">
        <img class="img" :src="item.goods_img[0]" alt="">
      </div>
      <div class="right border-bottom">
        <div class="title">
          <span class="rebate">额外返{{item.expenditure}}元</span>
          {{item.activity_name}}
        </div>
        <div class="remain">
          <i class="remain-icon"></i>
          剩{{item.remain}}件
        </div>
        <div class="price">
          原价：<span>{{item.goods_price}}</span>
        </div>
        <div class="buy-button have"
             v-if="item.remain > 0"
             @click="handelSubmitClick($event, item)"
        >马上抢</div>
        <div v-else class="buy-button none">
          已抢光
        </div>
      </div>
    </div>
      <div v-if="homeGoodsData.length === 0" class="no_datas">暂无数据</div>
    </div>
  <!--</div>-->
</template>

<script>
// import BScroll from 'better-scroll'
export default {
  name: 'HomeGoods',
  props: {
    homeGoodsData: {
      type: Array,
      default () {
        return [{
          goods_img: [],
          activity_name: '',
          rebate: '',
          remain: '',
          goods_price: ''
        }]
      }
    }
  },
  methods: {
    handelSubmitClick ($event, item) {
      this.$router.push({
        path: '/detail',
        query: {
          listInfo: JSON.stringify(item)
        }
      });
    }
  },
}
</script>

<style lang="less" scoped>
  @import "../assets/stylesheets/mixin";
  .wrapper{
    overflow: hidden;
  }
  .home-goods{
    overflow: hidden;
    width: 100%;
    height: 3.15rem;
    .img-wrapper{
      float: left;
      width: 2.6rem;
      height: 2.6rem;
      margin: .3rem .3rem .25rem .3rem;
      .img{
        width: 100%;
      }
    }
    .right{
      float: left;
      width: 3.98rem;
      height: 2.85rem;
      margin: .3rem .3rem 0  0;
      position: relative;
      .title{
        overflow: hidden;
        width: 3.95rem;
        height: .9rem;
        line-height: .45rem;
        margin: 0 .35rem 0 0;
        font-size: 16px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        /*text-overflow: -o-ellipsis-lastline;*/
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        .rebate{
          font-size:14px;
          font-family:PingFang-SC-Medium;
          font-weight:500;
          color:rgba(255,255,255,1);
          line-height:.4rem;
          margin-right: -.04rem;
          padding: .01rem .04rem;
          background: #F81B1B;
          -webkit-border-radius: .04rem;
          -moz-border-radius: .04rem;
          border-radius: .04rem;
        }
      }
      .remain{
        height: .33rem;
        line-height: .33rem;
        margin-top: .16rem;
        margin-bottom: .49rem;
        vertical-align: middle;
        font-size:12px;
        font-family:PingFang-SC-Regular;
        font-weight:400;
        color:rgba(248,27,27,1);
        .remain-icon{
          display: block;
          float: left;
          width: .24rem;
          height: .26rem;
          margin-right: .03rem;
          margin-top: .04rem;
          .bg-image('shalou');
        }
      }
      .price{
        float: left;
        width: 2.2rem;
        height: .66rem;
        line-height: .66rem;
        font-size: 12px;
        color: rgba(153,153,153,1);
        span{
          color: #F30016;
          font-weight: 700;
          font-size: 18px;
        }
      }
      .buy-button{
        float: left;
        width: 1.78rem;
        height: .66rem;
        line-height: .66rem;
        background: #999999;
        border-radius: .4rem;
        text-align: center;
        vertical-align: middle;
        font-size: .28rem;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color:rgba(255,255,255,1);
      }
      .have{
        .bg-image('anniu')
      }
    }
    /*.border-bottom{*/
      /*&:before{*/
        /*border-color: #333333;*/
      /*}*/
    /*}*/
  }
</style>
