<template>
  <div class="personal-home">
    <div class="header">
      <div class="image-wrapper">
        <img :src="info.headimgurl" alt="" class="avater">
      </div>
      <div class="header-right">
        <div class="flex-wrapper">
          <div class="user-name">{{info.nickname}}</div>
          <div class="isTel" v-if="!hasPhone">(未绑定手机号)</div>
        </div>
        <router-link tag="div"
                     to="/bindTel"
                     class="bind-phone border"
                     v-if="!hasPhone">去绑定</router-link>
        <div class="info-wrapper" v-else>
          <div>手机号:{{info.phone}}</div>
          <div>积分: {{info.credits}}</div>
        </div>
      </div>
    </div>
    <div class="content">
      <ul class="function-lists">
        <router-link tag="li"
                     :to="{path: '/myrebate', quey: {from: 'detail'}}" class="funciton-list">
          <div class="icon-wrapper"></div>
          <span>我的返利</span>
        </router-link>
        <router-link tag="li" to="personalIntergal" class="funciton-list">
          <div class="icon-wrapper"></div>
          <span>我的积分</span>
        </router-link>
        <router-link tag="li" to="points/pointsExchange" class="funciton-list">
          <div class="icon-wrapper"></div>
          <span>我的兑换</span>
        </router-link>
        <router-link tag="li" to="points/pointsSign" class="funciton-list">
          <div class="icon-wrapper"></div>
          <span>每日签到</span>
        </router-link>
      </ul>
    </div>
    <ul class="personal-bottom border-top">
      <router-link tag="li" to="/" class="bottom-function">
        <div class="icon-wrapper"></div>
        <span>返利商城</span>
      </router-link>
      <router-link tag="li" to="/points" class="bottom-function">
        <div class="icon-wrapper"></div>
        <span>积分商城</span>
      </router-link>
      <li class="bottom-function">
        <div class="icon-wrapper"></div>
        <span>我的</span>
      </li>
    </ul>
  </div>
</template>

<script>
import {layer} from '../lib/utils';

export default {
  name: 'PersonalHome',
  data () {
    return {
      hasPhone: false,
      info: {
        credits: undefined,
        headimgurl: '',
        nickname: '',
        phone: '',
        user_id: undefined
      }
    }
  },
  methods: {
    init () {
      this.$http.showUserinfoDetail({})
        .then((res) => {
          if (res.data.status === 0) {
            this.info = res.data.data[0];
            if (res.data.data[0].phone) {
              this.hasPhone = true;
            }
          } else {
            layer.msg(res.data.msg);
          }
        });
    }
  },
  created () {
    this.init();
  }
}
</script>

<style lang="less" scoped>
  @import "../assets/stylesheets/mixin";
  .personal-home /deep/ .border::before{
    border-radius: .6rem;
  }
  .personal-home{
    position: relative;
    width: 100vw;
    height: 100vh;
    .header{
      position: relative;
      height: 2.9rem;
      display: flex;
      .bg-image('Group');
      .image-wrapper{
        width: 1.4rem;
        height: 1.38rem;
        margin: .61rem .33rem .63rem .31rem;
        .avater{
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .header-right{
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 5.47rem;
        margin: .61rem 0 .61rem 0;
        .flex-wrapper{
          width: 100%;
          display: flex;
          flex-direction: row;
          .user-name{
            float: left;
            flex-wrap: wrap;
            margin-top: .05rem;
            height: .59rem;
            line-height: .59rem;
            font-size: .36rem;
            font-family:PingFang-SC-Medium;
            font-weight:500;
            color: #ffffff;
            vertical-align: middle;
          }
          .isTel{
            float: left;
            flex: 1;
            margin-top: .05rem;
            margin-left: .1rem;
            height: .59rem;
            line-height: .59rem;
            vertical-align: middle;
            color:rgba(255,240,0,1);
          }
        }
        .bind-phone{
          width: 1.2rem;
          height: .42rem;
          line-height: .42rem;
          margin-top: .11rem;
          border-radius: .3rem;
          color: #ffffff;
          text-align: center;
          vertical-align: middle;
        }
        .info-wrapper{
          margin-top: .1rem;
          font-size: .28rem;
          color: #ffffff;
          line-height: .4rem;
        }
      }
    }
    .content{
      position: absolute;
      width: 100%;
      height: calc(100vh - 2.6rem);
      left: 0;
      bottom: 0;
      border-radius:.3rem .3rem 0 0;
      background: #ffffff;
      .function-lists{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        margin-top: .62rem;
        font-size: .32rem;
        color: rgba(102,102,102,1);
        .funciton-list{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 33.33%;
          line-height: .7rem;
          text-align: center;
          vertical-align: middle;
          &:nth-child(1){
            .icon-wrapper{
              .bg-image('wodfanli');
            }
          }
          &:nth-child(2){
            .icon-wrapper{
              .bg-image('wodjifen');
            }
          }
          &:nth-child(3){
            .icon-wrapper{
              .bg-image('wodduihuan');
            }
          }
          &:nth-child(4){
            margin-top: .6rem;
            .icon-wrapper{
              .bg-image('qiandao');
            }
          }
          .icon-wrapper{
            width: .5rem;
            height: .5rem;
          }
        }
      }
    }
    .personal-bottom{
      z-index: 999;
      display: flex;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: .98rem;
      line-height: .4rem;
      background: #ffffff;
      .bottom-function{
        width: 33.33%;
        height: .98rem;
        color: rgba(153,153,153,1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:nth-child(1){
          .icon-wrapper{
            .bg-image('fanli1');
          }
        }
        &:nth-child(2){
          .icon-wrapper{
            .bg-image('jifen1');
          }
        }
        &:nth-child(3){
          .icon-wrapper{
            .bg-image('wod');
          }
          span{
            color: rgb(255, 104, 0);
          }
        }
        .icon-wrapper{
          width: .4rem;
          height: .4rem;
        }
      }
    }
  }
</style>
