<template>
    <div class="personal-integral">
      <div class="integral-wrapper">
        <div class="wrapper">
          <span class="title">目前积分</span>
          <span class="integral">{{this.$store.state.pointsShop.points}}</span>
        </div>
      </div>
      <vue-better-scroll
          style="height: calc(100vh - 3.6rem); overflow: hidden;"
          class="wrapper"
          ref="scroll">
        <ul class="integral-detail">
          <li class="detail-item-title border-bottom">积分明细<span></span></li>
          <li class="detail-item"
              v-for="(item, index) of info"
              :key="index"
          >{{item.reason}}<span>{{item.credits}}</span></li>
        </ul>
      </vue-better-scroll>
    </div>
</template>

<script>
import {layer} from '../lib/utils';

export default {
  name: 'PersonalIntegral',
  data () {
    return {
      info: [{reason: '', credits: null}]
    }
  },
  methods: {
    init () {
      this.$http.personalGetCrdit({
        start: 0,
        length: 9999
      })
        .then((res) => {
          if (res.data.status === 0) {
            this.info = res.data.data.data;
          } else {
            layer.msg(res.data.msg);
          }
        });
    }
  },
  created () {
    this.init();
  }
}
</script>

<style lang="less" scoped>
  @import "../assets/stylesheets/mixin";
  .personal-integral{
    overflow: hidden;
    .integral-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6.9rem;
      height: 3rem;
      text-align: center;
      vertical-align: middle;
      margin-top: .3rem;
      .margin-auto;
      border-radius: .1rem;
      .bg-image('creditbg');
      .wrapper{
        display: flex;
        flex-direction: column;
        .title{
          height: .33rem;
          line-height: .33rem;
          font-size: .24rem;
          font-weight: 400;
          vertical-align: middle;
          color: #ffffff;
        }
        .integral{
          height: 1rem;
          line-height: 1rem;
          vertical-align: middle;
          font-size: .72rem;
          color: #ffffff;
        }
      }
    }
    .integral-detail{
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 6.9rem;
      margin-top: .5rem;
      .margin-auto;
      .detail-item-title{
        height: .5rem;
        line-height: .5rem;
        font-size: .32rem;
        color:rgba(51,51,51,1);
        vertical-align: middle;
      }
      .detail-item{
        height: .6rem;
        line-height: .6rem;
        vertical-align: middle;
        font-size: .28rem;
        color:rgba(153,153,153,1);
        span{
          float: right;
        }
      }
    }
  }
</style>
