<template>
    <div class="rebate-stream">
      <vue-better-scroll
        style="height: calc(100vh - 2rem)"
        class="wrapper"
        ref="scroll"
       :startY="parseInt(startY)"
        :pullDownRefresh="pullDownRefreshObj"
        :pullUpLoad="pullUpLoadObj"
        @pullingDown="onPullingDown"
        @pullingUp="onPullingUp"
      >
        <div class="order-lists" ref="orderLists">
          <div class="orders"
               v-for="(item, index) of orderLists"
               :key="index">
            <div class="order-header border-bottom">
              <span>订单号：{{item.order_id}}</span>
              <span>{{item.create_time}}</span>
            </div>
            <div class="order-content border-bottom">
              <div class="img-wrapper"><img class="img" :src="item.img" alt=""></div>
              <div class="right">
                <div class="title">
                  {{item.title}}
                </div>
                <div class="rebate">
                  返{{item.amount}}元
                </div>
                <div class="credit">
                  +{{item.integral}}积分
                </div>
              </div>
            </div>
          </div>
          <div v-if="!show" class="no_datas">暂无数据</div>
        </div>
      </vue-better-scroll>
      <router-link tag="div" to="/" class="buttom-btn">返利商城</router-link>
    </div>
</template>

<script>
import {layer} from '../lib/utils';

export default {
  name: 'RebateStream',
  data () {
    return {
      orderLists: [],
      startY: 0, // 纵轴方向初始化位置
      scrollToX: 0,
      scrollToY: 0,
      scrollToTime: 700,
      items: [],
      time: 0, // 第n次请求列表数据
      tag: false, // true为刷新数据
      pullDownRefreshObj: {
        threshold: 90,
        stop: 0
      },
      pullUpLoadObj: {
        threshold: 0,
        txt: {
          more: '加载更多',
          noMore: '没有更多数据了'
        }
      },
    }
  },
  computed: {
    show () {
      return this.orderLists.length;
    }
  },
  methods: {
    // 页面初识化设置
    init () {
      // 未流水的第一个item设置上边距
      // if (this.$refs.orderLists.firstChild) {
      //   this.$refs.orderLists.firstChild.style.marginTop = 0.12 + 'rem';
      // }
    },
    getList (postObj) {
      return new Promise((resolve, reject) => {
        const postObjCopy = postObj || {start: 0, length: 5};
        this.$http.orderMyrebate(postObjCopy)
          .then((res) => {
            if (res.data.status === 0) {
              if (res.data.data.length !== 0) {
                resolve();
                if (this.tag) {
                  this.orderLists = [];
                }
                res.data.data.forEach((item) => {
                  this.orderLists.push(item);
                })
              } else {
                reject(new Error());
              }
            } else {
              layer.msg(res.data.msg);
            }
          });
      });
    },
    onPullingDown () {
      this.tag = true;
      this.time = 0;
      const postData = {
        start: 0,
        length: 5
      }
      this.getList(postData).then(() => {
        this.$refs.scroll.forceUpdate(true);
      })
    },
    /**
     * 上拉加载
     */
    onPullingUp () {
      this.time++;
      this.tag = false;
      const postData = {
        start: 5 * this.time,
        length: 5
      }
      this.getList(postData).then(() => {
        this.$refs.scroll.forceUpdate(true);
      }).catch(() => {
        this.$refs.scroll.forceUpdate(false);
      })
    }
  },
  mounted () {
    this.init();
    this.getList();
  }
}
</script>

<style lang="less" scoped>
  @import "../assets/stylesheets/mixin.less";
  .rebate-stream{
    overflow: hidden;
    .order-lists{
      overflow: hidden;
      height: calc(100vh - 2rem);
      .orders{
        overflow: hidden;
        width: 100%;
        background: #ffffff;
        margin-bottom: .2rem;
        &:first-child{
          margin-top: 0 !important;
        }
        .order-header{
          width: 6.9rem;
          height: .9rem;
          line-height: .9rem;
          margin: 0 .3rem;
          font-size: .26rem;
          color: rgba(153,153,153,1);
          span{
            display: inline-block;
            &:last-child{
              float: right;
            }
          }
        }
        .order-content{
          width: 6.9rem;
          height: 2rem;
          padding-top: .3rem;
          padding-bottom: .3rem;
          .margin-auto;
          .img-wrapper{
            float: left;
            overflow: hidden;
            width: 2rem;
            height: 2rem;
            margin-right: .3rem;
            background: #333333;
            .img{
              width: 100%;
              height: auto;
            }
          }
          .right{
            float: left;
            width: 4.2rem;
            height: 100%;
            position: relative;
            .title{
              overflow: hidden;
              width: 4.2rem;
              height: .8rem;
              line-height: .4rem;
              margin: 0 .35rem 0 0;
              font-size: .28rem;
              -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
              /*text-overflow: -o-ellipsis-lastline;*/
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
            .order-num{
              width: 4.2rem;
              height: .4rem;
              line-height: .4rem;
              margin-top: .12rem;
              font-size: .28rem;
              font-family:PingFang-SC-Regular;
              font-weight:400;
              color:rgba(153,153,153,1);
            }
            .rebate{
              position: absolute;
              left: 0;
              bottom: 0;
              font-size: .32rem;
              font-weight: 500;
              color: rgba(254,30,30,1);
            }
            .credit{
              position: absolute;
              right: 0;
              bottom: 0;
              font-size: .32rem;
              font-weight: 500;
              color: rgba(254,30,30,1);
            }
          }
        }
      }
    }
    .buttom-btn{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1rem;
      line-height: 1rem;
      font-size: .36rem;
      font-family:PingFang-SC-Regular;
      font-weight:400;
      color:rgba(255,255,255,1);
      text-align: center;
      vertical-align: middle;
      background:linear-gradient(133deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);;
    }
  }
</style>
