<template>
  <div>
    <vue-better-scroll
      style="height: calc(100vh - 2rem)"
      class="wrapper"
      ref="scroll"
      :pullDownRefresh="pullDownRefreshObj"
      :pullUpLoad="pullUpLoadObj"
      @pullingDown="onPullingDown"
      @pullingUp="onPullingUp"
    >
      <div class="order" style="height: calc(100vh - 2rem)">
        <div v-for="(item, index) in orderLists"
             :key="index"
             :class="[{'border-bottom': index === (orderLists.length - 1)}, 'order-content']"
        >
          <div class="top border-bottom">
            <span class="ordernum">订单号：{{item.tid}}</span>
            <span class="status">{{item.status_desc}}</span>
          </div>
          <div class="content">
            <div class="orders">
              <div class="order-content border-bottom">
                <div class="img-wrapper">
                  <img class="img" :src="item.goods_img[0]" alt="">
                </div>
                <div class="right">
                  <div class="title">
                    {{item.activity_name}}
                  </div>
                  <div class="rebate">
                    返{{item.rebate}}元
                  </div>
                </div>
              </div>
            </div>
            <!--<order-list></order-list>-->
          </div>
          <div class="bottom-order">
          <span class="rebate-ing"
                v-if="item.status === 2"
          >
            预计到账时间：交易成功（{{item.after_event.event_desc}}）后{{item.after_event.hour}}小时
          </span>
          <span class="rebate-ing"
                v-if="item.status === 1"
          >
            <!--<button @click="handelSubmitClick">提交订单号</button>-->
          </span>
            <span class="rebate-ing"
                  v-if="item.status === 3"
            >
            返利失败
          </span>
            <span class="rebate-ing"
                  v-if="item.status === 4"
            >
            返利已到账
          </span>
          </div>
        </div>
        <div v-if="!show" class="no_datas">暂无数据</div>
      </div>
    </vue-better-scroll>
    <router-link tag="div" to="/" class="bottom">返利商城</router-link>
    <Dialog></Dialog>
  </div>
</template>

<script>
import OrderList from './common/OrderList';
import {layer} from '../lib/utils';
import Dialog from './common/Dialog'

export default {
  name: 'RebateCondition',
  components: {
    OrderList,
    Dialog
  },
  data () {
    return {
      orderLists: [],
      time: 0, // 第n次请求列表数据
      tag: false, // true为刷新数据
      pullDownRefreshObj: {
        threshold: 90,
        stop: 0
      },
      pullUpLoadObj: {
        threshold: 0,
        txt: {
          more: '加载更多',
          noMore: '没有更多数据了'
        }
      }
    }
  },
  computed: {
    show () {
      return this.orderLists.length;
    }
  },
  methods: {
    handelSubmitClick ($event, id) {
      this.$http.mallRob({ id })
        .then((res) => {
          if (res.data.status === 0) {
            layer.msg('成功')
          } else {
            if (res.data.msg === 'unbind') {
              // 打开绑定手机弹窗
            } else {
              layer.msg(res.data.msg);
            }
          }
        });
    },
    getList (obj) {
      return new Promise((resolve, reject) => {
        const objCopy = obj || {
          start: 0,
          length: 5,
          status: ''
        };
        this.$http.mallRecord(objCopy)
          .then((res) => {
            if (res.data.status === 0) {
              const data = res.data.data;
              if (data.length !== 0) {
                resolve();
                if (this.tag) {
                  this.orderLists = [];
                }
                data.forEach((item) => {
                  if (item.status) {
                    switch (item.status) {
                      case 1:
                        item.status_desc = '待下单';
                        break;
                      case 2:
                        item.status_desc = '审核中';
                        break;
                      case 3:
                        item.status_desc = '失败';
                        break;
                      case 4:
                        item.status_desc = '已返利';
                        break;
                      default:
                        break;
                    }
                  }
                  if (item.after_event.event) {
                    switch (item.after_event.event) {
                      case 'signed':
                        item.after_event.event_desc = '确认收货';
                        break;
                      case 'pay':
                        item.after_event.event_desc = '付款';
                        break;
                      default:
                        break;
                    }
                  }
                  this.orderLists.push(item);
                })
              } else {
                reject(new Error());
              }
            } else {
              layer.msg(res.data.msg);
            }
          });
      })
    },
    onPullingDown () {
      this.tag = true;
      this.time = 0;
      const postData = {
        start: 0,
        length: 5
      }
      this.getList(postData).then(() => {
        this.$refs.scroll.forceUpdate(true);
      })
    },
    /**
     * 上拉加载
     */
    onPullingUp () {
      this.time++;
      this.tag = false;
      const postData = {
        start: 5 * this.time,
        length: 5
      }
      this.getList(postData).then(() => {
        this.$refs.scroll.forceUpdate(true);
      }).catch(() => {
        this.$refs.scroll.forceUpdate(false);
      })
    }
  },
  created () {
    this.getList();
  }
}
</script>

<style lang="less" scoped>
  @import "../assets/stylesheets/mixin";
  .wrapper{
    width: 100%;
    overflow: hidden;
  }
  .order{
    overflow: hidden;
    background: #F0F2F5;
    .top{
      width: 6.9rem;
      height: .9rem;
      line-height: .9rem;
      text-align: center;
      vertical-align: middle;
      background: #ffffff;
      padding: 0 0.3rem;
      .ordernum{
        float: left;
        font-size: .28rem;
        color: #999999;
      }
      .status{
        float: right;
        color: #FE1E1E;
        font-size: .24rem;
        font-family:PingFang-SC-Regular;
      }
    }
    .content{
      background: #ffffff;
      .orders{
        overflow: hidden;
        width: 100%;
        .order-content{
          width: 6.9rem;
          height: 2.6rem;
          box-sizing: border-box;
          padding-top: .3rem;
          padding-bottom: .3rem;
          margin-bottom: .2rem;
          margin-left: auto;
          margin-right: auto;
          .img-wrapper{
            float: left;
            width: 2rem;
            height: 2rem;
            margin-right: .3rem;
            .img{
              width: 100%;
              height: 100%;
            }
          }
          .right{
            float: left;
            width: 4.4rem;
            height: 100%;
            position: relative;
            .title{
              overflow: hidden;
              width: 4.3rem;
              height: .8rem;
              line-height: .4rem;
              margin: 0 .35rem 0 0;
              font-size: .28rem;
              -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
              /*text-overflow: -o-ellipsis-lastline;*/
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
            .rebate{
              position: absolute;
              left: 0;
              bottom: 0;
              font-size: .32rem;
              font-weight:500;
              color: #FE1E1E;
            }
          }
        }
      }
    }
    .order-content{
      margin-bottom: .3rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .bottom-order{
      width: 100%;
      height: .9rem;
      line-height: .9rem;
      box-sizing: border-box;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      vertical-align: middle;
      text-align: right;
      background: #ffffff;
      .rebate-ing{
        font-size: .24rem;
        line-height: .24rem;
        font-family:PingFang-SC-Regular;
        font-weight: 400;
        color:rgba(153,153,153,1);
        button{
          width: 2rem;
          height: .5rem;
          background:linear-gradient(154deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
          border-radius: .33rem;
          font-size: .26rem;
          color: #ffffff;
        }
      }
    }
  }
  .bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .96rem;
    line-height: .96rem;
    background:linear-gradient(133deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);
    font-size: .36rem;
    color: #ffffff;
    .textCenter;
  }
</style>
