<template>
  <div class="rebate-evaluate">
    <vue-better-scroll
      style="height: calc(100vh - 2rem)"
      class="wrapper"
      ref="scroll"
      :pullDownRefresh="pullDownRefreshObj"
      :pullUpLoad="pullUpLoadObj"
      @pullingDown="onPullingDown"
      @pullingUp="onPullingUp"
    >
    <ul ref="list" class="evaluate-record">
      <li class="record-item border-bottom"
          v-for="(item, index) of recordList"
          :key="index"
      >
        <div class="title">{{item.title}}</div>
        <div class="order common">订单号：{{item.order_id}}</div>
        <div class="time common">返利时间：{{item.modify_time}}</div>
        <div class="amount common">返利金额：{{item.amount}}元</div>
      </li>
      <div v-if="!show" class="no_datas">暂无数据</div>
    </ul>
    </vue-better-scroll>
    <router-link tag="div" to="/" class="buttom-btn">返利商城</router-link>
  </div>
</template>

<script>
import {layer} from '../lib/utils';

export default {
  name: 'RebateEvaluate',
  data () {
    return {
      startY: 0,
      scrollToX: 0,
      scrollToY: 0,
      scrollToTime: 700,
      items: [],
      recordList: [],
      time: 0, // 第n次请求列表数据
      tag: false, // true为刷新数据
      pullDownRefreshObj: {
        threshold: 90,
        stop: 0
      },
      pullUpLoadObj: {
        threshold: 0,
        txt: {
          more: '加载更多',
          noMore: '没有更多数据了'
        }
      }
    }
  },
  computed: {
    show () {
      return this.recordList.length;
    }
  },
  methods: {
    getList (postobj) {
      return new Promise((resolve, reject) => {
        const postobjCopy = postobj || {start: 0, length: 5};
        this.$http.evaluationMyrebate(postobjCopy)
          .then((res) => {
            if (res.data.status === 0) {
              if (res.data.data.length !== 0) {
                resolve();
                if (this.tag) {
                  this.recordList = [];
                }
                res.data.data.forEach((item) => {
                  this.recordList.push(item);
                })
              } else {
                reject(new Error());
              }
            } else {
              layer.msg(res.data.msg);
            }
          });
      })
    },
    onPullingDown () {
      this.tag = true;
      this.time = 0;
      const postData = {
        start: 0,
        length: 5
      }
      this.getList(postData).then(() => {
        this.$refs.scroll.forceUpdate(true);
      })
    },
    /**
     * 上拉加载
     */
    onPullingUp () {
      this.time++;
      this.tag = false;
      const postData = {
        start: 5 * this.time,
        length: 5
      }
      this.getList(postData).then(() => {
        this.$refs.scroll.forceUpdate(true);
      }).catch(() => {
        this.$refs.scroll.forceUpdate(false);
      })
    }
  },
  created () {
    this.getList();
  }
}
</script>

<style lang="less" scoped>
  .rebate-evaluate{
    overflow: hidden;
    .evaluate-record{
      background: #ffffff;
      height: calc(100vh - 2rem);
      .record-item{
        display: flex;
        flex-direction: column;
        width: 6.9rem;
        height: 3.08rem;
        line-height: .6rem;
        box-sizing: border-box;
        margin: 0 .3rem;
        padding: 0.3rem 0;
        background: #ffffff;
        .title{
          width: 6.9rem;
          height: 0.9rem;
          line-height: 0.45rem;
          margin: 0 0.35rem 0 0;
          font-size: .28rem;
          color: rgba(51,51,51,1);
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .common{
          font-size: .28rem;
          color: rgba(153,153,153,1);
        }
      }
    }
  }
  .buttom-btn{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    font-size: .36rem;
    font-weight:400;
    color:rgba(255,255,255,1);
    text-align: center;
    vertical-align: middle;
    background:linear-gradient(133deg,rgba(255,136,0,1) 0%,rgba(255,80,0,1) 100%);;
  }
</style>
