<template>
  <div class="upload-container">
    <el-button icon='el-icon-upload' size="mini" :style="{background:color,borderColor:color}" @click=" dialogVisible=true" type="primary">上传图片
    </el-button>
    <el-dialog
      title="图片上传"
      append-to-body :visible.sync="dialogVisible">
      <el-upload class="editor-slide-upload"
        :action="uploadURL"
        :multiple="true"
        :file-list="fileList"
        :show-file-list="true"
        drag
        list-type="picture"
        :on-remove="handleRemove"
        :on-success="handleSuccess"
        :before-upload="beforeUpload"
        :on-preview="handlePreview"
        :on-error="uploadError">
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
      </el-upload>
        <div class="right">
            <el-button
              class = "btn-1"
              @click="dialogVisible = false">取 消</el-button>
        <el-button
          class="btn-1"
          type="primary" @click="handleSubmit">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog :visible.sync="imgDialogVisible">
  <img width="100%" :src="dialogImageUrl" alt="">
</el-dialog>
  </div>
</template>

<script>
const uploadURL = '/api/pc/rebate_mall/batch_upload_img'
const previewURL = 'http://112.74.18.25'
export default {
  name: 'editorSlideUpload',
  props: {
    color: {
      type: String,
      default: '#02ad9f'
    }
  },
  data() {
    return {
      dialogVisible: false,
      listObj: {},
      fileList: [],
      uploadURL:uploadURL,
      previewURL:previewURL,
        dialogImageUrl: '',
        imgDialogVisible: false
    }
  },
  methods: {
    checkAllSuccess() {
      return Object.keys(this.listObj).every(item => this.listObj[item].hasSuccess)
    },
    handleSubmit() {
      const arr = Object.keys(this.listObj).map(v => this.listObj[v])
      if (!this.checkAllSuccess()) {
        this.$message('请等待所有图片上传成功 或 出现了网络问题，请刷新页面重新上传！')
        return
      }
      this.$emit('successCBK', arr)
      this.listObj = {}
      this.fileList = []
      this.dialogVisible = false
    },
    handleSuccess(response, file) {
      const uid = file.uid
      const objKeyArr = Object.keys(this.listObj)
      for (let i = 0, len = objKeyArr.length; i < len; i++) {
        if (this.listObj[objKeyArr[i]].uid === uid) {
          this.listObj[objKeyArr[i]].url = previewURL+response.data
          this.listObj[objKeyArr[i]].hasSuccess = true
          return
        }
      }
 
    },
    handleRemove(file,fileList) {
      const uid = file.uid
      const objKeyArr = Object.keys(this.listObj)
      for (let i = 0, len = objKeyArr.length; i < len; i++) {
        if (this.listObj[objKeyArr[i]].uid === uid) {
          delete this.listObj[objKeyArr[i]]
          return
        }
      }
    },
    beforeUpload(file) {
      const _self = this
      const _URL = window.URL || window.webkitURL
      const fileName = file.uid
      this.listObj[fileName] = {}
      return new Promise((resolve, reject) => {
        const img = new Image()
        img.src = _URL.createObjectURL(file)
        img.onload = function() {
          _self.listObj[fileName] = { hasSuccess: false, uid: file.uid, width: this.width, height: this.height }
        }
        resolve(true)
      })
    },

    handlePreview(file) {
      this.dialogImageUrl = file.url;
      this.imgDialogVisible = true;
    },
  
    uploadError(){
      this.$notify({
        title: '失败',
        message: '上传失败',
        type: 'error',
        duration: 2000
      })
    },
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" >
.right {
  float:right;
}
.el-dialog__body{
      padding: 20px 20px 75px 20px;
}
.editor-slide-upload {
  margin-bottom: 20px;
  text-align: center;
}

.editor-slide-upload .el-upload--picture-card {
  border: none;
}
.upload-container{
  height: 900px;
}
</style>
